<h2><span style="color: #008080;">Custom Cells</span></h2>
<p>Storyboards make working with table views easier with the prototype cell feature. You can design your won table view cells almost completely in the storyboard editor. In this tutorial we create a table view containing customized cells of some of the all-time best movies.</p>
<p>Open Xcode and create a new Single View Application. For product name, use <strong>CustomizingTableviewCell&nbsp;</strong>and then fill out the Organization Name, Company Identifier and Class Prefix fields with your customary values. Make sure only iPhone is selected in Devices, and that the Use Storyboards checkbox &nbsp;and Use Automatic Reference Counting checkbox are selected.</p>
<p>Go to the <strong>MainStoryboard.storyboard</strong> file and select the View Controller. Delete this View &nbsp;Controller and drag a Table View Controller to the canvas. With the Table View Controller selected, choose <strong>Editor\Embed in\Navigation Controller</strong> from the menubar. This adds the Navigation Controller to the canvas, with the Table View Controller &nbsp;embedded in the Navigation Controller. Double click the titlebar of the Table View Controller and name it "Top Movies". The storyboard should look like this.</p>
<p>Now we can delete the ViewController.m and ViewController.h files from our project, since they are not needed anymore.Add a new file to the project, with the Objective-C class template. Name it&nbsp;<strong>MoviesViewController</strong>&nbsp;and make it a subclass of UITableViewController. return to the storyboard and select the Table View Controller. In the identity inspector set the class to MoviesViewController.</p>
<p>In <strong>MoviesViewController.h</strong> add a property that contains the data model for our app.</p>
<p>@property (nonatomic,strong) NSMutableArray *movies;</p>
<p>Add a new file to the project, with the Objective-C class template. Name it&nbsp;<strong>Movie</strong>&nbsp;and make it a subclass of NSObject. Change&nbsp;<strong>Movie.h</strong>&nbsp;to</p>
<p>@interface Movie : NSObject</p>
<p>@property (nonatomic, copy) NSString *title;&nbsp;</p>
<p>@property (nonatomic, copy) NSString *year;&nbsp;</p>
<p>@property (nonatomic, copy) NSString *poster;</p>
<p>@end[</p>
<p>This will contain the title, year and a reference to the filename of the poster image of a movie. I've created a zip-file containing the poster images. Download it <a href="http://static.squarespace.com/static/52428a0ae4b0c4a5c2a2cede/5264cfdde4b070b299b2b0f4/5264cfe0e4b070b299b2b3dd/1357213850000/MoviePosters.zip?format=original">here</a>, unzip and add the files to the project. Make sure you select "Copy items into the destinations group's folder" checkbox.</p>
<p>In <strong>MoviesViewController.m</strong> import our newly created class</p>
<p>#import "Movie.h"</p>
<p>Change viewDidLoad to</p>
<p>- (void)viewDidLoad&nbsp;</p>
<p>{&nbsp;</p>
<p>&nbsp; [super viewDidLoad];</p>
<p>&nbsp; self.movies = [NSMutableArray arrayWithCapacity:5];</p>
<p>&nbsp; Movie *movie = [[Movie alloc] init];&nbsp;</p>
<p>&nbsp; movie.title = @"The Shawshank Redemption";&nbsp;</p>
<p>&nbsp; movie.year = @"1994";&nbsp;</p>
<p>&nbsp; movie.poster = @"ShawshankRedemption_poster.jpg";&nbsp;</p>
<p>&nbsp; [self.movies addObject:movie];</p>
<p>&nbsp; movie = [[Movie alloc] init];</p>
<p>&nbsp; movie.title = @"The Godfather";&nbsp;</p>
<p>&nbsp; movie.year = @"1972";&nbsp;</p>
<p>&nbsp; movie.poster = @"TheGodfather_poster.jpg";&nbsp;</p>
<p>&nbsp; [self.movies addObject:movie];</p>
<p>&nbsp; movie = [[Movie alloc] init];&nbsp;</p>
<p>&nbsp; movie.title = @"The Godfather Part 2";&nbsp;</p>
<p>&nbsp; movie.year = @"1974";</p>
<p>&nbsp; movie.poster = @"TheGodfatherPart2_poster.jpg";&nbsp;</p>
<p>&nbsp; [self.movies addObject:movie];</p>
<p>&nbsp; movie = [[Movie alloc] init];&nbsp;</p>
<p>&nbsp; movie.title = @"Pulp Fiction";&nbsp;</p>
<p>&nbsp; movie.year = @"1994";&nbsp;</p>
<p>&nbsp; movie.poster = @"Pulpfiction_poster.jpg";&nbsp;</p>
<p>&nbsp; [self.movies addObject:movie];</p>
<p>&nbsp; movie = [[Movie alloc] init];&nbsp;</p>
<p>&nbsp; movie.title = @"The Good,The Bad and The Ugly";&nbsp;</p>
<p>&nbsp; movie.year = @"1966";&nbsp;</p>
<p>&nbsp; movie.poster = @"TheGoodTheBadAndTheUgly_poster.jpg";&nbsp;</p>
<p>&nbsp; [self.movies addObject:movie];&nbsp;</p>
<p>}</p>
<p>This simply creates some Movie objects, which are added to the movies array. Now our data model is ready, we can continue building the data source for MoviesViewController. in MoviesViewController.m, change the following methods to</p>
<p>- (NSInteger)numberOfSectionsInTableView:(UITableView *)tableView&nbsp;</p>
<p>{&nbsp;</p>
<p>&nbsp; return 1;&nbsp;</p>
<p>}</p>
<p>&nbsp;</p>
<p>- (NSInteger)tableView:(UITableView *)tableView numberOfRowsInSection:(NSInteger)section&nbsp;</p>
<p>{&nbsp;</p>
<p>&nbsp; return [self.movies count];&nbsp;</p>
<p>}</p>
<p>To implement the tableView:cellForRowAtIndexPath method, we first need to create our own prototype cells. Add a new file to the project, with the Objective-C class template. Name it&nbsp;<strong>MovieCell</strong>&nbsp;and make it a subclass of UITableViewCell. Change&nbsp;<strong>MovieCell.h</strong>&nbsp;to</p>
<p>interface MovieCell:UITableviewCell</p>
<p>@property (nonatomic, weak) IBOutlet UILabel *titleLabel;</p>
<p>@property (nonatomic, weak) IBOutlet UILabel *yearLabel;</p>
<p>@property (nonatomic, weak) IBOutlet UIImageview *posterImageView;</p>
<p>@end</p>
<p>In <strong>MainStoryboard.storyboard</strong>, select the prototype cell and in the Identity Inspector change its class to MovieCell.</p>
<p>Prototype cells allow you to design a custom layout for your cells directly from within the storyboard editor. Select the empty prototype cell and in the Attributes inspector give the Cell the Reuse Identifier MovieCell.</p>
<p>Next, we make the cell a bit taller. Select the Table View Cell and in the Size Inspector tick the custom checkbox and set the Row Height to 100.</p>
<p>Next to the Table View Cell, we need to change the Table View Row Height value, so select the Table View and set the Row Height to 100.</p>
<p>Drag two Labels and an Image View to the Prototype Cell. Change the values in the Property and Size inspector to</p>
<ul>
<li>label1 - Font (System Bold 15.0). Width 150, Height 40</li>
<li>label2 - Font (System 13.0). Color - Light Gray color. Width 150, Height 40</li>
<li>Image View - mode Aspect Fit. Width 60, Height 80.</li>
</ul>
<p>The cell should look like this</p>
<p>Now connect our outlets from our MovieCell class to the Labels and Image View.</p>
<p>In MoviesViewController.m import our MovieCell class</p>
<p>#import "MovieCell.h"</p>
<p>Now change the tableView:cellForRowAtIndexPath to</p>
<p>- (UITableViewCell *)tableView:(UITableView *)tableView cellForRowAtIndexPath:(NSIndexPath *)indexPath&nbsp;</p>
<p>{&nbsp;</p>
<p>&nbsp; static NSString *CellIdentifier = @"MovieCell";&nbsp;</p>
<p>&nbsp; MovieCell *cell = [tableView dequeueReusableCellWithIdentifier:CellIdentifier forIndexPath:indexPath];</p>
<p>&nbsp; Movie *movie = (self.movies)[indexPath.row];</p>
<p>&nbsp; cell.titleLabel.text = movie.title;&nbsp;</p>
<p>&nbsp; cell.yearLabel.text = movie.year;</p>
<p>&nbsp; return cell;&nbsp;</p>
<p>}</p>
<p><strong>Build and Run</strong>, the top movies are displayed in our custom Table View Cells.</p>
</div>
</div>
</div>