<div class="page" title="Page 2">
<div class="layoutArea">
<div class="column">
<h2><span style="color: #008080;">Introduction</span></h2>
<p><span style="color: #000000;">It is used for displaying a vertically scrollable view which consists of a number of cells (generally reusable cells). It has special features like headers, footers, rows, and section</span></p>
<h3>Important Properties</h3>
<ul class="list">
<li>delegate</li>
<li>dataSource</li>
<li>rowHeight</li>
<li>sectionFooterHeight</li>
<li>sectionHeaderHeight</li>
<li>separatorColor</li>
<li>tableHeaderView</li>
<li>tableFooterView</li>
</ul>