<h2><span style="color: #008080;"> Table View Styles</span></h2>
<p>Table views can be configured to use either <em>plain</em> or <em>grouped</em> style. In the grouped style, the rows are grouped together in sections that are represented by rounded rectangles. For example, the following figure shows a table view configured to use the grouped style:</p>
<p>In the case of the plain style, the items are listed using the full width of the display:</p>
<p>Table Views using plain style can also be indexed, whereby rows are organized into groups according to specified criteria, such as alphabetical or numerical sorting.</p>
<p>&nbsp;</p>
<p>Table View Cell Styles</p>
<p>In addition to the style of the Table View itself, different styles may also be specified for the individual table cells. The iPhone SDK currently supports four different cell styles:</p>
<ul>
<li><strong>UITableViewCellStyleDefault</strong> &ndash; only the labelText in black and left aligned.</li>
</ul>
<ul>
<li><strong>UITableViewCellStyleSubtitle</strong> &ndash; labelText in black and left aligned with the detailLabeltext positioned beneath it in a smaller font using a gray foreground.</li>
</ul>
<ul>
<li><strong>UITableViewCellStyleValue1</strong> &ndash; labelText in black left aligned and the smaller detailLabelText in blue, on the same line and right aligned.</li>
</ul>
<ul>
<li><strong>UITableViewCellStyleValue2</strong> &ndash; labelText in blue on left side of cell, right aligned and detailedLabelText on right of cell, left aligned and black.</li>
</ul>
<p>The style of a particular cell is specified when the cell object is created and will be covered in detail in a later section.</p>