<h3 style="color: #5e9ca0;">Installing Xcode on Mac OS X</h3>
<p> <img src="XCode_7_AssistentEditorView.jpg"style="max-width:100%"> </p>
<p>Xcode may or may not be pre-installed on your Mac OS X system. To find out if you already have it, open the Finder and look for it in the Developer subfolder of the Applications folder. If the Developer folder does not exist, or does not contain Xcode then you will need to install it.</p>
<p>The best way to obtain Xcode is to download it from the Apple web site. The URL to download Xcode is&nbsp;<a class="external free" href="http://developer.apple.com/technology/xcode.html" rel="nofollow">http://developer.apple.com/technology/xcode.html</a>.</p>
<p>In order to download Xcode 4.3 with the iOS 5 SDK, you will either need to be a member of the iOS Developer programs or purchase a copy from the Mac App Store. The download is over 3.5GB in size and may take a number of hours to complete depending on the speed of your internet connection.</p>
<h3 style="color: #5e9ca0;">Starting Xcode</h3>
<p><strong>Where Can You Download Xcode?</strong></p>
<p>The easiest way to get Xcode is through the Mac App Store.</p>
<p>You can also download it manually if you don&rsquo;t have the Mac App Store. Just visit the Apple Developer page for XCode.</p>
<p><strong>Demystifying The XCode Interface</strong></p>
<p>You can also check here for the full Apple Documentation for XCode.</p>
<p>image</p>
<p>There are 4 major areas: the Navigator, Editor, Debug Area and Utility Area.Can adjust the size of each of those panes by hovering your cursor over the boundaries of each area and dragging.Can also show and hide the various areas as needed via the &ldquo;View&rdquo; buttons in the upper right hand corner:</p>
<p>image</p>
<p>When you&rsquo;re writing code and you don&rsquo;t need the debugger area or the utility area. Then you can use the View buttons to hide those 2 panes to give your editor more visible space.</p>
<p><strong>The Navigator Area</strong></p>
<p>The three navigators that you will use a lot are the Project, Search and Issue navigators.</p>
<p><strong>Project Navigator</strong></p>
<p>This is where you&rsquo;ll see all the files associated with your project.</p>
<p>image</p>
<p>You can also right click on the project navigator and create new files or add existing files to your project. Or you can drag folders or files from your computer directly onto the project navigator and will popup a dialog asking how you want to add the files.</p>
<p>image</p>
<p><strong>Search Navigator</strong></p>
<p>With the search navigator tab, you can easily look for pieces of text in your project.</p>
<p>image</p>
<p>You&rsquo;ll find yourself using this a lot when you&rsquo;re looking for a specific property, method or variable and you can&rsquo;t remember exactly where it is.</p>
<p><strong>Issue Navigator</strong></p>
<p>The issue navigator shows you all the problems with your app.</p>
<p>image</p>
<p>When you build and compile your application to test, if there are some problems where Xcode can&rsquo;t build your app, it will halt and show you the red colored errors in the issue navigator. You can click on an error and it will show you in the editor area which file and line it&rsquo;s failing at.</p>
<p><strong>The Editor Area</strong></p>
<p>The editor area is where we&rsquo;ll probably be spending most of our time! This is where all the coding happens.</p>
<p>image</p>
<p>As mentioned in the project navigator section, when you click a file there, it will open the contents in this editor area for you to edit the contents.&nbsp;</p>
<p><strong>Navigation within the editor area</strong></p>
<p>There are these little back and forward arrows in the upper left corner of the editor area. Unfortunately these arrows aren&rsquo;t labeled in the trusty Xcode interface diagram at the beginning of this article so I&rsquo;ll call them &ldquo;Xcode back and forward arrows&rdquo; and show you an image of them here:</p>
<p>image</p>
<p>These guys are actually pretty useful. They act like the back and forward buttons on your browser and they let you navigate to previously viewed files.</p>
<p>Another way to quickly get to the file you need is to use the <em>Jump Bar (see diagram)</em>. The jump bar allows you to quickly drill down through your groups and find the file you need.&nbsp;</p>
<p>image</p>
<p>If you click the tail segment of the jump bar (which is the current file you&rsquo;re looking at), it will open up a menu showing you all the methods in the file which is not only useful to jump to another area within the file, but it will show you at a glance what methods are available in this file.</p>
<p>image</p>
<p>That does it for navigation within the editor area however, it still has some tricks up its sleeve.</p>
<p><strong>Three types of editor views</strong></p>
<p>The editor area has three different views and you can toggle between them with the set of buttons in the upper right hand corner:</p>
<p>image</p>
<p>The left most button is for the single editor pane view which is good for the small laptop screen if I don&rsquo;t have an external monitor.</p>
<p>The middle button is the Assistant Editor view which will show you the accompanying file to the file you&rsquo;re currently looking at. It looks like a two pane view. the right pane will show you the linked class file for that ViewController.</p>
<p>image</p>
<p>The right most button is the Version Editor view where you can compare two files.&nbsp;</p>
<p><strong>Interface Builder View</strong></p>
<p>Xcode has interface builder integrated in and when you&rsquo;re viewing the Storyboard or a XIB file, the editor area will turn into a visual designer.</p>
<p>image</p>
<p><strong>Finding and replacing within the file</strong></p>
<p>Just hit Command-F to bring up a search popup in the upper right corner that will look for whatever you type in within the current file.</p>
<p><strong>Jumping to definitions</strong></p>
<p>If you&rsquo;re looking at some code and you see a classname that you want to jump to the definition of, you can hold down Command and click the classname to quickly jump to that file.</p>
<p><strong>The breakpoint gutter</strong></p>
<p>The <em>breakpoint gutter (see diagram at top)</em> is where you can click to set breakpoints at certain lines of code. When you set a breakpoint, you&rsquo;ll see a blue indicator appear. To turn off a breakpoint, just click the blue indicator again and it will dim out.</p>
<p>image</p>
<p>If you want to completely remove the breakpoint, you can click and drag the blue indicator off of the breakpoint gutter.</p>
<p>To view a list of all the breakpoints that are set in your project, there&rsquo;s a &ldquo;breakpoint navigator&rdquo; tab in the Navigator area.</p>
<p><strong>The Utility Area</strong></p>
<p>The Xcode utility area is comprised of two panes: the inspector pane and the library pane.</p>
<p>image</p>
<p>The Inspector pane will give you details about the file you&rsquo;ve got highlighted in your project navigator. However, when you&rsquo;re looking at a XIB/StoryBoard file, the inspector pane will show you the different attributes that you can modify for a selected element.</p>
<p>image</p>
<p>The library pane won&rsquo;t be very useful either until you&rsquo;re looking at a XIB/StoryBoard file. When you&rsquo;re using the Interface Builder part of Xcode, you can drag UI elements from the library pane onto the editor area to add that element to your user interface.</p>
<p><strong>The Debug Area</strong></p>
<p>The debug area will show you console output and the state of various variables when you run your application.</p>
<p>image</p>
<p>You&rsquo;ll be using this a lot while debugging your code and trying to figure out why things aren&rsquo;t working out the way you expect them to</p>
<p><strong>The Toolbar</strong></p>
<p>We&rsquo;ve talked about some of the buttons on this tool bar already. Let&rsquo;s start from the left.</p>
<p>image</p>
<p>The left-most button is the run button. This will build and run your application and launch your app in the iOS Simulator.&nbsp;</p>
<p>If you click and hold down the Run button, you&rsquo;ll get more options to run your app:</p>
<p>image</p>
<p><strong>Test</strong> to run your unit tests if you have them in your project.</p>
<p><strong>Profile</strong> to measure various aspects of your application such as performance, memory usage and more.</p>
<p><strong>Analyze</strong> to let Xcode analyze your code and check for potential leaks or bad practices.</p>
<p>The dropdown beside the Stop button indicates which build target you want to run (your can run an Apple Watch target too) and you can also choose if you want to run it under the iPhone or iPad simulators. The selection &ldquo;iOS device&rdquo; is to run your app on your device if you have it plugged in and properly provisioned.</p>
<p>image</p>
<p>The far right side of the toolbar, we have the editor view buttons, the buttons to toggle various Xcode panels on or off and the Organizer button.</p>
<p><strong>The Xcode Organizer</strong></p>
<p>The Organizer is located in the menu entry Window -&gt; Organizer and it brings up a separate window called the Organizer. There are several different purposes highlighted them below.</p>
<p>image</p>
<p><strong>Devices</strong></p>
<p>There are a lot of things you can do in the devices window (keyboard shortcut ⌘ ⇧ 2) that I can&rsquo;t list them all. However, the main uses are to manage your provisioning profiles on your system AND on various devices.</p>
<p><strong>Crashes</strong></p>
<p>You can look at crash log from devices, enable development use for various connected devices and more.</p>
<p><strong>Repositories</strong></p>
<p>In Xcode 7, you can find the different repos in the Source Control &gt;&gt; Check Out menu, in the repositories tab, you&rsquo;ll be able to manage local and remote repos (GitHub, etc) that you have set up for your projects.</p>
<p><strong>Projects</strong></p>
<p>In the projects tab, you can see a list of projects you&rsquo;ve opened before so you can quickly open them again and you&rsquo;ll be able to manage derived data and snapshots of your projects as well.</p>
<p><strong>Archives</strong></p>
<p>In the archives tab, you can manage your archives for various projects.</p>
<p><strong>The iOS Simulator</strong></p>
<p>Xcode 7 comes bundled with a wonderful iOS Simulator for you to test your application on. In fact, you can use the iOS simulator for most of your development and then find a device to test on when you&rsquo;re nearly done.</p>
<p>image</p>
<p>You can actually do a lot with the simulator including: -Device rotation <br />-Simulating various GPS coordinates <br />-Device shake <br />-Simulating low memory scenarios</p>
<h3 style="color: #5e9ca0;">Writing an Objective-C Application with Xcode</h3>
<p>Xcode will create skeleton versions of the files needed to build a command-line based Objective-C application. Objective-C source files are identified by the .m filename extension. In the case of our example, Xcode has pre-created a main source file named main.m and populated it with some basic code ready for us to edit. To view the code, select main.m from the list of files so that the code appears in the editor area. The skeleton code reads as follows:</p>
<p>#import &lt;Foundation/Foundation.h&gt; int main(int argc, const char * argv[])</p>
<p>{ @autoreleasepool</p>
<p>{ // insert code here... NSLog(@"Hello, World!");</p>
<p>} return 0;</p>
<p>}</p>
<p>Modify the NSLog line so that it reads:</p>
<p>NSLog(@"This is my first Objective-C App!");</p>
<p>With the change made, the next step is to compile and run the application. Since the code is intended to display a message in the console, the first step is to make sure the Xcode console window is displayed b y selecting the&nbsp;<em>View -&gt; Debug Area -&gt; Activate Console</em>&nbsp;menu option. Next, run the application by selecting the&nbsp;<em>Run</em>&nbsp;option located in the Xcode toolbar. Once this option has been selected, Xcode will compile the source code and run the application, displaying the message in the Xcode console panel:</p>
<p>image&nbsp;</p>
<h3 style="color: #5e9ca0;">Compiling Objective-C from the Command Line</h3>
<p>While Xcode provides a powerful environment that will prove invaluable for larger scale projects, for compiling and running such a simple application as the one we have been working with in this chapter it is a little bit of overkill. It is also a fact that some developers feel that development environments like Xcode just get in the way and prefer to use a basic editor and command line tools to develop applications. After all, in the days before integrated development environments came into favor, this was how all applications were developed.</p>
<p>Whilst we are not suggesting that everyone abandon Xcode in favor of the vi editor and GNU compiler, it is useful to know that the option to work from the command line is available.</p>
<p>Before attempting to compile code from the command line, the first step is to ensure that the Xcode Command Line Tools are installed. To achieve this, select the&nbsp;<em>Xcode -&gt; Preferences</em>&nbsp;menu option and in the preferences dialog select the Downloads category. If the Command Line Tools are not yet installed, click on the Install button to begin the installation process.</p>
<p>Using your favorite text or programming editor, create a file named hello.m containing the following Objective-C code:</p>
<p>#import &lt;Foundation/Foundation.h&gt;</p>
<p>int main(int argc, const char * argv[])</p>
<p>{ @autoreleasepool</p>
<p>{ // insert code here... NSLog(@"Hello, World!");</p>
<p>} return 0;</p>
<p>}</p>
<p>Save the file and then open a Terminal window (if you aren't already working in one), change directory to the folder containing the source file and compile the application with the following command:</p>
<p>clang -framework Foundation hello.m -o hello</p>
<p>Assuming the code compiles without error it can be run as follows:</p>
<p>./hello 2012-04-18 13:27:11.621 hello[275:707] Hello, World!</p>
<p>Compared to using Xcode that seems much simpler, but keep in mind that the power of Xcode really becomes evident when you start developing larger scale projects.</p>
<p>&nbsp;</p>
