<h2><span style="color: #008080;"><strong>Blocks</strong></span></h2>
<p>There is no right way to use a block, as there is no right way to use a function.</p>
<p>Blocks are functions. A bit more than a function, but not a whole lot different. So let's forget the differences for now. Functions.</p>
<p>Using a function, you'll write something like</p>
<pre class="default prettyprint prettyprinted"><code><span class="kwd">void</span><span class="pln"> callback </span><span class="pun">(</span><span class="pln">BOOL success</span><span class="pun">)</span> <span class="pun">{</span>
    <span class="kwd">if</span> <span class="pun">(</span><span class="pln">success</span><span class="pun">)</span> <span class="pun">{</span>
        <span class="com">// do something useful</span>
    <span class="pun">}</span>
<span class="pun">}</span>

<span class="pun">[</span><span class="pln">database openWithCallback</span><span class="pun">:</span> <span class="pun">&amp;</span><span class="pln">callback</span><span class="pun">];</span></code></pre>
<p>Some kind of little endianess here. ish.</p>
<p>Blocks allow you to write your callbacks in line.</p>
<pre class="default prettyprint prettyprinted"><code><span class="pun">[</span><span class="kwd">self</span><span class="pun">.</span><span class="pln">database openWithCompletionHandler</span><span class="pun">:</span> <span class="pun">^(</span><span class="pln">BOOL success</span><span class="pun">)</span> <span class="pun">{</span>
    <span class="kwd">if</span> <span class="pun">(!</span><span class="pln">success</span><span class="pun">)</span> <span class="pun">{</span>
        <span class="com">// oops, handle that</span>
    <span class="pun">}</span>
<span class="pun">}];</span></code></pre>
<p>In that particular case, blocks do not solve any problem functions couldn't. They cost more even.</p>
<p>The benefits show themselves when you use a lot of them. If you write your operations to be fully asynchronous, you can write your code in a streamlined fashion.</p>
<p>pseudo-code:</p>
<pre class="default prettyprint prettyprinted"><code><span class="pln">dispatch block</span><span class="pun">:</span> <span class="pun">^(){</span><span class="pln">
    some heavy computation here
    dispatch block</span><span class="pun">:</span> <span class="pun">^(){</span><span class="pln">
        computation </span><span class="kwd">done</span><span class="pun">,</span><span class="pln"> update the UI </span><span class="kwd">or</span><span class="pln"> something
    </span><span class="pun">}</span>
<span class="pun">}</span></code></pre>
<p>Very simple example. Writing this with functions is completely possible of course. But not as readable.</p>
<p>Now imagine you are dispatching tons of blocks, you can create groups of blocks then execute a block when the group is fully executed. Very easy to write, very easy to read. This starts to be a nightmare dealing with function pointers everywhere.</p>
<p>And now, what makes a block more than a function?</p>
<p>A block is a function. With a context. A block can access variables in the same scope. In the simple exemple above, the work block have access to the calling scope, and the completion block to the calling scope and work block scope. This is can be done with functions and structures of course. With a lot of code, much harder to read. Blocks solve that more elegantly.</p>
<p>I suggest you read about Grand Central Dispatch. This is clearly where blocks show their true potential and expressiveness.</p>