<h2><span style="color: #008080;"><strong>Formal and Informal Protocols</strong></span></h2>
<p><span style="color: #0000ff;"><strong>Protocols</strong></span></p>
<p>bjective-C allows you to define protocols, which declare the methods expected to be used for a particular situation. Protocols are implemented in the classes conforming to the protocol.</p>
<p>A simple example would be a network URL handling class, it will have a protocol with methods like processCompleted delegate method that intimates the calling class once the network URL fetching operation is over.</p>
<p>A protocol is a list of method declarations that is not bound to any one class. The methods are not implemented in the protocol; instead, classes conform to or adopt a protocol and within those classes the methods are implemented. A protocol is simply a grouping of certain related methods under one name, and it acts like a contract&mdash;conforming classes must implement the required methods (and may implement any of the potential optional methods).</p>
<p>The name of the protocol is written in italics. Between the mandatory lines is the method(s) of the protocol, declared as you would normally declare methods. The protocol is typically saved in a .h (header) file, and follow the same naming conventions as classes do.</p>
<p>For a class to adopt one or more protocols, place the protocol names between angle brackets, separated by commas if there is more than one. A class that adopts the</p>
<p>NSCopying protocol might be declared like this:</p>
<p>@interface CopyMachine : NSObject &lt;NSCopying, NSCoding&gt;</p>
<p>The compiler sees that the CopyMachine class conforms to the NSCopying and NSCoding protocols, and it will issue a warning if the required methods in those classes are not implemented. Note also that protocol conformity is inherited&mdash;subclasses of CopyMachine, for example, will also conform to those protocols, and can re-implement (override) those methods as necessary.</p>
<p>Let&rsquo;s look at the theory behind protocols.</p>
<p>A syntax of protocol is shown below.</p>
<p>@protocol ProtocolName</p>
<p>@required</p>
<p>// list of required methods</p>
<p>@optional</p>
<p>// list of optional methods</p>
<p>@end</p>
<p>The methods under keyword <strong>@required</strong> must be implemented in the classes that conforms to the protocol and the methods under <strong>@optional</strong> keyword are optional to implement.</p>
<p>Here is the syntax for class conforming to protocol</p>
<p>@interface MyClass : NSObject &lt;MyProtocol&gt;</p>
<p>...</p>
<p>@end</p>
<p>This means that any instance of MyClass will respond not only to the methods declared specifically in the interface, but that MyClass also provides implementations for the required methods in MyProtocol. There's no need to redeclare the protocol methods in the class interface - the adoption of the protocol is sufficient.</p>
<p>If you need a class to adopt multiple protocols, you can specify them as a comma-separated list. We have a delegate object that holds the reference of the calling object that implements the protocol.</p>
<p>An example is shown below.</p>
<p>#import &lt;Foundation/Foundation.h&gt;</p>
<p>@protocol PrintProtocolDelegate</p>
<p>- (void)processCompleted;</p>
<p>@end</p>
<p>@interface PrintClass :NSObject</p>
<p>{</p>
<p>&nbsp; &nbsp; id delegate;</p>
<p>}</p>
<p>- (void) printDetails;</p>
<p>- (void) setDelegate:(id)newDelegate;</p>
<p>@end</p>
<p>@implementation PrintClass</p>
<p>- (void)printDetails{</p>
<p>&nbsp; &nbsp; NSLog(@"Printing Details");</p>
<p>&nbsp; &nbsp; [delegate processCompleted];</p>
<p>}</p>
<p>- (void) setDelegate:(id)newDelegate{</p>
<p>&nbsp; &nbsp; delegate = newDelegate;</p>
<p>}</p>
<p>@end</p>
<p>@interface SampleClass:NSObject&lt;PrintProtocolDelegate&gt;</p>
<p>- (void)startAction;</p>
<p>@end</p>
<p>@implementation SampleClass</p>
<p>- (void)startAction{</p>
<p>&nbsp; &nbsp; PrintClass *printClass = [[PrintClass alloc]init];</p>
<p>&nbsp; &nbsp; [printClass setDelegate:self];</p>
<p>&nbsp; &nbsp; [printClass printDetails];</p>
<p>}</p>
<p>-(void)processCompleted{</p>
<p>&nbsp; &nbsp; NSLog(@"Printing Process Completed");</p>
<p>}</p>
<p>@end</p>
<p>int main(int argc, const char * argv[])</p>
<p>{</p>
<p>&nbsp; &nbsp; NSAutoreleasePool * pool = [[NSAutoreleasePool alloc] init];</p>
<p>&nbsp; &nbsp; SampleClass *sampleClass = [[SampleClass alloc]init];</p>
<p>&nbsp; &nbsp; [sampleClass startAction];</p>
<p>&nbsp; &nbsp; [pool drain];</p>
<p>&nbsp; &nbsp; return 0;</p>
<p>}</p>
<p><strong>Why Protocols?</strong></p>
<ul>
<li>To declare methods for others to implement</li>
<li>To declare the public interface to a class while hiding the nature of the class itself</li>
<li>To mark similarities between classes that are not part of the same inheritance tree</li>
</ul>
<p>In fact, there is a fourth reason as well, and in everyday use it is the most compelling: It lets you avoid the complexities of subclassing, similar to the way categories do, but in a different manner.</p>
<p>Protocols play an important role in OS X and iOS development&mdash;a lot of built-in classes use them. A classic example is the UITableViewController, which is a view controller that manages a table view (basically a scrollable list, like in the iPod application). Without protocols, users of the class would have to subclass the original class, deal with any issues, and override the original methods. This is another challenge&mdash;for the original class. For something like a table view, where the data for the view may come from a variety of locations and there may be a myriad of behaviors to handle, what is an acceptable default implementation? Using protocols circumvents the issue. UIKit also includes two protocols, designed to work with UITableViewControllers. They are UITableViewDataSource and UITableViewDelegate. Any class that adopts these protocols will be able to control a table view.</p>
<p><strong>Optional Methods</strong></p>
<p>Methods in a protocol can be declared to be optional, by using the @optional directive. This works like the ones for instance variable scope&mdash;it acts like a switch. The opposite is @required.</p>
<ol>
<li>@protocol Drawing</li>
<li>- (void)paint</li>
<li>- (void)erase</li>
<li>@optional</li>
<li>-(void)outline</li>
<li>@end</li>
</ol>
<p>An&nbsp;<strong>informal</strong>&nbsp;protocol is a category on NSObject, which implicitly makes almost all objects adopters of the protocol. (A category is a language feature that enables you to add methods to a class without subclassing it.) Implementation of the methods in an informal protocol is optional. Before invoking a method, the calling object checks to see whether the target object implements it. Until optional protocol methods were introduced in Objective-C 2.0, informal protocols were essential to the way Foundation and AppKit classes implemented delegation.</p>
<p>informal protocol by grouping the methods in a category declaration:</p>
<p>@interface NSObject ( MyXMLSupport )</p>
<p>- initFromXMLRepresentation:(NSXMLElement *)XMLElement;</p>
<p>- (NSXMLElement *)XMLRepresentation;</p>
<p>&nbsp;@end</p>
<p>An informal protocol bends the rules of category declarations to list a group of methods but not associate them with any particular class or implementation.<br />Being informal, protocols declared in categories don&rsquo;t receive much language support. There&rsquo;s no type checking at compile time nor a check at runtime to see whether an object conforms to the protocol. To get these benefits, you must use a formal protocol. An informal protocol may be useful when all the methods are optional, such as for a delegate, but (on Mac OS X v10.5 and later) it is typically better to use a formal protocol with optional methods.</p>
<p>A&nbsp;<strong>formal</strong>&nbsp;protocol declares a list of methods that client classes are expected to implement. Formal protocols have their own declaration, adoption, and type-checking syntax. You can designate methods whose implementation is required or optional with the @required and @optional keywords. Subclasses inherit formal protocols adopted by their ancestors. A formal protocol can also adopt other protocols.&nbsp;</p>
<p>Formal protocols are supported by the language and the runtime system. For example, the compiler can check for types based on protocols, and objects can introspect at runtime to report whether or not they conform to a protocol.</p>
<p>You declare formal protocols with the @protocol directive:</p>
<p>@protocol ProtocolName</p>
<p>method declarations</p>
<p>&nbsp;@end</p>
<p>Unlike class names, protocol names don&rsquo;t have global visibility. They live in their own namespace.</p>
<h2>&nbsp;</h2>