<h2><span style="color: #008080;"><strong>Classes, Objects, and Methods</strong></span></h2>
<h3><span id="What_is_an_Object.3F" class="mw-headline" style="color: #0000ff;">What is an Object?</span></h3>
<p>Objects are self-contained modules of functionality that can be easily used, and re-used as the building blocks for a software application.</p>
<p>Objects consist of data variables and functions (called methods) that can be accessed and called on the object to perform tasks. These are collectively referred to as members.</p>
<h3><span id="What_is_a_Class.3F" class="mw-headline" style="color: #0000ff;">What is a Class?</span></h3>
<p>Much as a blueprint or architect's drawing defines what an item or a building will look like once it has been constructed, a class defines what an object will look like when it is created. It defines, for example, what the methods will do and what the member variables will be.</p>
<h3><span id="Declaring_an_Objective-C_Class_Interface" class="mw-headline" style="color: #0000ff;">Declaring an Objective-C Class Interface</span></h3>
<p>Before an object can be instantiated we first need to define the class 'blueprint' for the object. In this chapter we will create a Bank Account class to demonstrate the basic concepts of Objective-C object oriented programming.</p>
<p>An Objective-C class is defined in terms of an interface and an implementation. In the interface section of the definition we specify the base class from which the new class is derived and also define the members and methods that the class will contain. The syntax for the interface section of a class is as follows:</p>
<pre>@interface NewClassName: ParentClass {
    ClassMembers;	
}
ClassMethods;
@end
</pre>
<p>The ClassMembers section of the interface defines the variables that are to be contained within the class (also referred to as instance variables). These variables are declared in the same way that any other variable would be declared in Objective-C.</p>
<p>The ClassMethods section defines the methods that are available to be called on the class. These are essentially functions specific to the class that perform a particular operation when called upon.</p>
<p>To create an example outline interface section for our BankAccount class, we would use the following:</p>
<pre>@interface BankAccount: NSObject
{
}
@end
</pre>
<p>The parent class chosen above is the NSObject class. This is a standard base class provided with the Objective-C Foundation framework and is the class from which most new classes are derived. By deriving BankAccount from this parent class we inherit a range of additional methods used in creating, managing and destroying instances that we would otherwise have to write ourselves.<span id="ezoic-pub-ad-placeholder-143" class="ezoic-adpicker-ad" data-ezadpicker="143" data-ez-position-type="long_content"></span></p>
<p>Now that we have the outline syntax for our class, the next step is to add some instance variables to it.</p>
<h3><span id="Adding_Instance_Variables_to_a_Class" class="mw-headline" style="color: #0000ff;">Adding Instance Variables to a Class</span></h3>
<p>A key goal of object oriented programming is a concept referred to as data encapsulation. The idea behind data encapsulation is that data should be stored within classes and accessed only through methods defined in that class. Data encapsulated in a class are referred to as instance variables.</p>
<p>Instances of our BankAccount class will be required to store some data, specifically a bank account number and the balance currently held by the account. Instance variables are declared in the same way any other variables are declared in Objective-C. We can, therefore, add these variables as follows:</p>
<pre>@interface BankAccount: NSObject
{
        double accountBalance;
        long accountNumber;
}
@end
</pre>
<p>Having defined our instance variables, we can now move on to defining the methods of the class that will allow us to work with our instance variables while staying true to the data encapsulation model.</p>
<h3><span id="Define_Class_Methods" class="mw-headline" style="color: #0000ff;">Define Class Methods</span></h3>
<p>The methods of a class are essentially code routines that can be called upon to perform specific tasks within the context of an instance of that class.</p>
<p>Methods come in two different forms, class methods and instance methods. Class methods operate at the level of the class, such as creating a new instance of a class. Instance methods, on the other hand, operate only on the instance of a class (for example performing an arithmetic operation on two instance variables and returning the result). Class methods are preceded by a plus (+) sign in the declaration and instance methods are preceded by a minus (-) sign. If the method returns a result, the name of method must be preceded by the data type returned enclosed in parentheses. If a method does not return a result, then the method must be declared as void. If data needs to be passed through to the method (referred to as arguments), the method name is followed by a colon, the data type in parentheses and a name for the argument. For example, the declaration of a method to set the account number in our example might read as follows:</p>
<pre>-(void) setAccountNumber: (long) y;
</pre>
<p>The method is an instance method so it is preceded by the minus sign. It does not return a result so it is declared as (void). It takes an argument (the account number) of type long so we follow the accountNumber name with a colon (:) specify the argument type (long) and give the argument a name (in this case we simply use y).</p>
<p>The following method is intended to return the current value of the account number instance variable (which is of type long):</p>
<pre>-(long) getAccountNumber;
</pre>
<p>Methods may also be defined to accept more than one argument. For example to define a method that accepts both the account number and account balance we could declare it as follows:</p>
<pre>-(void) setAccount: (long) y andBalance: (double) x;
</pre>
<p>Now that we have an understanding of the structure of method declarations within the context of the class interface definition, we can extend our BankAccount class accordingly:</p>
<pre>@interface BankAccount: NSObject
{
        double accountBalance;
        long accountNumber;
}
-(void) setAccount: (long) y andBalance: (double) x;
-(void) setAccountBalance: (double) x;
-(double) getAccountBalance;
-(void) setAccountNumber: (long) y;
-(long) getAccountNumber;
-(void) displayAccountInfo;
@end
</pre>
<p>Having defined the interface, we can now move on to defining the implementation of our class.</p>
<div align="center">&nbsp;</div>
<h3><span id="Declaring_an_Objective-C_Class_Implementation" class="mw-headline" style="color: #0000ff;">Declaring an Objective-C Class Implementation</span></h3>
<p>The next step in creating a new class in Objective-C is to write the code for the methods we have already declared. This is performed in the @implementation section of the class definition. An outline implementation is structured as follows:</p>
<pre>@implementation NewClassName
    ClassMethods
@end
</pre>
<p>In order to implement the methods we declared in the @interface section, therefore, we need to write the following code:</p>
<pre>@implementation BankAccount

-(void) setAccount: (long) y andBalance: (double) x;
{
        accountBalance = x;
        accountNumber = y;
}
-(void) setAccountBalance: (double) x
{
        accountBalance = x;
}
-(double) getAccountBalance
{
        return accountBalance;
}
-(void) setAccountNumber: (long) y
{
        accountNumber = y;
}
-(long) getAccountNumber
{
        return accountNumber;
}
-(void) displayAccountInfo
{
        NSLog (@"Account Number&nbsp;%i has a balance of&nbsp;%f", accountNumber, accountBalance);
}
@end
</pre>
<p>We are now at the point where we can write some code to work with our new BankAccount class.</p>
<h3><span id="Declaring_and_Initializing_a_Class_Instance" class="mw-headline" style="color: #0000ff;">Declaring and Initializing a Class Instance</span></h3>
<p>So far all we have done is define the blueprint for our class. In order to do anything with this class, we need to create instances of it. The first step in this process is to declare a variable to store a pointer to the instance when it is created. We do this as follows:</p>
<pre>BankAccount *account1;
</pre>
<p>Having created a variable to store a reference to the class instance, we can now allocate memory in preparation for initializing the class:</p>
<pre>account1 = [BankAccount alloc];
</pre>
<p>In the above statement we are calling the alloc method of the BankAccount class (note that alloc is a class method inherited from the parent NSObject class, as opposed to an instance method created by us in the BankAccount class).</p>
<p>Having allocated memory for the class instance, the next step is to initialize the instance by calling the init instance method:</p>
<pre>account1 = [account1 init];
</pre>
<p>For the sake of economy of typing, the above three statements are frequently rolled into a single line of code as follows:</p>
<pre>BankAccount *account1 = [[BankAccount alloc] init];</pre>
<h2><span style="color: #008080;"><strong>Memory Management</strong></span></h2>
<p>Memory on the iPhone is limited. Although each new generation of hardware has increased the amount of physical memory in the device, applications are also taking more memory, and with the introduction of background apps in iOS 4, memory remains a resource to be conserved. iOS automatically quits applications that use too much memory; therefore it&rsquo;s important to be aware of your memory usage and avoid leaking, which will increase your memory usage, or the equally annoying early release of elements, which will cause your app to crash. These issues are handled by the system in a garbage-collected environment, where the system will automatically release memory as needed, but this adds an overhead and is not available on iOS.</p>
<p>On a similar topic, note that iOS does not have a paging system&mdash;data cannot be paged out to disk as needed. You can read and write data to disk, but this is not recommended for any object&mdash;only for data files, and even then sparingly, because disk access is inevitably slower than memory access.</p>
<p><span style="color: #3366ff;"><strong>Reference Counting</strong></span></p>
<p>Cocoa&rsquo;s memory management scheme is based off a reference counting system. It&rsquo;s a simple concept&mdash;every object has a value, known as a reference count. When the object is created, the count is set to 1. Certain actions will increment or decrement this count, and when the count hits zero, the object is immediately freed from memory, at which point you cannot access it again.</p>
<p><span style="color: #3366ff;"><strong>Messages</strong></span></p>
<p>Reference counting principally involves three methods&mdash;retain, release, and dealloc. The first two change the reference count; the latter frees up the memory of the objects. You generally override the dealloc method, as we have been doing in our classes, to free up the memory occupied by the class&rsquo;s instance variables (usually by calling their dealloc method). Finally, the method always includes a call to super&lsquo;s dealloc method, which invariably calls NSObject&lsquo;s dealloc method. It is this specific method that frees up the memory; if you neglect to call this implementation, you get a compiler warning. Also note that you should always override this method, but you should never call it specifically&mdash;the system will call that method for you as necessary.</p>
<p>The retain method increments the retain count by one. It is inherited by all classes, and so can be called on any object, any number of times, at any time. The release method decrements the retain count by one.</p>
<p>Keeping track of the retain count requires some diligence on the part of the programmer. If you under-release an object, the memory will be leaked if you over-release, you crash.</p>
<p><span style="color: #3366ff;"><strong>Memory Management Rules</strong></span></p>
<p>The rules are simple, really.</p>
<ul>
<li>If the method name has init, copy, or new anywhere in the method name (such as initWithName:, mutableCopy, or newCar), the method implies that the object will have been retained, and it is your responsibility to release that object later This also means that you&rsquo;ll need to store that object in a variable, to be able to release it again.<br /> NSMutableArray *ma = [someArray mutableCopy]; myMutableArray = ma; [ma release];</li>
<li>Any other method name, if the method returns an object, will be autoreleased.</li>
</ul>
<p>When you create a property, you can specify certain parameters that the setters follow. Of note is the retain and copy parameters. Most object properties are declared as retain, which generates a setter like so:</p>
<ol>
<li>-(void) setText:(NSString *)textValue {</li>
<li>&nbsp; &nbsp; if (![textValue isEqualToString: text]) {</li>
<li>&nbsp; &nbsp; &nbsp; &nbsp; [textValue retain];</li>
<li>&nbsp; &nbsp; &nbsp; &nbsp; [text release];</li>
<li>&nbsp; &nbsp; &nbsp; &nbsp; text = textValue;</li>
<li>&nbsp; &nbsp; }</li>
<li>}</li>
</ol>
<p><span style="color: #3366ff;"><strong>Autorelease</strong></span></p>
<p>The autorelease pool is a medium between directly managing memory, and garbage collection. A lot of methods return autoreleased objects&mdash;these objects are added to an autorelease pool, which is created in every program. When the drain method is sent to the pool, all of the objects within are sent a release method. This can be useful in a tight loop:</p>
<ol>
<li>NSAutoreleasePool *tempPool;</li>
<li>for (i = 0; i &lt; n; i++) {</li>
<li>&nbsp; &nbsp; &nbsp;tempPool = [[NSAutoreleasePool alloc] init];</li>
<li>&nbsp; &nbsp; &nbsp;// Create lots of temporary autoreleased objects that take a lot of memory</li>
<li>&nbsp; &nbsp; &nbsp;[tempPool drain];</li>
<li>}</li>
</ol>
<p>To autorelease an object, simply send the autorelease method.</p>
<h2><span id="Calling_Methods_and_Accessing_Instance_Data" class="mw-headline">Calling Methods and Accessing Instance Data</span></h2>
<p>Given the length of this chapter, now is probably a good time to recap what we have done so far. We have now created a new class called BankAccount. Within this new class we declared some instance variables to contain the bank account number and current balance together with some instance methods used to set, get and display these values. In the preceding section we covered the steps necessary to create and initialize an instance of our new class. The next step is to learn how to call the instance methods we built into our class.</p>
<p>The syntax for invoking methods is to place the object pointer variable name and method to be called in square brackets ([]). For example, to call the displayAccountInfo method on the instance of the class we created previously we would use the following syntax:</p>
<pre>[account1 displayAccountInfo];
</pre>
<p>When the method accepts a single argument, the method name is followed by a colon (:) followed by the value to be passed to the method. For example, to set the account number:</p>
<pre>[account1 setAccountNumber: 34543212];
</pre>
<p>In the case of methods taking multiple arguments (as is the case with our setAccount method) syntax similar to the following is employed:</p>
<pre>[account1 setAccount: 4543455 andBalance: 3010.10];
</pre>
<h3><span id="Objective-C_and_Dot_Notation" class="mw-headline" style="color: #0000ff;">Objective-C and Dot Notation</span></h3>
<p>Those familiar with object oriented programming in Java, C++ or C# are probably reeling a little from the syntax used in Objective-C. They are probably thinking life was much easier when they could just use something called dot notation to set and get the values of instance variables. The good news is that one of the features introduced into version 2.0 of Objective-C is support for dot notation.</p>
<p>Dot notation involves accessing an instance variable by specifying a class instance followed by a dot followed in turn by the name of the instance variable or property to be accessed:</p>
<pre>classinstance.property
</pre>
<p>For example, to the get current value of our accountBalance instance variable:</p>
<pre>double balance1 = account1.accountBalance;
</pre>
<p>Dot notation can also be used to set values of instance properties:</p>
<pre>account1.accountBalance = 6789.98;
</pre>
<p>A key point to understand about dot notation is that it only works for instance variables for which synthesized accessor methods have been declared. If you attempt to use dot notation to access an instance variable for which no synthesized accessor is available the code will fail to compile with an error similar to:</p>
<pre>error: request for member 'accountBalance' in something not a structure or union
</pre>
<h3><span id="How_Variables_are_Stored" class="mw-headline" style="color: #0000ff;">How Variables are Stored</span></h3>
<p>When we declare a variable in Objective-C and assign a value to it we are essentially allocating a location in memory where that value is stored. Take, for example, the following variable declaration:</p>
<pre>int myvar = 10;
</pre>
<p>When the above code is executed, a block of memory large enough to hold an integer value is reserved in memory and the value of 10 is placed at that location. Whenever we reference this variable in code, we are actually using the variable value. For example, the following code adds the value of myvar (i.e. 10) to the constant value 20 to arrive at a result of 30.</p>
<pre>int result = 20 + myvar;
</pre>
<p>Similarly, when we pass a variable through as an argument to a method or function we are actually passing the value of the variable, not the variable itself. To better understand this concept, consider the following sample program:</p>
<pre>#import &lt;Foundation/Foundation.h&gt;

void myFunction(int i)
{
        i = i + 10;
}

int main (int argc, const char * argv[])
{
        NSAutoreleasePool * pool = [[NSAutoreleasePool alloc] init];

        int myvar = 10;

        NSLog (@"Before call to function myvar =&nbsp;%i", myvar);
        myFunction (myvar);
        NSLog (@"After call to function myvar =&nbsp;%i", myvar);

        [pool drain];

        return 0;
}
</pre>
<p>The above program consists of a main function that declares our myvar variable and displays the current value. It then calls the function myFunction passing through the value of the myvar variable. The myFunction function adds 10 to the value it was passed as an argument and then returns to the main function where the value of myvar is once again displayed. When compiled and executed the following output is displayed:</p>
<pre>Before call to function myvar = 10
After call to function myvar = 10
</pre>
<p>Clearly, even though the value passed through to myFunction was increased by 20 the value of myvar remained unchanged. This is because what was passed through as an argument to myFunction was the value of myvar, not the myvar variable itself. Therefore, in myFunction we were simply working on a constant value of 10 that had absolutely no connection to the original myvar variable.</p>
<p>In order to be able to work on the actual variable in the function we need to use something called indirection.</p>
<h2><span style="color: #008080;"><strong>Automatic Reference Counting (ARC)</strong></span></h2>
<p><strong>Automatic Reference Counting</strong> (<strong>ARC</strong>) is a memory-management implementation in the Clang compiler for the Objective-C and Swift programming languages. Like reference counting, it is based on release and retain messages with which objects can be marked for deallocation or retention at compile time, thereby allowing the developer to control the deallocation of objects and the system to deallocate them instantly when they are no longer needed. ARC absolves the developer from implementing these messages themselves, instead relying on the compiler to insert these messages in the object code automatically.</p>
<p>ARC differs from garbage collection in that there is no background process that deallocates the objects asynchronously at runtime.Unlike garbage collection, ARC does not handle reference cycles automatically. This means that as long as there are "strong" references to an object, it will not be deallocated. Strong cross-references can accordingly create deadlocks and memory leaks. It is up to the developer to break cycles by using weak references.</p>
<p>Apple Inc. deploys ARC in their operating systems, such as macOS (OS X) and iOS. Limited support (ARCLite) has been available since Mac OS X Snow Leopard and iOS 4, with complete support following in Mac OS X Lion and iOS 5. Garbage collection was declared deprecated in OS X Mountain Lion, in favour of ARC, and removed from the Objective-C runtime library in macOS Sierra.</p>
<p>To understand ARC, a developer should first understand ObjectiveC&rsquo;s &ldquo;Object ownership&rdquo; mechanism. The concept of &ldquo;Object ownership&rdquo; just implies that a class should either own and manage memory that it allocates or either delegate it to some other class.</p>
<p>Now that it is clear that ARC is not garbage collection, then what exactly is it? ARC is a kind of preprocessor that executes before the compiler and virtually inserts release and autorelease statements for us.ARC is a very helpful feature provided by XCode and its capabilities can be enhanced by helping it release memory well.ARC knows that the use of the memory is complete and hence safely releases it.</p>
<p><span style="color: #0000ff;"><strong>Objective-C</strong></span></p>
<p>The following rules are enforced by the compiler when ARC is turned on:</p>
<ul>
<li>retain, release, retainCount, autorelease or dealloc cannot be sent to objects. Instead, the compiler inserts these messages at compile time automatically, including [super dealloc] when dealloc is overridden.<sup>[9]</sup></li>
</ul>
<p><em>// Without ARC</em></p>
<p>- (void)dealloc</p>
<p>{</p>
<p>&nbsp;&nbsp; [[NSNotificationCenter defaultCenter] removeObserver:self];</p>
<p>&nbsp;&nbsp; [super dealloc];</p>
<p>}</p>
<p>&nbsp;</p>
<p><em>// With ARC</em></p>
<p>- (void)dealloc</p>
<p>{</p>
<p>&nbsp;&nbsp; [[NSNotificationCenter defaultCenter] removeObserver:self];</p>
<p>&nbsp;&nbsp; <em>// [super dealloc] is called automatically</em></p>
<p>}</p>
<ul>
<li>Programs cannot cast directly between id and void *.<sup>[9]</sup> This includes casting between Foundation objects and Core Foundation objects.</li>
</ul>
<p>Programs must use special casts, or calls to special functions, to tell the compiler more information about an object's lifetime.</p>
<p><em>// Without ARC</em></p>
<p>- (NSString *)giveMeAString</p>
<p>{</p>
<p>&nbsp; &nbsp; CFStringRef myString = [self someMethodThatCreatesACFString];</p>
<p>&nbsp; &nbsp; NSString *newString = (NSString *)myString;</p>
<p>&nbsp; &nbsp; <strong>return</strong> [newString autorelease];</p>
<p>}</p>
<p>&nbsp;</p>
<p><em>// With ARC</em></p>
<p>- (NSString *)giveMeAString</p>
<p>{</p>
<p>&nbsp; &nbsp; CFStringRef myString = [self someMethodThatCreatesACFString]; <em>// retain count is 1</em></p>
<p>&nbsp; &nbsp; NSString *newString = (<strong>__bridge_transfer</strong> NSString *)myString; <em>// the ownership has now been transferred into ARC</em></p>
<p>&nbsp; &nbsp; <strong>return</strong> newString;</p>
<p>}</p>
<ul>
<li>An autorelease pool can be used to allocate objects temporarily and retain them in memory until the pool is "drained". Without ARC, an NSAutoreleasePool object can be created for this purpose. ARC uses @autoreleasepool blocks instead, which encapsulate the allocation of the temporary objects and deallocates them when the end of the block is reached.<sup>[9]</sup></li>
</ul>
<p><em>// Without ARC</em></p>
<p>- (void)loopThroughArray:(NSArray *)array</p>
<p>{</p>
<p>&nbsp; &nbsp; <strong>for</strong> (id object <strong>in</strong> array) {</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; NSAutoreleasePool *pool = [[NSAutoreleasePool alloc] init];</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; <em>// Create a lot of temporary objects</em></p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; [pool drain];</p>
<p>&nbsp; &nbsp; }</p>
<p>}</p>
<p><em>// With ARC</em></p>
<p>- (void)loopThroughArray:(NSArray *)array</p>
<p>{</p>
<p>&nbsp; &nbsp; <strong>for</strong> (id object <strong>in</strong> array) {</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; <strong>@autoreleasepool</strong> {</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <em>// Create a lot of temporary objects</em></p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; }</p>
<p>&nbsp; &nbsp; }</p>
<p>}</p>
<ul>
<li>Programs cannot call the functions NSAllocateObject and NSDeallocateObject</li>
<li>Programs cannot use object pointers in C structures (structs)</li>
<li>Programs cannot use memory zones (NSZone)</li>
<li>To properly cooperate with non-ARC code, programs must use no method or declared property (unless explicitly choosing a different getter) that starts with copy.</li>
</ul>
<h2><span style="color: #008080;"><strong>Categories and Extensions</strong></span></h2>
<h3><span style="color: #0000ff;">Categories</span></h3>
<p>An Objective-C category allows you to add methods to an existing class -- effectively subclassing it without having to deal with the possible complexities of subclassing.</p>
<p>Some situations in which you may want to use categories include:</p>
<ul>
<li>You want to split the functionality of a class into multiple files (for many of the same reasons you&rsquo;d want to create classes in the first place&mdash;ease of use, less to maintain at a time, etc.)</li>
<li>You&rsquo;re working with other people on the same classes and you&rsquo;ve been tasked with handling certain parts of that class (drawing to screen, for example)</li>
<li>You don&rsquo;t want to deal with subclassing a class&mdash;for example, in NSString&lsquo;s subclassing notes, it states that &ldquo;doing so requires providing storage facilities for the string (which is not inherited by subclasses) and implementing two primitive methods. The abstract NSString and NSMutableString classes are the public interface of a class cluster consisting mostly of private, concrete classes that create and return a string object appropriate for a given situation. Making your own concrete subclass of this cluster imposes certain requirements&hellip;&rdquo;</li>
<li>You need to add methods to a class that you don&rsquo;t have access to, such as the Foundation classes (NSString, NSArray)</li>
</ul>
<p>In all of these cases, categories provide a perfect solution. As an example, we are going to add a method to NSArray that will return a random, non-repeating object from an array. This could be used, perhaps, in a word game, where you might have an array of NSString words and want to use each word exactly once.</p>
<p>Jumping right in, we are going to put our category into a separate file&mdash;we don&rsquo;t have access to the original NSArray files. If we did, anything that used NSArray could use our method&hellip;but since we don&rsquo;t, we&rsquo;re going to have to import our file before we use it.</p>
<p>The naming convention of category files is OriginalClassName-CategoryName. Therefore, create two files, NSArray-RandomObjects.h and NSArray-RandomObjects.m. In the former, place this code:</p>
<ol>
<li>@interface NSArray(RandomObjects)</li>
<li>-(id)randomObject;</li>
<li>@end</li>
</ol>
<p>Note that it simply looks like a class declaration&mdash;except for the part in bold (emphasis added). That part tells the compiler that you&rsquo;re defining a category, not a new class. The name is used for documentative purposes (telling yourself what it does) and is effectively irrelevant elsewhere. And on the subject of new classes, note that you cannot add new instance variables to a class&mdash;this goes back to the dynamic nature of methods (bonus points to anyone who can explain why).</p>
<p>In the corresponding .m file, place the implementation of that method, as usual:</p>
<ol>
<li>@implementation NSArray(RandomObjects) - (id)randomObject { // You could also pass in an array as an argument</li>
<li>&nbsp; &nbsp; self.randomArray = [[self.randomArray shuffledArray] mutableCopy];</li>
<li>&nbsp; &nbsp; NSInteger index = arc4random() % [self.randomArray count] - 1;</li>
<li>&nbsp; &nbsp; id object = [self.randomArray objectAtIndex:index];</li>
<li>&nbsp; &nbsp; [self.randomArray removeObjectAtIndex:index];</li>
<li>&nbsp; &nbsp; return object;</li>
<li>}</li>
<li>@end</li>
</ol>
<p>Note again the bolded text&mdash;that is the only syntactical difference between a category and a class definition.</p>
<p>A test program might look like this:</p>
<ol>
<li>#import "NSArray-RandomObjects.h"</li>
<li>int main(int argc, char *argv[]) {</li>
<li>&nbsp; &nbsp; NSAutoreleasePool *pool = [[NSAutoreleasePool alloc] init];</li>
<li>&nbsp; &nbsp; NSArray *words = [NSArray arrayWithObjects:@"Curb", @"Days", @"Fins", @"Dish", @"Cite", @"Chat", nil];</li>
<li>&nbsp; &nbsp; for (NSInteger count = 1; count &lt; [words count]; count++)</li>
<li>&nbsp; &nbsp; &nbsp; &nbsp; NSLog(@"Next object is %@", [words randomObject]);</li>
<li>}</li>
</ol>
<p>If you try to build and run now, you&rsquo;ll get a compiler warning. And thin the program will crash. Turns out, the randomArray method we&rsquo;re using in our category method comes from yet another category. Check it out, import the new header in NSArray-RandomObjects.h, and you should be good to go.</p>
<p><span style="color: #0000ff;"><strong>A Few Notes</strong></span></p>
<ul>
<li>A category method can override an existing method, but you&rsquo;ll lose access to the original outside of that class. Therefore, if you do override, make sure you duplicate existing functionality, or use a call to super.</li>
<li>If a method is defined in more than one category of a single class, which version is invoked is undefined.</li>
<li>Remember that methods that you add to a class are inherited as well. If you add methods to NSObject, every class will have access to those methods.</li>
<li>Added methods may serve your purpose, but may go against the design of the class. Adding the ability to handle multiple strings simultaneously to NSString blurs the line between NSString and NSArray.</li>
<li>Object / category name pairs must be unique in any namespace. There can only be one NSArray-RandomObjects in a namespace. The default namespace is shared between all classes, libraries, frameworks, and plug-ins. This can be a hazard for developers of those products, especially since they get injected into other code.</li>
</ul>
<p>Sometimes, you may find that you wish to extend an existing class by adding behavior that is useful only in certain situations. In order add such extension to existing classes, Objective-C provides <strong>categories</strong> and <strong>extensions</strong>.</p>
<p>If you need to add a method to an existing class, perhaps, to add functionality to make it easier to do something in your own application, the easiest way is to use a category.</p>
<p>The syntax to declare a category uses the @interface keyword, just like a standard Objective-C class description, but does not indicate any inheritance from a subclass. Instead, it specifies the name of the category in parentheses, like this:</p>
<p>@interface ClassName (CategoryName)</p>
<p>@end</p>
<p>Characteristics of category</p>
<ul>
<li>A category can be declared for any class, even if you don't have the original implementation source code.</li>
<li>Any methods that you declare in a category will be available to all instances of the original class, as well as any subclasses of the original class.</li>
<li>At runtime, there's no difference between a method added by a category and one that is implemented by the original class.</li>
</ul>
<p>Now, let's look at a sample category implementation. Let's add a category to the Cocoa class NSString. This category will make it possible for us to add a new method getCopyRightString which helps us in returning the copyright string. It is shown below.</p>
<p>#import &lt;Foundation/Foundation.h&gt;</p>
<p>@interface NSString(MyAdditions)</p>
<p>+(NSString *)getCopyRightString;</p>
<p>@end</p>
<p>@implementation NSString(MyAdditions)</p>
<p>+(NSString *)getCopyRightString{</p>
<p>&nbsp; &nbsp; return @"Copyright TutorialsPoint.com 2013";</p>
<p>}</p>
<p>@end</p>
<p>int main(int argc, const char * argv[])</p>
<p>{</p>
<p>&nbsp; &nbsp;NSAutoreleasePool * pool = [[NSAutoreleasePool alloc] init];</p>
<p>&nbsp;&nbsp; NSString *copyrightString = [NSString getCopyRightString];</p>
<p>&nbsp;&nbsp; NSLog(@"Accessing Category: %@",copyrightString);</p>
<p>&nbsp;&nbsp; [pool drain];</p>
<p>&nbsp; &nbsp; return 0;</p>
<p>}</p>
<h3><span style="color: #0000ff;">Extensions</span></h3>
<p>A class extension bears some similarity to a category, but it can only be added to a class for which you have the source code at compile time (the class is compiled at the same time as the class extension).</p>
<p>The methods declared by a class extension are implemented in the implementation block for the original class, so you can't, for example, declare a class extension on a framework class, such as a Cocoa or Cocoa Touch class like NSString..</p>
<p>Extensions are actually categories without the category name. It's often referred as <strong>anonymous categories</strong>.</p>
<p>The syntax to declare a extension uses the @interface keyword, just like a standard Objective-C class description, but does not indicate any inheritance from a subclass. Instead, it just adds parentheses, as shown below</p>
<p>@interface ClassName ()</p>
<p>@end</p>
<p><span style="color: #0000ff;">Characteristics of extensions</span></p>
<ul>
<li>An extension cannot be declared for any class, only for the classes that we have original implementation of source code.</li>
<li>An extension is adding private methods and private variables that are only specific to the class.</li>
<li>Any method or variable declared inside the extensions is not accessible even to the inherited classes.</li>
</ul>
<p>Extensions Example</p>
<p>Let's create a class SampleClass that has an extension. In the extension, let's have a private variable internalID.</p>
<p>Then, let's have a method getExternalID that returns the externalID after processing the internalID.</p>
<p>The example is shown below and this wont work on online compiler.</p>
<p>#import &lt;Foundation/Foundation.h&gt;</p>
<p>@interface SampleClass : NSObject</p>
<p>{</p>
<p>&nbsp; &nbsp; NSString *name;</p>
<p>}</p>
<p>- (void)setInternalID;</p>
<p>- (NSString *)getExternalID;</p>
<p>@end</p>
<p>@interface SampleClass()</p>
<p>{</p>
<p>&nbsp; &nbsp; NSString *internalID;</p>
<p>}</p>
<p>@end</p>
<p>@implementation SampleClass</p>
<p>- (void)setInternalID{</p>
<p>&nbsp; &nbsp; internalID = [NSString stringWithFormat:&nbsp;</p>
<p>&nbsp; &nbsp; @"UNIQUEINTERNALKEY%dUNIQUEINTERNALKEY",arc4random()%100];</p>
<p>}</p>
<p>- (NSString *)getExternalID{</p>
<p>&nbsp; &nbsp; return [internalID stringByReplacingOccurrencesOfString:&nbsp;</p>
<p>&nbsp; &nbsp; @"UNIQUEINTERNALKEY" withString:@""];</p>
<p>}</p>
<p>@end</p>
<p>int main(int argc, const char * argv[])</p>
<p>{</p>
<p>&nbsp; &nbsp; NSAutoreleasePool * pool = [[NSAutoreleasePool alloc] init];</p>
<p>&nbsp; &nbsp; SampleClass *sampleClass = [[SampleClass alloc]init];</p>
<p>&nbsp; &nbsp; [sampleClass setInternalID];</p>
<p>&nbsp; &nbsp; NSLog(@"ExternalID: %@",[sampleClass getExternalID]); &nbsp; &nbsp; &nbsp; &nbsp;</p>
<p>&nbsp; &nbsp; [pool drain];</p>
<p>&nbsp; &nbsp; return 0;</p>
<p>}</p>
<p>&nbsp;</p>
<h2><span style="color: #008080;"><strong>Formal and Informal Protocols</strong></span></h2>
<p><span style="color: #0000ff;"><strong>Protocols</strong></span></p>
<p>bjective-C allows you to define protocols, which declare the methods expected to be used for a particular situation. Protocols are implemented in the classes conforming to the protocol.</p>
<p>A simple example would be a network URL handling class, it will have a protocol with methods like processCompleted delegate method that intimates the calling class once the network URL fetching operation is over.</p>
<p>A protocol is a list of method declarations that is not bound to any one class. The methods are not implemented in the protocol; instead, classes conform to or adopt a protocol and within those classes the methods are implemented. A protocol is simply a grouping of certain related methods under one name, and it acts like a contract&mdash;conforming classes must implement the required methods (and may implement any of the potential optional methods).</p>
<p>The name of the protocol is written in italics. Between the mandatory lines is the method(s) of the protocol, declared as you would normally declare methods. The protocol is typically saved in a .h (header) file, and follow the same naming conventions as classes do.</p>
<p>For a class to adopt one or more protocols, place the protocol names between angle brackets, separated by commas if there is more than one. A class that adopts the</p>
<p>NSCopying protocol might be declared like this:</p>
<p>@interface CopyMachine : NSObject &lt;NSCopying, NSCoding&gt;</p>
<p>The compiler sees that the CopyMachine class conforms to the NSCopying and NSCoding protocols, and it will issue a warning if the required methods in those classes are not implemented. Note also that protocol conformity is inherited&mdash;subclasses of CopyMachine, for example, will also conform to those protocols, and can re-implement (override) those methods as necessary.</p>
<p>Let&rsquo;s look at the theory behind protocols.</p>
<p>A syntax of protocol is shown below.</p>
<p>@protocol ProtocolName</p>
<p>@required</p>
<p>// list of required methods</p>
<p>@optional</p>
<p>// list of optional methods</p>
<p>@end</p>
<p>The methods under keyword <strong>@required</strong> must be implemented in the classes that conforms to the protocol and the methods under <strong>@optional</strong> keyword are optional to implement.</p>
<p>Here is the syntax for class conforming to protocol</p>
<p>@interface MyClass : NSObject &lt;MyProtocol&gt;</p>
<p>...</p>
<p>@end</p>
<p>This means that any instance of MyClass will respond not only to the methods declared specifically in the interface, but that MyClass also provides implementations for the required methods in MyProtocol. There's no need to redeclare the protocol methods in the class interface - the adoption of the protocol is sufficient.</p>
<p>If you need a class to adopt multiple protocols, you can specify them as a comma-separated list. We have a delegate object that holds the reference of the calling object that implements the protocol.</p>
<p>An example is shown below.</p>
<p>#import &lt;Foundation/Foundation.h&gt;</p>
<p>@protocol PrintProtocolDelegate</p>
<p>- (void)processCompleted;</p>
<p>@end</p>
<p>@interface PrintClass :NSObject</p>
<p>{</p>
<p>&nbsp; &nbsp; id delegate;</p>
<p>}</p>
<p>- (void) printDetails;</p>
<p>- (void) setDelegate:(id)newDelegate;</p>
<p>@end</p>
<p>@implementation PrintClass</p>
<p>- (void)printDetails{</p>
<p>&nbsp; &nbsp; NSLog(@"Printing Details");</p>
<p>&nbsp; &nbsp; [delegate processCompleted];</p>
<p>}</p>
<p>- (void) setDelegate:(id)newDelegate{</p>
<p>&nbsp; &nbsp; delegate = newDelegate;</p>
<p>}</p>
<p>@end</p>
<p>@interface SampleClass:NSObject&lt;PrintProtocolDelegate&gt;</p>
<p>- (void)startAction;</p>
<p>@end</p>
<p>@implementation SampleClass</p>
<p>- (void)startAction{</p>
<p>&nbsp; &nbsp; PrintClass *printClass = [[PrintClass alloc]init];</p>
<p>&nbsp; &nbsp; [printClass setDelegate:self];</p>
<p>&nbsp; &nbsp; [printClass printDetails];</p>
<p>}</p>
<p>-(void)processCompleted{</p>
<p>&nbsp; &nbsp; NSLog(@"Printing Process Completed");</p>
<p>}</p>
<p>@end</p>
<p>int main(int argc, const char * argv[])</p>
<p>{</p>
<p>&nbsp; &nbsp; NSAutoreleasePool * pool = [[NSAutoreleasePool alloc] init];</p>
<p>&nbsp; &nbsp; SampleClass *sampleClass = [[SampleClass alloc]init];</p>
<p>&nbsp; &nbsp; [sampleClass startAction];</p>
<p>&nbsp; &nbsp; [pool drain];</p>
<p>&nbsp; &nbsp; return 0;</p>
<p>}</p>
<p><strong>Why Protocols?</strong></p>
<ul>
<li>To declare methods for others to implement</li>
<li>To declare the public interface to a class while hiding the nature of the class itself</li>
<li>To mark similarities between classes that are not part of the same inheritance tree</li>
</ul>
<p>In fact, there is a fourth reason as well, and in everyday use it is the most compelling: It lets you avoid the complexities of subclassing, similar to the way categories do, but in a different manner.</p>
<p>Protocols play an important role in OS X and iOS development&mdash;a lot of built-in classes use them. A classic example is the UITableViewController, which is a view controller that manages a table view (basically a scrollable list, like in the iPod application). Without protocols, users of the class would have to subclass the original class, deal with any issues, and override the original methods. This is another challenge&mdash;for the original class. For something like a table view, where the data for the view may come from a variety of locations and there may be a myriad of behaviors to handle, what is an acceptable default implementation? Using protocols circumvents the issue. UIKit also includes two protocols, designed to work with UITableViewControllers. They are UITableViewDataSource and UITableViewDelegate. Any class that adopts these protocols will be able to control a table view.</p>
<p><strong>Optional Methods</strong></p>
<p>Methods in a protocol can be declared to be optional, by using the @optional directive. This works like the ones for instance variable scope&mdash;it acts like a switch. The opposite is @required.</p>
<ol>
<li>@protocol Drawing</li>
<li>- (void)paint</li>
<li>- (void)erase</li>
<li>@optional</li>
<li>-(void)outline</li>
<li>@end</li>
</ol>
<p>An&nbsp;<strong>informal</strong>&nbsp;protocol is a category on NSObject, which implicitly makes almost all objects adopters of the protocol. (A category is a language feature that enables you to add methods to a class without subclassing it.) Implementation of the methods in an informal protocol is optional. Before invoking a method, the calling object checks to see whether the target object implements it. Until optional protocol methods were introduced in Objective-C 2.0, informal protocols were essential to the way Foundation and AppKit classes implemented delegation.</p>
<p>informal protocol by grouping the methods in a category declaration:</p>
<p>@interface NSObject ( MyXMLSupport )</p>
<p>- initFromXMLRepresentation:(NSXMLElement *)XMLElement;</p>
<p>- (NSXMLElement *)XMLRepresentation;</p>
<p>&nbsp;@end</p>
<p>An informal protocol bends the rules of category declarations to list a group of methods but not associate them with any particular class or implementation.<br />Being informal, protocols declared in categories don&rsquo;t receive much language support. There&rsquo;s no type checking at compile time nor a check at runtime to see whether an object conforms to the protocol. To get these benefits, you must use a formal protocol. An informal protocol may be useful when all the methods are optional, such as for a delegate, but (on Mac OS X v10.5 and later) it is typically better to use a formal protocol with optional methods.</p>
<p>A&nbsp;<strong>formal</strong>&nbsp;protocol declares a list of methods that client classes are expected to implement. Formal protocols have their own declaration, adoption, and type-checking syntax. You can designate methods whose implementation is required or optional with the @required and @optional keywords. Subclasses inherit formal protocols adopted by their ancestors. A formal protocol can also adopt other protocols.&nbsp;</p>
<p>Formal protocols are supported by the language and the runtime system. For example, the compiler can check for types based on protocols, and objects can introspect at runtime to report whether or not they conform to a protocol.</p>
<p>You declare formal protocols with the @protocol directive:</p>
<p>@protocol ProtocolName</p>
<p>method declarations</p>
<p>&nbsp;@end</p>
<p>Unlike class names, protocol names don&rsquo;t have global visibility. They live in their own namespace.</p>
<h2>&nbsp;</h2>
<h2><span style="color: #008080;"><strong>Blocks</strong></span></h2>
<p>There is no right way to use a block, as there is no right way to use a function.</p>
<p>Blocks are functions. A bit more than a function, but not a whole lot different. So let's forget the differences for now. Functions.</p>
<p>Using a function, you'll write something like</p>
<pre class="default prettyprint prettyprinted"><code><span class="kwd">void</span><span class="pln"> callback </span><span class="pun">(</span><span class="pln">BOOL success</span><span class="pun">)</span> <span class="pun">{</span>
    <span class="kwd">if</span> <span class="pun">(</span><span class="pln">success</span><span class="pun">)</span> <span class="pun">{</span>
        <span class="com">// do something useful</span>
    <span class="pun">}</span>
<span class="pun">}</span>

<span class="pun">[</span><span class="pln">database openWithCallback</span><span class="pun">:</span> <span class="pun">&amp;</span><span class="pln">callback</span><span class="pun">];</span></code></pre>
<p>Some kind of little endianess here. ish.</p>
<p>Blocks allow you to write your callbacks in line.</p>
<pre class="default prettyprint prettyprinted"><code><span class="pun">[</span><span class="kwd">self</span><span class="pun">.</span><span class="pln">database openWithCompletionHandler</span><span class="pun">:</span> <span class="pun">^(</span><span class="pln">BOOL success</span><span class="pun">)</span> <span class="pun">{</span>
    <span class="kwd">if</span> <span class="pun">(!</span><span class="pln">success</span><span class="pun">)</span> <span class="pun">{</span>
        <span class="com">// oops, handle that</span>
    <span class="pun">}</span>
<span class="pun">}];</span></code></pre>
<p>In that particular case, blocks do not solve any problem functions couldn't. They cost more even.</p>
<p>The benefits show themselves when you use a lot of them. If you write your operations to be fully asynchronous, you can write your code in a streamlined fashion.</p>
<p>pseudo-code:</p>
<pre class="default prettyprint prettyprinted"><code><span class="pln">dispatch block</span><span class="pun">:</span> <span class="pun">^(){</span><span class="pln">
    some heavy computation here
    dispatch block</span><span class="pun">:</span> <span class="pun">^(){</span><span class="pln">
        computation </span><span class="kwd">done</span><span class="pun">,</span><span class="pln"> update the UI </span><span class="kwd">or</span><span class="pln"> something
    </span><span class="pun">}</span>
<span class="pun">}</span></code></pre>
<p>Very simple example. Writing this with functions is completely possible of course. But not as readable.</p>
<p>Now imagine you are dispatching tons of blocks, you can create groups of blocks then execute a block when the group is fully executed. Very easy to write, very easy to read. This starts to be a nightmare dealing with function pointers everywhere.</p>
<p>And now, what makes a block more than a function?</p>
<p>A block is a function. With a context. A block can access variables in the same scope. In the simple exemple above, the work block have access to the calling scope, and the completion block to the calling scope and work block scope. This is can be done with functions and structures of course. With a lot of code, much harder to read. Blocks solve that more elegantly.</p>
<p>I suggest you read about Grand Central Dispatch. This is clearly where blocks show their true potential and expressiveness.</p>