<h2><span style="color: #008080;">Alert Views and Action Sheets</span></h2>
<h3><strong>UIAlertView - Alerting the Old Way</strong></h3>
<p>The code snippet below is all it takes to setup and present an alert view with cancel and OK buttons:</p>
<p>UIAlertView *alertView = [[UIAlertView alloc]</p>
<p>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; initWithTitle:@"DefaultStyle"&nbsp;</p>
<p>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; message:@"the default alert view style"</p>
<p>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; delegate:self&nbsp;</p>
<p>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; cancelButtonTitle:@"Cancel"&nbsp;</p>
<p>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; otherButtonTitles:@"OK", nil];</p>
<p>[alertView show];</p>
<p>The introduction of alert view styles in iOS 5 added a limited ability to create custom alerts by setting the alertViewStyle property. This extended the plain default button-only style to allow plain text input, secure text input or even a login and password input alert:</p>
<p>The UIAlertViewDelegate protocol has callback methods for the button actions and also a method (alertViewShouldEnableOtherButton:) called when a text field changes to allow buttons to be dynamically enabled/disabled.</p>
<p><strong>UIAlertController - Adaptive Alerting</strong></p>
<p>In the new adaptive world of iOS 8 the UIAlertController is a functionally identical, block-based replacement for both UIAlertView and UIActionSheet. Switching between an alert or action sheet is done by setting the preferred style when creating the controller.</p>
<p><strong>A Simple Alert</strong></p>
<p>The creation of the basic UIAlertController is very similar to creating an UIAlertView (the alertTitle and alertMessage are both NSString&rsquo;s):</p>
<p>UIAlertController *alertController = [UIAlertController</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; alertControllerWithTitle:alertTitle</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; message:alertMessage</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; preferredStyle:UIAlertControllerStyleAlert];</p>
<p>Added action buttons by creating an instance of UIAlertAction which you then add to the controller. The UIAlertAction consists of a title string, style and a block to execute when the user selects the action. The three possible choices for the UIAlertActionStyle cover default, cancel and destructive actions. To reproduce cancel/ok action sheet we just need to create and add the two alert actions:</p>
<p>UIAlertAction *cancelAction = [UIAlertAction&nbsp;</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; actionWithTitle:NSLocalizedString(@"Cancel", @"Cancel action")</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; style:UIAlertActionStyleCancel</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; handler:^(UIAlertAction *action)</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; NSLog(@"Cancel action");</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; }];</p>
<p>UIAlertAction *okAction = [UIAlertAction&nbsp;</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; actionWithTitle:NSLocalizedString(@"OK", @"OK action")</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; style:UIAlertActionStyleDefault</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; handler:^(UIAlertAction *action)</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; NSLog(@"OK action");</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; }];</p>
<p>[alertController addAction:cancelAction];</p>
<p>[alertController addAction:okAction];</p>
<p>[self presentViewController:alertController animated:YES completion:nil];</p>
<p>&nbsp;The display order for the buttons depends on the order they are added to the alert controller. You can only have one cancel action, if you add a second you will get a runtime exception:</p>
<p>*** Terminating app due to uncaught exception &lsquo;NSInternalInconsistencyException&rsquo;, reason: &lsquo;UIAlertController can only have one action with a style of UIAlertActionStyleCancel&rsquo;</p>
<p><strong>Destructive actions</strong></p>
<p>Here is a quick example of the third alert action style for destructive actions. The code is the same as before except that we add a &ldquo;reset&rdquo; button instead of the &ldquo;ok&rdquo; button:</p>
<p>UIAlertAction *resetAction = [UIAlertAction</p>
<p>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; actionWithTitle:NSLocalizedString(@"Reset", @"Reset action")</p>
<p>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; style:UIAlertActionStyleDestructive</p>
<p>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; handler:^(UIAlertAction *action)</p>
<p>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {</p>
<p>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; NSLog(@"Reset action");</p>
<p>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; }];</p>
<p>[alertController addAction:resetAction];</p>
<p>[alertController addAction:cancelAction];</p>
<p>[self presentViewController:alertController animated:YES completion:nil];</p>
<p>&nbsp;<strong>Text Input Alerts</strong></p>
<p>We can add an arbitrary number of UITextField objects to the alert and use all of the standard UITextField configuration options. When you add the text field to the alert controller you specify a block that is used to configure the text field.</p>
<p>UIAlertController *alertController = [UIAlertController</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; alertControllerWithTitle:alertTitle</p>
<p>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; message:alertMessage</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; preferredStyle:UIAlertControllerStyleAlert];</p>
<p>[alertController addTextFieldWithConfigurationHandler:^(UITextField *textField)</p>
<p>&nbsp;{</p>
<p>&nbsp;&nbsp; textField.placeholder = NSLocalizedString(@"LoginPlaceholder", @"Login");</p>
<p>&nbsp;}];</p>
<p>[alertController addTextFieldWithConfigurationHandler:^(UITextField *textField)</p>
<p>&nbsp;{</p>
<p>&nbsp;&nbsp; textField.placeholder = NSLocalizedString(@"PasswordPlaceholder", @"Password");</p>
<p>&nbsp;&nbsp; textField.secureTextEntry = YES;</p>
<p>&nbsp;}];</p>
<p>The values of the text field can be retrieved in the OK action handler:</p>
<p>UIAlertAction *okAction = [UIAlertAction</p>
<p>&nbsp;actionWithTitle:NSLocalizedString(@"OK", @"OK action")</p>
<p>style:UIAlertActionStyleDefault</p>
<p>handler:^(UIAlertAction *action)</p>
<p>&nbsp; {</p>
<p>&nbsp; &nbsp; UITextField *login = alertController.textFields.firstObject;</p>
<p>&nbsp; &nbsp; UITextField *password = alertController.textFields.lastObject;</p>
<p>&nbsp; &nbsp; ...</p>
<p>&nbsp; }];</p>
<p>&nbsp;Things get a little more complicated if we want to reproduce the behaviour of the old UIAlertView delegate method alertViewShouldEnableOtherButton:. Assume we only want to enable the OK button if the user has entered at least 3 characters in the login field. There is no equivalent delegate method for UIAlertController so we need to detect changes ourselves by adding a target action to the text field for the UIControlEventEditingChanged event:</p>
<p>[alertController addTextFieldWithConfigurationHandler:^(UITextField *textField)</p>
<p>&nbsp;{</p>
<p>&nbsp;&nbsp; &nbsp; textField.placeholder = NSLocalizedString(@"LoginPlaceholder", @"Login");</p>
<p>&nbsp;&nbsp; &nbsp; [textField addTarget:self</p>
<p>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; action:@selector(alertTextFieldDidChange:)</p>
<p>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; forControlEvents:UIControlEventEditingChanged];</p>
<p>&nbsp;}];</p>
<p>Before presenting the alert controller we can disable the OK action:</p>
<p>okAction.enabled = NO;</p>
<p>Then in the action method we can check the login text field for content before changing the state back to enabled:</p>
<p>- (void)alertTextFieldDidChange:(UITextField *)sender</p>
<p>{</p>
<p>&nbsp; UIAlertController *alertController = (UIAlertController *)self.presentedViewController;</p>
<p>&nbsp; if (alertController)</p>
<p>&nbsp; {</p>
<p>&nbsp; &nbsp; UITextField *login = alertController.textFields.firstObject;</p>
<p>&nbsp; &nbsp; UIAlertAction *okAction = alertController.actions.lastObject;</p>
<p>&nbsp; &nbsp; okAction.enabled = login.text.length &gt; 2;</p>
<p>&nbsp; }</p>
<p>}</p>
<p>The alert view is now presented with the OK button disabled unless there are at least three characters in the login text field:</p>
<h3>&nbsp;<strong>Action Sheet</strong></h3>
<p>The action sheet is used when you need to present the user with a set of choices. Unlike the alert view which is always presented as a modal view the presentation of the action sheet depends on the device size. On an iPhone (compact width) the action sheet rises from the bottom of the screen. On an iPad (regular width) an action sheet is always shown in a popover.</p>
<p>The creation of an action sheet is almost identical to an alert, the only difference being the style:</p>
<p>UIAlertController *alertController = [UIAlertController</p>
<p>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; alertControllerWithTitle:alertTitle</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; message:alertMessage</p>
<p>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; preferredStyle:UIAlertControllerStyleActionSheet];</p>
<p>You add actions the same way as you do for alerts so I will abbreviate the code to add three actions:</p>
<p>UIAlertAction *cancelAction = ...;&nbsp; // UIAlertActionStyleCancel</p>
<p>UIAlertAction *deleteAction = ...;&nbsp; // UIAlertActionStyleDestructive</p>
<p>UIAlertAction *archiveAction = ...; // UIAlertActionStyleDefault</p>
<p>[alertController addAction:cancelAction];</p>
<p>[alertController addAction:deleteAction];</p>
<p>[alertController addAction:archiveAction];</p>
<p>You cannot add text fields to action sheets, if you try it you will get a runtime exception:</p>
<p>*** Terminating app due to uncaught exception &lsquo;NSInternalInconsistencyException&rsquo;, reason: &lsquo;Text fields can only be added to an alert controller of style UIAlertControllerStyleAlert&rsquo;</p>
<p>If we do nothing more and present this on an iPhone/compact width device it works as expected:</p>
<p>[self presentViewController:alertController animated:YES completion:nil];</p>
<p>&nbsp;</p>
<p>The cancel button, if present, is always shown as the bottom of the view regardless of the order it was added to the alert controller.The iOS Human Interface Guidelines recommend that any destructive action is shown first.</p>
<p>There is a problem with this code when used on an iPad or regular width device it creates a runtime exception:</p>
<p>Terminating app due to uncaught exception &lsquo;NSGenericException&rsquo;, reason: &lsquo;UIPopoverPresentationController (&lt;_UIAlertControllerActionSheetRegularPresentationController: 0x7fc619588110&gt;) should have a non-nil sourceView or barButtonItem set before the presentation occurs.&rsquo;</p>
<p>At the time of writing the Apple UICatalog sample code crashes for the same reason when run on an iPad.</p>
<p>As I mentioned before for regular width presentations the action sheet is displayed in a popover. A popover always requires an anchor point which can be a source view or a bar button item. In this case I am using a standard UIButton to trigger the action sheet so I will use it as the anchor point.</p>
<p>A big difference in iOS 8 is that we no longer need to write code to test for the interface idiom. The UIAlertController takes care of adapting to the display environment so we can simply ask it for a popover controller. On an iPhone/compact width device this returns nil. The extra code we need to configure the popover is below:</p>
<p>UIPopoverPresentationController *popover = alertController.popoverPresentationController;</p>
<p>if (popover)</p>
<p>{</p>
<p>&nbsp; &nbsp; popover.sourceView = sender;</p>
<p>&nbsp; &nbsp; popover.sourceRect = sender.bounds;</p>
<p>&nbsp; &nbsp; popover.permittedArrowDirections = UIPopoverArrowDirectionAny;</p>
<p>}</p>
<p>The UIPopoverPresentationController class is also new in iOS 8 and replaces UIPopoverController and for our purposes is functionally equivalent. The action sheet now displays as a popover anchored to the source button:</p>
<p>&nbsp;</p>
<p>Note that the UIAlertController is also smart enough to remove the cancel button when using a popover. A user cancels a popover by touching outside of the popover so it is not required.</p>
<p><strong>Dismissing Alert Controllers</strong></p>
<p>Typically the alert controller is dismissed automatically when the user selects an action. It can also be dismissed programmatically, if required, like any other view controller. One common reason can be to remove the alert or action sheet when the app moves to the background. Assuming we are listening for the UIApplicationDidEnterBackgroundNotification notification we can dismiss any presented view controller in the observer (see the example code for the setup of the observer in viewDidLoad):</p>
<p>- (void)didEnterBackground:(NSNotification *)notification</p>
<p>{</p>
<p>&nbsp; [self.presentedViewController dismissViewControllerAnimated:NO completion:nil];</p>
<p>}</p>
