<h2><span style="color: #008080;">Containers</span></h2>
<p><strong>Adding an iOS Container View in Xcode</strong></p>
<p>A container view allows you to create a reusable component that all of your view controllers can share. The containers are easily edited with the storyboard editor of Xcode. &nbsp;Plus the reusable component is also backed by the power of a separate child view controller.</p>
<p>Before container views were introduced, we had to create reusable views using UIViews stored in xibs.&nbsp;</p>
<p>The example app has just two view controllers, and created a container view that is shared between them.</p>
<p>image</p>
<p>The first thing to do is find the container view in the object library of Xcode and drag it onto my first view controller. I find it easiest to filter the object library for the thing I am looking for.</p>
<p>image</p>
<p>After dragging the container view, constrain it to have the size and position you want in your view controller. You will see that the child view controller changes size automatically when you constrain the container view in the view controller. I added a blue background and a label called &ldquo;My Component&rdquo; to the child view controller of the container so you can easily see it. You will also see a special segue, called an embed segue, is added that links the container view to the child view controller of your component.</p>
<p>Now let&rsquo;s reuse our component in another view. To do this add another container view in the second view controller. The second container view should have the same size and position of the first one, so that your users will not get confused by the component moving around when you transition.&nbsp;</p>
<p>image</p>
<p>We will not need the child view controller that was automatically added when you added the container view. Select it and delete it so that you are only left with an empty container view that is not linked to a child view controller. The next step is to link the container view to our child view controller that we already created before. Hold the Ctrl key and drag with the mouse from the container view to the child view controller. Now add an embed segue.</p>
<p>image</p>
<p>That should do it. You now have a child view controller that is shared among two view controllers. You can add this child view controller to as many view controllers as you want. Here is what the finished app looks like.</p>
<p>image</p>