<h2><span style="color: #008080;">Text and Web Views</span></h2>
<h3><span style="color: #008080;">Text View</span></h3>
<p>Use of Text View</p>
<p>Text View is used for displaying multi line of scrollable text, which is optionally editable.</p>
<p>Important Properties</p>
<ul>
<li>dataDetectorTypes</li>
<li>delegate</li>
<li>editable</li>
<li>inputAccessoryView</li>
<li>inputView</li>
<li>text</li>
<li>textAlignment</li>
<li>textColor</li>
</ul>
<p>Important Delegate Methods</p>
<p>-(void)textViewDidBeginEditing:(UITextView *)textView</p>
<p>-(void)textViewDidEndEditing:(UITextView *)textView</p>
<p>-(void)textViewDidChange:(UITextView *)textView</p>
<p>-(BOOL)textViewShouldEndEditing:(UITextView *)textView</p>
<p>Add a Custom Method addTextView</p>
<p>-(void)addTextView{</p>
<p>&nbsp; &nbsp; myTextView = [[UITextView alloc]initWithFrame:</p>
<p>&nbsp; &nbsp; CGRectMake(10, 50, 300, 200)];</p>
<p>&nbsp; &nbsp; [myTextView setText:@"Lorem ipsum dolor sit er elit lamet, consectetaur</p>
<p>&nbsp; &nbsp; cillium adipisicing pecu, sed do eiusmod tempor incididunt ut labore et&nbsp;</p>
<p>&nbsp; &nbsp; dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation&nbsp;</p>
<p>&nbsp; &nbsp; ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure</p>
<p>&nbsp; &nbsp; dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat&nbsp;</p>
<p>&nbsp; &nbsp; nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in&nbsp;</p>
<p>&nbsp; &nbsp; culpa qui officia deserunt mollit anim id est laborum. Nam liber te&nbsp;</p>
<p>&nbsp; &nbsp; conscient to factor tum poen legum odioque civiuda.</p>
<p>&nbsp; &nbsp; Lorem ipsum dolor sit er elit lamet, consectetaur cillium adipisicing</p>
<p>&nbsp; &nbsp; pecu, sed do eiusmod tempor incididunt ut labore et dolore magna aiqua.&nbsp;</p>
<p>&nbsp; &nbsp; Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi&nbsp;</p>
<p>&nbsp; &nbsp; aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit&nbsp;</p>
<p>&nbsp; &nbsp; in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
<p>&nbsp; &nbsp; Excepteur sint occaecat cupidatat non proident, sunt in culpa</p>
<p>&nbsp; &nbsp; qui officia deserunt mollit anim id est laborum. Nam liber te conscient</p>
<p>&nbsp; &nbsp; to factor tum poen legum odioque civiuda."];</p>
<p>&nbsp; &nbsp; myTextView.delegate = self;</p>
<p>&nbsp; &nbsp; [self.view addSubview:myTextView];</p>
<p>}</p>
<p>Implement the textView Delegates in ViewController.m</p>
<p>#pragma mark - Text View delegates</p>
<p>-(BOOL)textView:(UITextView *)textView shouldChangeTextInRange:</p>
<p>&nbsp;(NSRange)range replacementText:(NSString *)text{</p>
<p>&nbsp; &nbsp; if ([text isEqualToString:@"\n"]) {</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; [textView resignFirstResponder];</p>
<p>&nbsp; &nbsp; }</p>
<p>&nbsp; &nbsp; return YES;</p>
<p>}</p>
<p>-(void)textViewDidBeginEditing:(UITextView *)textView{</p>
<p>&nbsp; &nbsp; NSLog(@"Did begin editing");</p>
<p>}</p>
<p>-(void)textViewDidChange:(UITextView *)textView{</p>
<p>&nbsp; &nbsp; NSLog(@"Did Change");</p>
<p>}</p>
<p>-(void)textViewDidEndEditing:(UITextView *)textView{</p>
<p>&nbsp; &nbsp; NSLog(@"Did End editing");</p>
<p>}</p>
<p>-(BOOL)textViewShouldEndEditing:(UITextView *)textView{</p>
<p>&nbsp; &nbsp; [textView resignFirstResponder];</p>
<p>&nbsp; &nbsp; return YES;</p>
<p>}</p>
<p>Update viewDidLoad in ViewController.m as follows</p>
<p>(void)viewDidLoad</p>
<p>{</p>
<p>&nbsp;&nbsp; [super viewDidLoad];</p>
<p>&nbsp;&nbsp; [self addTextView];</p>
<p>}</p>
<p>Output</p>
<p>When we run the application, we'll get the following output &minus;</p>
<p>image</p>
<p>&nbsp;Navigation View and Tab Bars</p>
<h3>Web View</h3>
<p>A web view displays a website on the device&rsquo;s screen. Mobile Safari is a prime example. Safari uses all kinds of bars and buttons to interact with the view.</p>
<p>1. Create a new Single View Application.</p>
<p>2. Name it WebView. Also select Universal, check Use Storyboard&nbsp;and Use Automatic Reference Counting.</p>
<p>Storyboard is a new way to layout you app all in one file rather than using multiple XIB files. If you do not check Use Storyboard, it&rsquo;ll use the old fashioned XIBs.</p>
<p>3. Choose a location, and click Create.</p>
<p>You&rsquo;ll notice in the list of files on the left that we have (2) files called ViewController. However, they each have a different extention: <strong>.h</strong>&nbsp;and&nbsp;<strong>.m</strong>.</p>
<p>The .h file is the Header file</p>
<p>The .m file is the Implementation file&nbsp;</p>
<p>4. Click on Main_iPhone.storyboard.</p>
<p>You&rsquo;ll see this to the right:</p>
<p>5.&nbsp;Set your buttons on the top-right so they look like this.</p>
<p>On the right-bottom of Xcode, you will see a list of Objects.</p>
<p>6. Scroll down until you find the&nbsp;Web View&nbsp;object.</p>
<p>7. Click and drag the Web View object to our View.</p>
<p>8. If you do not see this bar (View Controller Scene) on the left side of the edit area,</p>
<p>Then click this little arrow near the bottom of your screen.</p>
<p>9.&nbsp;In the View Controller Scene, click on Web View.</p>
<p>10. At the top of the right bar, make it look like this.</p>
<p><strong>Scales Page To Fit</strong> will automatically scale the website that is inserted into the view to show the entire site rather than a zoomed in view.</p>
<p>11. Repeat steps 6. thru 10. for the&nbsp;MainStoryboard_iPad.storyboard file. The iPad editor could be rather large, but you can zoom out my click the magnifying glass with the minus symbol on the bottom right of the editor screen.</p>
<p>&nbsp;</p>
<p>12.&nbsp;Set your buttons on the top-right so they look like this.</p>
<p>&nbsp;</p>
<p>13. On the left bar, click on&nbsp;MainStoryboard_iPhone.storyboard.</p>
<p>You should now see the iPhone edit screen on the left and the ViewController.h file on the right.</p>
<p>14. While holding down the Control key, click and drag the Web View&nbsp;from the&nbsp;View Controller Scene to the ViewController.h edit screen, placing it just below the @interface line.</p>
<p>When you release, you should see this box.</p>
<p>15. In the name section, type in viewWeb&nbsp;</p>
<p>The following line of code will automatically be added in the .h file. Several other lines are automatically added to the .m file as well.</p>
<p>Now we need to link the Web View on the iPad.</p>
<p>16. On the left bar, click on&nbsp;MainStoryboard_iPad.storyboard.</p>
<p>17. We&rsquo;re going to click and drag the web view to the ViewController.h file just like we did last time, but instead of creating a new line, we going to drag to the existing line.</p>
<p>And iPad is now linked. So let&rsquo;s finally write some code.</p>
<p>18. Change the buttons at the top right to look like this.</p>
<p>19. In the File View, click on ViewController.m.</p>
<p>20.&nbsp;In the viewDidLoad method, add the following code (in blue).</p>
<p>- (void)viewDidLoad {</p>
<p>&nbsp; &nbsp; [super viewDidLoad];</p>
<p>&nbsp; &nbsp; NSString *fullURL = @"http://conecode.com";</p>
<p>&nbsp; &nbsp; NSURL *url = [NSURL URLWithString:fullURL];</p>
<p>&nbsp; &nbsp; NSURLRequest *requestObj = [NSURLRequest requestWithURL:url];</p>
<p>&nbsp; &nbsp; [_viewWeb loadRequest:requestObj];</p>
<p>}</p>
<p><strong>NSString *fullURL = @&rdquo;http://conecode.com&rdquo;;</strong> We&rsquo;re making a string called fullURL and setting it to the website we want our web view to load.&nbsp;</p>
<p><strong>NSURL *url = [NSURL URLWithString:fullURL];</strong> This tells the program that the text is actually a web address, or URL. It is now a URL object called url.</p>
<p><strong>NSURLRequest *requestObj = [NSURLRequest requestWithURL:url];</strong> This tells the program what we&rsquo;re going to do with the URL object. We&rsquo;re going to request the URL. It is now a request object called requestObj.</p>
<p><strong>[_viewWeb loadRequest:requestObj];</strong> Finally, we&rsquo;re going to load the request into our Web View that we called viewWeb earlier.</p>
<p>That&rsquo;s it, we&rsquo;re done.</p>
<p>21. Now just test it by selecting iPad Simulator and then the Run button. And the same with iPhone Simulator.</p>