<div class="page" title="Page 2">
<div class="layoutArea">
<div class="column">
<h2><span style="color: #008080;">The View Hierarchy</span></h2>
<p>When you design your app, it&rsquo;s important to know what kind of view to use for what purpose. For example, the kind of view you use to gather input text from a user, such as a text field, is different from what you might use to display static text, such as a label. Apps that use UIKit views for drawing are easy to create because you can assemble a basic interface quickly. A UIKit view object is an instance of the UIView class or one of its subclasses. The UIKit framework provides many types of views to help present and organise data.&nbsp;</p>
<p>Although each view has its own specific function, UIKit views can be grouped into seven general categories:&nbsp;</p>
<table style="height: 306px;" width="541" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="middle">
<p><strong>Category&nbsp;</strong></p>
</td>
<td valign="middle">
<p><strong>Purpose&nbsp;</strong></p>
</td>
<td valign="middle">
<p><strong>Examples&nbsp;</strong></p>
</td>
</tr>
<tr>
<td valign="middle">
<p>Content&nbsp;</p>
</td>
<td valign="middle">
<p>Display a particular type of content, such as an image or text.&nbsp;</p>
</td>
<td valign="middle">
<p>Image view, label&nbsp;</p>
</td>
</tr>
<tr>
<td valign="middle">
<p>Collections&nbsp;</p>
</td>
<td valign="middle">
<p>Display collections or groups of views.&nbsp;</p>
</td>
<td valign="middle">
<p>Collection view, table view&nbsp;</p>
</td>
</tr>
<tr>
<td valign="middle">
<p>Controls&nbsp;</p>
</td>
<td valign="middle">
<p>Perform actions or display information.&nbsp;</p>
</td>
<td valign="middle">
<p>Button, slider, switch&nbsp;</p>
</td>
</tr>
<tr>
<td valign="middle">
<p>Bars&nbsp;</p>
</td>
<td valign="middle">
<p>Navigate, or perform actions.&nbsp;</p>
</td>
<td valign="middle">
<p>Toolbar, navigation bar, tab bar&nbsp;</p>
</td>
</tr>
<tr>
<td valign="middle">
<p>Input&nbsp;</p>
</td>
<td valign="middle">
<p>Receive user input text.&nbsp;</p>
</td>
<td valign="middle">
<p>Search bar, text view&nbsp;</p>
</td>
</tr>
<tr>
<td valign="middle">
<p>Containers&nbsp;</p>
</td>
<td valign="middle">
<p>Serve as containers for other views.&nbsp;</p>
</td>
<td valign="middle">
<p>View, scroll view&nbsp;</p>
</td>
</tr>
<tr>
<td valign="middle">
<p>Modal&nbsp;</p>
</td>
<td valign="middle">
<p>Interrupt the regular flow of the app to allow a user perform some kind of action.&nbsp;</p>
</td>
<td valign="middle">
<p>Action sheet, alert view&nbsp;</p>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<p>You can assemble views graphically using Interface Builder. <strong>Interface Builder </strong>provides a library of the standard views, controls, and other objects that you need to build your interface. After dragging these objects from the library, you drop them onto the canvas and arrange them in any way you want. Next, use inspectors to configure those objects before saving them in a storyboard. You see the results immediately, without the need to write code, build, and run your app.&nbsp;</p>
<p>The UIKit framework provides standard views for presenting many types of content, but you can also define your own custom views by subclassing UIView (or its descendants). A custom view is a subclass of UIView in which you handle all of the drawing and event-handling tasks yourself.</p>