<div class="page" title="Page 2">
<div class="layoutArea">
<div class="column">
<h2><span style="color: #008080;">The View Hierarchy</span></h2>
<p>When you design your app, it&rsquo;s important to know what kind of view to use for what purpose. For example, the kind of view you use to gather input text from a user, such as a text field, is different from what you might use to display static text, such as a label. Apps that use UIKit views for drawing are easy to create because you can assemble a basic interface quickly. A UIKit view object is an instance of the UIView class or one of its subclasses. The UIKit framework provides many types of views to help present and organise data.&nbsp;</p>
<p>Although each view has its own specific function, UIKit views can be grouped into seven general categories:&nbsp;</p>
<table style="height: 306px;" width="541" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="middle">
<p><strong>Category&nbsp;</strong></p>
</td>
<td valign="middle">
<p><strong>Purpose&nbsp;</strong></p>
</td>
<td valign="middle">
<p><strong>Examples&nbsp;</strong></p>
</td>
</tr>
<tr>
<td valign="middle">
<p>Content&nbsp;</p>
</td>
<td valign="middle">
<p>Display a particular type of content, such as an image or text.&nbsp;</p>
</td>
<td valign="middle">
<p>Image view, label&nbsp;</p>
</td>
</tr>
<tr>
<td valign="middle">
<p>Collections&nbsp;</p>
</td>
<td valign="middle">
<p>Display collections or groups of views.&nbsp;</p>
</td>
<td valign="middle">
<p>Collection view, table view&nbsp;</p>
</td>
</tr>
<tr>
<td valign="middle">
<p>Controls&nbsp;</p>
</td>
<td valign="middle">
<p>Perform actions or display information.&nbsp;</p>
</td>
<td valign="middle">
<p>Button, slider, switch&nbsp;</p>
</td>
</tr>
<tr>
<td valign="middle">
<p>Bars&nbsp;</p>
</td>
<td valign="middle">
<p>Navigate, or perform actions.&nbsp;</p>
</td>
<td valign="middle">
<p>Toolbar, navigation bar, tab bar&nbsp;</p>
</td>
</tr>
<tr>
<td valign="middle">
<p>Input&nbsp;</p>
</td>
<td valign="middle">
<p>Receive user input text.&nbsp;</p>
</td>
<td valign="middle">
<p>Search bar, text view&nbsp;</p>
</td>
</tr>
<tr>
<td valign="middle">
<p>Containers&nbsp;</p>
</td>
<td valign="middle">
<p>Serve as containers for other views.&nbsp;</p>
</td>
<td valign="middle">
<p>View, scroll view&nbsp;</p>
</td>
</tr>
<tr>
<td valign="middle">
<p>Modal&nbsp;</p>
</td>
<td valign="middle">
<p>Interrupt the regular flow of the app to allow a user perform some kind of action.&nbsp;</p>
</td>
<td valign="middle">
<p>Action sheet, alert view&nbsp;</p>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<p>You can assemble views graphically using Interface Builder. <strong>Interface Builder </strong>provides a library of the standard views, controls, and other objects that you need to build your interface. After dragging these objects from the library, you drop them onto the canvas and arrange them in any way you want. Next, use inspectors to configure those objects before saving them in a storyboard. You see the results immediately, without the need to write code, build, and run your app.&nbsp;</p>
<p>The UIKit framework provides standard views for presenting many types of content, but you can also define your own custom views by subclassing UIView (or its descendants). A custom view is a subclass of UIView in which you handle all of the drawing and event-handling tasks yourself.</p>
<h2><span style="color: #008080;">Containers</span></h2>
<p><strong>Adding an iOS Container View in Xcode</strong></p>
<p>A container view allows you to create a reusable component that all of your view controllers can share. The containers are easily edited with the storyboard editor of Xcode. &nbsp;Plus the reusable component is also backed by the power of a separate child view controller.</p>
<p>Before container views were introduced, we had to create reusable views using UIViews stored in xibs.&nbsp;</p>
<p>The example app has just two view controllers, and created a container view that is shared between them.</p>
<p>image</p>
<p>The first thing to do is find the container view in the object library of Xcode and drag it onto my first view controller. I find it easiest to filter the object library for the thing I am looking for.</p>
<p>image</p>
<p>After dragging the container view, constrain it to have the size and position you want in your view controller. You will see that the child view controller changes size automatically when you constrain the container view in the view controller. I added a blue background and a label called &ldquo;My Component&rdquo; to the child view controller of the container so you can easily see it. You will also see a special segue, called an embed segue, is added that links the container view to the child view controller of your component.</p>
<p>Now let&rsquo;s reuse our component in another view. To do this add another container view in the second view controller. The second container view should have the same size and position of the first one, so that your users will not get confused by the component moving around when you transition.&nbsp;</p>
<p>image</p>
<p>We will not need the child view controller that was automatically added when you added the container view. Select it and delete it so that you are only left with an empty container view that is not linked to a child view controller. The next step is to link the container view to our child view controller that we already created before. Hold the Ctrl key and drag with the mouse from the container view to the child view controller. Now add an embed segue.</p>
<p>image</p>
<p>That should do it. You now have a child view controller that is shared among two view controllers. You can add this child view controller to as many view controllers as you want. Here is what the finished app looks like.</p>
<p>image</p>
<h2><span style="color: #008080;">Controls</span></h2>
<h3><strong>Introduction to Controls&nbsp;</strong></h3>
<p>A <strong>control </strong>is a user interface object such as a button, slider, or switch that users manipulate to interact with content, provide input, navigate within an app, and perform other actions that you define. Controls provide a way for your code to receive messages from the user interface.&nbsp;</p>
<p>When a user interacts with a control, a control event is created. A <strong>control event </strong>represents various physical gestures that users can make on controls, such as lifting a finger from a control, dragging a finger onto a control, and touching down within a text field.&nbsp;</p>
<p>There are three general categories of event types:&nbsp;</p>
<p><strong>Touch and drag events. </strong>Touch and drag events occur when a user interacts with a control with a touch or drag. There are several available touch event stages. When a user initially touches a finger on a button, for example, the Touch Down Inside event is triggered; if the user drags out of the button, the respective drag events are triggered. Touch Up Inside is sent when the user lifts a finger off the button while still within the bounds of the button&rsquo;s edges. If the user has dragged a finger outside the button before lifting the finger, effectively canceling the touch, the Touch Up Outside event is triggered.&nbsp;</p>
<p><strong>Editing events. </strong>Editing events occur when a user edits a text field.</p>
<p><strong>Value-changed events. </strong>Value-changed events occur when a user manipulates a control, causing it to emit a series of different values.&nbsp;</p>
<p>As you define the interactions, know the action that&rsquo;s associated with every control in your app and then make that control&rsquo;s purpose obvious to users in your interface.&nbsp;</p>
<h3><strong>UISegmented Controls&nbsp;</strong></h3>
<p>A UISegmentedControl object is a horizontal control made of multiple segments, each segment functioning as a discrete button. A segmented control affords a compact means to group together a number of controls.</p>
<p><strong>Overview</strong></p>
<p>A segmented control can display a title (an NSString object) or an image (UIImage object). The UISegmentedControl object automatically resizes segments to fit proportionally within their superview unless they have a specific width set. When you add and remove segments, you can request that the action be animated with sliding and fading effects.</p>
<p>UISegmentedControl is a class from UIKit in Apple iOS framework. A UISegmentedControl object is a horizontal control made of multiple segments, each segment functioning as a discrete button.</p>
<p>A UISegmentedControl object is a horizontal control made of multiple segments, each segment functioning as a discrete button. A segmented control affords a compact means to group together a number of controls.</p>
<p>A segmented control can display a title (an NSString object) or an image (UIImage object). The UISegmentedControl object automatically resizes segments to fit proportionally within their superview unless they have a specific width set. When you add and remove segments, you can request that the action be animated with sliding and fading effects.</p>
<p>You register the target-action methods for a segmented control using the UIControlEventValueChanged constant as shown below.</p>
<p>segmentedControl.addTarget(self, action: "action:", forControlEvents: .ValueChanged);</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; [segmentedControl addTarget:self</p>
<p>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; action:@selector(action:)</p>
<p>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; forControlEvents:UIControlEventValueChanged];</p>
<p>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</p>
<p>If you set a segmented control to have a momentary style, a segment does&rsquo;nt show itself as selected when the user touches it. The disclosure button is always momentary and does&rsquo;nt affect the actual selection.</p>
<h2><span style="color: #008080;">Text and Web Views</span></h2>
<h3><span style="color: #008080;">Text View</span></h3>
<p>Use of Text View</p>
<p>Text View is used for displaying multi line of scrollable text, which is optionally editable.</p>
<p>Important Properties</p>
<ul>
<li>dataDetectorTypes</li>
<li>delegate</li>
<li>editable</li>
<li>inputAccessoryView</li>
<li>inputView</li>
<li>text</li>
<li>textAlignment</li>
<li>textColor</li>
</ul>
<p>Important Delegate Methods</p>
<p>-(void)textViewDidBeginEditing:(UITextView *)textView</p>
<p>-(void)textViewDidEndEditing:(UITextView *)textView</p>
<p>-(void)textViewDidChange:(UITextView *)textView</p>
<p>-(BOOL)textViewShouldEndEditing:(UITextView *)textView</p>
<p>Add a Custom Method addTextView</p>
<p>-(void)addTextView{</p>
<p>&nbsp; &nbsp; myTextView = [[UITextView alloc]initWithFrame:</p>
<p>&nbsp; &nbsp; CGRectMake(10, 50, 300, 200)];</p>
<p>&nbsp; &nbsp; [myTextView setText:@"Lorem ipsum dolor sit er elit lamet, consectetaur</p>
<p>&nbsp; &nbsp; cillium adipisicing pecu, sed do eiusmod tempor incididunt ut labore et&nbsp;</p>
<p>&nbsp; &nbsp; dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation&nbsp;</p>
<p>&nbsp; &nbsp; ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure</p>
<p>&nbsp; &nbsp; dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat&nbsp;</p>
<p>&nbsp; &nbsp; nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in&nbsp;</p>
<p>&nbsp; &nbsp; culpa qui officia deserunt mollit anim id est laborum. Nam liber te&nbsp;</p>
<p>&nbsp; &nbsp; conscient to factor tum poen legum odioque civiuda.</p>
<p>&nbsp; &nbsp; Lorem ipsum dolor sit er elit lamet, consectetaur cillium adipisicing</p>
<p>&nbsp; &nbsp; pecu, sed do eiusmod tempor incididunt ut labore et dolore magna aiqua.&nbsp;</p>
<p>&nbsp; &nbsp; Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi&nbsp;</p>
<p>&nbsp; &nbsp; aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit&nbsp;</p>
<p>&nbsp; &nbsp; in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
<p>&nbsp; &nbsp; Excepteur sint occaecat cupidatat non proident, sunt in culpa</p>
<p>&nbsp; &nbsp; qui officia deserunt mollit anim id est laborum. Nam liber te conscient</p>
<p>&nbsp; &nbsp; to factor tum poen legum odioque civiuda."];</p>
<p>&nbsp; &nbsp; myTextView.delegate = self;</p>
<p>&nbsp; &nbsp; [self.view addSubview:myTextView];</p>
<p>}</p>
<p>Implement the textView Delegates in ViewController.m</p>
<p>#pragma mark - Text View delegates</p>
<p>-(BOOL)textView:(UITextView *)textView shouldChangeTextInRange:</p>
<p>&nbsp;(NSRange)range replacementText:(NSString *)text{</p>
<p>&nbsp; &nbsp; if ([text isEqualToString:@"\n"]) {</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; [textView resignFirstResponder];</p>
<p>&nbsp; &nbsp; }</p>
<p>&nbsp; &nbsp; return YES;</p>
<p>}</p>
<p>-(void)textViewDidBeginEditing:(UITextView *)textView{</p>
<p>&nbsp; &nbsp; NSLog(@"Did begin editing");</p>
<p>}</p>
<p>-(void)textViewDidChange:(UITextView *)textView{</p>
<p>&nbsp; &nbsp; NSLog(@"Did Change");</p>
<p>}</p>
<p>-(void)textViewDidEndEditing:(UITextView *)textView{</p>
<p>&nbsp; &nbsp; NSLog(@"Did End editing");</p>
<p>}</p>
<p>-(BOOL)textViewShouldEndEditing:(UITextView *)textView{</p>
<p>&nbsp; &nbsp; [textView resignFirstResponder];</p>
<p>&nbsp; &nbsp; return YES;</p>
<p>}</p>
<p>Update viewDidLoad in ViewController.m as follows</p>
<p>(void)viewDidLoad</p>
<p>{</p>
<p>&nbsp;&nbsp; [super viewDidLoad];</p>
<p>&nbsp;&nbsp; [self addTextView];</p>
<p>}</p>
<p>Output</p>
<p>When we run the application, we'll get the following output &minus;</p>
<p>image</p>
<p>&nbsp;Navigation View and Tab Bars</p>
<h3>Web View</h3>
<p>A web view displays a website on the device&rsquo;s screen. Mobile Safari is a prime example. Safari uses all kinds of bars and buttons to interact with the view.</p>
<p>1. Create a new Single View Application.</p>
<p>2. Name it WebView. Also select Universal, check Use Storyboard&nbsp;and Use Automatic Reference Counting.</p>
<p>Storyboard is a new way to layout you app all in one file rather than using multiple XIB files. If you do not check Use Storyboard, it&rsquo;ll use the old fashioned XIBs.</p>
<p>3. Choose a location, and click Create.</p>
<p>You&rsquo;ll notice in the list of files on the left that we have (2) files called ViewController. However, they each have a different extention: <strong>.h</strong>&nbsp;and&nbsp;<strong>.m</strong>.</p>
<p>The .h file is the Header file</p>
<p>The .m file is the Implementation file&nbsp;</p>
<p>4. Click on Main_iPhone.storyboard.</p>
<p>You&rsquo;ll see this to the right:</p>
<p>5.&nbsp;Set your buttons on the top-right so they look like this.</p>
<p>On the right-bottom of Xcode, you will see a list of Objects.</p>
<p>6. Scroll down until you find the&nbsp;Web View&nbsp;object.</p>
<p>7. Click and drag the Web View object to our View.</p>
<p>8. If you do not see this bar (View Controller Scene) on the left side of the edit area,</p>
<p>Then click this little arrow near the bottom of your screen.</p>
<p>9.&nbsp;In the View Controller Scene, click on Web View.</p>
<p>10. At the top of the right bar, make it look like this.</p>
<p><strong>Scales Page To Fit</strong> will automatically scale the website that is inserted into the view to show the entire site rather than a zoomed in view.</p>
<p>11. Repeat steps 6. thru 10. for the&nbsp;MainStoryboard_iPad.storyboard file. The iPad editor could be rather large, but you can zoom out my click the magnifying glass with the minus symbol on the bottom right of the editor screen.</p>
<p>&nbsp;</p>
<p>12.&nbsp;Set your buttons on the top-right so they look like this.</p>
<p>&nbsp;</p>
<p>13. On the left bar, click on&nbsp;MainStoryboard_iPhone.storyboard.</p>
<p>You should now see the iPhone edit screen on the left and the ViewController.h file on the right.</p>
<p>14. While holding down the Control key, click and drag the Web View&nbsp;from the&nbsp;View Controller Scene to the ViewController.h edit screen, placing it just below the @interface line.</p>
<p>When you release, you should see this box.</p>
<p>15. In the name section, type in viewWeb&nbsp;</p>
<p>The following line of code will automatically be added in the .h file. Several other lines are automatically added to the .m file as well.</p>
<p>Now we need to link the Web View on the iPad.</p>
<p>16. On the left bar, click on&nbsp;MainStoryboard_iPad.storyboard.</p>
<p>17. We&rsquo;re going to click and drag the web view to the ViewController.h file just like we did last time, but instead of creating a new line, we going to drag to the existing line.</p>
<p>And iPad is now linked. So let&rsquo;s finally write some code.</p>
<p>18. Change the buttons at the top right to look like this.</p>
<p>19. In the File View, click on ViewController.m.</p>
<p>20.&nbsp;In the viewDidLoad method, add the following code (in blue).</p>
<p>- (void)viewDidLoad {</p>
<p>&nbsp; &nbsp; [super viewDidLoad];</p>
<p>&nbsp; &nbsp; NSString *fullURL = @"http://conecode.com";</p>
<p>&nbsp; &nbsp; NSURL *url = [NSURL URLWithString:fullURL];</p>
<p>&nbsp; &nbsp; NSURLRequest *requestObj = [NSURLRequest requestWithURL:url];</p>
<p>&nbsp; &nbsp; [_viewWeb loadRequest:requestObj];</p>
<p>}</p>
<p><strong>NSString *fullURL = @&rdquo;http://conecode.com&rdquo;;</strong> We&rsquo;re making a string called fullURL and setting it to the website we want our web view to load.&nbsp;</p>
<p><strong>NSURL *url = [NSURL URLWithString:fullURL];</strong> This tells the program that the text is actually a web address, or URL. It is now a URL object called url.</p>
<p><strong>NSURLRequest *requestObj = [NSURLRequest requestWithURL:url];</strong> This tells the program what we&rsquo;re going to do with the URL object. We&rsquo;re going to request the URL. It is now a request object called requestObj.</p>
<p><strong>[_viewWeb loadRequest:requestObj];</strong> Finally, we&rsquo;re going to load the request into our Web View that we called viewWeb earlier.</p>
<p>That&rsquo;s it, we&rsquo;re done.</p>
<p>21. Now just test it by selecting iPad Simulator and then the Run button. And the same with iPhone Simulator.</p>
<h2><span style="color: #008080;">Alert Views and Action Sheets</span></h2>
<h3><strong>UIAlertView - Alerting the Old Way</strong></h3>
<p>The code snippet below is all it takes to setup and present an alert view with cancel and OK buttons:</p>
<p>UIAlertView *alertView = [[UIAlertView alloc]</p>
<p>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; initWithTitle:@"DefaultStyle"&nbsp;</p>
<p>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; message:@"the default alert view style"</p>
<p>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; delegate:self&nbsp;</p>
<p>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; cancelButtonTitle:@"Cancel"&nbsp;</p>
<p>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; otherButtonTitles:@"OK", nil];</p>
<p>[alertView show];</p>
<p>The introduction of alert view styles in iOS 5 added a limited ability to create custom alerts by setting the alertViewStyle property. This extended the plain default button-only style to allow plain text input, secure text input or even a login and password input alert:</p>
<p>The UIAlertViewDelegate protocol has callback methods for the button actions and also a method (alertViewShouldEnableOtherButton:) called when a text field changes to allow buttons to be dynamically enabled/disabled.</p>
<p><strong>UIAlertController - Adaptive Alerting</strong></p>
<p>In the new adaptive world of iOS 8 the UIAlertController is a functionally identical, block-based replacement for both UIAlertView and UIActionSheet. Switching between an alert or action sheet is done by setting the preferred style when creating the controller.</p>
<p><strong>A Simple Alert</strong></p>
<p>The creation of the basic UIAlertController is very similar to creating an UIAlertView (the alertTitle and alertMessage are both NSString&rsquo;s):</p>
<p>UIAlertController *alertController = [UIAlertController</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; alertControllerWithTitle:alertTitle</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; message:alertMessage</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; preferredStyle:UIAlertControllerStyleAlert];</p>
<p>Added action buttons by creating an instance of UIAlertAction which you then add to the controller. The UIAlertAction consists of a title string, style and a block to execute when the user selects the action. The three possible choices for the UIAlertActionStyle cover default, cancel and destructive actions. To reproduce cancel/ok action sheet we just need to create and add the two alert actions:</p>
<p>UIAlertAction *cancelAction = [UIAlertAction&nbsp;</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; actionWithTitle:NSLocalizedString(@"Cancel", @"Cancel action")</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; style:UIAlertActionStyleCancel</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; handler:^(UIAlertAction *action)</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; NSLog(@"Cancel action");</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; }];</p>
<p>UIAlertAction *okAction = [UIAlertAction&nbsp;</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; actionWithTitle:NSLocalizedString(@"OK", @"OK action")</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; style:UIAlertActionStyleDefault</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; handler:^(UIAlertAction *action)</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; NSLog(@"OK action");</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; }];</p>
<p>[alertController addAction:cancelAction];</p>
<p>[alertController addAction:okAction];</p>
<p>[self presentViewController:alertController animated:YES completion:nil];</p>
<p>&nbsp;The display order for the buttons depends on the order they are added to the alert controller. You can only have one cancel action, if you add a second you will get a runtime exception:</p>
<p>*** Terminating app due to uncaught exception &lsquo;NSInternalInconsistencyException&rsquo;, reason: &lsquo;UIAlertController can only have one action with a style of UIAlertActionStyleCancel&rsquo;</p>
<p><strong>Destructive actions</strong></p>
<p>Here is a quick example of the third alert action style for destructive actions. The code is the same as before except that we add a &ldquo;reset&rdquo; button instead of the &ldquo;ok&rdquo; button:</p>
<p>UIAlertAction *resetAction = [UIAlertAction</p>
<p>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; actionWithTitle:NSLocalizedString(@"Reset", @"Reset action")</p>
<p>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; style:UIAlertActionStyleDestructive</p>
<p>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; handler:^(UIAlertAction *action)</p>
<p>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {</p>
<p>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; NSLog(@"Reset action");</p>
<p>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; }];</p>
<p>[alertController addAction:resetAction];</p>
<p>[alertController addAction:cancelAction];</p>
<p>[self presentViewController:alertController animated:YES completion:nil];</p>
<p>&nbsp;<strong>Text Input Alerts</strong></p>
<p>We can add an arbitrary number of UITextField objects to the alert and use all of the standard UITextField configuration options. When you add the text field to the alert controller you specify a block that is used to configure the text field.</p>
<p>UIAlertController *alertController = [UIAlertController</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; alertControllerWithTitle:alertTitle</p>
<p>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; message:alertMessage</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; preferredStyle:UIAlertControllerStyleAlert];</p>
<p>[alertController addTextFieldWithConfigurationHandler:^(UITextField *textField)</p>
<p>&nbsp;{</p>
<p>&nbsp;&nbsp; textField.placeholder = NSLocalizedString(@"LoginPlaceholder", @"Login");</p>
<p>&nbsp;}];</p>
<p>[alertController addTextFieldWithConfigurationHandler:^(UITextField *textField)</p>
<p>&nbsp;{</p>
<p>&nbsp;&nbsp; textField.placeholder = NSLocalizedString(@"PasswordPlaceholder", @"Password");</p>
<p>&nbsp;&nbsp; textField.secureTextEntry = YES;</p>
<p>&nbsp;}];</p>
<p>The values of the text field can be retrieved in the OK action handler:</p>
<p>UIAlertAction *okAction = [UIAlertAction</p>
<p>&nbsp;actionWithTitle:NSLocalizedString(@"OK", @"OK action")</p>
<p>style:UIAlertActionStyleDefault</p>
<p>handler:^(UIAlertAction *action)</p>
<p>&nbsp; {</p>
<p>&nbsp; &nbsp; UITextField *login = alertController.textFields.firstObject;</p>
<p>&nbsp; &nbsp; UITextField *password = alertController.textFields.lastObject;</p>
<p>&nbsp; &nbsp; ...</p>
<p>&nbsp; }];</p>
<p>&nbsp;Things get a little more complicated if we want to reproduce the behaviour of the old UIAlertView delegate method alertViewShouldEnableOtherButton:. Assume we only want to enable the OK button if the user has entered at least 3 characters in the login field. There is no equivalent delegate method for UIAlertController so we need to detect changes ourselves by adding a target action to the text field for the UIControlEventEditingChanged event:</p>
<p>[alertController addTextFieldWithConfigurationHandler:^(UITextField *textField)</p>
<p>&nbsp;{</p>
<p>&nbsp;&nbsp; &nbsp; textField.placeholder = NSLocalizedString(@"LoginPlaceholder", @"Login");</p>
<p>&nbsp;&nbsp; &nbsp; [textField addTarget:self</p>
<p>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; action:@selector(alertTextFieldDidChange:)</p>
<p>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; forControlEvents:UIControlEventEditingChanged];</p>
<p>&nbsp;}];</p>
<p>Before presenting the alert controller we can disable the OK action:</p>
<p>okAction.enabled = NO;</p>
<p>Then in the action method we can check the login text field for content before changing the state back to enabled:</p>
<p>- (void)alertTextFieldDidChange:(UITextField *)sender</p>
<p>{</p>
<p>&nbsp; UIAlertController *alertController = (UIAlertController *)self.presentedViewController;</p>
<p>&nbsp; if (alertController)</p>
<p>&nbsp; {</p>
<p>&nbsp; &nbsp; UITextField *login = alertController.textFields.firstObject;</p>
<p>&nbsp; &nbsp; UIAlertAction *okAction = alertController.actions.lastObject;</p>
<p>&nbsp; &nbsp; okAction.enabled = login.text.length &gt; 2;</p>
<p>&nbsp; }</p>
<p>}</p>
<p>The alert view is now presented with the OK button disabled unless there are at least three characters in the login text field:</p>
<h3>&nbsp;<strong>Action Sheet</strong></h3>
<p>The action sheet is used when you need to present the user with a set of choices. Unlike the alert view which is always presented as a modal view the presentation of the action sheet depends on the device size. On an iPhone (compact width) the action sheet rises from the bottom of the screen. On an iPad (regular width) an action sheet is always shown in a popover.</p>
<p>The creation of an action sheet is almost identical to an alert, the only difference being the style:</p>
<p>UIAlertController *alertController = [UIAlertController</p>
<p>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; alertControllerWithTitle:alertTitle</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; message:alertMessage</p>
<p>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; preferredStyle:UIAlertControllerStyleActionSheet];</p>
<p>You add actions the same way as you do for alerts so I will abbreviate the code to add three actions:</p>
<p>UIAlertAction *cancelAction = ...;&nbsp; // UIAlertActionStyleCancel</p>
<p>UIAlertAction *deleteAction = ...;&nbsp; // UIAlertActionStyleDestructive</p>
<p>UIAlertAction *archiveAction = ...; // UIAlertActionStyleDefault</p>
<p>[alertController addAction:cancelAction];</p>
<p>[alertController addAction:deleteAction];</p>
<p>[alertController addAction:archiveAction];</p>
<p>You cannot add text fields to action sheets, if you try it you will get a runtime exception:</p>
<p>*** Terminating app due to uncaught exception &lsquo;NSInternalInconsistencyException&rsquo;, reason: &lsquo;Text fields can only be added to an alert controller of style UIAlertControllerStyleAlert&rsquo;</p>
<p>If we do nothing more and present this on an iPhone/compact width device it works as expected:</p>
<p>[self presentViewController:alertController animated:YES completion:nil];</p>
<p>&nbsp;</p>
<p>The cancel button, if present, is always shown as the bottom of the view regardless of the order it was added to the alert controller.The iOS Human Interface Guidelines recommend that any destructive action is shown first.</p>
<p>There is a problem with this code when used on an iPad or regular width device it creates a runtime exception:</p>
<p>Terminating app due to uncaught exception &lsquo;NSGenericException&rsquo;, reason: &lsquo;UIPopoverPresentationController (&lt;_UIAlertControllerActionSheetRegularPresentationController: 0x7fc619588110&gt;) should have a non-nil sourceView or barButtonItem set before the presentation occurs.&rsquo;</p>
<p>At the time of writing the Apple UICatalog sample code crashes for the same reason when run on an iPad.</p>
<p>As I mentioned before for regular width presentations the action sheet is displayed in a popover. A popover always requires an anchor point which can be a source view or a bar button item. In this case I am using a standard UIButton to trigger the action sheet so I will use it as the anchor point.</p>
<p>A big difference in iOS 8 is that we no longer need to write code to test for the interface idiom. The UIAlertController takes care of adapting to the display environment so we can simply ask it for a popover controller. On an iPhone/compact width device this returns nil. The extra code we need to configure the popover is below:</p>
<p>UIPopoverPresentationController *popover = alertController.popoverPresentationController;</p>
<p>if (popover)</p>
<p>{</p>
<p>&nbsp; &nbsp; popover.sourceView = sender;</p>
<p>&nbsp; &nbsp; popover.sourceRect = sender.bounds;</p>
<p>&nbsp; &nbsp; popover.permittedArrowDirections = UIPopoverArrowDirectionAny;</p>
<p>}</p>
<p>The UIPopoverPresentationController class is also new in iOS 8 and replaces UIPopoverController and for our purposes is functionally equivalent. The action sheet now displays as a popover anchored to the source button:</p>
<p>&nbsp;</p>
<p>Note that the UIAlertController is also smart enough to remove the cancel button when using a popover. A user cancels a popover by touching outside of the popover so it is not required.</p>
<p><strong>Dismissing Alert Controllers</strong></p>
<p>Typically the alert controller is dismissed automatically when the user selects an action. It can also be dismissed programmatically, if required, like any other view controller. One common reason can be to remove the alert or action sheet when the app moves to the background. Assuming we are listening for the UIApplicationDidEnterBackgroundNotification notification we can dismiss any presented view controller in the observer (see the example code for the setup of the observer in viewDidLoad):</p>
<p>- (void)didEnterBackground:(NSNotification *)notification</p>
<p>{</p>
<p>&nbsp; [self.presentedViewController dismissViewControllerAnimated:NO completion:nil];</p>
<p>}</p>
<h2><span style="color: #008080;">Controlling Rotation Behavior</span></h2>
<p>This generally involves deciding which visual components of a window move and which ones resize to accommodate the containing window.</p>
<p>Obviously iOS based devices such as the iPhone do not have windows that the user can resize in the conventional sense that we are used to in the world of desktop applications. The device is, however, sensitive to physical rotation, providing the options for a running application to be displayed in either portrait or landscape mode. Given this capability, it is essential hat an iOS application user interface layout adapt accordingly should you decide to support different device orientations within your application.</p>
<p>Enabling Rotation</p>
<p>The iOS app templates provided by Xcode do not automatically assume that your application will sensibly support rotation. In fact, the opposite is assumed. In order to enable rotation, therefore, it is necessary to make a minor modification to the template code.&nbsp;</p>
<p>When the device detects that it has been rotated to a new orientation a call is made to the shouldAutorotateToInterfaceOrientation method of the view controller instance.&nbsp;</p>
<p>Xcode has placed a template method in our layoutViewController.m file which is currently commented out:</p>
<p>/*</p>
<p>// Override to allow orientations other than the default portrait orientation.</p>
<p>- (BOOL)shouldAutorotateToInterfaceOrientation:(UIInterfaceOrientation)interfaceOrientation {</p>
<p>&nbsp; &nbsp; // Return YES for supported orientations</p>
<p>&nbsp; &nbsp; return (interfaceOrientation == UIInterfaceOrientationPortrait);</p>
<p>}</p>
<p>*/</p>
<p>The method takes as a single argument the new orientation value and returns either true or false depending on whether the application will allow the new orientation change to take place. In the template example above, the method only returns true if the orientation passed to the method is portrait .The full range of supported orientations that can be passed through to this method are as follows:</p>
<ul>
<li>UIInterfaceOrientationPortrait</li>
<li>UIInterfaceOrientationPortraitUpsideDown</li>
<li>UIInterfaceOrientationLandscapeRight</li>
<li>UIInterfaceOrientationLandscapeLeft</li>
</ul>
<p>In order to support all orientations, and for the purposes of this example, simply modify the code in this method to return YES:</p>
<p>// Override to allow orientations other than the default portrait orientation.</p>
<p>- (BOOL)shouldAutorotateToInterfaceOrientation:(UIInterfaceOrientation)interfaceOrientation {</p>
<p>&nbsp; &nbsp; // Return YES for supported orientations</p>
<p>&nbsp; &nbsp; //return (interfaceOrientation == UIInterfaceOrientationPortrait);</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; return YES;</p>
<p>}</p>
<p>Testing Rotation Behavior</p>
<p>If you are testing your iOS applications natively on a physical iPhone to iPod Touch device, you can simply rotate the device to test the behavior of your application. If, on the other hand, you are running the application in the iOS Simulator, you can simulate rotation by selecting the <em>Hardware -&gt; Rotate Left</em> and <em>Hardware -&gt; Rotate Right</em> menu options.&nbsp;</p>
<h2><span style="color: #008080;">View Autosizing</span></h2>
<p>Autosizing allows us to define on a view by view basis how a subview will be resized and positioned relative to the superview in which it is contained. These settings can be defined programmatically in code or from within the Size Inspector of the Interface Builder tool during the user interface design process.</p>
<p>In order to gain an appreciation of the importance of handling orientation changes, save the design and build and run the application. Once the simulator appears, rotate the device by 90⁰. Because we have enabled rotation, the view will rotate to the landscape orientation:</p>
<p>Having rotated the device, only the top button is visible and it is still centered assuming that the device is in portrait mode. The second button is similarly positioned, resulting in it being outside the viewable area of the screen.</p>
<p>In order to ensure the correct layout of the user interface it is necessary to make some changes to the autosize settings of the two buttons. The current settings for a view are accessed from within Interface Builder by selecting the component and displaying the Size Inspector (<em>Tools -&gt; Size Inspector</em> or Command+3). The following figure shows the Size Inspector for the top button in our user interface:</p>
<p>The section of this window that is of interest to us is the area entitled Autosizing and in particular the white box on the left. The outer box represents the superview and the inner box represents the subview that is contained within the superview. Any autosizing settings that are configured on a subview are relative to the superview. Within the subview box are two intersecting lines with arrows at each end. These vertical and horizontal lines indicate whether the height and width of the selected view object should increase or decrease in proportion to size changes in the corresponding superview. A faint dotted line indicates that the currently selected view object is not to resize in relation to the superview. A solid red line, on the other hand, indicates that it should resize proportionally to the parent view. Click on the horizontal line to change it to solid red and see how the width of the red box representing the button grows and shrinks as the containing superview size changes. Similarly, enable resizing for the height of the button and observe how the height of the button also now changes proportionally to the superview:</p>
<p>These two settings correspond to the UIViewAutoResizingFlexibleHeight and UIViewAutoResizingFlexibleWidth autoresizing mask properties.</p>
<p>These struts correspond to the following autoresizing mask values:</p>
<ul>
<li>UIViewAutoResizingFlexibleLeftMargin</li>
<li>UIViewAutoResizingFlexibleRightMargin</li>
<li>UIViewAutoResizingFlexibleTopMargin</li>
<li>UIViewAutoResizingFlexibleBottomMargin</li>
</ul>
<p>In order to modify the resize behavior of the buttons in our example application we want to make sure that both buttons remain centered relative to the width of the superview, so we need to turn off all struts on both buttons. Finally we want the width of the buttons to change in proportion to the width of the superview so need to turn on horizontal resizing for both buttons and vertical resizing off. With these changes made, compiling and running the application should result in the correct layout appearing when the device is rotated:&nbsp;</p>
<h2><span style="color: #008080;">Autolayout</span></h2>
<p>Preparing the Project</p>
<p>Using the Single View Application template, create a new Xcode iPhone application project using AutoLayoutExample as both the project name and class prefix.</p>
<p>Designing the User Interface</p>
<p>Initially, the user interface will simply require two Label views and a second View object. Begin, however, by selecting the Main.storyboard file and selecting the background view canvas. Display the Attributes Inspector in the Utilities panel and change the background color to a light shade of gray.</p>
<p>Drag a Label view from the Object Library and position it so that it is centered horizontally and on the top margin guideline as indicated in Figure 16-1. Drag a second Label view and position it to the left of the first label.</p>
<p>Finally locate the View object in the Object Library. As a shortcut, simply type the word &ldquo;view&rdquo; into the search bar located immediately beneath the Object Library panel (Figure 16-2) to narrow the search criteria and then scroll to find the View object.</p>
<p>Drag and drop the view onto the layout and resize it to fill the space below the two labels with appropriate margins from the outer edges of the screen.</p>
<p>Rotate the canvas display into landscape mode by selecting the view controller by clicking on the status bar of the view (where the battery level is displayed) so that the view is highlighted in blue. Display the Attributes Inspector in the Utilities panel and change the Orientation value under Simulated Metrics to Landscape. Note that the layout does not adapt to the orientation change. Clearly, some constraints are needed.</p>
<p>A number of constraints now need to be added to the layout so that it resizes and positions the views correctly when the device is rotated.</p>
<p>Begin by selecting the view object in the layout and displaying the Pin menu from the toolbar in the bottom right hand corner of the storyboard canvas. In the Spacing to nearest neighbor section of the panel, configure a 20 point spacing constraint on each of the four sides of the view as outlined in Figure 16-4</p>
<p>With the settings entered, click on the Add 4 Constraints button to implement the constraints.</p>
<p>Next, select the right most of the two labels, display the Pin menu and enable the Spacing to nearest neighbor constraint for the top edge of the view. Instead of entering a point value into the spacing field, use the drop down menu to select Use Standard Value. Note that this menu also provides the option to set the constraint to the top edge of the View or to the Top Layout Guide. The top layout guide is the blue dotted line that appears when a view is moved close to the edge of the containing view (the horizontal line in Figure 16-1). For the purposes of this example, leave the Top Layout Guide option selected.</p>
<p>With the label still selected, use the Align menu to constrain the label to the horizontal center of the container.</p>
<p>All that now remains is to establish some constraints between the two labels. Ctrl-click on the left most label and drag the line to the right hand label before releasing the line. From the resulting menu, hold down the Shift key on the keyboard and select the Baseline and Horizontal Spacing options to align the content baselines of the two labels and to add a spacing constraint. With both options selected, hit the keyboard return key to add the constraints.</p>
<p>With the basic constraints implemented, display the Resolve Auto Layout Issues menu and select the option to update all frames in the view controller.</p>
<p>Using the Simulated Metrics once again, rotate the view to Landscape mode and note that the layout now re-organizes to accommodate the orientation change:</p>
<p>Adjusting Constraint Priorities</p>
<p>Up until this point, the layout is behaving correctly using basic constraints with default priorities. We are now, however, going to introduce some problems that cannot be handled adequately by the constraints as they currently stand. With the view still in landscape mode, double click on the left hand label and change the text so that it reads Customer Record:. Using the Attributes Inspector, change the Alignment property so that the text is right aligned.</p>
<p>With the view in landscape mode the label appears correctly positioned. Rotate the view to portrait orientation, however, and the label is clearly being clipped by the left hand edge of the parent view:</p>
<p>Clearly there is some work to be done to make the user interface appear correctly in both orientations. The first step is to consider the constraints that are currently set on the label views. The right hand label has a constraint that forces it to be centered horizontally in the parent view. The left hand label, on the other hand, has a constraint that connects its trailing edge to the leading edge of the second label. The absence of a constraint on the left hand edge of the Customer Record label is resulting in the label being pushed off the screen in portrait mode.</p>
<p>One possible solution to this problem might be to create a new constraint on the Customer Record label that puts some space between the left hand edge of the customer record label and the left hand edge of the parent view. To add this constraint, rotate the view back to landscape so that the label is fully visible, select the Customer Record label, display the Pin menu and establish a standard space constraint between the left hand edge of the view and the nearest neighbor. Before adding the constraint, change the Update Frames option from None to Items of New Constraints so that the frame for the view is updated to reflect the new constraint when it is added.</p>
<p>Now rotate to Portrait mode and note that the label is, unfortunately, now clipped on the right hand edge.</p>
<p>The reason for this problem is that the right hand label contains a constraint which forces it to be centered horizontally within the super view with a priority of 1000. Similarly, the customer record label has constraints that dictate that the leading and trailing edges of the label must be the standard width from the superview and right hand label respectively. Since these also have a priority of 1000, the system has no choice but to clip the label in order to satisfy the constraints. In order for the label to be fully visible, one of these priorities needs to be reduced.</p>
<p>We already know from experience that without the constraint on the leading edge of the customer record label, the left hand edge will be clipped by the superview window when the device is in portrait orientation. Another option is to lower the priority on the space constraint between the two labels. Unfortunately, this will just cause the left hand label to overlap the right hand label within the layout.</p>
<p>The only remaining constraint to experiment with is the horizontal center constraint on the right hand label. Select this label so that the constraints for that view are drawn on the canvas and double click on the horizontal center constraint (the vertical blue line) to display the constraint settings as shown in Figure 16 9. Using the drop down menu, reduce the priority by selecting the Prevent &ldquo;Label &ndash; Customer Record:&rdquo; From Clipping&rdquo; menu option. When this option is selected, Xcode will calculate the optimal priority to ensure the label is not clipped.</p>
<p>As a result of this setting, the label will only be centered when another constraint with a higher priority does not require that the label be moved. As such, the label will be centered when the device is in landscape mode but will be pushed off center when the space is needed by the Customer Record label in portrait orientation.</p>
<p>Testing the Application</p>
<p>Throughout this tutorial, the behavior of the user interface layout in response to orientation changes has been performed using simulated metrics within Xcode. As a full test of the layout, build and run the application either on a physical iPhone device or the iOS Simulator and check that the layout handles device rotation. This involves both a visual check that the views appear as intended and a review of the console to ensure no errors are reported with relation to the auto layout constraints.</p>
<p>Summary</p>
<p>Within this chapter, a sequence of steps have been outlined demonstrating the creation of an application that uses auto layout constraints to design a user interface that responds sensibly to orientation changes of the device. The example also introduced practical examples of the importance of constraint priorities.</p>
<p>Now that the implementation of auto layout constraints in Interface Builder has been covered, the next chapter will begin to explore the creation of constraints in code.</p>
</div>
</div>
</div>