<div class="page" title="Page 2">
<div class="layoutArea">
<div class="column">
<h2><span style="color: #008080;">NSFileManager, NSFileHandle, and NSData</span></h2>
<p>The Foundation Framework provides three classes that are indispensable when it comes to working with files and directories:</p>
<ul>
<li><strong>NSFileManager</strong> - The NSFileManager class can be used to perform basic file and directory operations such as creating, moving, reading and writing files and reading and setting file attributes. In addition, this class provides methods for, amongst other tasks, identifying the current working directory, changing to a new directory, creating directories and listing the contents of a directory.</li>
<li><strong>NSFileHandle</strong> - The NSFileHandle class is provided for performing lower level operations on files, such as seeking to a specific position in a file and reading and writing a file's contents by a specified number of byte chunks and appending data to an existing file. This class will be used extensively in the chapter entitled <a href="http://www.techotopia.com/index.php/Working_with_Files_on_iOS_7">Working with Files on iOS 7</a>.</li>
<li><strong>NSData</strong> - The NSData class provides a useful storage buffer into which the contents of a file may be read, or from which dynamically stored data may be written to a file.</li>
</ul>
<div class="page" title="Page 2">
<div class="layoutArea">
<div class="column">
<h2><span style="color: #008080;">Pathnames in Objective-C</span></h2>
<p>As with Mac OS X, iOS defines pathnames using the standard UNIX convention. As such each component of a path is separated by a forward slash (/). When an application starts, the current working directory is the file system&rsquo;s root directory represented by a single /. From this location, the application must navigate to its own Documents and tmp directories in order to be able to write files to the file system. Path names that begin with a / are said to be absolute path names in that they specify a file system location relative to the root directory. For example, /var/mobile is an absolute path name.</p>
<p>Paths that do not begin with a slash are interpreted to be relative to a current working directory. For example, if the current working directory is /User/demo and the path name is mapdata/local.xml then the file is considered to have an equivalent full, absolute pathname of /User/demo/mapdata/local.xml.</p>
<p>Lets start off by finding walking through the different directories we have access to, and what each directory allows us to do.&nbsp;</p>
<p>The important method here is: <a href="https://developer.apple.com/library/ios/documentation/cocoa/reference/foundation/Miscellaneous/Foundation_Functions/Reference/reference.html#//apple_ref/c/func/NSSearchPathForDirectoriesInDomains">NSSearchPathForDirectoriesInDomains</a>() It takes 3 parameters.&nbsp;</p>
<p>1. For this discussion, we're going to pass in one of two values:</p>
<p>&nbsp; &nbsp; a. NSLibraryDirectory&nbsp;- Use this for saving app files that you do not want to expose to your&nbsp;</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;end users.&nbsp;</p>
<p>&nbsp; &nbsp; b. NSDocumentDirectory&nbsp;- &nbsp;Use this if you want to allow your end users to be able to access &nbsp; &nbsp; &nbsp; &nbsp;</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; files and provide files via iTunes.</p>
<p>2. The next parameter, is the domain in which to search. Again, for the purpose of this post, we're going to use just one value: NSUserDomainMask</p>
<p>3. Finally, whether or not it should resolve the ~. In this case we're going to use YES.&nbsp;</p>
<p>This method will return an Array of paths:&nbsp;</p>
<p>NSArray *paths = NSSearchPathForDirectoriesInDomains(NSLibraryDirectory, NSUserDomainMask, YES);</p>
<p>From this array, we're going to grab the first value. As thats the root path to the directory we're looking for.</p>
<p>NSString* rootPath = paths[0];</p>
<p>Now, that we have our starting point, we can build out the path to access/save the files we want to use. &nbsp;</p>
<p>Working with strings to build paths&nbsp;</p>
<p>The NSString class in objective-c has quite a few helper methods that make path building very easy.&nbsp;</p>
<p>I'll walk you through a few of the most useful ones.&nbsp;</p>
<p>Since we're building a path, you're most likely going to want to add a new path part. For that use:&nbsp;</p>
<p>NSString* path = [rootPath stringByAppendingPathComponent:@"MyDocuments"];</p>
<p>This made our path go from:&nbsp;</p>
<p>/var/mobile/Applications/F29D33C5-D78A-4D72-8A2B-773A6577FE1D/Library/</p>
<p>to&nbsp;</p>
<p>/var/mobile/Applications/F29D33C5-D78A-4D72-8A2B-773A6577FE1D/Library/MyDocuments</p>
<p>Now, say we wanted to add a file name to this:</p>
<p>path = [path stringByAppendingPathComponent:@"MyFile"];</p>
<p>path = [path stringByAppendingPathExtension:@"data"];</p>
<p>The new path now looks like:</p>
<p>/var/mobile/Applications/F29D33C5-D78A-4D72-8A2B-773A6577FE1D/Library/MyDocuments/MyFile.data</p>
<p>Working with strings to read paths&nbsp;</p>
<p>As you can see building a path is pretty simple. Lets take a look at deconstructing a path now:</p>
<p>First, lets look up the extension of a given path:</p>
<p>NSString* ext = [path pathExtension];</p>
<p>If we used the path we created above, this code will return "data".&nbsp;</p>
<p>If you wanted, you could also break down a path into all of it's components:</p>
<p>NSArray* comps = [path pathComponents];</p>
<p>Using the following path, we would get an array with 8 values:</p>
<p>/var/mobile/Applications/F29D33C5-D78A-4D72-8A2B-773A6577FE1D/Library/MyDocuments/MyFile.data</p>
<p>"/" , "var", "mobile", "Applications", "F29D33C5-D78A-4D72-8A2B-773A6577FE1D", "Library", "MyDocuments", and "MyFile.data"</p>
<p>So, if you wanted to get the full file name of a file, it would look something like this:</p>
<p>NSString* fileName = comps[comps.count -1];</p>
<p>Now, say you wanted just the name of the file, without the extension. To do that, you would use the following method on NSString: stringByDeletingPathExension</p>
<p>NSString* nameWithoutExtension = [fileName stringByDeletingPathExtension];</p>
<p>And this of course returns "MyFile"</p>
<h2><span style="color: #008080;">Working with Directories</span></h2>
<p>Obtaining a Reference to the Default NSFileManager Object</p>
<p>The NSFileManager class contains a class method named defaultManager that is used to obtain a reference to the application&rsquo;s default file manager instance:</p>
<p>NSFileManager *filemgr;</p>
<p>filemgr = [NSFileManager defaultManager];</p>
<p>In the above example we have declared a variable named filemgr to point to an object of type NSFileManager, and then requested a pointer to the application&rsquo;s file manager and assigned it to the variable. Having obtained the object reference we can begin to use it to work with files and directories.</p>
<p>Identifying the Current Working Directory</p>
<p>As previously mentioned, when an application first loads, its current working directory is the application&rsquo;s root directory, represented by a / character. The current working directory may be identified at any time through a call to the currentDirectoryPath method of the file manager object. For example, the following code fragment identifies the current working directory:</p>
<p>NSFileManager *filemgr;</p>
<p>NSString *currentPath;</p>
<p>filemgr =[NSFileManager defaultManager];</p>
<p>currentPath = [filemgr currentDirectoryPath];</p>
<p>In this code we declare a new object named filemgr that is an instance of the NSFileManager class and also an NSString object named currentPath to contain the current working directory path. Having created a file manager instance we then call the currentDirectoryPath method of that instance and assign the resulting string to currentPath.</p>
<p>&nbsp;</p>
<p>Identifying the Documents Directory</p>
<p>As previously discussed, each iOS application on a device has its own private Documents and tmp directories into which it is permitted to read and write data. Because the location of these directories is different for each application the only way to find the correct path is to ask iOS. In fact, the exact location will also differ depending on whether the application is running on a physical iPhone or iPad device or in the iOS Simulator. The Documents directory for an application may be identified by making a call to a C function named NSSearchPathForDirectoriesInDomains, passing through an argument (in this case NSDocumentDirectory) indicating that we require the path to the Documents directory. Since this is a C function, as opposed to a method of an Objective-C class, there is no need for us to establish an instance of a Foundation class such as NSFileManager before making the call. That said, the function does return an object in the form of an NSArray containing the results of the request. We can, therefore, obtain the path to the current application&rsquo;s Documents directory as follows:</p>
<p>NSArray *dirPaths;</p>
<p>NSString *docsDir;</p>
<p>dirPaths = NSSearchPathForDirectoriesInDomains(NSDocumentDirectory,&nbsp;</p>
<p>NSUserDomainMask, YES);</p>
<p>docsDir = dirPaths[0];</p>
<p>When executed, the above code will assign the path to the Documents directory to the docsDir string.</p>
<p>When executed within the iOS Simulator environment, the path returned will take the form of:</p>
<p>/Users/&lt;user name&gt;/Library/Application Support</p>
<p>/iPhone Simulator/&lt;sdk version&gt;/Applications/&lt;app id&gt;/Documents</p>
<p>Where &lt;user name&gt; is the name of the user currently logged into the Mac OS X system on which the simulator is running, &lt;sdk version&gt; is the version of the iOS SDK used to compile the application and &lt;app id&gt; is the unique ID of the app, for example:</p>
<p>06A3AEBA-8C34-476E-937F-A27BDD2E450A</p>
<p>Clearly this references a path on your Mac OS X system so feel free to open up a Finder window and explore the file system sandbox areas for your iOS applications. When executed on a physical iOS device, the path returned by the function call will take the following form:</p>
<p>/var/mobile/Applications/&lt;app id&gt;/Documents</p>
<p>Identifying the Temporary Directory</p>
<p>In addition to the Documents directory, iOS applications are also provided with a tmp directory for the storage of temporary files. The path to the current application&rsquo;s temporary directory may be ascertained with a call to the NSTemporaryDirectory C function as follows:</p>
<p>NSString *tmpDir = NSTemporaryDirectory();</p>
<p>Once executed, the string object referenced by tmpDir will contain the path to the temporary directory for the application.</p>
<p>Changing Directory</p>
<p>Having identified the path to the application&rsquo;s document or temporary directory the chances are good that you will need to make that directory the current working directory. The current working directory of a running iOS application can be changed with a call to the change-CurrentDirectoryPath method of an NSFileManager instance. The destination directory path is passed as an argument to the instance method in the form of an NSString object. Note that this method returns a boolean YES or NO result to indicate if the requested directory change was successful or not. A failure result typically indicates either that the specified directory does not exist, or that the application lacks the appropriate access permissions:</p>
<p>NSFileManager *filemgr;</p>
<p>NSArray *dirPaths;</p>
<p>NSString *docsDir;</p>
<p>&nbsp;</p>
<p>filemgr =[NSFileManager defaultManager];</p>
<p>&nbsp;</p>
<p>dirPaths = NSSearchPathForDirectoriesInDomains(NSDocumentDirectory, NSUserDomainMask, YES);</p>
<p>docsDir = dirPaths[0];</p>
<p>&nbsp;</p>
<p>if ([filemgr changeCurrentDirectoryPath: docsDir] == NO)</p>
<p>{</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; // Directory does not exist &ndash; take appropriate action</p>
<p>}</p>
<p>In the above example, the path to the Documents directory is identified and then used as an argument to the changeCurrentDirectoryPath method of the file manager object to change the current working directory to that location. &lt;google&gt;ADSDAQBOX_FLOW&lt;/google&gt;</p>
<p>Creating a New Directory</p>
<p>A new directory on an iOS device is created using the createDirectoryAtPath instance method of the NSFileManager class, once again passing through the pathname of the new directory as an argument and returning a boolean success or failure result. The second argument to this method defines whether any intermediate directory levels should be created automatically. For example, if we wanted to create a directory with the path /var/mobile/Applications/&lt;app id&gt;/Documents/mydata/maps and the mydata subdirectory does not yet exist, setting the withIntermediateDirectories argument to YES will cause this directory to be created automatically before then creating the maps sub-directory within it. If this argument is set to NO, then the attempt to create the directory will fail because mydata does not already exist and we have not given permission for it to be created on our behalf.</p>
<p>This method also takes additional arguments in the form of a set of attributes for the new directory. Specifying nil will use the default attributes.</p>
<p>The final argument provides the option to reference an NSError object to contain error information in the event of a failure. If this is not required, NULL may be specified for this argument.</p>
<p>The following code fragment identifies the documents directory and creates a new sub-directory named data in that directory:</p>
<p>NSFileManager *filemgr;</p>
<p>NSArray *dirPaths;</p>
<p>NSString *docsDir;</p>
<p>NSString *newDir;</p>
<p>&nbsp;</p>
<p>filemgr =[NSFileManager defaultManager];</p>
<p>&nbsp;</p>
<p>dirPaths = NSSearchPathForDirectoriesInDomains(NSDocumentDirectory,&nbsp;</p>
<p>NSUserDomainMask, YES);</p>
<p>&nbsp;</p>
<p>docsDir = dirPaths[0];</p>
<p>newDir = [docsDir stringByAppendingPathComponent:@"data"];</p>
<p>&nbsp;</p>
<p>if ([filemgr createDirectoryAtPath:newDir withIntermediateDirectories:YES&nbsp;</p>
<p>&nbsp;&nbsp; &nbsp; attributes:nil error: NULL] == NO)</p>
<p>{</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; // Failed to create directory</p>
<p>}</p>
<p>Deleting a Directory</p>
<p>An existing directory may be removed from the file system using the removeItemAtPath method, passing through the path of the directory to be removed as an argument. For example, to remove the data directory created in the preceding example we might write the following code:</p>
<p>NSFileManager *filemgr;</p>
<p>NSArray *dirPaths;</p>
<p>NSString *docsDir;</p>
<p>NSString *newDir;</p>
<p>&nbsp;</p>
<p>filemgr =[NSFileManager defaultManager];</p>
<p>&nbsp;</p>
<p>dirPaths = NSSearchPathForDirectoriesInDomains(NSDocumentDirectory,&nbsp;</p>
<p>NSUserDomainMask, YES);</p>
<p>&nbsp;</p>
<p>docsDir = dirPaths[0];</p>
<p>&nbsp;</p>
<p>newDir = [docsDir stringByAppendingPathComponent:@"data"];</p>
<p>&nbsp;</p>
<p>if ([filemgr removeItemAtPath: newDir error: nil] == NO)</p>
<p>{</p>
<p>&nbsp;&nbsp; &nbsp; &nbsp; // Directory removal failed.</p>
<p>}</p>
<p>Listing the Contents of a Directory</p>
<p>A listing of the files contained within a specified directory can be obtained using the directoryContentsAtPath method. This method takes the directory pathname as an argument and returns an NSArray object containing the names of the files and sub-directories in that directory. The following example obtains a listing of the contents of the root directory (/) and displays each item in the Xcode console panel during execution:</p>
<p>NSFileManager *filemgr;</p>
<p>NSArray *filelist;</p>
<p>int count;</p>
<p>int i;</p>
<p>&nbsp;</p>
<p>filemgr =[NSFileManager defaultManager];</p>
<p>filelist = [filemgr contentsOfDirectoryAtPath:@"/" error:NULL];</p>
<p>count = [filelist count];</p>
<p>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp;</p>
<p>for (i = 0; i &lt; count; i++)</p>
<p>&nbsp; &nbsp; NSLog(@"%@", filelist[i]);</p>
<p>Getting the Attributes of a File or Directory</p>
<p>The attributes of a file or directory may be obtained using the attributesOfItemAtPath method. This takes as arguments the path of the directory and an optional NSError object into which information about any errors will be placed (may be specified as NULL if this information is not required). The results are returned in the form of an NSDictionary dictionary object. The keys for this dictionary are as follows:</p>
<p>NSFileType</p>
<p>NSFileTypeDirectory</p>
<p>NSFileTypeRegular</p>
<p>NSFileTypeSymbolicLink</p>
<p>NSFileTypeSocket</p>
<p>NSFileTypeCharacterSpecial</p>
<p>NSFileTypeBlockSpecial</p>
<p>NSFileTypeUnknown</p>
<p>NSFileSize</p>
<p>NSFileModificationDate</p>
<p>NSFileReferenceCount</p>
<p>NSFileDeviceIdentifier</p>
<p>NSFileOwnerAccountName</p>
<p>NSFileGroupOwnerAccountName</p>
<p>NSFilePosixPermissions</p>
<p>NSFileSystemNumber</p>
<p>NSFileSystemFileNumber</p>
<p>NSFileExtensionHidden</p>
<p>NSFileHFSCreatorCode</p>
<p>NSFileHFSTypeCode</p>
<p>NSFileImmutable</p>
<p>NSFileAppendOnly</p>
<p>NSFileCreationDate</p>
<p>NSFileOwnerAccountID</p>
<p>NSFileGroupOwnerAccountID</p>
<p>For example, we can extract the file type and POSIX permissions for the /Applications directory using the following code excerpt:</p>
<p>NSFileManager *filemgr;</p>
<p>NSDictionary *attribs;</p>
<p>&nbsp;</p>
<p>filemgr = [NSFileManager defaultManager];</p>
<p>&nbsp;</p>
<p>attribs = [filemgr attributesOfItemAtPath:&nbsp;</p>
<p>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; @"/Applications" error: NULL];</p>
<p>&nbsp;</p>
<p>NSLog (@"File type&nbsp;%@", [attribs objectForKey: NSFileType]);</p>
<p>NSLog (@"POSIX Permissions&nbsp;%@", [attribs objectForKey: NSFilePosixPermissions]);</p>
<p>When executed, results similar to the following output will appear in the Xcode console:</p>
<p>File type NSFileTypeDirectory</p>
<p>POSIX Permissions 509&nbsp;</p>
<h2><span style="color: #008080;">Working with Files</span></h2>
<p><strong>Getting the NSFileManager Reference</strong></p>
<p>First we need to recap the steps necessary to obtain a reference to creatane an instance of the NSFileManager class. As discussed in the previous chapter, the NSFileManager class contains a class method named defaultManager that is used to create an instance of the class. For example:obtain a reference to the NSFileManager object instance:</p>
<p>NSFileManager *filemgr;</p>
<p>filemgr = [NSFileManager defaultManager];</p>
<p>&nbsp;</p>
<p><strong>Checking if a File Exists</strong></p>
<p>The NSFileManager class contains an instance method named <em>fileExistsAtPath</em> that checks whether a specified file already exists. The method takes as an argument an NSString object containing the path to file and returns a boolean YES or NO value indicating the presence or otherwise of that file:</p>
<p>NSFileManager *filemgr;</p>
<p>&nbsp;</p>
<p>filemgr = [NSFileManager defaultManager];</p>
<p>&nbsp;</p>
<p>if ([filemgr fileExistsAtPath: @"/tmp/myfile.txt" ] == YES)</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; NSLog (@"File exists");</p>
<p>else</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; NSLog (@"File not found");</p>
<p>&nbsp;</p>
<p><strong>Comparing the Contents of Two Files</strong></p>
<p>The contents of two files can be compared for equality using the <em>contentsEqualAtPath</em> method. This method takes as arguments the paths to the two files to be compared and returns a boolean YES or NO to indicate whether the file contents match:</p>
<p>NSFileManager *filemgr;</p>
<p>&nbsp;</p>
<p>filemgr = [NSFileManager defaultManager];</p>
<p>&nbsp;</p>
<p>if ([filemgr contentsEqualAtPath: @"/tmp/myfile.txt" andPath: @"/tmp/sales.txt"] == YES)</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; NSLog (@"File contents match");</p>
<p>else</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; NSLog (@"File contents do not match");</p>
<p>&nbsp;</p>
<p><strong>Checking if a File is Readable/Writable/Executable/Deletable</strong></p>
<p>Most operating systems provide some level of file access control. These typically take the form of attributes that control the level of access to a file for each user or user group. As such, it is not a certainty that your program will have read or write access to a particular file, or the appropriate permissions to delete or execute it. The quickest way to find out if your program has a particular access permission is to use the <em>isReadableFileAtPath</em>, <em>isWritableFileAtPath</em>, <em>isExecutableFileAtPath</em> and <em>isDeletableFileAtPath</em> methods. Each method takes a single argument in the form of the path to the file to be checked and returns a boolean YES or NO result. For example, the following code excerpt checks to find out if a file is writable:</p>
<p>NSFileManager *filemgr;</p>
<p>&nbsp;</p>
<p>filemgr = [NSFileManager defaultManager];</p>
<p>&nbsp;</p>
<p>if ([filemgr isWritableFileAtPath: @"/tmp/myfile.txt"]&nbsp; == YES)</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; NSLog (@"File is writable");</p>
<p>else</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; NSLog (@"File is read only");</p>
<p>&nbsp;</p>
<p><strong>Moving/Renaming a File</strong></p>
<p>A file may be renamed (assuming adequate permissions) using the moveItemAtURL method. This method returns a boolean YES or NO result and takes as arguments the pathname for the file to be moved, the destination path and an optional NSError object into which information describing any errors encountered during the operation will be placed. If no error description information is required, this argument may be set to NULL. Note that if the destination file path already exists this operation will fail.</p>
<p>NSFileManager *filemgr;</p>
<p>&nbsp;</p>
<p>filemgr = [NSFileManager defaultManager];</p>
<p>&nbsp;</p>
<p>NSURL *oldPath = [NSURL fileURLWithPath:@"/tmp/myfile.txt"];</p>
<p>NSURL *newPath= [NSURL fileURLWithPath:@"/tmp/newfile.txt"];</p>
<p>&nbsp;</p>
<p>[filemgr moveItemAtURL: oldPath toURL: newPath error: nil];</p>
<p>&nbsp;</p>
<p><strong>Copying a File</strong></p>
<p>File copying can be achieved using the <em>copyItemAtPath</em> method. As with the <em>move</em> method, this takes as arguments the source and destination pathnames and an optional NSError object. Success of the operation is indicated by the returned boolean value:</p>
<p>NSFileManager *filemgr;</p>
<p>&nbsp;</p>
<p>filemgr = [NSFileManager defaultManager];</p>
<p>&nbsp;</p>
<p>if ([filemgr copyItemAtPath: @"/tmp/myfile.txt" toPath: @"/Users/demo/newfile.txt" error: NULL]&nbsp; == YES)</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; NSLog (@"Copy successful");</p>
<p>else</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; NSLog (@"Copy failed");</p>
<p>&nbsp;</p>
<p><strong>Removing a File</strong></p>
<p>The <em>removeItemAtPath</em> method removes the specified file from the file system. The method takes as arguments the pathname of the file to be removed and an optional NSError object. The success of the operation is, as usual, reported in the form of a boolean YES or NO return value:</p>
<p>NSFileManager *filemgr;</p>
<p>&nbsp;</p>
<p>filemgr = [NSFileManager defaultManager];</p>
<p>&nbsp;</p>
<p>if ([filemgr removeItemAtPath: @"/tmp/myfile.txt" error: NULL]&nbsp; == YES)</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; NSLog (@"Remove successful");</p>
<p>else</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; NSLog (@"Remove failed");</p>
<p><strong>Creating a Symbolic Link</strong></p>
<p>A symbolic link to a particular file may be created using the createSymbolicLinkAtPath method. This takes as arguments the path of the symbolic link, the path to the file to which the link is to refer and an optional NSError object. For example, the following code creates a symbolic link from/tmpUsers/demo/myfile21.txt that links to the pre-existing file /tmp/myfile.txt:</p>
<p>NSFileManager *filemgr;</p>
<p>&nbsp;</p>
<p>filemgr = [NSFileManager defaultManager];</p>
<p>&nbsp;</p>
<p>if ([filemgr createSymbolicLinkAtPath: @"/tmp/myfile2.txt"</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; withDestinationPath: @"/tmp/myfile.txt" error: NULL] == YES)</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; NSLog (@"Link successful");</p>
<p>else</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; NSLog (@"Link failed");NSFileManager *filemgr;</p>
<p>&nbsp;</p>
<p>filemgr = [NSFileManager defaultManager];</p>
<p>&nbsp;</p>
<p>if ([filemgr createSymbolicLinkAtPath: @"/Users/demo/file1.txt"&nbsp;</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; withDestinationPath: @"/tmp/myfile.txt" error: NULL] == YES)</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; NSLog (@"Remove successful");</p>
<p>else</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; NSLog (@"Remove failed");</p>
<p><strong>Reading and Writing Files with NSFileManager</strong></p>
<p>The NSFileManager class includes some basic file reading and writing capabilities. these capabilities are somewhat limited when compared to the options provided by the NSFileHandle class, but can be useful nonetheless.</p>
<p>Firstly, the contents of a file may be read and stored in an NSData object through the use of the <em>contentsAtPath</em> method:</p>
<p>NSFileManager *filemgr;</p>
<p>NSData *databuffer;</p>
<p>&nbsp;</p>
<p>filemgr = [NSFileManager defaultManager];</p>
<p>&nbsp;</p>
<p>databuffer = [filemgr contentsAtPath: @"/tmp/myfile.txt" ];</p>
<p>Having stored the contents of a file in an NSData object, that data may subsequently be written out to a new file using the <em>createFileAtPath</em> method:</p>
<p>databuffer = [filemgr contentsAtPath: @"/tmp/myfile.txt" ];</p>
<p>&nbsp;</p>
<p>[filemgr createFileAtPath: @"/tmp/newfile.txt" contents: databuffer attributes: nil];</p>
<p>&lt;google&gt;IOSBOX&lt;/google&gt; In the above example we have essentially copied the contents from an existing file to a new file. This, however, gives us no control over how much data is to be read or written and does not allow us to append data to the end of an existing file. If the file <em>/tmp/newfile.txt</em> in the above example had already existed it, and any data it contained, would have been overwritten by the contents of the source file. Clearly some more flexible mechanism is required. This is provided by the Foundation Framework in the form of the <em>NSFileHandle</em> class.</p>
<p><strong>Working with Files using the NSFileHandle Class</strong></p>
<p>The NSFileHandle class provides a range of methods designed to provide a more advanced mechanism for working with files. In addition to files, this class can also be used for working with devices and network sockets. In the following sections we will look at some of the more common uses for this class.</p>
<p><strong>Creating an NSFileHandle Object</strong></p>
<p>An NSFileHandle object can be created when opening a file for reading, writing or updating (reading and writing). This is achieved using the <em>fileHandleForReadingAtPath</em>, <em>fileHandleForWritingAtPath</em> and <em>fileHandleForUpdatingAtPath</em> methods respectively. Having opened a file, it must subsequently be closed when we have finished working with it using the <em>closeFile</em> method. If an attempt to open a file fails, for example because an attempt is made to open a non-existent file for reading, these methods return <em>nil</em>.</p>
<p>For example, the following code excerpt opens a file for reading and writing and then closes it without actually doing anything to the file:</p>
<p>NSFileHandle *file;</p>
<p>&nbsp;</p>
<p>file = [NSFileHandle fileHandleForWritingAtPath: @"/tmp/myfile.txt"];</p>
<p>&nbsp;</p>
<p>if (file == nil)</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; NSLog(@"Failed to open file");</p>
<p>&nbsp;</p>
<p>[file closeFile];</p>
<p><strong>NSFileHandle File Offsets and Seeking</strong></p>
<p>NSFileHandle objects maintain a pointer to the current position in a file. This is referred to as the <em>offset</em>. When a file is first opened the offset is set to 0 (the beginning of the file). This means that any read or write operations we perform using the NSFileHandle methods will take place at offset 0 in the file. To perform operations at different locations in a file (for example to append data to the end of the file) it is first necessary to <em>seek</em> to the required offset. For example to move the current offset to the end of the file, use the <em>seekToEndOfFile</em> method. Alternatively, <em>seekToFileOffset</em> allows you to specify the precise location in the file to which the offset is to be positioned. Finally, the current offset may be identified using the <em>offsetInFile</em> method. In order to accommodate large files, the offset is stored in the form of an unsigned long long.</p>
<p>The following example opens a file for reading and then performs a number of method calls to move the offset to different positions, outputting the current offset after each move:</p>
<p>NSFileHandle *file;</p>
<p>&nbsp;</p>
<p>file = [NSFileHandle fileHandleForUpdatingAtPath: @"/tmp/myfile.txt"];</p>
<p>&nbsp;</p>
<p>if (file == nil)</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; NSLog(@"Failed to open file");</p>
<p>&nbsp;</p>
<p>NSLog (@"Offset =&nbsp;%llu", [file offsetInFile]);</p>
<p>&nbsp;</p>
<p>[file seekToEndOfFile];</p>
<p>&nbsp;</p>
<p>NSLog (@"Offset =&nbsp;%llu", [file offsetInFile]);</p>
<p>&nbsp;</p>
<p>[file seekToFileOffset: 30];</p>
<p>&nbsp;</p>
<p>NSLog (@"Offset =&nbsp;%llu", [file offsetInFile]);</p>
<p>&nbsp;</p>
<p>[file closeFile];</p>
<p>File offsets are a key aspect of working with files using the NSFileHandle class so it is worth taking extra time to make sure you understand the concept. Without knowing where the current offset is in a file it is impossible to know where in the file data will be read or written.</p>
<p><strong>Reading Data from a File</strong></p>
<p>Once a file has been opened and assigned a file handle, the contents of that file may be read from the current offset position. The <em>readDataOfLength</em> method reads a specified number of bytes of data from the file starting at the current offset. For example, the following code reads 5 bytes of data from offset 10 in a file. The data read is returned encapsulated in an NSData object:</p>
<p>NSFileHandle *file;</p>
<p>NSData *databuffer;</p>
<p>&nbsp;</p>
<p>file = [NSFileHandle fileHandleForReadingAtPath: @"/tmp/myfile.txt"];</p>
<p>&nbsp;</p>
<p>if (file == nil)</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; NSLog(@"Failed to open file");</p>
<p>&nbsp;</p>
<p>[file seekToFileOffset: 10];</p>
<p>&nbsp;</p>
<p>databuffer = [file readDataOfLength: 5];</p>
<p>&nbsp;</p>
<p>[file closeFile];</p>
<p>Alternatively, the <em>readDataToEndOfFile</em> method will read all the data in the file starting at the current offset and ending at the end of the file.</p>
<p><strong>Writing Data to a File</strong></p>
<p>The <em>writeData</em> method writes the data contained in an NSData object to the file starting at the location of the offset. Note that this does not insert data but rather overwrites any existing data in the file at the corresponding location.</p>
<p>To see this in action we need to begin with a file. Using a text editor, create a file named quickfox.txt, enter the following text and save it in the /tmp directory:</p>
<p>The quick brown fox jumped over the lazy dog</p>
<p>Next, we will write a program that opens the file for updating, seeks to position 10 and then writes some data at that location:</p>
<p>#import &lt;Foundation/Foundation.h&gt;</p>
<p>&nbsp;</p>
<p>int main (int argc, const char * argv[])</p>
<p>{</p>
<p>&nbsp; &nbsp; @autoreleasepool {</p>
<p>&nbsp;</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; NSFileHandle *file;</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; NSMutableData *data;</p>
<p>&nbsp;</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; const char *bytestring = "black dog";</p>
<p>&nbsp;</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; data = [NSMutableData dataWithBytes:bytestring length:strlen(bytestring)];</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; file = [NSFileHandle fileHandleForUpdatingAtPath: @"/tmp/quickfox.txt"];</p>
<p>&nbsp;</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; if (file == nil)</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; NSLog(@"Failed to open file");</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; [file seekToFileOffset: 10];</p>
<p>&nbsp;</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; [file writeData: data];</p>
<p>&nbsp;</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; [file closeFile];</p>
<p>&nbsp;</p>
<p>&nbsp; &nbsp; }</p>
<p>&nbsp; &nbsp; return 0;</p>
<p>}</p>
<p>When the above program is compiled and executed the contents of the quickfox.txt will have changed to:</p>
<p>The quick black dog jumped over the lazy dog</p>
<p><strong>Truncating a File</strong></p>
<p>A file may be truncated at the specified offset using the <em>truncateFileAtOffset</em> method. To delete the entire contents of a file, specify an offset of 0 when calling this method:</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; NSFileHandle *file;</p>
<p>&nbsp;</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; file = [NSFileHandle fileHandleForUpdatingAtPath: @"/tmp/quickfox.txt"];</p>
<p>&nbsp;</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; if (file == nil)</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; NSLog(@"Failed to open file");</p>
<p>&nbsp;</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; [file truncateFileAtOffset: 0];</p>
<p>&nbsp;</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; [file closeFile];</p>
<h2><span style="color: #008080;">iCloud</span></h2>
<p><strong>iCloud</strong> is a <a href="https://en.wikipedia.org/wiki/Cloud_storage">cloud storage</a> and <a href="https://en.wikipedia.org/wiki/Cloud_computing">cloud computing</a> service from <a href="https://en.wikipedia.org/wiki/Apple_Inc.">Apple Inc.</a> launched on October 12, 2011. As of February 2016, the service had 782 million users.</p>
<p>The service provides its users with means to store data such as documents, photos, and music on remote <a href="https://en.wikipedia.org/wiki/Server_(computing)">servers</a> for download to <a href="https://en.wikipedia.org/wiki/IOS">iOS</a>, <a href="https://en.wikipedia.org/wiki/Macintosh">Macintosh</a> or <a href="https://en.wikipedia.org/wiki/Microsoft_Windows">Windows</a> devices, to share and send data to other users, and to manage their Apple devices if lost or stolen.</p>
<p>The service also provides the means to wirelessly back up iOS devices directly to iCloud, instead of being reliant on manual backups to a host Mac or Windows computer using <a href="https://en.wikipedia.org/wiki/ITunes">iTunes</a>. Service users are also able to share photos, music, and games instantly by linking accounts via <a href="https://en.wikipedia.org/wiki/AirDrop">AirDrop</a> wireless.</p>
<h2><span style="color: #008080;">Key-V alue Data</span></h2>
<p>It&rsquo;s a management feature in iOS 7 that keeps your account names, passwords, and even credit card numbers stored behind 256-bit AES encryption on Apple's iCloud servers. Then that data is synced between authorized iOS 7 devices and <a href="http://newatlas.com/apples-os-x-mavericks-for-macs-available-as-a-free-upgrade/29489/">OS X Mavericks</a> &ndash; the latest computer OS from Apple.</p>
<p><strong>How to use iCloud Keychain</strong></p>
<p>The first time you set up your device for iOS 7, you'll be asked if you want to enable iCloud Keychain. But if you skipped that step during setup, you can turn it on later. To enable or disable the feature go to Settings &gt; iCloud &gt; iCloud Keychain and there you can toggle it on or off.</p>
<p>The first time you turn iCloud Keychain on, you'll be prompted to sign in to iCloud with your Apple ID credentials. After that, you'll be prompted to create a passcode. You can either use the code you've set up to lock your device or create a different one. I recommend using something different for improved security. This way, if someone knows your device's lock screen code, it won't be as easy for them to get into your passwords and credit card info.</p>
<p>You'll also need to go to Settings &gt; Safari &gt; Passwords &amp; AutoFill and turn on Names and Passwords and Credit Cards if you want to use it to make shopping online easier.</p>
<p>When you go to a site that requires you to log in, after entering your password, a message will come up asking if you want to save the information.</p>
<p>iCloud Keychain can generate passwords for you, too. Though the passwords it generates aren't particularly strong, it's definitely better than using the same password for all of your sites. To generate one, open Safari and go to the site you want to create a password for. Fill out everything else that's required, and when you get to the password field, you'll notice a "suggest password" option above the onscreen keyboard. Tap on it.</p>
<p>Not all sites are set up to work with iCloud Keychain, however. Sometimes you'll run into problems where the site doesn't support generating or saving passwords with iCloud Keychain yet.</p>
<p>If the above situation happens to you, there is a way to force sites to save to iCloud Keychain anyway. Go to Settings &gt; Safari &gt; Passwords &amp; AutoFill, then turn on the Always Allow option.</p>
<p>Then go back to the website and you should have no problem saving a password you create or allow it to generate a suggested password.</p>
<p>If you ever want to delete a saved password, go to Settings &gt; Safari &gt; Passwords &amp; AutoFill &gt; Saved Passwords. There you'll see a list of sites that have saved passwords. Tap Edit, then select the site(s) you want to delete passwords for. Then enter the passcode you created, then verify the action. If you tap the website on this page, you'll be prompted to enter in your passcode, and then you can see the passwords for each of the sties.</p>
<p>For the credit card information, any time you type it in while making a purchase in Safari, iCloud Keychain will offer to remember it for you, just like passwords. But you can also enter this information in manually.</p>
<p>Go to Settings &gt; Safari &gt; Passwords &amp; AutoFill &gt; Saved Credit Cards. On the next screen tap Add Credit Card, then type in your credit card information. Do this for each card you want to add. If you need to make any changes to it, just tap the card you need, enter in your passcode, tap Edit, then make the appropriate changes or delete</p>
<h2><span style="color: #008080;">Archiving</span></h2>
<p>iPhone iOS applications are inherently object oriented in so much as they are developed using Objective-C and consist of any number of objects designed to work together to provide the required functionality. As such, it is highly likely that any data created or used within an application will be held in memory encapsulated in an object. It is also equally likely that the data encapsulated in an object may need to be saved to the iPhone&rsquo;s file system so that it can be restored on future invocations of the application. One approach might be to write code that extracts each data element from an object and writes it to a file. Similarly, code would need to be written to read the data from the file, create an instance of the original object and then assign the data to that object accordingly. Whilst this can be achieved, it can quickly become complex and time consuming to implement. An alternative is to use a mechanism called archiving. Archiving involves encoding objects into a format that is written to a file. Data may subsequently be decoded (or unarchived) and used to automatically rebuild the object. This concept is somewhat analogous to serialization as supported by languages such as Java.</p>
<p>A number of approaches to archiving are supported by the Foundation Framework. Arguably the most flexible option is that provided by the NSKeyedArchiver class. This class provides the ability to encode an object into the form of a binary property list that is written to file and may subsequently be decoded to recreate the object using the NSKeyedUnarchiver class.</p>
<p>An alternative option is to use the writeToFile:anatomically method available with a subset Foundation class. This mechanism writes the object data to file in the form of an XML property list file. This approach, however, is limited to NSArray, NSData, NSDate, NSDictionary, NSNumber and NSString based objects.</p>
<p>In the remainder of this chapter we will work through an example of archiving using the NSKeyedArchiver and NSKeyedUnarchiver classes.</p>
</div>
</div>
</div>
</div>
</div>
</div>