<h2><span style="color: #008080;">Key-V alue Data</span></h2>
<p>It&rsquo;s a management feature in iOS 7 that keeps your account names, passwords, and even credit card numbers stored behind 256-bit AES encryption on Apple's iCloud servers. Then that data is synced between authorized iOS 7 devices and <a href="http://newatlas.com/apples-os-x-mavericks-for-macs-available-as-a-free-upgrade/29489/">OS X Mavericks</a> &ndash; the latest computer OS from Apple.</p>
<p><strong>How to use iCloud Keychain</strong></p>
<p>The first time you set up your device for iOS 7, you'll be asked if you want to enable iCloud Keychain. But if you skipped that step during setup, you can turn it on later. To enable or disable the feature go to Settings &gt; iCloud &gt; iCloud Keychain and there you can toggle it on or off.</p>
<p>The first time you turn iCloud Keychain on, you'll be prompted to sign in to iCloud with your Apple ID credentials. After that, you'll be prompted to create a passcode. You can either use the code you've set up to lock your device or create a different one. I recommend using something different for improved security. This way, if someone knows your device's lock screen code, it won't be as easy for them to get into your passwords and credit card info.</p>
<p>You'll also need to go to Settings &gt; Safari &gt; Passwords &amp; AutoFill and turn on Names and Passwords and Credit Cards if you want to use it to make shopping online easier.</p>
<p>When you go to a site that requires you to log in, after entering your password, a message will come up asking if you want to save the information.</p>
<p>iCloud Keychain can generate passwords for you, too. Though the passwords it generates aren't particularly strong, it's definitely better than using the same password for all of your sites. To generate one, open Safari and go to the site you want to create a password for. Fill out everything else that's required, and when you get to the password field, you'll notice a "suggest password" option above the onscreen keyboard. Tap on it.</p>
<p>Not all sites are set up to work with iCloud Keychain, however. Sometimes you'll run into problems where the site doesn't support generating or saving passwords with iCloud Keychain yet.</p>
<p>If the above situation happens to you, there is a way to force sites to save to iCloud Keychain anyway. Go to Settings &gt; Safari &gt; Passwords &amp; AutoFill, then turn on the Always Allow option.</p>
<p>Then go back to the website and you should have no problem saving a password you create or allow it to generate a suggested password.</p>
<p>If you ever want to delete a saved password, go to Settings &gt; Safari &gt; Passwords &amp; AutoFill &gt; Saved Passwords. There you'll see a list of sites that have saved passwords. Tap Edit, then select the site(s) you want to delete passwords for. Then enter the passcode you created, then verify the action. If you tap the website on this page, you'll be prompted to enter in your passcode, and then you can see the passwords for each of the sties.</p>
<p>For the credit card information, any time you type it in while making a purchase in Safari, iCloud Keychain will offer to remember it for you, just like passwords. But you can also enter this information in manually.</p>
<p>Go to Settings &gt; Safari &gt; Passwords &amp; AutoFill &gt; Saved Credit Cards. On the next screen tap Add Credit Card, then type in your credit card information. Do this for each card you want to add. If you need to make any changes to it, just tap the card you need, enter in your passcode, tap Edit, then make the appropriate changes or delete</p>