<div class="page" title="Page 2">
<div class="layoutArea">
<div class="column">
<h2><span style="color: #008080;">NSFileManager, NSFileHandle, and NSData</span></h2>
<p>The Foundation Framework provides three classes that are indispensable when it comes to working with files and directories:</p>
<ul>
<li><strong>NSFileManager</strong> - The NSFileManager class can be used to perform basic file and directory operations such as creating, moving, reading and writing files and reading and setting file attributes. In addition, this class provides methods for, amongst other tasks, identifying the current working directory, changing to a new directory, creating directories and listing the contents of a directory.</li>
<li><strong>NSFileHandle</strong> - The NSFileHandle class is provided for performing lower level operations on files, such as seeking to a specific position in a file and reading and writing a file's contents by a specified number of byte chunks and appending data to an existing file. This class will be used extensively in the chapter entitled <a href="http://www.techotopia.com/index.php/Working_with_Files_on_iOS_7">Working with Files on iOS 7</a>.</li>
<li><strong>NSData</strong> - The NSData class provides a useful storage buffer into which the contents of a file may be read, or from which dynamically stored data may be written to a file.</li>
</ul>
<div class="page" title="Page 2">
<div class="layoutArea">
<div class="column">