<h2><span style="color: #008080;">Pathnames in Objective-C</span></h2>
<p>As with Mac OS X, iOS defines pathnames using the standard UNIX convention. As such each component of a path is separated by a forward slash (/). When an application starts, the current working directory is the file system&rsquo;s root directory represented by a single /. From this location, the application must navigate to its own Documents and tmp directories in order to be able to write files to the file system. Path names that begin with a / are said to be absolute path names in that they specify a file system location relative to the root directory. For example, /var/mobile is an absolute path name.</p>
<p>Paths that do not begin with a slash are interpreted to be relative to a current working directory. For example, if the current working directory is /User/demo and the path name is mapdata/local.xml then the file is considered to have an equivalent full, absolute pathname of /User/demo/mapdata/local.xml.</p>
<p>Lets start off by finding walking through the different directories we have access to, and what each directory allows us to do.&nbsp;</p>
<p>The important method here is: <a href="https://developer.apple.com/library/ios/documentation/cocoa/reference/foundation/Miscellaneous/Foundation_Functions/Reference/reference.html#//apple_ref/c/func/NSSearchPathForDirectoriesInDomains">NSSearchPathForDirectoriesInDomains</a>() It takes 3 parameters.&nbsp;</p>
<p>1. For this discussion, we're going to pass in one of two values:</p>
<p>&nbsp; &nbsp; a. NSLibraryDirectory&nbsp;- Use this for saving app files that you do not want to expose to your&nbsp;</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;end users.&nbsp;</p>
<p>&nbsp; &nbsp; b. NSDocumentDirectory&nbsp;- &nbsp;Use this if you want to allow your end users to be able to access &nbsp; &nbsp; &nbsp; &nbsp;</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; files and provide files via iTunes.</p>
<p>2. The next parameter, is the domain in which to search. Again, for the purpose of this post, we're going to use just one value: NSUserDomainMask</p>
<p>3. Finally, whether or not it should resolve the ~. In this case we're going to use YES.&nbsp;</p>
<p>This method will return an Array of paths:&nbsp;</p>
<p>NSArray *paths = NSSearchPathForDirectoriesInDomains(NSLibraryDirectory, NSUserDomainMask, YES);</p>
<p>From this array, we're going to grab the first value. As thats the root path to the directory we're looking for.</p>
<p>NSString* rootPath = paths[0];</p>
<p>Now, that we have our starting point, we can build out the path to access/save the files we want to use. &nbsp;</p>
<p>Working with strings to build paths&nbsp;</p>
<p>The NSString class in objective-c has quite a few helper methods that make path building very easy.&nbsp;</p>
<p>I'll walk you through a few of the most useful ones.&nbsp;</p>
<p>Since we're building a path, you're most likely going to want to add a new path part. For that use:&nbsp;</p>
<p>NSString* path = [rootPath stringByAppendingPathComponent:@"MyDocuments"];</p>
<p>This made our path go from:&nbsp;</p>
<p>/var/mobile/Applications/F29D33C5-D78A-4D72-8A2B-773A6577FE1D/Library/</p>
<p>to&nbsp;</p>
<p>/var/mobile/Applications/F29D33C5-D78A-4D72-8A2B-773A6577FE1D/Library/MyDocuments</p>
<p>Now, say we wanted to add a file name to this:</p>
<p>path = [path stringByAppendingPathComponent:@"MyFile"];</p>
<p>path = [path stringByAppendingPathExtension:@"data"];</p>
<p>The new path now looks like:</p>
<p>/var/mobile/Applications/F29D33C5-D78A-4D72-8A2B-773A6577FE1D/Library/MyDocuments/MyFile.data</p>
<p>Working with strings to read paths&nbsp;</p>
<p>As you can see building a path is pretty simple. Lets take a look at deconstructing a path now:</p>
<p>First, lets look up the extension of a given path:</p>
<p>NSString* ext = [path pathExtension];</p>
<p>If we used the path we created above, this code will return "data".&nbsp;</p>
<p>If you wanted, you could also break down a path into all of it's components:</p>
<p>NSArray* comps = [path pathComponents];</p>
<p>Using the following path, we would get an array with 8 values:</p>
<p>/var/mobile/Applications/F29D33C5-D78A-4D72-8A2B-773A6577FE1D/Library/MyDocuments/MyFile.data</p>
<p>"/" , "var", "mobile", "Applications", "F29D33C5-D78A-4D72-8A2B-773A6577FE1D", "Library", "MyDocuments", and "MyFile.data"</p>
<p>So, if you wanted to get the full file name of a file, it would look something like this:</p>
<p>NSString* fileName = comps[comps.count -1];</p>
<p>Now, say you wanted just the name of the file, without the extension. To do that, you would use the following method on NSString: stringByDeletingPathExension</p>
<p>NSString* nameWithoutExtension = [fileName stringByDeletingPathExtension];</p>
<p>And this of course returns "MyFile"</p>