<h2><span style="color: #008080;">Working with Directories</span></h2>
<p>Obtaining a Reference to the Default NSFileManager Object</p>
<p>The NSFileManager class contains a class method named defaultManager that is used to obtain a reference to the application&rsquo;s default file manager instance:</p>
<p>NSFileManager *filemgr;</p>
<p>filemgr = [NSFileManager defaultManager];</p>
<p>In the above example we have declared a variable named filemgr to point to an object of type NSFileManager, and then requested a pointer to the application&rsquo;s file manager and assigned it to the variable. Having obtained the object reference we can begin to use it to work with files and directories.</p>
<p>Identifying the Current Working Directory</p>
<p>As previously mentioned, when an application first loads, its current working directory is the application&rsquo;s root directory, represented by a / character. The current working directory may be identified at any time through a call to the currentDirectoryPath method of the file manager object. For example, the following code fragment identifies the current working directory:</p>
<p>NSFileManager *filemgr;</p>
<p>NSString *currentPath;</p>
<p>filemgr =[NSFileManager defaultManager];</p>
<p>currentPath = [filemgr currentDirectoryPath];</p>
<p>In this code we declare a new object named filemgr that is an instance of the NSFileManager class and also an NSString object named currentPath to contain the current working directory path. Having created a file manager instance we then call the currentDirectoryPath method of that instance and assign the resulting string to currentPath.</p>
<p>&nbsp;</p>
<p>Identifying the Documents Directory</p>
<p>As previously discussed, each iOS application on a device has its own private Documents and tmp directories into which it is permitted to read and write data. Because the location of these directories is different for each application the only way to find the correct path is to ask iOS. In fact, the exact location will also differ depending on whether the application is running on a physical iPhone or iPad device or in the iOS Simulator. The Documents directory for an application may be identified by making a call to a C function named NSSearchPathForDirectoriesInDomains, passing through an argument (in this case NSDocumentDirectory) indicating that we require the path to the Documents directory. Since this is a C function, as opposed to a method of an Objective-C class, there is no need for us to establish an instance of a Foundation class such as NSFileManager before making the call. That said, the function does return an object in the form of an NSArray containing the results of the request. We can, therefore, obtain the path to the current application&rsquo;s Documents directory as follows:</p>
<p>NSArray *dirPaths;</p>
<p>NSString *docsDir;</p>
<p>dirPaths = NSSearchPathForDirectoriesInDomains(NSDocumentDirectory,&nbsp;</p>
<p>NSUserDomainMask, YES);</p>
<p>docsDir = dirPaths[0];</p>
<p>When executed, the above code will assign the path to the Documents directory to the docsDir string.</p>
<p>When executed within the iOS Simulator environment, the path returned will take the form of:</p>
<p>/Users/&lt;user name&gt;/Library/Application Support</p>
<p>/iPhone Simulator/&lt;sdk version&gt;/Applications/&lt;app id&gt;/Documents</p>
<p>Where &lt;user name&gt; is the name of the user currently logged into the Mac OS X system on which the simulator is running, &lt;sdk version&gt; is the version of the iOS SDK used to compile the application and &lt;app id&gt; is the unique ID of the app, for example:</p>
<p>06A3AEBA-8C34-476E-937F-A27BDD2E450A</p>
<p>Clearly this references a path on your Mac OS X system so feel free to open up a Finder window and explore the file system sandbox areas for your iOS applications. When executed on a physical iOS device, the path returned by the function call will take the following form:</p>
<p>/var/mobile/Applications/&lt;app id&gt;/Documents</p>
<p>Identifying the Temporary Directory</p>
<p>In addition to the Documents directory, iOS applications are also provided with a tmp directory for the storage of temporary files. The path to the current application&rsquo;s temporary directory may be ascertained with a call to the NSTemporaryDirectory C function as follows:</p>
<p>NSString *tmpDir = NSTemporaryDirectory();</p>
<p>Once executed, the string object referenced by tmpDir will contain the path to the temporary directory for the application.</p>
<p>Changing Directory</p>
<p>Having identified the path to the application&rsquo;s document or temporary directory the chances are good that you will need to make that directory the current working directory. The current working directory of a running iOS application can be changed with a call to the change-CurrentDirectoryPath method of an NSFileManager instance. The destination directory path is passed as an argument to the instance method in the form of an NSString object. Note that this method returns a boolean YES or NO result to indicate if the requested directory change was successful or not. A failure result typically indicates either that the specified directory does not exist, or that the application lacks the appropriate access permissions:</p>
<p>NSFileManager *filemgr;</p>
<p>NSArray *dirPaths;</p>
<p>NSString *docsDir;</p>
<p>&nbsp;</p>
<p>filemgr =[NSFileManager defaultManager];</p>
<p>&nbsp;</p>
<p>dirPaths = NSSearchPathForDirectoriesInDomains(NSDocumentDirectory, NSUserDomainMask, YES);</p>
<p>docsDir = dirPaths[0];</p>
<p>&nbsp;</p>
<p>if ([filemgr changeCurrentDirectoryPath: docsDir] == NO)</p>
<p>{</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; // Directory does not exist &ndash; take appropriate action</p>
<p>}</p>
<p>In the above example, the path to the Documents directory is identified and then used as an argument to the changeCurrentDirectoryPath method of the file manager object to change the current working directory to that location. &lt;google&gt;ADSDAQBOX_FLOW&lt;/google&gt;</p>
<p>Creating a New Directory</p>
<p>A new directory on an iOS device is created using the createDirectoryAtPath instance method of the NSFileManager class, once again passing through the pathname of the new directory as an argument and returning a boolean success or failure result. The second argument to this method defines whether any intermediate directory levels should be created automatically. For example, if we wanted to create a directory with the path /var/mobile/Applications/&lt;app id&gt;/Documents/mydata/maps and the mydata subdirectory does not yet exist, setting the withIntermediateDirectories argument to YES will cause this directory to be created automatically before then creating the maps sub-directory within it. If this argument is set to NO, then the attempt to create the directory will fail because mydata does not already exist and we have not given permission for it to be created on our behalf.</p>
<p>This method also takes additional arguments in the form of a set of attributes for the new directory. Specifying nil will use the default attributes.</p>
<p>The final argument provides the option to reference an NSError object to contain error information in the event of a failure. If this is not required, NULL may be specified for this argument.</p>
<p>The following code fragment identifies the documents directory and creates a new sub-directory named data in that directory:</p>
<p>NSFileManager *filemgr;</p>
<p>NSArray *dirPaths;</p>
<p>NSString *docsDir;</p>
<p>NSString *newDir;</p>
<p>&nbsp;</p>
<p>filemgr =[NSFileManager defaultManager];</p>
<p>&nbsp;</p>
<p>dirPaths = NSSearchPathForDirectoriesInDomains(NSDocumentDirectory,&nbsp;</p>
<p>NSUserDomainMask, YES);</p>
<p>&nbsp;</p>
<p>docsDir = dirPaths[0];</p>
<p>newDir = [docsDir stringByAppendingPathComponent:@"data"];</p>
<p>&nbsp;</p>
<p>if ([filemgr createDirectoryAtPath:newDir withIntermediateDirectories:YES&nbsp;</p>
<p>&nbsp;&nbsp; &nbsp; attributes:nil error: NULL] == NO)</p>
<p>{</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; // Failed to create directory</p>
<p>}</p>
<p>Deleting a Directory</p>
<p>An existing directory may be removed from the file system using the removeItemAtPath method, passing through the path of the directory to be removed as an argument. For example, to remove the data directory created in the preceding example we might write the following code:</p>
<p>NSFileManager *filemgr;</p>
<p>NSArray *dirPaths;</p>
<p>NSString *docsDir;</p>
<p>NSString *newDir;</p>
<p>&nbsp;</p>
<p>filemgr =[NSFileManager defaultManager];</p>
<p>&nbsp;</p>
<p>dirPaths = NSSearchPathForDirectoriesInDomains(NSDocumentDirectory,&nbsp;</p>
<p>NSUserDomainMask, YES);</p>
<p>&nbsp;</p>
<p>docsDir = dirPaths[0];</p>
<p>&nbsp;</p>
<p>newDir = [docsDir stringByAppendingPathComponent:@"data"];</p>
<p>&nbsp;</p>
<p>if ([filemgr removeItemAtPath: newDir error: nil] == NO)</p>
<p>{</p>
<p>&nbsp;&nbsp; &nbsp; &nbsp; // Directory removal failed.</p>
<p>}</p>
<p>Listing the Contents of a Directory</p>
<p>A listing of the files contained within a specified directory can be obtained using the directoryContentsAtPath method. This method takes the directory pathname as an argument and returns an NSArray object containing the names of the files and sub-directories in that directory. The following example obtains a listing of the contents of the root directory (/) and displays each item in the Xcode console panel during execution:</p>
<p>NSFileManager *filemgr;</p>
<p>NSArray *filelist;</p>
<p>int count;</p>
<p>int i;</p>
<p>&nbsp;</p>
<p>filemgr =[NSFileManager defaultManager];</p>
<p>filelist = [filemgr contentsOfDirectoryAtPath:@"/" error:NULL];</p>
<p>count = [filelist count];</p>
<p>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp;</p>
<p>for (i = 0; i &lt; count; i++)</p>
<p>&nbsp; &nbsp; NSLog(@"%@", filelist[i]);</p>
<p>Getting the Attributes of a File or Directory</p>
<p>The attributes of a file or directory may be obtained using the attributesOfItemAtPath method. This takes as arguments the path of the directory and an optional NSError object into which information about any errors will be placed (may be specified as NULL if this information is not required). The results are returned in the form of an NSDictionary dictionary object. The keys for this dictionary are as follows:</p>
<p>NSFileType</p>
<p>NSFileTypeDirectory</p>
<p>NSFileTypeRegular</p>
<p>NSFileTypeSymbolicLink</p>
<p>NSFileTypeSocket</p>
<p>NSFileTypeCharacterSpecial</p>
<p>NSFileTypeBlockSpecial</p>
<p>NSFileTypeUnknown</p>
<p>NSFileSize</p>
<p>NSFileModificationDate</p>
<p>NSFileReferenceCount</p>
<p>NSFileDeviceIdentifier</p>
<p>NSFileOwnerAccountName</p>
<p>NSFileGroupOwnerAccountName</p>
<p>NSFilePosixPermissions</p>
<p>NSFileSystemNumber</p>
<p>NSFileSystemFileNumber</p>
<p>NSFileExtensionHidden</p>
<p>NSFileHFSCreatorCode</p>
<p>NSFileHFSTypeCode</p>
<p>NSFileImmutable</p>
<p>NSFileAppendOnly</p>
<p>NSFileCreationDate</p>
<p>NSFileOwnerAccountID</p>
<p>NSFileGroupOwnerAccountID</p>
<p>For example, we can extract the file type and POSIX permissions for the /Applications directory using the following code excerpt:</p>
<p>NSFileManager *filemgr;</p>
<p>NSDictionary *attribs;</p>
<p>&nbsp;</p>
<p>filemgr = [NSFileManager defaultManager];</p>
<p>&nbsp;</p>
<p>attribs = [filemgr attributesOfItemAtPath:&nbsp;</p>
<p>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; @"/Applications" error: NULL];</p>
<p>&nbsp;</p>
<p>NSLog (@"File type&nbsp;%@", [attribs objectForKey: NSFileType]);</p>
<p>NSLog (@"POSIX Permissions&nbsp;%@", [attribs objectForKey: NSFilePosixPermissions]);</p>
<p>When executed, results similar to the following output will appear in the Xcode console:</p>
<p>File type NSFileTypeDirectory</p>
<p>POSIX Permissions 509&nbsp;</p>