<h2><span style="color: #008080;">Working with Files</span></h2>
<p><strong>Getting the NSFileManager Reference</strong></p>
<p>First we need to recap the steps necessary to obtain a reference to creatane an instance of the NSFileManager class. As discussed in the previous chapter, the NSFileManager class contains a class method named defaultManager that is used to create an instance of the class. For example:obtain a reference to the NSFileManager object instance:</p>
<p>NSFileManager *filemgr;</p>
<p>filemgr = [NSFileManager defaultManager];</p>
<p>&nbsp;</p>
<p><strong>Checking if a File Exists</strong></p>
<p>The NSFileManager class contains an instance method named <em>fileExistsAtPath</em> that checks whether a specified file already exists. The method takes as an argument an NSString object containing the path to file and returns a boolean YES or NO value indicating the presence or otherwise of that file:</p>
<p>NSFileManager *filemgr;</p>
<p>&nbsp;</p>
<p>filemgr = [NSFileManager defaultManager];</p>
<p>&nbsp;</p>
<p>if ([filemgr fileExistsAtPath: @"/tmp/myfile.txt" ] == YES)</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; NSLog (@"File exists");</p>
<p>else</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; NSLog (@"File not found");</p>
<p>&nbsp;</p>
<p><strong>Comparing the Contents of Two Files</strong></p>
<p>The contents of two files can be compared for equality using the <em>contentsEqualAtPath</em> method. This method takes as arguments the paths to the two files to be compared and returns a boolean YES or NO to indicate whether the file contents match:</p>
<p>NSFileManager *filemgr;</p>
<p>&nbsp;</p>
<p>filemgr = [NSFileManager defaultManager];</p>
<p>&nbsp;</p>
<p>if ([filemgr contentsEqualAtPath: @"/tmp/myfile.txt" andPath: @"/tmp/sales.txt"] == YES)</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; NSLog (@"File contents match");</p>
<p>else</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; NSLog (@"File contents do not match");</p>
<p>&nbsp;</p>
<p><strong>Checking if a File is Readable/Writable/Executable/Deletable</strong></p>
<p>Most operating systems provide some level of file access control. These typically take the form of attributes that control the level of access to a file for each user or user group. As such, it is not a certainty that your program will have read or write access to a particular file, or the appropriate permissions to delete or execute it. The quickest way to find out if your program has a particular access permission is to use the <em>isReadableFileAtPath</em>, <em>isWritableFileAtPath</em>, <em>isExecutableFileAtPath</em> and <em>isDeletableFileAtPath</em> methods. Each method takes a single argument in the form of the path to the file to be checked and returns a boolean YES or NO result. For example, the following code excerpt checks to find out if a file is writable:</p>
<p>NSFileManager *filemgr;</p>
<p>&nbsp;</p>
<p>filemgr = [NSFileManager defaultManager];</p>
<p>&nbsp;</p>
<p>if ([filemgr isWritableFileAtPath: @"/tmp/myfile.txt"]&nbsp; == YES)</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; NSLog (@"File is writable");</p>
<p>else</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; NSLog (@"File is read only");</p>
<p>&nbsp;</p>
<p><strong>Moving/Renaming a File</strong></p>
<p>A file may be renamed (assuming adequate permissions) using the moveItemAtURL method. This method returns a boolean YES or NO result and takes as arguments the pathname for the file to be moved, the destination path and an optional NSError object into which information describing any errors encountered during the operation will be placed. If no error description information is required, this argument may be set to NULL. Note that if the destination file path already exists this operation will fail.</p>
<p>NSFileManager *filemgr;</p>
<p>&nbsp;</p>
<p>filemgr = [NSFileManager defaultManager];</p>
<p>&nbsp;</p>
<p>NSURL *oldPath = [NSURL fileURLWithPath:@"/tmp/myfile.txt"];</p>
<p>NSURL *newPath= [NSURL fileURLWithPath:@"/tmp/newfile.txt"];</p>
<p>&nbsp;</p>
<p>[filemgr moveItemAtURL: oldPath toURL: newPath error: nil];</p>
<p>&nbsp;</p>
<p><strong>Copying a File</strong></p>
<p>File copying can be achieved using the <em>copyItemAtPath</em> method. As with the <em>move</em> method, this takes as arguments the source and destination pathnames and an optional NSError object. Success of the operation is indicated by the returned boolean value:</p>
<p>NSFileManager *filemgr;</p>
<p>&nbsp;</p>
<p>filemgr = [NSFileManager defaultManager];</p>
<p>&nbsp;</p>
<p>if ([filemgr copyItemAtPath: @"/tmp/myfile.txt" toPath: @"/Users/demo/newfile.txt" error: NULL]&nbsp; == YES)</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; NSLog (@"Copy successful");</p>
<p>else</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; NSLog (@"Copy failed");</p>
<p>&nbsp;</p>
<p><strong>Removing a File</strong></p>
<p>The <em>removeItemAtPath</em> method removes the specified file from the file system. The method takes as arguments the pathname of the file to be removed and an optional NSError object. The success of the operation is, as usual, reported in the form of a boolean YES or NO return value:</p>
<p>NSFileManager *filemgr;</p>
<p>&nbsp;</p>
<p>filemgr = [NSFileManager defaultManager];</p>
<p>&nbsp;</p>
<p>if ([filemgr removeItemAtPath: @"/tmp/myfile.txt" error: NULL]&nbsp; == YES)</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; NSLog (@"Remove successful");</p>
<p>else</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; NSLog (@"Remove failed");</p>
<p><strong>Creating a Symbolic Link</strong></p>
<p>A symbolic link to a particular file may be created using the createSymbolicLinkAtPath method. This takes as arguments the path of the symbolic link, the path to the file to which the link is to refer and an optional NSError object. For example, the following code creates a symbolic link from/tmpUsers/demo/myfile21.txt that links to the pre-existing file /tmp/myfile.txt:</p>
<p>NSFileManager *filemgr;</p>
<p>&nbsp;</p>
<p>filemgr = [NSFileManager defaultManager];</p>
<p>&nbsp;</p>
<p>if ([filemgr createSymbolicLinkAtPath: @"/tmp/myfile2.txt"</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; withDestinationPath: @"/tmp/myfile.txt" error: NULL] == YES)</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; NSLog (@"Link successful");</p>
<p>else</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; NSLog (@"Link failed");NSFileManager *filemgr;</p>
<p>&nbsp;</p>
<p>filemgr = [NSFileManager defaultManager];</p>
<p>&nbsp;</p>
<p>if ([filemgr createSymbolicLinkAtPath: @"/Users/demo/file1.txt"&nbsp;</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; withDestinationPath: @"/tmp/myfile.txt" error: NULL] == YES)</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; NSLog (@"Remove successful");</p>
<p>else</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; NSLog (@"Remove failed");</p>
<p><strong>Reading and Writing Files with NSFileManager</strong></p>
<p>The NSFileManager class includes some basic file reading and writing capabilities. these capabilities are somewhat limited when compared to the options provided by the NSFileHandle class, but can be useful nonetheless.</p>
<p>Firstly, the contents of a file may be read and stored in an NSData object through the use of the <em>contentsAtPath</em> method:</p>
<p>NSFileManager *filemgr;</p>
<p>NSData *databuffer;</p>
<p>&nbsp;</p>
<p>filemgr = [NSFileManager defaultManager];</p>
<p>&nbsp;</p>
<p>databuffer = [filemgr contentsAtPath: @"/tmp/myfile.txt" ];</p>
<p>Having stored the contents of a file in an NSData object, that data may subsequently be written out to a new file using the <em>createFileAtPath</em> method:</p>
<p>databuffer = [filemgr contentsAtPath: @"/tmp/myfile.txt" ];</p>
<p>&nbsp;</p>
<p>[filemgr createFileAtPath: @"/tmp/newfile.txt" contents: databuffer attributes: nil];</p>
<p>&lt;google&gt;IOSBOX&lt;/google&gt; In the above example we have essentially copied the contents from an existing file to a new file. This, however, gives us no control over how much data is to be read or written and does not allow us to append data to the end of an existing file. If the file <em>/tmp/newfile.txt</em> in the above example had already existed it, and any data it contained, would have been overwritten by the contents of the source file. Clearly some more flexible mechanism is required. This is provided by the Foundation Framework in the form of the <em>NSFileHandle</em> class.</p>
<p><strong>Working with Files using the NSFileHandle Class</strong></p>
<p>The NSFileHandle class provides a range of methods designed to provide a more advanced mechanism for working with files. In addition to files, this class can also be used for working with devices and network sockets. In the following sections we will look at some of the more common uses for this class.</p>
<p><strong>Creating an NSFileHandle Object</strong></p>
<p>An NSFileHandle object can be created when opening a file for reading, writing or updating (reading and writing). This is achieved using the <em>fileHandleForReadingAtPath</em>, <em>fileHandleForWritingAtPath</em> and <em>fileHandleForUpdatingAtPath</em> methods respectively. Having opened a file, it must subsequently be closed when we have finished working with it using the <em>closeFile</em> method. If an attempt to open a file fails, for example because an attempt is made to open a non-existent file for reading, these methods return <em>nil</em>.</p>
<p>For example, the following code excerpt opens a file for reading and writing and then closes it without actually doing anything to the file:</p>
<p>NSFileHandle *file;</p>
<p>&nbsp;</p>
<p>file = [NSFileHandle fileHandleForWritingAtPath: @"/tmp/myfile.txt"];</p>
<p>&nbsp;</p>
<p>if (file == nil)</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; NSLog(@"Failed to open file");</p>
<p>&nbsp;</p>
<p>[file closeFile];</p>
<p><strong>NSFileHandle File Offsets and Seeking</strong></p>
<p>NSFileHandle objects maintain a pointer to the current position in a file. This is referred to as the <em>offset</em>. When a file is first opened the offset is set to 0 (the beginning of the file). This means that any read or write operations we perform using the NSFileHandle methods will take place at offset 0 in the file. To perform operations at different locations in a file (for example to append data to the end of the file) it is first necessary to <em>seek</em> to the required offset. For example to move the current offset to the end of the file, use the <em>seekToEndOfFile</em> method. Alternatively, <em>seekToFileOffset</em> allows you to specify the precise location in the file to which the offset is to be positioned. Finally, the current offset may be identified using the <em>offsetInFile</em> method. In order to accommodate large files, the offset is stored in the form of an unsigned long long.</p>
<p>The following example opens a file for reading and then performs a number of method calls to move the offset to different positions, outputting the current offset after each move:</p>
<p>NSFileHandle *file;</p>
<p>&nbsp;</p>
<p>file = [NSFileHandle fileHandleForUpdatingAtPath: @"/tmp/myfile.txt"];</p>
<p>&nbsp;</p>
<p>if (file == nil)</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; NSLog(@"Failed to open file");</p>
<p>&nbsp;</p>
<p>NSLog (@"Offset =&nbsp;%llu", [file offsetInFile]);</p>
<p>&nbsp;</p>
<p>[file seekToEndOfFile];</p>
<p>&nbsp;</p>
<p>NSLog (@"Offset =&nbsp;%llu", [file offsetInFile]);</p>
<p>&nbsp;</p>
<p>[file seekToFileOffset: 30];</p>
<p>&nbsp;</p>
<p>NSLog (@"Offset =&nbsp;%llu", [file offsetInFile]);</p>
<p>&nbsp;</p>
<p>[file closeFile];</p>
<p>File offsets are a key aspect of working with files using the NSFileHandle class so it is worth taking extra time to make sure you understand the concept. Without knowing where the current offset is in a file it is impossible to know where in the file data will be read or written.</p>
<p><strong>Reading Data from a File</strong></p>
<p>Once a file has been opened and assigned a file handle, the contents of that file may be read from the current offset position. The <em>readDataOfLength</em> method reads a specified number of bytes of data from the file starting at the current offset. For example, the following code reads 5 bytes of data from offset 10 in a file. The data read is returned encapsulated in an NSData object:</p>
<p>NSFileHandle *file;</p>
<p>NSData *databuffer;</p>
<p>&nbsp;</p>
<p>file = [NSFileHandle fileHandleForReadingAtPath: @"/tmp/myfile.txt"];</p>
<p>&nbsp;</p>
<p>if (file == nil)</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; NSLog(@"Failed to open file");</p>
<p>&nbsp;</p>
<p>[file seekToFileOffset: 10];</p>
<p>&nbsp;</p>
<p>databuffer = [file readDataOfLength: 5];</p>
<p>&nbsp;</p>
<p>[file closeFile];</p>
<p>Alternatively, the <em>readDataToEndOfFile</em> method will read all the data in the file starting at the current offset and ending at the end of the file.</p>
<p><strong>Writing Data to a File</strong></p>
<p>The <em>writeData</em> method writes the data contained in an NSData object to the file starting at the location of the offset. Note that this does not insert data but rather overwrites any existing data in the file at the corresponding location.</p>
<p>To see this in action we need to begin with a file. Using a text editor, create a file named quickfox.txt, enter the following text and save it in the /tmp directory:</p>
<p>The quick brown fox jumped over the lazy dog</p>
<p>Next, we will write a program that opens the file for updating, seeks to position 10 and then writes some data at that location:</p>
<p>#import &lt;Foundation/Foundation.h&gt;</p>
<p>&nbsp;</p>
<p>int main (int argc, const char * argv[])</p>
<p>{</p>
<p>&nbsp; &nbsp; @autoreleasepool {</p>
<p>&nbsp;</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; NSFileHandle *file;</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; NSMutableData *data;</p>
<p>&nbsp;</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; const char *bytestring = "black dog";</p>
<p>&nbsp;</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; data = [NSMutableData dataWithBytes:bytestring length:strlen(bytestring)];</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; file = [NSFileHandle fileHandleForUpdatingAtPath: @"/tmp/quickfox.txt"];</p>
<p>&nbsp;</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; if (file == nil)</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; NSLog(@"Failed to open file");</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; [file seekToFileOffset: 10];</p>
<p>&nbsp;</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; [file writeData: data];</p>
<p>&nbsp;</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; [file closeFile];</p>
<p>&nbsp;</p>
<p>&nbsp; &nbsp; }</p>
<p>&nbsp; &nbsp; return 0;</p>
<p>}</p>
<p>When the above program is compiled and executed the contents of the quickfox.txt will have changed to:</p>
<p>The quick black dog jumped over the lazy dog</p>
<p><strong>Truncating a File</strong></p>
<p>A file may be truncated at the specified offset using the <em>truncateFileAtOffset</em> method. To delete the entire contents of a file, specify an offset of 0 when calling this method:</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; NSFileHandle *file;</p>
<p>&nbsp;</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; file = [NSFileHandle fileHandleForUpdatingAtPath: @"/tmp/quickfox.txt"];</p>
<p>&nbsp;</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; if (file == nil)</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; NSLog(@"Failed to open file");</p>
<p>&nbsp;</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; [file truncateFileAtOffset: 0];</p>
<p>&nbsp;</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; [file closeFile];</p>