<div class="page" title="Page 2">
<div class="layoutArea">
<div class="column">
<h2><span style="color: #008080;">Adding the Root View Controller</span></h2>
<p>Usually you can drag this arrow to another view controller which then becomes the new &ldquo;initial view controller&rdquo; &ndash; but when you delete the controller associated with it, the arrow disappears in Xcode 6.</p>
<p><strong>So how do we get it back?</strong></p>
<p>Head over to <strong>Interface Builder</strong> (i.e. select your storyboard) and find the <strong>Attributes Inspector</strong> (in the right pane, fourth icon from the left). Select the view controller you&rsquo;d like to become the root and tick the box that reads <strong>Is Initial View Controller</strong>.</p>
<p>Programmatically</p>
<p>So, the window gets a "root view controller", which is the UINavigationController, which also has a RootViewController, which is the first view controller you want to show.</p>
<p>once you sort that out, its all makes sense.</p>
<p>here is some code that does it all.</p>
<p>//called with the app first loads and runs.. does not fire on restarts while that app was in memory</p>
<p>- (BOOL)application:(UIApplication *)application didFinishLaunchingWithOptions:(NSDictionary *)launchOptions { &nbsp; &nbsp;</p>
<p>//create the base window.. an ios thing</p>
<p>&nbsp; &nbsp; UIWindow *w = [[UIWindow alloc]initWithFrame:[[UIScreen mainScreen]bounds]];</p>
<p>&nbsp; &nbsp; self.window=w;</p>
<p>&nbsp; &nbsp; [w release];</p>
<p>&nbsp; &nbsp;// this is the home page from the user's perspective</p>
<p>&nbsp; &nbsp; //the UINavController wraps around the MainViewController, or better said, the MainViewController is the root view controller</p>
<p>&nbsp; &nbsp; MainViewController *vc = [[MainViewController alloc]init];</p>
<p>&nbsp;</p>
<p>&nbsp; &nbsp; UINavigationController *nc = [[UINavigationController alloc]initWithRootViewController:vc];</p>
<p>&nbsp; &nbsp; self.navigationController=nc;&nbsp; // I have a property on the app delegate that references the root view controller, which is my navigation controller.</p>
<p>&nbsp; &nbsp; [nc release];</p>
<p>&nbsp; &nbsp; [vc release];</p>
<p>&nbsp;</p>
<p>&nbsp; &nbsp; //show them</p>
<p>&nbsp; &nbsp; [self.window addSubview:nc.view];</p>
<p>&nbsp; &nbsp; [self.window makeKeyAndVisible];</p>
<p>&nbsp;</p>
<p>&nbsp; &nbsp; return YES;</p>
<p>}</p>
<div class="page" title="Page 2">
<div class="layoutArea">
<div class="column">