<h2><span style="color: #008080;">Controlling the Stack Navigation</span></h2>
<p><span style="color: #000000;">The set of view controllers managed by a particular navigation controller is called its navigation stack. The <strong>navigation stack </strong>is a last-in, first-out collection of custom view controller objects. The first item added to the stack becomes the <strong>root view controller </strong>and is never popped off the stack. Other view controllers can be pushed on or popped off the navigation stack.&nbsp;</span></p>
<p>&nbsp;</p>
</div>
</div>
</div>
</div>
</div>
</div>