<div class="page" title="Page 2">
<div class="layoutArea">
<div class="column">
<h2><span style="color: #008080;">Adding the Root View Controller</span></h2>
<p>Usually you can drag this arrow to another view controller which then becomes the new &ldquo;initial view controller&rdquo; &ndash; but when you delete the controller associated with it, the arrow disappears in Xcode 6.</p>
<p><strong>So how do we get it back?</strong></p>
<p>Head over to <strong>Interface Builder</strong> (i.e. select your storyboard) and find the <strong>Attributes Inspector</strong> (in the right pane, fourth icon from the left). Select the view controller you&rsquo;d like to become the root and tick the box that reads <strong>Is Initial View Controller</strong>.</p>
<p>Programmatically</p>
<p>So, the window gets a "root view controller", which is the UINavigationController, which also has a RootViewController, which is the first view controller you want to show.</p>
<p>once you sort that out, its all makes sense.</p>
<p>here is some code that does it all.</p>
<p>//called with the app first loads and runs.. does not fire on restarts while that app was in memory</p>
<p>- (BOOL)application:(UIApplication *)application didFinishLaunchingWithOptions:(NSDictionary *)launchOptions { &nbsp; &nbsp;</p>
<p>//create the base window.. an ios thing</p>
<p>&nbsp; &nbsp; UIWindow *w = [[UIWindow alloc]initWithFrame:[[UIScreen mainScreen]bounds]];</p>
<p>&nbsp; &nbsp; self.window=w;</p>
<p>&nbsp; &nbsp; [w release];</p>
<p>&nbsp; &nbsp;// this is the home page from the user's perspective</p>
<p>&nbsp; &nbsp; //the UINavController wraps around the MainViewController, or better said, the MainViewController is the root view controller</p>
<p>&nbsp; &nbsp; MainViewController *vc = [[MainViewController alloc]init];</p>
<p>&nbsp;</p>
<p>&nbsp; &nbsp; UINavigationController *nc = [[UINavigationController alloc]initWithRootViewController:vc];</p>
<p>&nbsp; &nbsp; self.navigationController=nc;&nbsp; // I have a property on the app delegate that references the root view controller, which is my navigation controller.</p>
<p>&nbsp; &nbsp; [nc release];</p>
<p>&nbsp; &nbsp; [vc release];</p>
<p>&nbsp;</p>
<p>&nbsp; &nbsp; //show them</p>
<p>&nbsp; &nbsp; [self.window addSubview:nc.view];</p>
<p>&nbsp; &nbsp; [self.window makeKeyAndVisible];</p>
<p>&nbsp;</p>
<p>&nbsp; &nbsp; return YES;</p>
<p>}</p>
<div class="page" title="Page 2">
<div class="layoutArea">
<div class="column">
<h2><span style="color: #008080;">Creating the Navigation Controller</span></h2>
<p>Adding the Navigation Controller</p>
<p>Later stages of this tutorial will require the services of a navigation controller. Since the presence of the navigation bar will have implications for the layout of the user interface of the main view, it make sense to add the controller now. Select the Main.storyboard file from the project navigator panel and select the view controller view so that it highlights in blue and use the Editor -&gt; Embed In -&gt; Navigation Controller menu option to embed a controller into the storyboard as illustrated in Figure 70-1:</p>
<p>If your app has more than one content view hierarchy, you need to be able to transition between them. For this, you&rsquo;ll use a specialized type of view controller: a navigation controller (UINavigationController). A <strong>navigation controller </strong>manages transitions backward and forward through a series of view controllers, such as when a user navigates through email accounts, inbox messages, and individual emails in the iOS Mail app.&nbsp;</p>
<p>Although a navigation controller&rsquo;s primary job is to manage the presentation of your content view controllers, it&rsquo;s also responsible for presenting custom views of its own. Specifically, it presents a navigation bar&mdash;the view at the top of the screen that provides context about the user&rsquo;s place in the navigation hierarchy&mdash;which contains a back button and other buttons you can customize. Every view controller that&rsquo;s added to the navigation stack presents this navigation bar. You are responsible for configuring the navigation bar.&nbsp;</p>
<p>You generally don&rsquo;t have to do any work to pop a view controller off of the navigation stack; the back button provided by the navigation controller handles this for you. However, you do have to manually push a view controller onto the stack. You can do this using storyboards.&nbsp;</p>
<p><strong>Use Storyboards to Define Navigation&nbsp;</strong></p>
<p>So far, you&rsquo;ve learned about using storyboards to create a single screen of content in your app. Now, you&rsquo;ll learn about using them to define the flow between multiple scenes in your app.&nbsp;</p>
<p>In the first tutorial, the storyboard you worked with had one scene. In most apps, a storyboard is composed of a sequence of scenes, each of which represents a view controller and its view hierarchy. Scenes are connected by <strong>segues</strong>, which represent a transition between two view controllers: the source and the destination.&nbsp;</p>
<p>There are several types of segues you can create:&nbsp;</p>
<p><strong>Push. </strong>A push segue adds the destination view controller to the navigation stack. Push segues may only be used when the source view controller is connected to a navigation controller.&nbsp;</p>
<p><strong>Modal. </strong>A modal segue is simply one view controller presenting another controller modally, requiring a user to perform some operation on the presented controller before returning to the main flow of the app. A modal view controller isn&rsquo;t added to a navigation stack; instead, it&rsquo;s generally considered to be a child of the presenting view controller. The presenting view controller is responsible for dismissing the modal view controller it created and presented.&nbsp;</p>
<p><strong>Custom. </strong>You can define your own custom transition by subclassing UIStoryboardSegue.<br /> <strong>Unwind. </strong>An unwind segue moves backward through one or more segues to return the user to an existing&nbsp;</p>
<p>instance of a view controller. You use unwind segues to implement reverse navigation.&nbsp;</p>
<p>Instead of segues, scenes may also be connected by a <strong>relationship</strong>. For example, there&rsquo;s a relationship between the navigation controller and its root view controller. In this case, the relationship represents the containment of the root view controller by the navigation controller.&nbsp;</p>
<p>When you use a storyboard to plan the user interface for your app, it&rsquo;s important to make sure that one of the view controllers is marked as being the <strong>initial view controller</strong>. At runtime, this is the view controller whose content view will be displayed the first time the app is launched and from which you can transition to other view controllers&rsquo; content views as necessary.&nbsp;</p>
<p>Now that you&rsquo;ve learned the basics of working with views and view controllers in storyboards, it&rsquo;s time to incorporate this knowledge into your ToDoList app in the next tutorial.</p>
<h2><span style="color: #008080;">Controlling the Stack Navigation</span></h2>
<p><span style="color: #000000;">The set of view controllers managed by a particular navigation controller is called its navigation stack. The <strong>navigation stack </strong>is a last-in, first-out collection of custom view controller objects. The first item added to the stack becomes the <strong>root view controller </strong>and is never popped off the stack. Other view controllers can be pushed on or popped off the navigation stack.&nbsp;</span></p>
<p>&nbsp;</p>
</div>
</div>
</div>
</div>
</div>
</div>