<h2><span style="color: #008080;">Background Execution</span></h2>
<p><strong>The following are the&nbsp;<em>only</em>&nbsp;scenarios in which a third-party iOS app can use CPU in the background.</strong></p>
<h2>Background Fetch</h2>
<p>Any app can use "Background Fetch" (aka Background app refresh) to fetch content in the background for a few seconds, about once a day (on a timeframe regulated by iOS, out of the developer's control). Background Fetch takes up very little battery and CPU, and is mainly used by news/weather/social media/mail apps to update your feed so that when you open the app it won't be completely out of date.</p>
<h2>Audio, Voice over IP, Bluetooth Communications</h2>
<p>If an app plays audio in the background (over AirPlay or through the phone's speakers), iOS permits it to run in the background until it ceases to play the music; if an app allows you to make data-based phone calls (like Whatsapp or Skype calls) in the background, it can stay active, using CPU for the duration of the call; and if an app communicates to Bluetooth Accessories (like the Pebble app communicating with the Pebble Smartwatch), it can stay awake permanently in the background.</p>
<h2>Newsstand downloads, remote notifications</h2>
<p>Newsstand apps (as long as they are approved by Apple to be a major news organization and show up in the Newsstand part of the App Store) are permitted to download new content in the background; any app (like The New York Times app) that needs to display notifications generated outside the app (for example, breaking news notifications), can stay awake in the background to recieve such "remote" notifications.</p>
<h2>Location Updates</h2>
<p>If you allow an app to "always" use your location (i.e. in the background), then it can be active at any time in the background. Apps like Facebook, Find Friends, and others use this to update location-related information, though other apps can use it to surreptitiously use it to do tasks in the background (but only if you specifically allow them to access your location).</p>
<p>A&nbsp;<strong>very common misconception</strong>&nbsp;is that "swiping up" on an app to kill it stops it from operating in the background: this is wholly untrue. Apps that have one of the above seven reasons to operate in the background can operate in the background regardless of you "swiping up" on them, and apps that don't have one of these seven reasons can't operate when they're not on the screen even if you don't kill them.</p>
<p>Another misconception (that you seem to have!) is that switching off "Background App Refresh" will stop an app from operating in the background; in fact, that only disables an app from using Background Fetch, but it can operate in the background if it has one of the other six reasons too regardless of the Background App Refresh toggle.</p>
<p>So are the apps you have installed using CPU, memory, battery, or data in the background? You can easily find out! Go to&nbsp;<code>Settings</code>&nbsp;on your iPhone, find the&nbsp;<code>Battery</code>&nbsp;section, and take a peek. If an app shows "Background Activity" under its name, then it's been using CPU in the background; otherwise, it has not been doing anything in the background.</p>
<p>On this iPhone, Podcasts has been operating in the background&nbsp;<strong>but none of the other apps have.</strong>&nbsp;Going into Battery Settings is a simple way to tell if Angry Birds has been running in the background.</p>
