<h2><span style="color: #008080;">Background App Refresh in iOS 7</span></h2>
<p dir="ltr">Not that long ago, iOS apps running in the background on your iPhone or iPad were essentially stuck in suspended animation, unable to do anything (besides trigger alerts via Apple&rsquo;s &ldquo;push notification&rdquo; system) until you re-launched them and put them back on your display.</p>
<p dir="ltr">All of that changed a couple of years ago thanks to &ldquo;<a href="http://www.macworld.com/article/2048935/get-to-know-ios-7-multitasking.html">Background App Refresh</a>,&rdquo; a feature introduced with iOS 7 that let third-party apps go out and pull new messages, headlines, status updates, and more from the Internet, even while they&rsquo;re not actively running on your screen.</p>
<p dir="ltr">Of course, all those apps busily refreshing themselves can put a dent in the battery life of your iPhone or iPad, particularly if you&rsquo;re not keeping an eye on which apps are doing the refreshing. Here are four ways you can manage this feature.</p>
<h2 dir="ltr">Find out which apps are refreshing themselves in the background</h2>
<p dir="ltr">You might be surprised to learn which of your third-party iOS apps are refreshing themselves. Some of them are obvious:&nbsp;Facebook and Twitter, for example, can silently fetch status updates in the background; meanwhile, Gmail can grab new messages,&nbsp;CNN&nbsp;and&nbsp;New York Times&nbsp;will pull the latest headlines, and Pocket will save articles you&rsquo;ve bookmarked on the web&mdash;and they can all do so whether they&rsquo;re active on your handset&rsquo;s screen or not.</p>
<p dir="ltr">That all sounds fairly reasonable, but then there&rsquo;s Amazon&rsquo;s shopping app, which can refresh itself in the background, too&mdash;and so can OpenTable (the app that lets you make restaurant reservations), iTunes Movie Trailers (the Apple app for watching movie previews), and the Amazon Kindle app.</p>
<p dir="ltr">Now, a case could be made for letting the Kindle app refresh itself (so that, perhaps, it can sync notes and bookmarks from another Kindle reader you recently used), but OpenTable? Seems like a stretch. Or it could be that you don&rsquo;t feel the need for Facebook to grab new status updates until you launch it yourself.</p>
<p dir="ltr">In any case, it&rsquo;s wise to check which of your iOS apps are background refresh-enabled, and to turn off the feature for any apps that (to your mind, at least) don&rsquo;t need to be furiously refreshing themselves.</p>
<p dir="ltr">Tap&nbsp;<em>Settings &gt; General &gt; Background App Refresh</em>, then scroll down the list of apps. If you see anything that you don&rsquo;t want refreshing itself in the background, go ahead and flip the appropriate switch to the &ldquo;off&rdquo; position.</p>
<aside id="" class="nativo-promo smartphone tablet desktop"></aside>
<h2 dir="ltr">See which background-refreshing apps are drawing the most battery power</h2>
<p dir="ltr">Yes, apps that refresh themselves in the background can put a strain on your iPhone&rsquo;s or iPad&rsquo;s battery&mdash;but how much of a strain, exactly?</p>
<p dir="ltr">To find out, tap&nbsp;<em>Settings &gt; Battery</em>, then scroll down to the Battery Usage section. Tap the Last 24 Hours tab for a snapshot of your recent battery usage, or Last 7 Days for a longer-term look at your device&rsquo;s battery use.</p>
<p dir="ltr">Don&rsquo;t forget to tap the little clock icon next to the two tabs for details on how long your various iOS features and apps have been on the screen&mdash;and more interestingly, how long your apps have been whirring away in the background.</p>
<p dir="ltr">If you see any apps that are spending a surprising amount of time running in the background, consider cutting off their privileges on the Background Refresh settings screen.</p>
<h2 dir="ltr">Turn off background activity for all your third-party iPhone and iPad apps</h2>
<p dir="ltr">If you&rsquo;d rather not worry about whether your iOS apps are playing fast and loose with the background-refresh feature, you can shut off the ability altogether.</p>
<p dir="ltr">Tap&nbsp;<em>Settings &gt; General &gt; Background App Refresh</em>, then switch the main &ldquo;Background App Refresh&rdquo; to the &ldquo;Off&rdquo; position.</p>
<p dir="ltr">If you&rsquo;ve already customized which apps can refresh themselves and which can&rsquo;t, don&rsquo;t worry: Toggling the top &ldquo;Background App Refresh&rdquo; switch won&rsquo;t erase your previous settings.</p>
<p dir="ltr">Of course, turning off iOS&rsquo;s background-refresh feature won&rsquo;t keep iOS&rsquo;s core apps&mdash;namely Mail&mdash;from checking for updates in the background.</p>
<p dir="ltr">For that, you&rsquo;ll need to enable another setting...</p>
<h2 dir="ltr">Keep Mail from checking for messages in the background</h2>
<p dir="ltr">Even though it doesn&rsquo;t appear in the background-refresh list, the iOS Mail app burns up a fair amount of power and data as it periodically checks for messages. Luckily, there are a couple of ways to curb or halt Mail&rsquo;s background activity&mdash;a temporary way and a more permanent one.</p>
<p dir="ltr">First, let&rsquo;s tackle the temporary method. Following in the footsteps of Android, the latest version of iOS adds an aptly named feature that&rsquo;ll put your iPhone or iPad in a low-power mode when your device&rsquo;s battery meter dips into the red.</p>
<p dir="ltr">With Low Power Mode switched on, your iOS device with turn off many of its visual bells and whistles; for example, home-screen icons will no longer seem to float above your wallpaper, and your screen will dim much more quickly than it usually does.</p>
<p dir="ltr">More importantly from our perspective, Low Power Mode will temporarily stop the Mail app from checking for new messages. You&rsquo;ll still be able to check for new mail manually, but Mail won&rsquo;t automatically check your accounts.</p>
<p dir="ltr">To turn on Low Power Mode (which must be done manually), tap&nbsp;<em>General &gt; Battery</em>, then flip the Low Power Mode switch.</p>
<p dir="ltr">Low Power Mode makes for a handy way to turn off Mail&rsquo;s background activity in a pinch, but you&rsquo;ll need to dip into Mail&rsquo;s main settings menu to permanently change how often Mail checks for messages.</p>
<p>Tap&nbsp;<em>Settings &gt; Mail, Contacts, Calendars &gt; Fetch New Data</em>, scroll down to the Fetch section, then pick an option. The less often Mail checks for new messages, the more battery power you&rsquo;ll save. Turning off &ldquo;Push&rdquo; data for Mail will make a difference, too.</p>