<div class="page" title="Page 3">
<div class="layoutArea">
<div class="column">
<h2><span style="color: #008080;">Application States</span></h2>
<p><span style="color: #000000;">All&nbsp;<a style="color: #000000;" href="https://itunes.apple.com/us/genre/ios/id36?mt=8">iOS apps</a>&nbsp;developed to run on version 4.0 or newer has the ability to process in the background. This means, of course, that a developer has many more options for managing memory and streamlining their iOS apps. The operating system keeps constant communication with each iOS app, and passes information to allow the app an opportunity to make the necessary adjustments. It is important for every developer to understand the concept of application state, and the five most important application methods to implement for handling transitions.</span></p>
<h2>States</h2>
<p>Apps developed for early iOS versions (before iOS 4.0) supported three states:&nbsp;<em>non-running</em>,&nbsp;<em>inactive</em>, and&nbsp;<em>active</em>. An application delegate for pre-iOS 4.0 apps received two important method calls: applicationDidFinishLaunching and applicationWillTerminate. When an app received an applicationDidFinishLaunching message, it was an opportunity for information to be retrieved from the previous launch to restore the app to its last used state. The status, applicationWillTerminate, was used to notify the app when the app was preparing to shut down. This gave the developer an opportunity to save any unsaved data or specific state information.</p>
<p>Currently, there are five possible application states that would be cause for the app to prepare for a transition - such as a shutdown or moving to the background. In certain cases, an app might need to continue processing in the background. However, there is certainly no reason for the app to process any graphics, animations, or display-specific routines. The five states of an iOS app - as listed in the&nbsp;<a href="http://developer.apple.com/library/ios/#DOCUMENTATION/iPhone/Conceptual/iPhoneOSProgrammingGuide/ManagingYourApplicationsFlow/ManagingYourApplicationsFlow.html">iOS App Programming Guide</a>&nbsp;- include the following:</p>
<ol type="1">
<ol type="1">
<li><strong><em>Non-running</em></strong>&nbsp;- The app is not running.</li>
<li><strong><em>Inactive</em></strong>&nbsp;- The app is running in the foreground, but not receiving events. An iOS app can be placed into an inactive state, for example, when a call or SMS message is received.</li>
<li><strong><em>Active</em></strong>&nbsp;- The app is running in the foreground, and receiving events.</li>
<li><strong><em>Background</em></strong>&nbsp;- The app is running in the background, and executing code.</li>
<li><strong><em>Suspended</em></strong>&nbsp;- The app is in the background, but no code is being executed.</li>
</ol>
</ol>
<p>&nbsp;</p>
<h2>The seven most important application delegate methods</h2>
<p>The operating system calls specific methods within the application delegate to facilitate transitioning to and from various states. The seven most important application delegate methods a developer should handle are:</p>
<pre>application:willFinishLaunchingWithOptions</pre>
<div class="teads-inread">&nbsp;</div>
<p>Method called when the launch process is initiated. This is the first opportunity to execute any code within the app.</p>
<pre>application:didFinishLaunchingWithOptions</pre>
<p>Method called when the launch process is nearly complete. Since this method is called is before any of the app's windows are displayed, it is the last opportunity to prepare the interface and make any final adjustments.</p>
<pre>applicationDidBecomeActive</pre>
<p>Once the application has become active, the application delegate will receive a callback notification message via the method applicationDidBecomeActive.</p>
<div class="sharethrough-article" data-component="medusaContentRecommendation" data-medusa-content-recommendation-options="{&quot;promo&quot;:&quot;promo_TR_recommendation_sharethrough_blog_page_desktop&quot;,&quot;spot&quot;:&quot;dfp-blog&quot;}">&nbsp;</div>
<p>This method is also called each time the app returns to an active state from a previous switch to inactive from a resulting phone call or SMS.</p>
<pre>applicationWillResignActive</pre>
<p>There are several conditions that will spawn the applicationWillResignActive method. Each time a temporary event, such as a phone call, happens this method gets called. It is also important to note that "quitting" an iOS app does not terminate the processes, but rather moves the app to the background.</p>
<pre>applicationDidEnterBackground</pre>
<p>This method is called when an iOS app is running, but no longer in the foreground. In other words, the user interface is not currently being displayed. According to Apple's&nbsp;<a href="http://developer.apple.com/library/ios/#documentation/uikit/reference/UIApplicationDelegate_Protocol/Reference/Reference.html">UIApplicationDelegate Protocol Reference</a>, the app has approximately five seconds to perform tasks and return. If the method does not return within five seconds, the application is terminated.</p>
<pre>applicationWillEnterForeground</pre>
<p>This method is called as an app is preparing to move from the background to the foreground. The app, however, is not moved into an active state without the applicationDidBecomeActive method being called. This method gives a developer the opportunity to re-establish the settings of the previous running state before the app becomes active.</p>
<pre>applicationWillTerminate</pre>
<p>This method notifies your application delegate when a termination event has been triggered. Hitting the home button no longer quits the application. Force quitting the iOS app, or shutting down the device triggers the applicationWillTerminate method. This is the opportunity to save the application configuration, settings, and user preferences.</p>
<h2>Application state changes</h2>
<p>Every iOS app is always in one of the five app states. The operating system manages the app state, but the app itself is responsible for managing important tasks to ensure smooth transitions between the states. Developers are required to respond appropriately to app state transitions.</p>
<p>With multitasking capability, the latest iOS version manages the resources available to every app. It is important to note, however, that the operating system limits what an app can do in the background. If an app needs to continue running in the background (with limited functionality), you must request permission.</p>
<h2>Launching the app</h2>
<p>The moment a user taps the app icon, the app begins to change state. The app delegate receives an application:willFinishLaunchingWithOptions method call, and the app state changes from&nbsp;<em>non-running</em>&nbsp;to&nbsp;<em>inactive</em>. Once in the&nbsp;<em>inactive</em>&nbsp;state, the app delegate will receive an application:didFinishLaunchingWithOptions method call, giving the app an opportunity to make final adjustments before the interface is displayed. If the app has not been designed to launch in the background, the operating system will activate the app, set the app state to&nbsp;<em>active</em>, and send the applicationDidBecomeActive method call to the app delegate.</p>
<h2>Interruptions</h2>
<p>On occasion, the iOS app will need to respond to interruptions. An alert-based interruption - such as a phone call - causes the app to move into an&nbsp;<em>inactive</em>&nbsp;state. The app delegate will receive an applicationWillResignActive method call, allowing the app an opportunity to prepare for a temporary&nbsp;<em>inactive</em>&nbsp;state. If the user chooses to ignore the interruption, or the interrupting process has terminated, the app will move back into the&nbsp;<em>active</em>&nbsp;state. While making the transition from&nbsp;<em>inactive</em>to&nbsp;<em>active</em>, the app delegate will receive an applicationDidBecomeActive method call.</p>
<h2>Switching to the background</h2>
<p>The iOS devices make it simple to quickly switch from app to app; when a user switches to a different app, the current app moves to the background. The app can be in one of two states:&nbsp;<em>background</em>&nbsp;or&nbsp;<em>suspended</em>. In either case, and before switching to the background, the app delegate receives an applicationWillResignActive method call, followed by an applicationDidEnterBackground message. If in a&nbsp;<em>suspended</em>&nbsp;state, the app sleeps. A background state - meaning that the app is allowed to continue executing code - requires the app to monitor and handle events. Developers need to be aware that the operating system may terminate the app at any time.</p>
<h2>One final thought</h2>
<p>Apple's iOS is among the most intuitive and user-friendly operating systems available. As long as developers follow best practices, the user experience remains consistent and trouble free. Highly evolved apps take full advantage of the constant communication between the operating system and the iOS app. It takes very little effort to monitor the transition messages and handle the various app states. A little due diligence goes a long way.</p>
<h2><span style="color: #008080;">Background Execution</span></h2>
<p><strong>The following are the&nbsp;<em>only</em>&nbsp;scenarios in which a third-party iOS app can use CPU in the background.</strong></p>
<h2>Background Fetch</h2>
<p>Any app can use "Background Fetch" (aka Background app refresh) to fetch content in the background for a few seconds, about once a day (on a timeframe regulated by iOS, out of the developer's control). Background Fetch takes up very little battery and CPU, and is mainly used by news/weather/social media/mail apps to update your feed so that when you open the app it won't be completely out of date.</p>
<h2>Audio, Voice over IP, Bluetooth Communications</h2>
<p>If an app plays audio in the background (over AirPlay or through the phone's speakers), iOS permits it to run in the background until it ceases to play the music; if an app allows you to make data-based phone calls (like Whatsapp or Skype calls) in the background, it can stay active, using CPU for the duration of the call; and if an app communicates to Bluetooth Accessories (like the Pebble app communicating with the Pebble Smartwatch), it can stay awake permanently in the background.</p>
<h2>Newsstand downloads, remote notifications</h2>
<p>Newsstand apps (as long as they are approved by Apple to be a major news organization and show up in the Newsstand part of the App Store) are permitted to download new content in the background; any app (like The New York Times app) that needs to display notifications generated outside the app (for example, breaking news notifications), can stay awake in the background to recieve such "remote" notifications.</p>
<h2>Location Updates</h2>
<p>If you allow an app to "always" use your location (i.e. in the background), then it can be active at any time in the background. Apps like Facebook, Find Friends, and others use this to update location-related information, though other apps can use it to surreptitiously use it to do tasks in the background (but only if you specifically allow them to access your location).</p>
<p>A&nbsp;<strong>very common misconception</strong>&nbsp;is that "swiping up" on an app to kill it stops it from operating in the background: this is wholly untrue. Apps that have one of the above seven reasons to operate in the background can operate in the background regardless of you "swiping up" on them, and apps that don't have one of these seven reasons can't operate when they're not on the screen even if you don't kill them.</p>
<p>Another misconception (that you seem to have!) is that switching off "Background App Refresh" will stop an app from operating in the background; in fact, that only disables an app from using Background Fetch, but it can operate in the background if it has one of the other six reasons too regardless of the Background App Refresh toggle.</p>
<p>So are the apps you have installed using CPU, memory, battery, or data in the background? You can easily find out! Go to&nbsp;<code>Settings</code>&nbsp;on your iPhone, find the&nbsp;<code>Battery</code>&nbsp;section, and take a peek. If an app shows "Background Activity" under its name, then it's been using CPU in the background; otherwise, it has not been doing anything in the background.</p>
<p>On this iPhone, Podcasts has been operating in the background&nbsp;<strong>but none of the other apps have.</strong>&nbsp;Going into Battery Settings is a simple way to tell if Angry Birds has been running in the background.</p>
<h2><span style="color: #008080;">Background App Refresh in iOS 7</span></h2>
<p dir="ltr">Not that long ago, iOS apps running in the background on your iPhone or iPad were essentially stuck in suspended animation, unable to do anything (besides trigger alerts via Apple&rsquo;s &ldquo;push notification&rdquo; system) until you re-launched them and put them back on your display.</p>
<p dir="ltr">All of that changed a couple of years ago thanks to &ldquo;<a href="http://www.macworld.com/article/2048935/get-to-know-ios-7-multitasking.html">Background App Refresh</a>,&rdquo; a feature introduced with iOS 7 that let third-party apps go out and pull new messages, headlines, status updates, and more from the Internet, even while they&rsquo;re not actively running on your screen.</p>
<p dir="ltr">Of course, all those apps busily refreshing themselves can put a dent in the battery life of your iPhone or iPad, particularly if you&rsquo;re not keeping an eye on which apps are doing the refreshing. Here are four ways you can manage this feature.</p>
<h2 dir="ltr">Find out which apps are refreshing themselves in the background</h2>
<p dir="ltr">You might be surprised to learn which of your third-party iOS apps are refreshing themselves. Some of them are obvious:&nbsp;Facebook and Twitter, for example, can silently fetch status updates in the background; meanwhile, Gmail can grab new messages,&nbsp;CNN&nbsp;and&nbsp;New York Times&nbsp;will pull the latest headlines, and Pocket will save articles you&rsquo;ve bookmarked on the web&mdash;and they can all do so whether they&rsquo;re active on your handset&rsquo;s screen or not.</p>
<p dir="ltr">That all sounds fairly reasonable, but then there&rsquo;s Amazon&rsquo;s shopping app, which can refresh itself in the background, too&mdash;and so can OpenTable (the app that lets you make restaurant reservations), iTunes Movie Trailers (the Apple app for watching movie previews), and the Amazon Kindle app.</p>
<p dir="ltr">Now, a case could be made for letting the Kindle app refresh itself (so that, perhaps, it can sync notes and bookmarks from another Kindle reader you recently used), but OpenTable? Seems like a stretch. Or it could be that you don&rsquo;t feel the need for Facebook to grab new status updates until you launch it yourself.</p>
<p dir="ltr">In any case, it&rsquo;s wise to check which of your iOS apps are background refresh-enabled, and to turn off the feature for any apps that (to your mind, at least) don&rsquo;t need to be furiously refreshing themselves.</p>
<p dir="ltr">Tap&nbsp;<em>Settings &gt; General &gt; Background App Refresh</em>, then scroll down the list of apps. If you see anything that you don&rsquo;t want refreshing itself in the background, go ahead and flip the appropriate switch to the &ldquo;off&rdquo; position.</p>
<aside id="" class="nativo-promo smartphone tablet desktop"></aside>
<h2 dir="ltr">See which background-refreshing apps are drawing the most battery power</h2>
<p dir="ltr">Yes, apps that refresh themselves in the background can put a strain on your iPhone&rsquo;s or iPad&rsquo;s battery&mdash;but how much of a strain, exactly?</p>
<p dir="ltr">To find out, tap&nbsp;<em>Settings &gt; Battery</em>, then scroll down to the Battery Usage section. Tap the Last 24 Hours tab for a snapshot of your recent battery usage, or Last 7 Days for a longer-term look at your device&rsquo;s battery use.</p>
<p dir="ltr">Don&rsquo;t forget to tap the little clock icon next to the two tabs for details on how long your various iOS features and apps have been on the screen&mdash;and more interestingly, how long your apps have been whirring away in the background.</p>
<p dir="ltr">If you see any apps that are spending a surprising amount of time running in the background, consider cutting off their privileges on the Background Refresh settings screen.</p>
<h2 dir="ltr">Turn off background activity for all your third-party iPhone and iPad apps</h2>
<p dir="ltr">If you&rsquo;d rather not worry about whether your iOS apps are playing fast and loose with the background-refresh feature, you can shut off the ability altogether.</p>
<p dir="ltr">Tap&nbsp;<em>Settings &gt; General &gt; Background App Refresh</em>, then switch the main &ldquo;Background App Refresh&rdquo; to the &ldquo;Off&rdquo; position.</p>
<p dir="ltr">If you&rsquo;ve already customized which apps can refresh themselves and which can&rsquo;t, don&rsquo;t worry: Toggling the top &ldquo;Background App Refresh&rdquo; switch won&rsquo;t erase your previous settings.</p>
<p dir="ltr">Of course, turning off iOS&rsquo;s background-refresh feature won&rsquo;t keep iOS&rsquo;s core apps&mdash;namely Mail&mdash;from checking for updates in the background.</p>
<p dir="ltr">For that, you&rsquo;ll need to enable another setting...</p>
<h2 dir="ltr">Keep Mail from checking for messages in the background</h2>
<p dir="ltr">Even though it doesn&rsquo;t appear in the background-refresh list, the iOS Mail app burns up a fair amount of power and data as it periodically checks for messages. Luckily, there are a couple of ways to curb or halt Mail&rsquo;s background activity&mdash;a temporary way and a more permanent one.</p>
<p dir="ltr">First, let&rsquo;s tackle the temporary method. Following in the footsteps of Android, the latest version of iOS adds an aptly named feature that&rsquo;ll put your iPhone or iPad in a low-power mode when your device&rsquo;s battery meter dips into the red.</p>
<p dir="ltr">With Low Power Mode switched on, your iOS device with turn off many of its visual bells and whistles; for example, home-screen icons will no longer seem to float above your wallpaper, and your screen will dim much more quickly than it usually does.</p>
<p dir="ltr">More importantly from our perspective, Low Power Mode will temporarily stop the Mail app from checking for new messages. You&rsquo;ll still be able to check for new mail manually, but Mail won&rsquo;t automatically check your accounts.</p>
<p dir="ltr">To turn on Low Power Mode (which must be done manually), tap&nbsp;<em>General &gt; Battery</em>, then flip the Low Power Mode switch.</p>
<p dir="ltr">Low Power Mode makes for a handy way to turn off Mail&rsquo;s background activity in a pinch, but you&rsquo;ll need to dip into Mail&rsquo;s main settings menu to permanently change how often Mail checks for messages.</p>
<p>Tap&nbsp;<em>Settings &gt; Mail, Contacts, Calendars &gt; Fetch New Data</em>, scroll down to the Fetch section, then pick an option. The less often Mail checks for new messages, the more battery power you&rsquo;ll save. Turning off &ldquo;Push&rdquo; data for Mail will make a difference, too.</p>
<h2><span style="color: #008080;">State Restoration</span></h2>
<p>&nbsp;</p>
</div>
</div>
</div>