<h2><span style="color: #008080;">AirDrop</span></h2>
<p><strong>What is the AirDrop?</strong></p>
<p>AirDrop is Apple's proprietary wireless technology that enables you to share various types of files between compatible devices. It is available on certain iOS devices (7 or higher) and <a href="https://www.lifewire.com/os-x-lion-installation-guides-2260360">Mac OS X 10.7+</a> (Lion). However, you can't currently share files between these two <a href="https://www.lifewire.com/mac-os-x-is-not-linux-distribution-2204744">operating systems</a> -- i.e. files can't be shared between a Mac OS X computer and an <a href="https://www.lifewire.com/iphone-compatible-ios-8-1999214">iOS device</a> (or vice-versa).</p>
<p>Begin Rubicon Project Tag Site: Lifewire.com Zone: Lifewire Desktop INTL T1 Size: Medium Rectangle</p>
<p>&nbsp;</p>
<p>Copyright the Rubicon Project 2010</p>
<p>End Rubicon Project Tag</p>
<p><strong>How Does it Work?</strong></p>
<p>Rather than using an Internet connection for moving files around, users locally share the data using two wireless technologies -- <a href="https://www.lifewire.com/useful-facts-about-how-wifi-works-818275">Bluetooth and Wi-Fi</a>. In fact, this is one of the main advantages of <a href="https://www.lifewire.com/use-airdrop-on-iphone-1999205">using AirDrop</a> in that it negates the need to use any Internet connection or remote <a href="https://www.lifewire.com/what-is-cloud-storage-2438541">cloud storage</a> service at all. In the past you would have needed to install a third-party app and use the Internet to either upload your files to a <a href="https://www.lifewire.com/best-free-music-storage-sites-2438776">remote storage service</a> (<a href="https://www.lifewire.com/get-free-cloud-storage-with-dropbox-3486458">like Dropbox for example</a>) or used a Bittorrent-based client to transfer your files to a remote computer.</p>
<p>However, by using AirDrop you can setup a wireless local network to distribute files securely between compatible hardware. It's quite flexible too in how files can be shared. You can either setup <a href="https://www.lifewire.com/airdrop-with-without-wifi-connection-2259801">an AirDrop network</a> to share publicly (i.e. everyone) or just your contacts.</p>
<p><strong>What iOS Devices is AirDrop Available on?</strong></p>
<p>Currently AirDrop is available on the following devices running iOS 7 or higher:</p>
<p>&nbsp;</p>
<ul>
<li>iPhone 5 or later</li>
<li>iPod touch 5</li>
<li>iPad 4</li>
<li>iPad mini</li>
</ul>
<p><strong>What Types of Digital Media Files Can I Share Using AirDrop?</strong></p>
<p>As well as sharing non-media file types such as content from apps, Web URLs, locations, etc., AirDrop also allows you to share a few different digital media types. This includes: photos, videos, and <a href="https://www.lifewire.com/what-is-digital-music-2438426">digital music</a> (via a third-party app like iZip).</p>
<p>The advantage of using AirDrop for sharing media files is that it is already activated by default and there's no setup required to start sharing with others.</p>
<p>For example, if you have a collection of MP3s that you want to share, then using AirDrop with an app is a simple and quick solution.</p>
<p>&nbsp;</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>