<h2><span style="color: #008080;">Asynchronous Downloads</span></h2>
<p><strong>&nbsp;How To Download Images Asynchronously (And Make Your UITableView Scroll Fast)</strong></p>
<p>To get the images to load, I started out by storing the image URL that was returned via the FourSquare API, and then in the tableView:cellForRowAtIndexPath: method, getting the image data through the image url like this:</p>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="baseline">
<p>1</p>
<p>2</p>
<p>3</p>
<p>4</p>
<p>5</p>
<p>6</p>
</td>
<td valign="baseline">
<p>- (UITableViewCell *)tableView:(UITableView *)tableView cellForRowAtIndexPath:(NSIndexPath *)indexPath</p>
<p>{</p>
<p>&nbsp;&nbsp;&nbsp;Venue *venue = ((Venue * )self.venues[indexPath.row]);</p>
<p>&nbsp;&nbsp;&nbsp;cell.imageView.image = [UIImage imageWithData:</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[NSData dataWithContentsOfURL:venue.imageURL]];</p>
<p>}</p>
</td>
</tr>
</tbody>
</table>
<p>While this seems reasonable, when I actually loaded up my table view, I noticed that scrolling was really slow. The UIImage imageWithData: method is NOT asynchronous, so as the table view loads each new cell, it has to go out to the image url and download the data, locking up the app while doing so.</p>
<p>So I made it my mission this weekend to figure out how to get the images <em>asynchronously</em>. However, if you&rsquo;re just looking for that one functionality, there is a simple way to handle image downloads by first creating this method:</p>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="baseline">
<p>1</p>
<p>2</p>
<p>3</p>
<p>4</p>
<p>5</p>
<p>6</p>
<p>7</p>
<p>8</p>
<p>9</p>
<p>10</p>
<p>11</p>
<p>12</p>
<p>13</p>
<p>14</p>
<p>15</p>
</td>
<td valign="baseline">
<p>- (void)downloadImageWithURL:(NSURL *)url completionBlock:(void (^)(BOOL succeeded, UIImage *image))completionBlock</p>
<p>{</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;NSMutableURLRequest *request = [NSMutableURLRequest requestWithURL:url];</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;[NSURLConnection sendAsynchronousRequest:request</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;queue:[NSOperationQueue mainQueue]</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;completionHandler:^(NSURLResponse *response, NSData *data, NSError *error) {</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;if ( !error )</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;UIImage *image = [[UIImage alloc] initWithData:data];</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;completionBlock(YES,image);</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;} else{</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;completionBlock(NO,nil);</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;}</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;}];</p>
<p>}</p>
</td>
</tr>
</tbody>
</table>
<p>Basically, you send in a URL (or you can modify the method to send in a url string if you want) and a completion block, and do a normal asynchronous url request to the image url. You know that the data that will be returned will be an image, which you instantiate, and pass in to the passed in completion block.</p>
<p>Now, in my tableView:cellForRowAtIndexPath: method, I can download the image and save it asynchronously:</p>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="baseline">
<p>1</p>
<p>2</p>
<p>3</p>
<p>4</p>
<p>5</p>
<p>6</p>
<p>7</p>
<p>8</p>
<p>9</p>
<p>10</p>
<p>11</p>
<p>12</p>
<p>13</p>
<p>14</p>
<p>15</p>
<p>16</p>
<p>17</p>
<p>18</p>
<p>19</p>
<p>20</p>
<p>21</p>
<p>22</p>
<p>23</p>
<p>24</p>
<p>25</p>
<p>26</p>
<p>27</p>
<p>28</p>
</td>
<td valign="baseline">
<p>- (UITableViewCell *)tableView:(UITableView *)tableView cellForRowAtIndexPath:(NSIndexPath *)indexPath</p>
<p>{</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;static NSString *cellIdentifier = @"venue";</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;UITableViewCell *cell = [self.tableView dequeueReusableCellWithIdentifier:cellIdentifier forIndexPath:indexPath];</p>
<p>&nbsp;</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;if (!cell) {</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;cell = [[UITableViewCell alloc] initWithStyle:UITableViewCellStyleSubtitle reuseIdentifier:cellIdentifier];</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;}</p>
<p>&nbsp;</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;Venue *venue = ((Venue * )self.venues[indexPath.row]);</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;if (venue.userImage) {</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;cell.imageView.image = venue.image;</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;} else {</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;// set default user image while image is being downloaded</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;cell.imageView.image = [UIImage imageNamed:@"batman.png"];</p>
<p>&nbsp;</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;// download the image asynchronously</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[self downloadImageWithURL:venue.url completionBlock:^(BOOL succeeded, UIImage *image) {</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;if (succeeded) {</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;// change the image in the cell</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;cell.imageView.image = image;</p>
<p>&nbsp;</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;// cache the image for use later (when scrolling up)</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;venue.image = image;</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;}</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;}];</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;}</p>
<p>}</p>
</td>
</tr>
</tbody>
</table>
<p>I really love the use of blocks in the downloadImageWithURL:completionBlock: &ndash; it finally makes sense to me why block are so important in iOS development. Looking forward to using this type of pattern a lot more!</p>
<p><strong>Asynchronous downloading of images for UITableView with GCD</strong></p>
<p>- (UITableViewCell *)tableView:(UITableView *)tableView&nbsp;</p>
<p>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; cellForRowAtIndexPath:(NSIndexPath *)indexPath</p>
<p>{</p>
<p>&nbsp; &nbsp; static NSString *CellIdentifier = @"Cell";</p>
<p>&nbsp; &nbsp; UITableViewCell *cell = [tableView dequeueReusableCellWithIdentifier:CellIdentifier forIndexPath:indexPath];</p>
<p>&nbsp;</p>
<p>&nbsp; &nbsp; cell.tag = indexPath.row;</p>
<p>&nbsp; &nbsp; NSDictionary *parsedData = self.loader.parsedData[indexPath.row];</p>
<p>&nbsp; &nbsp; if (parsedData)</p>
<p>&nbsp; &nbsp; {</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; cell.imageView.image = nil;</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; dispatch_queue_t queue = dispatch_get_global_queue(DISPATCH_QUEUE_PRIORITY_HIGH, 0ul);</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; dispatch_async(queue, ^(void) {</p>
<p>&nbsp;</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; NSData *imageData = [NSData dataWithContentsOfURL:[NSURL URLWithString:parsedData[@"imageLR"]];</p>
<p>&nbsp;</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; UIImage* image = [[UIImage alloc] initWithData:imageData];</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; if (image) {</p>
<p>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; dispatch_async(dispatch_get_main_queue(), ^{</p>
<p>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; if (cell.tag == indexPath.row) {</p>
<p>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; cell.imageView.image = image;</p>
<p>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; [cell setNeedsLayout];</p>
<p>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; }</p>
<p>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; });</p>
<p>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; }</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; });</p>
<p>&nbsp;</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; cell.textLabel.text = parsedData[@"id"];</p>
<p>&nbsp; &nbsp; }</p>
<p>&nbsp; &nbsp; return cell;</p>
<p>}</p>
<h2>&nbsp;</h2>
<h2><span style="color: #008080;">alternate</span></h2>
<p><strong>Synchronous &amp; Asynchronous Calls</strong>&nbsp;</p>
<p>Today I showed a couple of people at work a technique I use to do asynchronous URL loading in iOS, and the response on Twitter was great, so I&rsquo;ve written it up for everybody. If you&rsquo;re used to using ASIHTTPRequest or rolling your own NSURLConnection delegates, hopefully this method will be a breath of fresh air.</p>
<p><strong>The Problem:</strong> When you want to load something from the Internet, you don&rsquo;t want to block your UI&mdash;especially when iOS might just kill your app for doing so&mdash;but writing delegate code is a pain. You have to remember which delegate methods get called in what order, to set yourself as the delegate (can&rsquo;t tell you how many times that&rsquo;s tripped me up), and handling multiple simultaneous connections with one delegate is&hellip; tricky, at best.</p>
<p><strong>The Solution</strong>: Use Grand Central Dispatch. Maybe I just love GCD too much and this is me seeing everything as a nail, but let&rsquo;s look at the following code for loading a URL:</p>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="baseline">
<p>1</p>
<p>2</p>
<p>3</p>
<p>4</p>
<p>5</p>
<p>6</p>
<p>7</p>
<p>8</p>
<p>9</p>
<p>10</p>
<p>11</p>
<p>12</p>
<p>13</p>
<p>14</p>
<p>15</p>
<p>16</p>
<p>17</p>
<p>18</p>
<p>19</p>
<p>20</p>
<p>21</p>
</td>
<td valign="baseline">
<p>- (void)loadAwesomeURL</p>
<p>{</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;NSString *awesomeURI = @"<a href="http://www.awesomeexample.com/?output=JSON">http://www.awesomeexample.com/?output=JSON</a>";</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;NSURL *awesomeURL = [NSURL URLWithString:awesomeURI];</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;NSURLRequest *awesomeRequest = [NSURLRequest requestWithURL:awesomeURL];</p>
<p>&nbsp;</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;NSURLConnection *theConnection = [[NSURLConnection alloc] initWithRequest:awesomeRequest</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;delegate:self];</p>
<p>&nbsp;</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;[theConnection start];</p>
<p>}</p>
<p>&nbsp;</p>
<p>- (void)connection:(NSURLConnection *)connection didReceiveData:(NSData *)data</p>
<p>{</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;[myMutableData appendData:data];</p>
<p>}</p>
<p>&nbsp;</p>
<p>- (void)connectionDidFinishLoading:(NSURLConnection *)connection</p>
<p>{</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;[self processTheAwesomeness];</p>
<p>}</p>
</td>
</tr>
</tbody>
</table>
<p>That sucks. Three methods, and I didn&rsquo;t even do any error handling! There has to be a better way. NSURLConnection offers a synchronous method, but everybody <em>knows</em> you don&rsquo;t use it&hellip; so let&rsquo;s do exactly that. But since we want to make this asynchronous, we&rsquo;ll use Grand Central Dispatch to wrap it in a dispatch_async() call:</p>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="baseline">
<p>1</p>
<p>2</p>
<p>3</p>
<p>4</p>
<p>5</p>
<p>6</p>
<p>7</p>
<p>8</p>
<p>9</p>
<p>10</p>
<p>11</p>
<p>12</p>
<p>13</p>
<p>14</p>
<p>15</p>
<p>16</p>
<p>17</p>
<p>18</p>
</td>
<td valign="baseline">
<p>- (void)loadAwesomeURL</p>
<p>{</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;NSString *awesomeURI = @"<a href="http://www.awesomeexample.com/?output=JSON">http://www.awesomeexample.com/?output=JSON</a>";</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;NSURL *awesomeURL = [NSURL URLWithString:awesomeURI];</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;NSURLRequest *awesomeRequest = [NSURLRequest requestWithURL:awesomeURL];</p>
<p>&nbsp;</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;dispatch_queue_t queue = dispatch_get_global_queue(DISPATCH_QUEUE_PRIORITY_DEFAULT, 0ul);</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;dispatch_async(queue, ^{</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;NSURLResponse *response = nil;</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;NSError *error = nil;</p>
<p>&nbsp;</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;NSData *receivedData = [NSURLConnection sendSynchronousRequest:awesomeRequest</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;returningResponse:&amp;response</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;error:&amp;error];</p>
<p>&nbsp;</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[self processTheAwesomeness];</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;});</p>
<p>}</p>
</td>
</tr>
</tbody>
</table>
<p>We can easily do error checking after the NSURLConnection call; simply check to see if receivedData is nil, cast response to an NSHTTPURLRequest and check its statusCode property, and if all else fails, check out error.</p>
<p><strong>Note:</strong> I&rsquo;ve received a fair amount of negative feedback on this article on Twitter, Reddit, and in the comments, and I feel like I ought to make a few points clear:</p>
<ul>
<li>This is not the last networking solution you&rsquo;ll ever need. Among other things, this does not support:</li>
<ol>
<li>Canceling the connection</li>
<li>Running code when the connection is half-done</li>
<li>Streaming data to a file for large downloads</li>
</ol>
<li>This is a quick example. It&rsquo;s mainly designed to illustrate dispatch_async() as a wrapper for synchronous APIs.</li>
<li>It isn&rsquo;t good for multiple connections. You&rsquo;ll want a custom dispatch queue for that.</li>
<li>It doesn&rsquo;t run on the main thread. If you&rsquo;re updating your UI, you&rsquo;ll need to do that on the main thread.</li>
</ul>
<h2>&nbsp;</h2>
<h2>&nbsp;</h2>