<h2><span style="color: #008080;">Handling Timeouts</span></h2>
<p>You want to set a wait limit&mdash;in other words, a timeout&mdash;on an asynchronous&nbsp;connection.</p>
<p><strong>Solution</strong></p>
<p>Set the timeout on the URL request that you pass to the&nbsp;NSURLConnection&nbsp;class.</p>
<p>When instantiating an object of type&nbsp;NSURLRequest&nbsp;to pass to your URL connection, you can use itsrequestWithURL:cachePolicy:timeoutInterval:&nbsp;class method and pass the desired number of seconds of your timeout as the&nbsp;timeoutInterval&nbsp;parameter.</p>
<p>For instance, if you want to wait a maximum of 30 seconds to download the contents of Apple&rsquo;s home page using a synchronous connection, create your URL request like so:</p>
<p>Check out this example&nbsp;</p>
<p>NSString *urlAsString = @"http://www.apple.com";</p>
<p>&nbsp; &nbsp; NSURL *url = [NSURL URLWithString:urlAsString];</p>
<p>&nbsp;</p>
<p>&nbsp; &nbsp; NSURLRequest *urlRequest =</p>
<p>&nbsp; &nbsp; [NSURLRequest</p>
<p>&nbsp;&nbsp; &nbsp; requestWithURL:url</p>
<p>&nbsp;&nbsp; &nbsp; cachePolicy:NSURLRequestReloadIgnoringLocalAndRemoteCacheData</p>
<p>&nbsp;&nbsp; &nbsp; timeoutInterval:30.0f];</p>
<p>&nbsp; &nbsp; NSOperationQueue *queue = [[NSOperationQueue alloc] init];</p>
<p>&nbsp; &nbsp; [NSURLConnection</p>
<p>&nbsp;&nbsp; &nbsp; sendAsynchronousRequest:urlRequest</p>
<p>&nbsp;&nbsp; &nbsp; queue:queue</p>
<p>&nbsp;&nbsp; &nbsp; completionHandler:^(NSURLResponse *response,</p>
<p>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; NSData *data,</p>
<p>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; NSError *error) {</p>
<p>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; <strong>if</strong> ([data length] &gt;0&nbsp; &amp;&amp; error == nil){</p>
<p>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; NSString *html =</p>
<p>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; [[NSString alloc] initWithData:data</p>
<p>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; encoding:NSUTF8StringEncoding];</p>
<p>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; NSLog(@"HTML = %@", html);</p>
<p>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; }</p>
<p>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; <strong>else</strong> <strong>if</strong> ([data length] == 0 &amp;&amp; error == nil){</p>
<p>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; NSLog(@"Nothing was downloaded.");</p>
<p>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; }</p>
<p>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; <strong>else</strong> <strong>if</strong> (error != nil){</p>
<p>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; NSLog(@"Error happened = %@", error);</p>
<p>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; }</p>
<p>&nbsp;&nbsp; &nbsp; }];</p>