<div class="page" title="Page 2">
<div class="layoutArea">
<div class="column">
<div class="page" title="Page 2">
<div class="layoutArea">
<div class="column">
<div class="page" title="Page 3">
<div class="layoutArea">
<div class="column">
<h2><span style="color: #008080;">Reachability</span></h2>
<p>Reachability&nbsp;is a network helper utility class, its used to get various informations about the connection status</p>
<p>What is the main purposes of Reachability?</p>
<ul>
<li>Reachability is used to query the network status</li>
<li>and to register your listeners to get informed when connectivity changes&nbsp;</li>
</ul>
<p>Is this the main purpose of Reachability, to show the user a message?</p>
<p>No of course, its main usage is either to test if there is internet connectivity, or to get notified if the connectivity changes</p>
<p>For example if NSURLConnaction request has failed do I need to use Reachability somehow to resend the request?</p>
<p>Yes you could use it, for example what i normally do in my project is to save all the request that has been made to a remote server, lets say i want to download 10 files,&nbsp;</p>
<p>When any file fails the download process due to no internet connection, i save them to an array of failed downloads,</p>
<p>When reachability informs me that the internet connection has been restored, i iterate through this array and start the download process again</p>
<p>What is the proper use of Reachability?</p>
<p>It depends, on your patterns and needs.</p>
<p>Is it common to use only one instance when app launch, and then listen to network changes?</p>
<p>Yes that is what i do, in my projects i only have 1 instance of a download manager class, and this class has the only alive instance of Reachability&nbsp;</p>
<p>Or should I check myself the reachability status before every network request?</p>
<p>You can do that without having multiple instance of Reachability classes, what i normally do, is to have a method inside my download manager that tells me using Reachability if there is connection or not.</p>
<p>Is it enough to use reachabilityWithHostName or do I need also reachabilityForLocalWiFi and reachabilityForInternetConnection?</p>
<p>Am not sure about this one, but what i normally do is to test connectivity on all the means, i dont differentiate between 3g or wifi, however there are some implementation that this info (wifi or 3g) could be useful</p>
<p><strong>Detecting Network Changes with Reachability</strong></p>
<p>Most mobile applications access the web for some reason or another. This implies that these applications will - or should - behave differently when no network connection is available.</p>
<p><strong>Solutions</strong></p>
<p>Even though Apple provides <a href="http://developer.apple.com/library/ios/#samplecode/Reachability/Introduction/Intro.html">sample code</a> for monitoring changes in network availability, Apple's Reachability class is a bit outdated and doesn't support ARC (Automatic Reference Counting). If you use <a href="https://github.com/AFNetworking/AFNetworking">AFNetworking</a>, then you may want to consider AFHTTPClient, which also lets you monitor network interface changes.</p>
<p>However, my preferred solution is the wonderful <a href="https://github.com/tonymillion/Reachability">Reachability class</a>. It supports ARC and leverages GCD (Grand Central Dispatch).<strong> Setting Up the Project</strong></p>
<p>Create a new project in Xcode by selecting the <strong>Single View Application</strong>. Name your application <strong>Reachability</strong>, enter a company identifier, set <strong>iPhone</strong> for the device family, and check <strong>Use Automatic Reference Counting</strong>.</p>
<p>&nbsp;</p>
<p>Figure 1: Choosing a Project Template</p>
<p>&nbsp;</p>
<p>Figure 2: Configuring the Project</p>
<p><strong>2.</strong><strong> Integrating Reachability</strong></p>
<p><strong>Step 1: Adding the Reachability Class</strong></p>
<p>Integrating Tony Million's Reachability class is trivial. Visit the <a href="https://github.com/tonymillion/Reachability">project's GitHub page</a>, download the latest version, and drag <strong>Reachability.h/.m</strong> into your Xcode project (figure 3). If you take this path, make sure to copy the class files into your Xcode project (figure 4). You can also use <a href="http://cocoapods.org/?q=Tony%20Million">CocoaPods</a> to to add Reachability to your project.&nbsp;</p>
<p><strong>Linking Against the System Configuration Framework</strong></p>
<p>The Reachability class depends on the <strong>System Configuration</strong> framework for some of its functionality. With your project selected in the <strong>Project Navigator</strong>, select the <strong>Reachability</strong> target in the list of targets, open the <strong>Build Phases</strong> tab, and expand the <strong>Link Binary with Libraries</strong> drawer. Click the plus button and search for <strong>SystemConfiguration.framework</strong>.</p>
<p><strong>Reachability Basics</strong></p>
<p>The Reachability class provides two ways to monitor changes in network availability: blocks and notifications. Let me show you how this works.</p>
<p><strong>Step 1: Importing Reachability.h</strong></p>
<p>To keep things simple, we will add the reachability logic to the application delegate. Start by adding an import statement for <strong>Reachability.h</strong> to <strong>MTAppDelegate.m</strong> as shown below.</p>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="baseline">
<p>1</p>
<p>2</p>
<p>3</p>
<p>4</p>
</td>
<td valign="baseline">
<p>#import "MTAppDelegate.h"</p>
<p>&nbsp;</p>
<p>#import "Reachability.h"</p>
<p>#import "MTViewController.h"</p>
</td>
</tr>
</tbody>
</table>
<p><strong>Step 2: Blocks</strong></p>
<p>We first need to create an instance of the Reachability class in application:didFinishLaunchingWithOptions: (<strong>MTAppDelegate.m</strong>) as shown below. We then set the reachableBlock and unreachableBlock on the Reachability instance. The reachableBlock is invoked when the network availability changes from unreachable to reachable. The reverse is true for the unreachableBlock. It is key to send the Reachability instance a message of startNotifier so that it knows that it should start monitoring for reachability changes.</p>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="baseline">
<p>01</p>
<p>02</p>
<p>03</p>
<p>04</p>
<p>05</p>
<p>06</p>
<p>07</p>
<p>08</p>
<p>09</p>
<p>10</p>
<p>11</p>
<p>12</p>
<p>13</p>
<p>14</p>
<p>15</p>
<p>16</p>
<p>17</p>
<p>18</p>
<p>19</p>
<p>20</p>
<p>21</p>
<p>22</p>
<p>23</p>
<p>24</p>
<p>25</p>
<p>26</p>
<p>27</p>
</td>
<td valign="baseline">
<p>- (BOOL)application:(UIApplication *)application didFinishLaunchingWithOptions:(NSDictionary *)launchOptions {</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;// Initialize Reachability</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;Reachability *reachability = [Reachability reachabilityWithHostname:@"www.google.com"];</p>
<p>&nbsp;</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;reachability.reachableBlock = ^(Reachability *reachability) {</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;NSLog(@"Network is reachable.");</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;};</p>
<p>&nbsp;</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;reachability.unreachableBlock = ^(Reachability *reachability) {</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;NSLog(@"Network is unreachable.");</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;};</p>
<p>&nbsp;</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;// Start Monitoring</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;[reachability startNotifier];</p>
<p>&nbsp;</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;// Initialize View Controller</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;self.viewController = [[MTViewController alloc] initWithNibName:@"MTViewController" bundle:nil];</p>
<p>&nbsp;</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;// Initialize Window</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;self.window = [[UIWindow alloc] initWithFrame:[[UIScreen mainScreen] bounds]];</p>
<p>&nbsp;</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;// Configure Window</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;[self.window setRootViewController:self.viewController];</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;[self.window makeKeyAndVisible];</p>
<p>&nbsp;</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;return YES;</p>
<p>}</p>
</td>
</tr>
</tbody>
</table>
<p>Before we take a look at notifications, I need to stress that the reachable and unreachable blocks are invoked on a background thread. Keep this in mind when you need to update your application's user interface when the network interface changes.</p>
<p><strong>Step 3: Notifications</strong></p>
<p>The advantage of using notifications for reachability changes is that any object in your application can register itself as an observer for these notifications. In contrast to the use of blocks, the reachability notifications are posted and delivered on the main thread. As you can see below, in application:didFinishLaunchingWithOptions:, we create an instance of the Reachability class and tell it to start monitoring for network changes.</p>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="baseline">
<p>01</p>
<p>02</p>
<p>03</p>
<p>04</p>
<p>05</p>
<p>06</p>
<p>07</p>
<p>08</p>
<p>09</p>
<p>10</p>
<p>11</p>
<p>12</p>
<p>13</p>
<p>14</p>
<p>15</p>
<p>16</p>
<p>17</p>
<p>18</p>
<p>19</p>
</td>
<td valign="baseline">
<p>- (BOOL)application:(UIApplication *)application didFinishLaunchingWithOptions:(NSDictionary *)launchOptions {</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;// Initialize Reachability</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;Reachability *reachability = [Reachability reachabilityWithHostname:@"www.google.com"];</p>
<p>&nbsp;</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;// Start Monitoring</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;[reachability startNotifier];</p>
<p>&nbsp;</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;// Initialize View Controller</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;self.viewController = [[MTViewController alloc] initWithNibName:@"MTViewController" bundle:nil];</p>
<p>&nbsp;</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;// Initialize Window</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;self.window = [[UIWindow alloc] initWithFrame:[[UIScreen mainScreen] bounds]];</p>
<p>&nbsp;</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;// Configure Window</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;[self.window setRootViewController:self.viewController];</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;[self.window makeKeyAndVisible];</p>
<p>&nbsp;</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;return YES;</p>
<p>}</p>
</td>
</tr>
</tbody>
</table>
<p>As an example, if the view controller needs to be informed of changes in network availability, then we need to add it as an observer of the notifications the Reachability instance posts. Open MTViewController.m, add an import statement for <strong>Reachability.h</strong>, and update initWithNibName:bundle: as shown below.</p>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="baseline">
<p>1</p>
<p>2</p>
<p>3</p>
</td>
<td valign="baseline">
<p>#import "MTViewController.h"</p>
<p>&nbsp;</p>
<p>#import "Reachability.h"</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="baseline">
<p>01</p>
<p>02</p>
<p>03</p>
<p>04</p>
<p>05</p>
<p>06</p>
<p>07</p>
<p>08</p>
<p>09</p>
<p>10</p>
</td>
<td valign="baseline">
<p>- (id)initWithNibName:(NSString *)nibNameOrNil bundle:(NSBundle *)nibBundleOrNil {</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;self = [super initWithNibName:nibNameOrNil bundle:nibBundleOrNil];</p>
<p>&nbsp;</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;if (self) {</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;// Add Observer</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[[NSNotificationCenter defaultCenter] addObserver:self selector:@selector(reachabilityDidChange:) name:kReachabilityChangedNotification object:nil];</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;}</p>
<p>&nbsp;</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;return self;</p>
<p>}</p>
</td>
</tr>
</tbody>
</table>
<p>Every time the network interface changes, reachabilityDidChange: is invoked and the view controller can respond appropriately. The object property of the notification is the Reachability instance that posted the notification. The Reachability class provides a number of useful instance methods, such as isReachable, isReachableViaWWAN, and isReachableViaWiFi. You can even tell the Reachability instance whether it should consider WWAN as unreachable by setting the reachableOnWWAN property accordingly.</p>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="baseline">
<p>1</p>
<p>2</p>
<p>3</p>
<p>4</p>
<p>5</p>
<p>6</p>
<p>7</p>
<p>8</p>
<p>9</p>
</td>
<td valign="baseline">
<p>- (void)reachabilityDidChange:(NSNotification *)notification {</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;Reachability *reachability = (Reachability *)[notification object];</p>
<p>&nbsp;</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;if ([reachability isReachable]) {</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;NSLog(@"Reachable");</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;} else {</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;NSLog(@"Unreachable");</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;}</p>
<p>}</p>
</td>
</tr>
</tbody>
</table>
<p><strong>Reachability Manager</strong></p>
<p>For applications that require a network connection, I usually use an alternative approach for managing reachability. I create a separate class named <strong>ReachabilityManager</strong> that adopts the singleton pattern. The singleton object manages a Reachability instance and provides a number of useful class methods. Let me walk you through the internals of this class.</p>
<p><strong>Step 1: Interface</strong></p>
<p>As I mentioned, the MTReachabilityManager class adopts the singleton pattern and it provides access to the singleton object through the sharedManager class method. This is useful if an object needs direct access to the reachability instance that the singleton object manages.</p>
<p>Through a number of class methods objects can ask the reachability manager about the current network interface. In addition, objects can still add themselves as observers for the kReachabilityChangedNotification notifications as we saw earlier.</p>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="baseline">
<p>01</p>
<p>02</p>
<p>03</p>
<p>04</p>
<p>05</p>
<p>06</p>
<p>07</p>
<p>08</p>
<p>09</p>
<p>10</p>
<p>11</p>
<p>12</p>
<p>13</p>
<p>14</p>
<p>15</p>
<p>16</p>
<p>17</p>
<p>18</p>
<p>19</p>
<p>20</p>
</td>
<td valign="baseline">
<p>#import &lt;Foundation/Foundation.h&gt;</p>
<p>&nbsp;</p>
<p>@class Reachability;</p>
<p>&nbsp;</p>
<p>@interface MTReachabilityManager : NSObject</p>
<p>&nbsp;</p>
<p>@property (strong, nonatomic) Reachability *reachability;</p>
<p>&nbsp;</p>
<p>#pragma mark -</p>
<p>#pragma mark Shared Manager</p>
<p>+ (MTReachabilityManager *)sharedManager;</p>
<p>&nbsp;</p>
<p>#pragma mark -</p>
<p>#pragma mark Class Methods</p>
<p>+ (BOOL)isReachable;</p>
<p>+ (BOOL)isUnreachable;</p>
<p>+ (BOOL)isReachableViaWWAN;</p>
<p>+ (BOOL)isReachableViaWiFi;</p>
<p>&nbsp;</p>
<p>@end</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="middle">
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="middle">
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="middle">&nbsp;</td>
<td valign="middle">
<ul>
<li><strong>Step 2: Implementation</strong></li>
</ul>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<p>The implementation of MTReachabilityManager isn't too surprising. If you are unfamiliar with the singleton pattern, then the implementation of sharedManager might seem a bit odd. Even though the MTReachabilityManager class makes use of the singleton pattern, it is technically possible to create instances of the class. We could prevent this by checking the value of _sharedManager in the init, but I assume that whoever uses the MTReachabilityManager class has taken a look at the class's interface file revealing that it adopts the singleton pattern.</p>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="baseline">
<p>01</p>
<p>02</p>
<p>03</p>
<p>04</p>
<p>05</p>
<p>06</p>
<p>07</p>
<p>08</p>
<p>09</p>
<p>10</p>
<p>11</p>
<p>12</p>
<p>13</p>
<p>14</p>
<p>15</p>
<p>16</p>
<p>17</p>
<p>18</p>
<p>19</p>
<p>20</p>
<p>21</p>
<p>22</p>
<p>23</p>
<p>24</p>
<p>25</p>
<p>26</p>
<p>27</p>
<p>28</p>
<p>29</p>
<p>30</p>
<p>31</p>
<p>32</p>
<p>33</p>
<p>34</p>
<p>35</p>
<p>36</p>
<p>37</p>
<p>38</p>
<p>39</p>
<p>40</p>
<p>41</p>
<p>42</p>
<p>43</p>
<p>44</p>
<p>45</p>
<p>46</p>
<p>47</p>
<p>48</p>
<p>49</p>
<p>50</p>
<p>51</p>
<p>52</p>
<p>53</p>
<p>54</p>
<p>55</p>
<p>56</p>
<p>57</p>
<p>58</p>
<p>59</p>
<p>60</p>
<p>61</p>
<p>62</p>
</td>
<td valign="baseline">
<p>#import "MTReachabilityManager.h"</p>
<p>&nbsp;</p>
<p>#import "Reachability.h"</p>
<p>&nbsp;</p>
<p>@implementation MTReachabilityManager</p>
<p>&nbsp;</p>
<p>#pragma mark -</p>
<p>#pragma mark Default Manager</p>
<p>+ (MTReachabilityManager *)sharedManager {</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;static MTReachabilityManager *_sharedManager = nil;</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;static dispatch_once_t onceToken;</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;dispatch_once(&amp;onceToken, ^{</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;_sharedManager = [[self alloc] init];</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;});</p>
<p>&nbsp;</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;return _sharedManager;</p>
<p>}</p>
<p>&nbsp;</p>
<p>#pragma mark -</p>
<p>#pragma mark Memory Management</p>
<p>- (void)dealloc {</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;// Stop Notifier</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;if (_reachability) {</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[_reachability stopNotifier];</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;}</p>
<p>}</p>
<p>&nbsp;</p>
<p>#pragma mark -</p>
<p>#pragma mark Class Methods</p>
<p>+ (BOOL)isReachable {</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;return [[[MTReachabilityManager sharedManager] reachability] isReachable];</p>
<p>}</p>
<p>&nbsp;</p>
<p>+ (BOOL)isUnreachable {</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;return ![[[MTReachabilityManager sharedManager] reachability] isReachable];</p>
<p>}</p>
<p>&nbsp;</p>
<p>+ (BOOL)isReachableViaWWAN {</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;return [[[MTReachabilityManager sharedManager] reachability] isReachableViaWWAN];</p>
<p>}</p>
<p>&nbsp;</p>
<p>+ (BOOL)isReachableViaWiFi {</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;return [[[MTReachabilityManager sharedManager] reachability] isReachableViaWiFi];</p>
<p>}</p>
<p>&nbsp;</p>
<p>#pragma mark -</p>
<p>#pragma mark Private Initialization</p>
<p>- (id)init {</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;self = [super init];</p>
<p>&nbsp;</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;if (self) {</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;// Initialize Reachability</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;self.reachability = [Reachability reachabilityWithHostname:@"www.google.com"];</p>
<p>&nbsp;</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;// Start Monitoring</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[self.reachability startNotifier];</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;}</p>
<p>&nbsp;</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;return self;</p>
<p>}</p>
<p>&nbsp;</p>
<p>@end</p>
</td>
</tr>
</tbody>
</table>
<p>If you decide to adopt this alternative approach and use a reachability manager that manages an instance of the Reachability class, then don't forget to instantiate the singleton object when your application launches. You can do so by calling sharedManager on the MTReachabilityManager class.</p>
<p>- (BOOL)application:(UIApplication *)application didFinishLaunchingWithOptions:(NSDictionary *)launchOptions {</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;// Instantiate Shared Manager</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;[MTReachabilityManager sharedManager];</p>
<p>&nbsp;</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;// Initialize View Controller</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;self.viewController = [[MTViewController alloc] initWithNibName:@"MTViewController" bundle:nil];</p>
<p>&nbsp;</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;// Initialize Window</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;self.window = [[UIWindow alloc] initWithFrame:[[UIScreen mainScreen] bounds]];</p>
<p>&nbsp;</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;// Configure Window</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;[self.window setRootViewController:self.viewController];</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;[self.window makeKeyAndVisible];</p>
<p>&nbsp;</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;return YES;</p>
<p>}</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<h2><span style="color: #008080;">Synchronous Downloads</span></h2>
<p>Sometimes, in iOS applications there is a need to download a file from internet using its URL. There are different methods and APIs available to perform this task which we can use them as per our requirement. There are two methods <strong>synchronous and asynchronous method</strong>. Both methods have their benefits. Based on my experience usually prefer asynchronous method so that the application does not freeze.&nbsp;</p>
<p><strong>Synchronous Method</strong></p>
<p>Generally, when I want to <strong>download a small file</strong> then I use synchronous method. Below are the steps to download a file synchronously.</p>
<p>1) Get/copy the URL from where you want to download file.</p>
<p>2) Get the file in data format from that URL. There is a method to get file in data format which we can use to download the file.</p>
<p>3) Convert that data into the required object type like I have converted the data to image in below example.</p>
<p>&nbsp;</p>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>1</p>
<p>2</p>
<p>3</p>
</td>
<td valign="top">
<p>NSURL *myUrl = [NSURL URLWithString:@"http://www.weblineindia.com/my_image_file.png"];</p>
<p>NSData *myData = [NSData dataWithContentsOfURL:myUrl];</p>
<p>UIImage *img = [UIImage imageWithData:myData]</p>
</td>
</tr>
</tbody>
</table>
<p>Above code is used to download small files from the server like small images, some xml files etc&hellip;</p>
<p><strong>Asynchronous Method</strong></p>
<p>Synchronous download method is not preferable to use for larger files. So another way is to use asynchronous method to download a file in iOS application. We can use NSURLRequest, NSURLConnection et. to <strong>download large sized files</strong>. This is a better method as it downloads the file asynchronously and allows the user to work/interact with the application when the download is ongoing.</p>
<p>Below is the code to download large file asynchronously.</p>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>1</p>
<p>2</p>
<p>3</p>
<p>4</p>
</td>
<td valign="top">
<p>NSURL *myUrl = [NSURL URLWithString:@"http://www.weblineindia.com/my_large_soundfile.png"];</p>
<p>NSURLRequest *myRequest = [NSURLRequest requestWithURL:myUrl cachePolicy:NSURLRequestReloadIgnoringLocalCacheData timeoutInterval:60];</p>
<p>NSMutableData *myData = [[NSMutableData alloc] initWithLength:0];</p>
<p>NSURLConnection *myConnection = [[NSURLConnection alloc] initWithRequest:myRequest delegate:self startImmediately:YES];</p>
</td>
</tr>
</tbody>
</table>
<p><strong>Now we will have to implement NSURLConnection Delegate methods in iOS app.</strong></p>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>1</p>
<p>2</p>
<p>3</p>
<p>4</p>
<p>5</p>
<p>6</p>
<p>7</p>
<p>8</p>
<p>9</p>
<p>10</p>
<p>11</p>
<p>12</p>
<p>13</p>
<p>14</p>
<p>15</p>
<p>16</p>
<p>17</p>
<p>18</p>
<p>19</p>
<p>20</p>
</td>
<td valign="top">
<p>- (void) connection:(NSURLConnection *)connection didReceiveResponse:(NSURLResponse *)response {</p>
<p>[UIApplication sharedApplication].networkActivityIndicatorVisible = YES;</p>
<p>[myData setLength:0];</p>
<p>}</p>
<p>&nbsp;</p>
<p>- (void) connection:(NSURLConnection *)connection didReceiveData:(NSData *)data {</p>
<p>[myData appendData:data];</p>
<p>}</p>
<p>&nbsp;</p>
<p>- (void) connection:(NSURLConnection *)connection didFailWithError:(NSError *)error {</p>
<p>[UIApplication sharedApplication].networkActivityIndicatorVisible = NO;</p>
<p>[connection release];</p>
<p>}</p>
<p>&nbsp;</p>
<p>- (void) connectionDidFinishLoading:(NSURLConnection *)connection {</p>
<p>[UIApplication sharedApplication].networkActivityIndicatorVisible = NO;</p>
<p>[connection release];</p>
<p>&nbsp;</p>
<p>//download finished - data is available in myData.</p>
<p>}</p>
</td>
</tr>
</tbody>
</table>
<p>Above NSURLConnection delegate methods can be used to perform different tasks like appending downloaded data, review whether the download is completed or failed, etc.</p>
<p>&nbsp;</p>
<h2><span style="color: #008080;">Asynchronous Downloads</span></h2>
<p><strong>&nbsp;How To Download Images Asynchronously (And Make Your UITableView Scroll Fast)</strong></p>
<p>To get the images to load, I started out by storing the image URL that was returned via the FourSquare API, and then in the tableView:cellForRowAtIndexPath: method, getting the image data through the image url like this:</p>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="baseline">
<p>1</p>
<p>2</p>
<p>3</p>
<p>4</p>
<p>5</p>
<p>6</p>
</td>
<td valign="baseline">
<p>- (UITableViewCell *)tableView:(UITableView *)tableView cellForRowAtIndexPath:(NSIndexPath *)indexPath</p>
<p>{</p>
<p>&nbsp;&nbsp;&nbsp;Venue *venue = ((Venue * )self.venues[indexPath.row]);</p>
<p>&nbsp;&nbsp;&nbsp;cell.imageView.image = [UIImage imageWithData:</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[NSData dataWithContentsOfURL:venue.imageURL]];</p>
<p>}</p>
</td>
</tr>
</tbody>
</table>
<p>While this seems reasonable, when I actually loaded up my table view, I noticed that scrolling was really slow. The UIImage imageWithData: method is NOT asynchronous, so as the table view loads each new cell, it has to go out to the image url and download the data, locking up the app while doing so.</p>
<p>So I made it my mission this weekend to figure out how to get the images <em>asynchronously</em>. However, if you&rsquo;re just looking for that one functionality, there is a simple way to handle image downloads by first creating this method:</p>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="baseline">
<p>1</p>
<p>2</p>
<p>3</p>
<p>4</p>
<p>5</p>
<p>6</p>
<p>7</p>
<p>8</p>
<p>9</p>
<p>10</p>
<p>11</p>
<p>12</p>
<p>13</p>
<p>14</p>
<p>15</p>
</td>
<td valign="baseline">
<p>- (void)downloadImageWithURL:(NSURL *)url completionBlock:(void (^)(BOOL succeeded, UIImage *image))completionBlock</p>
<p>{</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;NSMutableURLRequest *request = [NSMutableURLRequest requestWithURL:url];</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;[NSURLConnection sendAsynchronousRequest:request</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;queue:[NSOperationQueue mainQueue]</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;completionHandler:^(NSURLResponse *response, NSData *data, NSError *error) {</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;if ( !error )</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;UIImage *image = [[UIImage alloc] initWithData:data];</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;completionBlock(YES,image);</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;} else{</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;completionBlock(NO,nil);</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;}</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;}];</p>
<p>}</p>
</td>
</tr>
</tbody>
</table>
<p>Basically, you send in a URL (or you can modify the method to send in a url string if you want) and a completion block, and do a normal asynchronous url request to the image url. You know that the data that will be returned will be an image, which you instantiate, and pass in to the passed in completion block.</p>
<p>Now, in my tableView:cellForRowAtIndexPath: method, I can download the image and save it asynchronously:</p>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="baseline">
<p>1</p>
<p>2</p>
<p>3</p>
<p>4</p>
<p>5</p>
<p>6</p>
<p>7</p>
<p>8</p>
<p>9</p>
<p>10</p>
<p>11</p>
<p>12</p>
<p>13</p>
<p>14</p>
<p>15</p>
<p>16</p>
<p>17</p>
<p>18</p>
<p>19</p>
<p>20</p>
<p>21</p>
<p>22</p>
<p>23</p>
<p>24</p>
<p>25</p>
<p>26</p>
<p>27</p>
<p>28</p>
</td>
<td valign="baseline">
<p>- (UITableViewCell *)tableView:(UITableView *)tableView cellForRowAtIndexPath:(NSIndexPath *)indexPath</p>
<p>{</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;static NSString *cellIdentifier = @"venue";</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;UITableViewCell *cell = [self.tableView dequeueReusableCellWithIdentifier:cellIdentifier forIndexPath:indexPath];</p>
<p>&nbsp;</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;if (!cell) {</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;cell = [[UITableViewCell alloc] initWithStyle:UITableViewCellStyleSubtitle reuseIdentifier:cellIdentifier];</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;}</p>
<p>&nbsp;</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;Venue *venue = ((Venue * )self.venues[indexPath.row]);</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;if (venue.userImage) {</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;cell.imageView.image = venue.image;</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;} else {</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;// set default user image while image is being downloaded</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;cell.imageView.image = [UIImage imageNamed:@"batman.png"];</p>
<p>&nbsp;</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;// download the image asynchronously</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[self downloadImageWithURL:venue.url completionBlock:^(BOOL succeeded, UIImage *image) {</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;if (succeeded) {</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;// change the image in the cell</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;cell.imageView.image = image;</p>
<p>&nbsp;</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;// cache the image for use later (when scrolling up)</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;venue.image = image;</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;}</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;}];</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;}</p>
<p>}</p>
</td>
</tr>
</tbody>
</table>
<p>I really love the use of blocks in the downloadImageWithURL:completionBlock: &ndash; it finally makes sense to me why block are so important in iOS development. Looking forward to using this type of pattern a lot more!</p>
<p><strong>Asynchronous downloading of images for UITableView with GCD</strong></p>
<p>- (UITableViewCell *)tableView:(UITableView *)tableView&nbsp;</p>
<p>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; cellForRowAtIndexPath:(NSIndexPath *)indexPath</p>
<p>{</p>
<p>&nbsp; &nbsp; static NSString *CellIdentifier = @"Cell";</p>
<p>&nbsp; &nbsp; UITableViewCell *cell = [tableView dequeueReusableCellWithIdentifier:CellIdentifier forIndexPath:indexPath];</p>
<p>&nbsp;</p>
<p>&nbsp; &nbsp; cell.tag = indexPath.row;</p>
<p>&nbsp; &nbsp; NSDictionary *parsedData = self.loader.parsedData[indexPath.row];</p>
<p>&nbsp; &nbsp; if (parsedData)</p>
<p>&nbsp; &nbsp; {</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; cell.imageView.image = nil;</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; dispatch_queue_t queue = dispatch_get_global_queue(DISPATCH_QUEUE_PRIORITY_HIGH, 0ul);</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; dispatch_async(queue, ^(void) {</p>
<p>&nbsp;</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; NSData *imageData = [NSData dataWithContentsOfURL:[NSURL URLWithString:parsedData[@"imageLR"]];</p>
<p>&nbsp;</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; UIImage* image = [[UIImage alloc] initWithData:imageData];</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; if (image) {</p>
<p>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; dispatch_async(dispatch_get_main_queue(), ^{</p>
<p>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; if (cell.tag == indexPath.row) {</p>
<p>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; cell.imageView.image = image;</p>
<p>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; [cell setNeedsLayout];</p>
<p>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; }</p>
<p>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; });</p>
<p>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; }</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; });</p>
<p>&nbsp;</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; cell.textLabel.text = parsedData[@"id"];</p>
<p>&nbsp; &nbsp; }</p>
<p>&nbsp; &nbsp; return cell;</p>
<p>}</p>
<h2>&nbsp;</h2>
<h2><span style="color: #008080;">alternate</span></h2>
<p><strong>Synchronous &amp; Asynchronous Calls</strong>&nbsp;</p>
<p>Today I showed a couple of people at work a technique I use to do asynchronous URL loading in iOS, and the response on Twitter was great, so I&rsquo;ve written it up for everybody. If you&rsquo;re used to using ASIHTTPRequest or rolling your own NSURLConnection delegates, hopefully this method will be a breath of fresh air.</p>
<p><strong>The Problem:</strong> When you want to load something from the Internet, you don&rsquo;t want to block your UI&mdash;especially when iOS might just kill your app for doing so&mdash;but writing delegate code is a pain. You have to remember which delegate methods get called in what order, to set yourself as the delegate (can&rsquo;t tell you how many times that&rsquo;s tripped me up), and handling multiple simultaneous connections with one delegate is&hellip; tricky, at best.</p>
<p><strong>The Solution</strong>: Use Grand Central Dispatch. Maybe I just love GCD too much and this is me seeing everything as a nail, but let&rsquo;s look at the following code for loading a URL:</p>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="baseline">
<p>1</p>
<p>2</p>
<p>3</p>
<p>4</p>
<p>5</p>
<p>6</p>
<p>7</p>
<p>8</p>
<p>9</p>
<p>10</p>
<p>11</p>
<p>12</p>
<p>13</p>
<p>14</p>
<p>15</p>
<p>16</p>
<p>17</p>
<p>18</p>
<p>19</p>
<p>20</p>
<p>21</p>
</td>
<td valign="baseline">
<p>- (void)loadAwesomeURL</p>
<p>{</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;NSString *awesomeURI = @"<a href="http://www.awesomeexample.com/?output=JSON">http://www.awesomeexample.com/?output=JSON</a>";</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;NSURL *awesomeURL = [NSURL URLWithString:awesomeURI];</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;NSURLRequest *awesomeRequest = [NSURLRequest requestWithURL:awesomeURL];</p>
<p>&nbsp;</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;NSURLConnection *theConnection = [[NSURLConnection alloc] initWithRequest:awesomeRequest</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;delegate:self];</p>
<p>&nbsp;</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;[theConnection start];</p>
<p>}</p>
<p>&nbsp;</p>
<p>- (void)connection:(NSURLConnection *)connection didReceiveData:(NSData *)data</p>
<p>{</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;[myMutableData appendData:data];</p>
<p>}</p>
<p>&nbsp;</p>
<p>- (void)connectionDidFinishLoading:(NSURLConnection *)connection</p>
<p>{</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;[self processTheAwesomeness];</p>
<p>}</p>
</td>
</tr>
</tbody>
</table>
<p>That sucks. Three methods, and I didn&rsquo;t even do any error handling! There has to be a better way. NSURLConnection offers a synchronous method, but everybody <em>knows</em> you don&rsquo;t use it&hellip; so let&rsquo;s do exactly that. But since we want to make this asynchronous, we&rsquo;ll use Grand Central Dispatch to wrap it in a dispatch_async() call:</p>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="baseline">
<p>1</p>
<p>2</p>
<p>3</p>
<p>4</p>
<p>5</p>
<p>6</p>
<p>7</p>
<p>8</p>
<p>9</p>
<p>10</p>
<p>11</p>
<p>12</p>
<p>13</p>
<p>14</p>
<p>15</p>
<p>16</p>
<p>17</p>
<p>18</p>
</td>
<td valign="baseline">
<p>- (void)loadAwesomeURL</p>
<p>{</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;NSString *awesomeURI = @"<a href="http://www.awesomeexample.com/?output=JSON">http://www.awesomeexample.com/?output=JSON</a>";</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;NSURL *awesomeURL = [NSURL URLWithString:awesomeURI];</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;NSURLRequest *awesomeRequest = [NSURLRequest requestWithURL:awesomeURL];</p>
<p>&nbsp;</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;dispatch_queue_t queue = dispatch_get_global_queue(DISPATCH_QUEUE_PRIORITY_DEFAULT, 0ul);</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;dispatch_async(queue, ^{</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;NSURLResponse *response = nil;</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;NSError *error = nil;</p>
<p>&nbsp;</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;NSData *receivedData = [NSURLConnection sendSynchronousRequest:awesomeRequest</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;returningResponse:&amp;response</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;error:&amp;error];</p>
<p>&nbsp;</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[self processTheAwesomeness];</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;});</p>
<p>}</p>
</td>
</tr>
</tbody>
</table>
<p>We can easily do error checking after the NSURLConnection call; simply check to see if receivedData is nil, cast response to an NSHTTPURLRequest and check its statusCode property, and if all else fails, check out error.</p>
<p><strong>Note:</strong> I&rsquo;ve received a fair amount of negative feedback on this article on Twitter, Reddit, and in the comments, and I feel like I ought to make a few points clear:</p>
<ul>
<li>This is not the last networking solution you&rsquo;ll ever need. Among other things, this does not support:</li>
<ol>
<li>Canceling the connection</li>
<li>Running code when the connection is half-done</li>
<li>Streaming data to a file for large downloads</li>
</ol>
<li>This is a quick example. It&rsquo;s mainly designed to illustrate dispatch_async() as a wrapper for synchronous APIs.</li>
<li>It isn&rsquo;t good for multiple connections. You&rsquo;ll want a custom dispatch queue for that.</li>
<li>It doesn&rsquo;t run on the main thread. If you&rsquo;re updating your UI, you&rsquo;ll need to do that on the main thread.</li>
</ul>
<h2>&nbsp;</h2>
<h2>&nbsp;</h2>
<h2><span style="color: #008080;">Handling Timeouts</span></h2>
<p>You want to set a wait limit&mdash;in other words, a timeout&mdash;on an asynchronous&nbsp;connection.</p>
<p><strong>Solution</strong></p>
<p>Set the timeout on the URL request that you pass to the&nbsp;NSURLConnection&nbsp;class.</p>
<p>When instantiating an object of type&nbsp;NSURLRequest&nbsp;to pass to your URL connection, you can use itsrequestWithURL:cachePolicy:timeoutInterval:&nbsp;class method and pass the desired number of seconds of your timeout as the&nbsp;timeoutInterval&nbsp;parameter.</p>
<p>For instance, if you want to wait a maximum of 30 seconds to download the contents of Apple&rsquo;s home page using a synchronous connection, create your URL request like so:</p>
<p>Check out this example&nbsp;</p>
<p>NSString *urlAsString = @"http://www.apple.com";</p>
<p>&nbsp; &nbsp; NSURL *url = [NSURL URLWithString:urlAsString];</p>
<p>&nbsp;</p>
<p>&nbsp; &nbsp; NSURLRequest *urlRequest =</p>
<p>&nbsp; &nbsp; [NSURLRequest</p>
<p>&nbsp;&nbsp; &nbsp; requestWithURL:url</p>
<p>&nbsp;&nbsp; &nbsp; cachePolicy:NSURLRequestReloadIgnoringLocalAndRemoteCacheData</p>
<p>&nbsp;&nbsp; &nbsp; timeoutInterval:30.0f];</p>
<p>&nbsp; &nbsp; NSOperationQueue *queue = [[NSOperationQueue alloc] init];</p>
<p>&nbsp; &nbsp; [NSURLConnection</p>
<p>&nbsp;&nbsp; &nbsp; sendAsynchronousRequest:urlRequest</p>
<p>&nbsp;&nbsp; &nbsp; queue:queue</p>
<p>&nbsp;&nbsp; &nbsp; completionHandler:^(NSURLResponse *response,</p>
<p>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; NSData *data,</p>
<p>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; NSError *error) {</p>
<p>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; <strong>if</strong> ([data length] &gt;0&nbsp; &amp;&amp; error == nil){</p>
<p>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; NSString *html =</p>
<p>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; [[NSString alloc] initWithData:data</p>
<p>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; encoding:NSUTF8StringEncoding];</p>
<p>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; NSLog(@"HTML = %@", html);</p>
<p>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; }</p>
<p>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; <strong>else</strong> <strong>if</strong> ([data length] == 0 &amp;&amp; error == nil){</p>
<p>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; NSLog(@"Nothing was downloaded.");</p>
<p>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; }</p>
<p>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; <strong>else</strong> <strong>if</strong> (error != nil){</p>
<p>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; NSLog(@"Error happened = %@", error);</p>
<p>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; }</p>
<p>&nbsp;&nbsp; &nbsp; }];</p>
<h2><span style="color: #008080;">Sending HTTP GET and POST Requests</span></h2>
<h2><span style="color: #008080;">HTTP GET</span></h2>
<p>Hey pals, today we talk about how to send HTTP GET and POST requests to a server from your iOS application. This post I am implementing server side also. Therefore we will use localhost as our server. Next speciality is, you will learn how to send custom HTTP headers in iOS in this tutorial. We are not going to use any kind of library such as AFNetworking, due to learning purpose. &nbsp;</p>
<p>Today we are not going to consider about the user interfaces. For simplicity of the post, I&rsquo;m writing all the stuff inside my ViewController class. But you &nbsp;can separate those in to your Modal class in your project.</p>
<p>HTTP GET</p>
<p>First we learn about sending HTTP GET requests. Simply this means, we are sending our data by appending to the server URL. Also I&rsquo;m going to show you two ways of sending data in iOS.</p>
<ol>
<li>Synchronous &ndash; happening at the same time</li>
<li>Asynchronous &ndash; Not happening at the same time. Waiting in a queue.</li>
</ol>
<p>So in the first block of code, you will learn how to send a HTTP GET request to your localhost in synchronous manner and gather the response data inside the same method.</p>
<p>- (void)sendHttpGet {</p>
<p>&nbsp;NSLog(@"%s - %d", __PRETTY_FUNCTION__, __LINE__);</p>
<p>&nbsp;</p>
<p>&nbsp;/*</p>
<p>&nbsp;* String literal that hardcode the localhost server URL which handles the HTTP GET request</p>
<p>&nbsp;*/</p>
<p>&nbsp;NSString *urlStr = @"http://127.0.0.1/restapi/index.php?name=Anuja";</p>
<p>&nbsp;</p>
<p>&nbsp;/*</p>
<p>&nbsp;* URLWithString - Returns an NSURL object initialized with URLString.</p>
<p>&nbsp;* If the URL string was malformed or nil, returns nil.</p>
<p>&nbsp;*/</p>
<p>&nbsp;NSURL *url = [NSURL URLWithString:urlStr];</p>
<p>&nbsp;</p>
<p>&nbsp;/*</p>
<p>&nbsp;* requestWithURL - Creates and returns a URL request for a specified URL with default cache policy (NSURLRequestUseProtocolCachePolicy) and timeout value (60 seconds).</p>
<p>&nbsp;*</p>
<p>&nbsp;*/</p>
<p>&nbsp;NSURLRequest *request = [NSURLRequest requestWithURL:url];</p>
<p>&nbsp;</p>
<p>&nbsp;NSURLResponse *response;</p>
<p>&nbsp;NSError *error;</p>
<p>&nbsp;</p>
<p>&nbsp;/*</p>
<p>&nbsp;* sendSynchronousRequest:returningResponse:error: - Performs a synchronous load of the specified URL request.</p>
<p>&nbsp;* Returns the downloaded data for the URL request.&nbsp;</p>
<p>&nbsp;* Returns nil if a connection could not be created or if the download fails.</p>
<p>&nbsp;*/</p>
<p>&nbsp;NSData *responseData = [NSURLConnection sendSynchronousRequest:request returningResponse:&amp;response error:&amp;error];</p>
<p>&nbsp;</p>
<p>&nbsp;NSString *responseStr = [[NSString alloc] initWithData:responseData encoding:NSUTF8StringEncoding];</p>
<p>&nbsp;NSLog(@"%s - %d # responseStr = %@", __PRETTY_FUNCTION__, __LINE__, responseStr);</p>
<p>}</p>
<p>I&rsquo;m not going to explain the code here, because it is explained using comments and you can download the full source code from the GitHub repository link that I&rsquo;m providing at the end of this post.</p>
<p>From the following block of code, you will be able to learn how to send HTTP GET request to your localhost as asynchronously. This time, you will gather response data inside the block of request class method.</p>
<p>- (void)sendHttpGetAsync {</p>
<p>&nbsp;NSLog(@"%s - %d", __PRETTY_FUNCTION__, __LINE__);</p>
<p>&nbsp;</p>
<p>&nbsp;NSString *urlStr = @"http://127.0.0.1/restapi/index.php?name=AnujA";</p>
<p>&nbsp;</p>
<p>&nbsp;NSURL *url = [NSURL URLWithString:urlStr];</p>
<p>&nbsp;</p>
<p>&nbsp;NSURLRequest *request = [NSURLRequest requestWithURL:url];</p>
<p>&nbsp;</p>
<p>&nbsp;NSOperationQueue *operationQueue = [[NSOperationQueue alloc] init];</p>
<p>&nbsp;</p>
<p>&nbsp;/*</p>
<p>&nbsp;* sendAsynchronousRequest:queue:completionHandler: - Loads the data for a URL request and executes a handler block on an operation queue when the request completes or fails.</p>
<p>&nbsp;*/</p>
<p>&nbsp;[NSURLConnection sendAsynchronousRequest:request queue:operationQueue completionHandler:^(NSURLResponse *response, NSData *data, NSError *connectionError) {</p>
<p>&nbsp;</p>
<p>&nbsp;NSString *responseStr = [[NSString alloc] initWithData:data encoding:NSUTF8StringEncoding];</p>
<p>&nbsp;NSLog(@"%s - %d # responseStr = %@", __PRETTY_FUNCTION__, __LINE__, responseStr);</p>
<p>&nbsp;}];</p>
<p>}</p>
<p>In above two examples, you have send requests using default HTTP headers. If your are not familiar about these header types please visit this <a href="http://en.wikipedia.org/wiki/List_of_HTTP_header_fields">WiKi link</a>.</p>
<p>In the next sample code we will see how to send custom header type. Most of the time these custom headers are using for security reasons. So in this example I&rsquo;m going to add my own header type to the HTTP GET request. So if the server side is not handle to accept this header, you will get an authentication error. You can get the server side code at the end of this post.</p>
<p>- (void)sendHttpGetMutable {</p>
<p>&nbsp;NSLog(@"%s - %d", __PRETTY_FUNCTION__, __LINE__);</p>
<p>&nbsp;</p>
<p>&nbsp;NSString *urlStr = @"http://127.0.0.1/restapi/index.php?name=anuja";</p>
<p>&nbsp;</p>
<p>&nbsp;NSMutableURLRequest *request = [[NSMutableURLRequest alloc] init];</p>
<p>&nbsp;</p>
<p>&nbsp;[request setURL:[NSURL URLWithString:urlStr]];</p>
<p>&nbsp;</p>
<p>&nbsp;[request setHTTPMethod:@"GET"];</p>
<p>&nbsp;</p>
<p>&nbsp;/*</p>
<p>&nbsp;* addValue:forHTTPHeaderField: - Adds an HTTP header to the receiver&rsquo;s HTTP header dictionary.</p>
<p>&nbsp;* This is the way we add custom headers to a HTTP request.</p>
<p>&nbsp;* Otherwise we use setValue:forHTTPHeaderField: method to set values to existing headers.</p>
<p>&nbsp;*/</p>
<p>&nbsp;[request addValue:@"apiuser" forHTTPHeaderField:@"X-USERNAME"];</p>
<p>&nbsp;</p>
<p>&nbsp;/*</p>
<p>&nbsp;* allHTTPHeaderFields - Listing all of the receiver&rsquo;s HTTP header fields. (read-only)</p>
<p>&nbsp;*/</p>
<p>&nbsp;NSLog(@"%s - %d # allHTTPHeaderFields = %@", __PRETTY_FUNCTION__, __LINE__, [request allHTTPHeaderFields]);</p>
<p>&nbsp;</p>
<p>&nbsp;NSURLResponse *response;</p>
<p>&nbsp;NSError *error;</p>
<p>&nbsp;</p>
<p>&nbsp;NSData *responseData = [NSURLConnection sendSynchronousRequest:request returningResponse:&amp;response error:&amp;error];</p>
<p>&nbsp;</p>
<p>&nbsp;NSString *responseStr = [[NSString alloc] initWithData:responseData encoding:NSUTF8StringEncoding];</p>
<p>&nbsp;NSLog(@"%s - %d # responseStr = %@", __PRETTY_FUNCTION__, __LINE__, responseStr);</p>
<p>}</p>
<p>Having said that, we will move to study our next HTTP method call, which is;</p>
<h2><span style="color: #008080;">POST Requests</span></h2>
<p>So here you will send your data in the body part of the HTTP request. For the first example of this, you will learn how to send HTTP POST request synchronously to your localhost with mutable header type. You will gather response inside the same method.</p>
<p>- (void)sendHttpPost {</p>
<p>&nbsp;NSLog(@"%s - %d", __PRETTY_FUNCTION__, __LINE__);</p>
<p>&nbsp;</p>
<p>&nbsp;NSString *postMsg = @"name=AnujAroshA";</p>
<p>&nbsp;NSString *urlStr = @"http://127.0.0.1/restapi/index.php";</p>
<p>&nbsp;</p>
<p>&nbsp;/*</p>
<p>&nbsp;* dataUsingEncoding:allowLossyConversion: - Returns nil if flag is NO and the receiver can&rsquo;t be converted without losing some information.</p>
<p>&nbsp;*/</p>
<p>&nbsp;NSData *postData = [postMsg dataUsingEncoding:NSASCIIStringEncoding allowLossyConversion:YES];</p>
<p>&nbsp;</p>
<p>&nbsp;NSString *postLength = [NSString stringWithFormat:@"%d",[postData length]];</p>
<p>&nbsp;</p>
<p>&nbsp;NSMutableURLRequest *request = [[NSMutableURLRequest alloc] init];</p>
<p>&nbsp;</p>
<p>&nbsp;[request setURL:[NSURL URLWithString:urlStr]];</p>
<p>&nbsp;</p>
<p>&nbsp;[request setHTTPMethod:@"POST"];</p>
<p>&nbsp;</p>
<p>&nbsp;[request setValue:postLength forHTTPHeaderField:@"Content-Length"];</p>
<p>&nbsp;</p>
<p>&nbsp;/*</p>
<p>&nbsp;* Sets value for default header field</p>
<p>&nbsp;*/</p>
<p>&nbsp;[request setValue:@"application/x-www-form-urlencoded" forHTTPHeaderField:@"Content-Type"];</p>
<p>&nbsp;</p>
<p>&nbsp;/*</p>
<p>&nbsp;* Add customer header field and value</p>
<p>&nbsp;*/</p>
<p>&nbsp;[request addValue:@"apiuser" forHTTPHeaderField:@"X-USERNAME"];</p>
<p>&nbsp;</p>
<p>&nbsp;[request setHTTPBody:postData];</p>
<p>&nbsp;</p>
<p>&nbsp;NSURLResponse *response;</p>
<p>&nbsp;NSError *error;</p>
<p>&nbsp;</p>
<p>&nbsp;NSData *responseData = [NSURLConnection sendSynchronousRequest:request returningResponse:&amp;response error:&amp;error];</p>
<p>&nbsp;</p>
<p>&nbsp;NSString *responseStr = [[NSString alloc] initWithData:responseData encoding:NSUTF8StringEncoding];</p>
<p>&nbsp;NSLog(@"%s - %d # responseStr = %@", __PRETTY_FUNCTION__, __LINE__, responseStr);</p>
<p>}</p>
<p>As the final, we will learn how to send same above data and get the response using delegate method. Here you have to use&nbsp;NSURLConnectionDataDelegate in your header file. One special thing you have to remember for this method calling is, do not call the following method using a background thread. You can call all above methods in back ground but not this one. The reason is, here you are calling delegate:self which means you are expecting the result to be shown in your main UI thread.</p>
<p>- (void)sendHttpPostDataDelegate {</p>
<p>&nbsp;NSLog(@"%s - %d", __PRETTY_FUNCTION__, __LINE__);</p>
<p>&nbsp;</p>
<p>&nbsp;NSString *postMsg = @"name=anujarosha";</p>
<p>&nbsp;NSString *urlStr = @"http://127.0.0.1/restapi/index.php";</p>
<p>&nbsp;</p>
<p>&nbsp;NSData *postData = [postMsg dataUsingEncoding:NSASCIIStringEncoding allowLossyConversion:YES];</p>
<p>&nbsp;</p>
<p>&nbsp;NSString *postLength = [NSString stringWithFormat:@"%d",[postData length]];</p>
<p>&nbsp;</p>
<p>&nbsp;NSMutableURLRequest *request = [[NSMutableURLRequest alloc] init];</p>
<p>&nbsp;</p>
<p>&nbsp;[request setURL:[NSURL URLWithString:urlStr]];</p>
<p>&nbsp;</p>
<p>&nbsp;[request setHTTPMethod:@"POST"];</p>
<p>&nbsp;</p>
<p>&nbsp;[request setValue:postLength forHTTPHeaderField:@"Content-Length"];</p>
<p>&nbsp;</p>
<p>&nbsp;[request setValue:@"application/x-www-form-urlencoded" forHTTPHeaderField:@"Content-Type"];</p>
<p>&nbsp;</p>
<p>&nbsp;[request addValue:@"apiuser" forHTTPHeaderField:@"X-USERNAME"];</p>
<p>&nbsp;</p>
<p>&nbsp;[request setHTTPBody:postData];</p>
<p>&nbsp;</p>
<p>&nbsp;/*</p>
<p>&nbsp;* Calling for the NSURLConnectionDataDelegate</p>
<p>&nbsp;*/</p>
<p>&nbsp;NSURLConnection *conn = [[NSURLConnection alloc]initWithRequest:request delegate:self];</p>
<p>&nbsp;</p>
<p>&nbsp;if(conn) {</p>
<p>&nbsp;NSLog(@"%s - %d # Connection Successful", __PRETTY_FUNCTION__, __LINE__);</p>
<p>&nbsp;} else {</p>
<p>&nbsp;NSLog(@"%s - %d # Connection could not be made", __PRETTY_FUNCTION__, __LINE__);</p>
<p>&nbsp;}</p>
<p>}</p>
<p>You can receive data using&nbsp;&ndash; connection: didReceiveData: method. I&rsquo;m not going to explain the server side PHP code inside this post because the post is lengthier than I expected. But you can read or download full source code from my <a href="https://github.com/AnujAroshA/iOS-HTTPRequests">GitHub repository</a> link.</p>
<p>While you are reading the PHP code from above mentioned repository you will find some HTTP status codes. If you are wondering where those come from, please visit this <a href="http://en.wikipedia.org/wiki/List_of_HTTP_status_codes">WiKi link</a> to study about HTTP status codes. This is all about for today lesson. Will meet with something new in next post. Till then, have a good coding time</p>
<h2><span style="color: #008080;">Parsing JSON</span></h2>
<p>As of iOS 5, Apple has a built-in JSON parser which allows you to take a string containing JSON and convert it into an NSDictionary or an NSArray. In order to parse and use the JSON returned in the code above, add these lines before the end of the block:</p>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="baseline">
<p>1</p>
<p>2</p>
<p>3</p>
<p>4</p>
<p>5</p>
<p>6</p>
<p>7</p>
</td>
<td valign="baseline">
<p>if(!error) {</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;NSData *jsonData = [json dataUsingEncoding:NSASCIIStringEncoding];</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;NSDictionary *jsonDict = [NSJSONSerialization JSONObjectWithData:jsonData&nbsp;</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; options:kNilOptions</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; error:&amp;error];</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;NSLog(@"JSON: %@", jsonDict);</p>
<p>}</p>
</td>
</tr>
</tbody>
</table>
<p>The NSJSONSerialization class will parse and convert a JSON string into an NSDictionary or NSArray depending on the format of your JSON. This makes your life much, much easier. Now you are able to use the values from the JSON string like this:</p>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="baseline">
<p>1</p>
</td>
<td valign="baseline">
<p>NSString *promo_url = [jsonDict objectForKey:@"promo_url"];</p>
</td>
</tr>
</tbody>
</table>
<p>And there you have it! A very basic way to consume web services using ONLY native SDK classes. Now, on to something a little more interesting...images!</p>
<p><strong>Fetching Remote Images</strong></p>
<p>We can use the method described above to fetch any sort of remote media. For this example, I will show you how to download an image from the popular blog <a href="http://xkcd.com/">XKCD</a>.</p>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="baseline">
<p>01</p>
<p>02</p>
<p>03</p>
<p>04</p>
<p>05</p>
<p>06</p>
<p>07</p>
<p>08</p>
<p>09</p>
<p>10</p>
<p>11</p>
<p>12</p>
<p>13</p>
</td>
<td valign="baseline">
<p>dispatch_queue_t img_queue = dispatch_get_global_queue(DISPATCH_QUEUE_PRIORITY_DEFAULT, 0);</p>
<p>dispatch_async(img_queue, ^{</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;NSURL *url = [NSURL URLWithString:@"<a href="http://imgs.xkcd.com/comics/formal_logic.png">http://imgs.xkcd.com/comics/formal_logic.png</a>"];</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;NSError *error = nil;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;NSData *image = [NSData dataWithContentsOfURL:url options:0 error:&amp;error];</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;if(!error &amp;&amp; image &amp;&amp; [image length] &gt; 0) {</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;NSArray *paths = NSSearchPathForDirectoriesInDomains(NSCachesDirectory, NSUserDomainMask, YES);</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;NSString *path = [[paths objectAtIndex:0] stringByAppendingPathComponent:@"image.png"];</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[image writeToFile:path options:0 error:&amp;error];&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;}</p>
</td>
</tr>
</tbody>
</table>
<p>Again, we start by getting a queue to run asynchronously on. Next, we fetch the image data using the dataWithContentsOfURL:options:error: method of NSData. Once we verify that we have returned some data, we grab a reference to the caches directory on disk and save the image.</p>
<p>And it's that simple! You can also use the fetched image right away by doing this:</p>
<p>1</p>
<p>UIImage *img = [UIImage imageWithData:image];</p>
<p>&nbsp;</p>
<p>alternate</p>
<p>While there are many 3rd party APIs available to help simplify working with JSON in the context of other tools (such as Core Data and RESTful WebServices), this article focuses on how one can use the &ldquo;out of the box&rdquo; support included in the Foundation framework.</p>
<p>As of iOS 5, the Foundation framework includes a class (<strong>NSJSONSerialization</strong>) that can easily transform an NSData-JSON object into an NSDictionary. &nbsp;So for this example, the dictionary keys are: &ldquo;Monday,&rdquo; &ldquo;Tuesday,&rdquo; and &ldquo;Wednesday.&rdquo; &nbsp;The value of each weekday is an NSArray of nested individual courses. &nbsp;Each course, in turn, is represented as another NSDictionary.</p>
<p>Let&rsquo;s assume this is the JSON document, which is located on a remote site:</p>
<p>&nbsp;</p>
<p>{</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;"Monday": [</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"title": "Test Driven Development",</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"speaker": "Jason Shapiro",</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"time": "9:00 AM",</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"room": "Matisse",</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"details": "Explore the topics and tools related to Test Driven Development."</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;},</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"title": "Java Tools",</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"speaker": "Jim White",</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"time": "9:00 AM",</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"room": "Rothko",</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"details": "Discuss the latest set of tools used to help ease software development."</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;}</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;],</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;"Tuesday": [</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"title": "MongoDB",</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"speaker": "DavinMickelson",</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"time": "1: 00PM",</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"room": "Picasso",</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"details": "Learnabout\"NoSQL\"databases."</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;},</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"title": "DebuggingwithXcode",</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"speaker": "JasonShapiro",</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"time": "1: 00PM",</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"room": "VanGogh",</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"details": "ExploredifferentpatternsfordebuggingyouriOSapps."</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;}</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;],</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;"Wednesday": [</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"title": "Scrum Master",</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"speaker": "Davin Mickelson",</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"time": "1:00 PM",</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"room": "Matisse",</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"details": "Learn the roles and responsibilities of a Scrum Master"</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;},</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"title": "Design Patterns",</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"speaker": "Jim White",</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"time": "1:00 PM",</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"room": "Rothko",</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"details": "Apply best practices and sound architectures to software design."</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;}</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;]</p>
<p>}</p>
<p>This document can be downloaded with a simple method call from <strong>NSData</strong>:</p>
<p>NSData *allCoursesData = [[NSData alloc] initWithContentsOfURL:</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[NSURL URLWithString:@"ENTER-URL-HERE"]];</p>
<p>Next we need to transform this NSData-JSON object into an NSDictionary. &nbsp;The keys of this dictionary are &ldquo;Monday, &ldquo;Tuesday,&rdquo; and &ldquo;Wednesday.&rdquo; &nbsp;Like many API methods of Cocoa Touch, this expects the address of an <strong>NSError</strong> pointer. &nbsp;If something goes wrong, the API method will create an <strong>NSError</strong> object and update the pointer accordingly</p>
<p>NSError *error;</p>
<p>NSMutableDictionary *allCourses = [NSJSONSerialization</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;JSONObjectWithData:allCoursesData</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;options:NSJSONReadingMutableContainers</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;error:&amp;error];</p>
<p>&nbsp;</p>
<p>Notice that we set the &ldquo;options&rdquo; parameter with <strong>NSJSONReadingMutableContainers</strong>. This tells the <strong>NSJSONSerialization</strong> object that the document should be transformed into mutable collections (i.e., <strong>NSMutuableDictionary</strong> and <strong>NSMutuableArray</strong>). &nbsp;Other reading options include: <strong>NSJSONReadingMutuableLeaves</strong> (String values should be transformed into <strong>NSMutuableStrings</strong>), and <strong>NSJSONReadingAllowFragments</strong> (permit top level objects that are not an <strong>NSArray</strong>, <strong>NSDictionary</strong>, or any subclass).</p>
<p>Multiple reading options can be added with the <strong>&lsquo;|&rsquo;</strong> operator:</p>
<p>Crayon Syntax Highlighter v_2.7.2_beta</p>
<p>NSError *error;</p>
<p>NSMutableDictionary *allCourses = [NSJSONSerialization</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; JSONObjectWithData:allCoursesData</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; options:NSJSONReadingMutableContainers|NSJSONReadingMutableLeaves</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; error:&amp;error];</p>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>1</p>
<p>2</p>
<p>3</p>
<p>4</p>
<p>5</p>
</td>
<td valign="top">
<p>NSError *error;</p>
<p>NSMutableDictionary *allCourses = [NSJSONSerialization</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;JSONObjectWithData:allCoursesData</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;options:NSJSONReadingMutableContainers|NSJSONReadingMutableLeaves</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;error:&amp;error];</p>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<p>To specify no options, use <strong>kNilOptions</strong>:</p>
<p>Crayon Syntax Highlighter v_2.7.2_beta</p>
<p>NSError *error;</p>
<p>NSDictionary *allCourses = [NSJSONSerialization</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; JSONObjectWithData:allCoursesData</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; options:kNilOptions</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; error:&amp;error];</p>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>1</p>
<p>2</p>
<p>3</p>
<p>4</p>
<p>5</p>
</td>
<td valign="top">
<p>NSError *error;</p>
<p>NSDictionary *allCourses = [NSJSONSerialization</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;JSONObjectWithData:allCoursesData</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;options:kNilOptions</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;error:&amp;error];</p>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<p>At this point, as long as the NSError pointer is nil, we can access each dictionary and array key as needed. &nbsp;Just remember that anything surrounded with<strong> { }</strong> is a dictionary, and anything surrounded with <strong>[ ]</strong> is an array.</p>
<p>if( error )</p>
<p>{</p>
<p>&nbsp; &nbsp; NSLog(@"%@", [error localizedDescription]);</p>
<p>}</p>
<p>else {</p>
<p>&nbsp; &nbsp; NSArray *monday = allCourses[@"Monday"];</p>
<p>&nbsp; &nbsp; for ( NSDictionary *theCourse in monday )</p>
<p>&nbsp; &nbsp; {</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; NSLog(@"----");</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; NSLog(@"Title: %@", theCourse[@"title"] );</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; NSLog(@"Speaker: %@", theCourse[@"speaker"] );</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; NSLog(@"Time: %@", theCourse[@"time"] );</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; NSLog(@"Room: %@", theCourse[@"room"] );</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; NSLog(@"Details: %@", theCourse[@"details"] );</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; NSLog(@"----");</p>
<p>&nbsp; &nbsp; }</p>
<p>}</p>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>1</p>
<p>2</p>
<p>3</p>
<p>4</p>
<p>5</p>
<p>6</p>
<p>7</p>
<p>8</p>
<p>9</p>
<p>10</p>
<p>11</p>
<p>12</p>
<p>13</p>
<p>14</p>
<p>15</p>
<p>16</p>
<p>17</p>
</td>
<td valign="top">
<p>if( error )</p>
<p>{</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;NSLog(@"%@", [error localizedDescription]);</p>
<p>}</p>
<p>else {</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;NSArray *monday = allCourses[@"Monday"];</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;for ( NSDictionary *theCourse in monday )</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;{</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;NSLog(@"----");</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;NSLog(@"Title: %@", theCourse[@"title"] );</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;NSLog(@"Speaker: %@", theCourse[@"speaker"] );</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;NSLog(@"Time: %@", theCourse[@"time"] );</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;NSLog(@"Room: %@", theCourse[@"room"] );</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;NSLog(@"Details: %@", theCourse[@"details"] );</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;NSLog(@"----");</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;}</p>
<p>}</p>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<p>&nbsp;</p>
<h2><span style="color: #008080;">Parsing XML</span></h2>
<h2><span style="color: #008080;">AirDrop</span></h2>
<p><strong>What is the AirDrop?</strong></p>
<p>AirDrop is Apple's proprietary wireless technology that enables you to share various types of files between compatible devices. It is available on certain iOS devices (7 or higher) and <a href="https://www.lifewire.com/os-x-lion-installation-guides-2260360">Mac OS X 10.7+</a> (Lion). However, you can't currently share files between these two <a href="https://www.lifewire.com/mac-os-x-is-not-linux-distribution-2204744">operating systems</a> -- i.e. files can't be shared between a Mac OS X computer and an <a href="https://www.lifewire.com/iphone-compatible-ios-8-1999214">iOS device</a> (or vice-versa).</p>
<p>Begin Rubicon Project Tag Site: Lifewire.com Zone: Lifewire Desktop INTL T1 Size: Medium Rectangle</p>
<p>&nbsp;</p>
<p>Copyright the Rubicon Project 2010</p>
<p>End Rubicon Project Tag</p>
<p><strong>How Does it Work?</strong></p>
<p>Rather than using an Internet connection for moving files around, users locally share the data using two wireless technologies -- <a href="https://www.lifewire.com/useful-facts-about-how-wifi-works-818275">Bluetooth and Wi-Fi</a>. In fact, this is one of the main advantages of <a href="https://www.lifewire.com/use-airdrop-on-iphone-1999205">using AirDrop</a> in that it negates the need to use any Internet connection or remote <a href="https://www.lifewire.com/what-is-cloud-storage-2438541">cloud storage</a> service at all. In the past you would have needed to install a third-party app and use the Internet to either upload your files to a <a href="https://www.lifewire.com/best-free-music-storage-sites-2438776">remote storage service</a> (<a href="https://www.lifewire.com/get-free-cloud-storage-with-dropbox-3486458">like Dropbox for example</a>) or used a Bittorrent-based client to transfer your files to a remote computer.</p>
<p>However, by using AirDrop you can setup a wireless local network to distribute files securely between compatible hardware. It's quite flexible too in how files can be shared. You can either setup <a href="https://www.lifewire.com/airdrop-with-without-wifi-connection-2259801">an AirDrop network</a> to share publicly (i.e. everyone) or just your contacts.</p>
<p><strong>What iOS Devices is AirDrop Available on?</strong></p>
<p>Currently AirDrop is available on the following devices running iOS 7 or higher:</p>
<p>&nbsp;</p>
<ul>
<li>iPhone 5 or later</li>
<li>iPod touch 5</li>
<li>iPad 4</li>
<li>iPad mini</li>
</ul>
<p><strong>What Types of Digital Media Files Can I Share Using AirDrop?</strong></p>
<p>As well as sharing non-media file types such as content from apps, Web URLs, locations, etc., AirDrop also allows you to share a few different digital media types. This includes: photos, videos, and <a href="https://www.lifewire.com/what-is-digital-music-2438426">digital music</a> (via a third-party app like iZip).</p>
<p>The advantage of using AirDrop for sharing media files is that it is already activated by default and there's no setup required to start sharing with others.</p>
<p>For example, if you have a collection of MP3s that you want to share, then using AirDrop with an app is a simple and quick solution.</p>
<p>&nbsp;</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>