<h2><span style="color: #008080;">Parsing JSON</span></h2>
<p>As of iOS 5, Apple has a built-in JSON parser which allows you to take a string containing JSON and convert it into an NSDictionary or an NSArray. In order to parse and use the JSON returned in the code above, add these lines before the end of the block:</p>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="baseline">
<p>1</p>
<p>2</p>
<p>3</p>
<p>4</p>
<p>5</p>
<p>6</p>
<p>7</p>
</td>
<td valign="baseline">
<p>if(!error) {</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;NSData *jsonData = [json dataUsingEncoding:NSASCIIStringEncoding];</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;NSDictionary *jsonDict = [NSJSONSerialization JSONObjectWithData:jsonData&nbsp;</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; options:kNilOptions</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; error:&amp;error];</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;NSLog(@"JSON: %@", jsonDict);</p>
<p>}</p>
</td>
</tr>
</tbody>
</table>
<p>The NSJSONSerialization class will parse and convert a JSON string into an NSDictionary or NSArray depending on the format of your JSON. This makes your life much, much easier. Now you are able to use the values from the JSON string like this:</p>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="baseline">
<p>1</p>
</td>
<td valign="baseline">
<p>NSString *promo_url = [jsonDict objectForKey:@"promo_url"];</p>
</td>
</tr>
</tbody>
</table>
<p>And there you have it! A very basic way to consume web services using ONLY native SDK classes. Now, on to something a little more interesting...images!</p>
<p><strong>Fetching Remote Images</strong></p>
<p>We can use the method described above to fetch any sort of remote media. For this example, I will show you how to download an image from the popular blog <a href="http://xkcd.com/">XKCD</a>.</p>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="baseline">
<p>01</p>
<p>02</p>
<p>03</p>
<p>04</p>
<p>05</p>
<p>06</p>
<p>07</p>
<p>08</p>
<p>09</p>
<p>10</p>
<p>11</p>
<p>12</p>
<p>13</p>
</td>
<td valign="baseline">
<p>dispatch_queue_t img_queue = dispatch_get_global_queue(DISPATCH_QUEUE_PRIORITY_DEFAULT, 0);</p>
<p>dispatch_async(img_queue, ^{</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;NSURL *url = [NSURL URLWithString:@"<a href="http://imgs.xkcd.com/comics/formal_logic.png">http://imgs.xkcd.com/comics/formal_logic.png</a>"];</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;NSError *error = nil;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;NSData *image = [NSData dataWithContentsOfURL:url options:0 error:&amp;error];</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;if(!error &amp;&amp; image &amp;&amp; [image length] &gt; 0) {</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;NSArray *paths = NSSearchPathForDirectoriesInDomains(NSCachesDirectory, NSUserDomainMask, YES);</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;NSString *path = [[paths objectAtIndex:0] stringByAppendingPathComponent:@"image.png"];</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[image writeToFile:path options:0 error:&amp;error];&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;}</p>
</td>
</tr>
</tbody>
</table>
<p>Again, we start by getting a queue to run asynchronously on. Next, we fetch the image data using the dataWithContentsOfURL:options:error: method of NSData. Once we verify that we have returned some data, we grab a reference to the caches directory on disk and save the image.</p>
<p>And it's that simple! You can also use the fetched image right away by doing this:</p>
<p>1</p>
<p>UIImage *img = [UIImage imageWithData:image];</p>
<p>&nbsp;</p>
<p>alternate</p>
<p>While there are many 3rd party APIs available to help simplify working with JSON in the context of other tools (such as Core Data and RESTful WebServices), this article focuses on how one can use the &ldquo;out of the box&rdquo; support included in the Foundation framework.</p>
<p>As of iOS 5, the Foundation framework includes a class (<strong>NSJSONSerialization</strong>) that can easily transform an NSData-JSON object into an NSDictionary. &nbsp;So for this example, the dictionary keys are: &ldquo;Monday,&rdquo; &ldquo;Tuesday,&rdquo; and &ldquo;Wednesday.&rdquo; &nbsp;The value of each weekday is an NSArray of nested individual courses. &nbsp;Each course, in turn, is represented as another NSDictionary.</p>
<p>Let&rsquo;s assume this is the JSON document, which is located on a remote site:</p>
<p>&nbsp;</p>
<p>{</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;"Monday": [</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"title": "Test Driven Development",</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"speaker": "Jason Shapiro",</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"time": "9:00 AM",</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"room": "Matisse",</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"details": "Explore the topics and tools related to Test Driven Development."</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;},</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"title": "Java Tools",</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"speaker": "Jim White",</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"time": "9:00 AM",</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"room": "Rothko",</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"details": "Discuss the latest set of tools used to help ease software development."</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;}</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;],</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;"Tuesday": [</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"title": "MongoDB",</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"speaker": "DavinMickelson",</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"time": "1: 00PM",</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"room": "Picasso",</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"details": "Learnabout\"NoSQL\"databases."</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;},</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"title": "DebuggingwithXcode",</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"speaker": "JasonShapiro",</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"time": "1: 00PM",</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"room": "VanGogh",</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"details": "ExploredifferentpatternsfordebuggingyouriOSapps."</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;}</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;],</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;"Wednesday": [</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"title": "Scrum Master",</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"speaker": "Davin Mickelson",</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"time": "1:00 PM",</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"room": "Matisse",</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"details": "Learn the roles and responsibilities of a Scrum Master"</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;},</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"title": "Design Patterns",</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"speaker": "Jim White",</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"time": "1:00 PM",</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"room": "Rothko",</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"details": "Apply best practices and sound architectures to software design."</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;}</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;]</p>
<p>}</p>
<p>This document can be downloaded with a simple method call from <strong>NSData</strong>:</p>
<p>NSData *allCoursesData = [[NSData alloc] initWithContentsOfURL:</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[NSURL URLWithString:@"ENTER-URL-HERE"]];</p>
<p>Next we need to transform this NSData-JSON object into an NSDictionary. &nbsp;The keys of this dictionary are &ldquo;Monday, &ldquo;Tuesday,&rdquo; and &ldquo;Wednesday.&rdquo; &nbsp;Like many API methods of Cocoa Touch, this expects the address of an <strong>NSError</strong> pointer. &nbsp;If something goes wrong, the API method will create an <strong>NSError</strong> object and update the pointer accordingly</p>
<p>NSError *error;</p>
<p>NSMutableDictionary *allCourses = [NSJSONSerialization</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;JSONObjectWithData:allCoursesData</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;options:NSJSONReadingMutableContainers</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;error:&amp;error];</p>
<p>&nbsp;</p>
<p>Notice that we set the &ldquo;options&rdquo; parameter with <strong>NSJSONReadingMutableContainers</strong>. This tells the <strong>NSJSONSerialization</strong> object that the document should be transformed into mutable collections (i.e., <strong>NSMutuableDictionary</strong> and <strong>NSMutuableArray</strong>). &nbsp;Other reading options include: <strong>NSJSONReadingMutuableLeaves</strong> (String values should be transformed into <strong>NSMutuableStrings</strong>), and <strong>NSJSONReadingAllowFragments</strong> (permit top level objects that are not an <strong>NSArray</strong>, <strong>NSDictionary</strong>, or any subclass).</p>
<p>Multiple reading options can be added with the <strong>&lsquo;|&rsquo;</strong> operator:</p>
<p>Crayon Syntax Highlighter v_2.7.2_beta</p>
<p>NSError *error;</p>
<p>NSMutableDictionary *allCourses = [NSJSONSerialization</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; JSONObjectWithData:allCoursesData</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; options:NSJSONReadingMutableContainers|NSJSONReadingMutableLeaves</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; error:&amp;error];</p>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>1</p>
<p>2</p>
<p>3</p>
<p>4</p>
<p>5</p>
</td>
<td valign="top">
<p>NSError *error;</p>
<p>NSMutableDictionary *allCourses = [NSJSONSerialization</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;JSONObjectWithData:allCoursesData</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;options:NSJSONReadingMutableContainers|NSJSONReadingMutableLeaves</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;error:&amp;error];</p>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<p>To specify no options, use <strong>kNilOptions</strong>:</p>
<p>Crayon Syntax Highlighter v_2.7.2_beta</p>
<p>NSError *error;</p>
<p>NSDictionary *allCourses = [NSJSONSerialization</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; JSONObjectWithData:allCoursesData</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; options:kNilOptions</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; error:&amp;error];</p>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>1</p>
<p>2</p>
<p>3</p>
<p>4</p>
<p>5</p>
</td>
<td valign="top">
<p>NSError *error;</p>
<p>NSDictionary *allCourses = [NSJSONSerialization</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;JSONObjectWithData:allCoursesData</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;options:kNilOptions</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;error:&amp;error];</p>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<p>At this point, as long as the NSError pointer is nil, we can access each dictionary and array key as needed. &nbsp;Just remember that anything surrounded with<strong> { }</strong> is a dictionary, and anything surrounded with <strong>[ ]</strong> is an array.</p>
<p>if( error )</p>
<p>{</p>
<p>&nbsp; &nbsp; NSLog(@"%@", [error localizedDescription]);</p>
<p>}</p>
<p>else {</p>
<p>&nbsp; &nbsp; NSArray *monday = allCourses[@"Monday"];</p>
<p>&nbsp; &nbsp; for ( NSDictionary *theCourse in monday )</p>
<p>&nbsp; &nbsp; {</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; NSLog(@"----");</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; NSLog(@"Title: %@", theCourse[@"title"] );</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; NSLog(@"Speaker: %@", theCourse[@"speaker"] );</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; NSLog(@"Time: %@", theCourse[@"time"] );</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; NSLog(@"Room: %@", theCourse[@"room"] );</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; NSLog(@"Details: %@", theCourse[@"details"] );</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; NSLog(@"----");</p>
<p>&nbsp; &nbsp; }</p>
<p>}</p>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>1</p>
<p>2</p>
<p>3</p>
<p>4</p>
<p>5</p>
<p>6</p>
<p>7</p>
<p>8</p>
<p>9</p>
<p>10</p>
<p>11</p>
<p>12</p>
<p>13</p>
<p>14</p>
<p>15</p>
<p>16</p>
<p>17</p>
</td>
<td valign="top">
<p>if( error )</p>
<p>{</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;NSLog(@"%@", [error localizedDescription]);</p>
<p>}</p>
<p>else {</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;NSArray *monday = allCourses[@"Monday"];</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;for ( NSDictionary *theCourse in monday )</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;{</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;NSLog(@"----");</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;NSLog(@"Title: %@", theCourse[@"title"] );</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;NSLog(@"Speaker: %@", theCourse[@"speaker"] );</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;NSLog(@"Time: %@", theCourse[@"time"] );</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;NSLog(@"Room: %@", theCourse[@"room"] );</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;NSLog(@"Details: %@", theCourse[@"details"] );</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;NSLog(@"----");</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;}</p>
<p>}</p>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<p>&nbsp;</p>
