<div class="page" title="Page 2">
<div class="layoutArea">
<div class="column">
<div class="page" title="Page 2">
<div class="layoutArea">
<div class="column">
<div class="page" title="Page 3">
<div class="layoutArea">
<div class="column">
<h2><span style="color: #008080;">Reachability</span></h2>
<p>Reachability&nbsp;is a network helper utility class, its used to get various informations about the connection status</p>
<p>What is the main purposes of Reachability?</p>
<ul>
<li>Reachability is used to query the network status</li>
<li>and to register your listeners to get informed when connectivity changes&nbsp;</li>
</ul>
<p>Is this the main purpose of Reachability, to show the user a message?</p>
<p>No of course, its main usage is either to test if there is internet connectivity, or to get notified if the connectivity changes</p>
<p>For example if NSURLConnaction request has failed do I need to use Reachability somehow to resend the request?</p>
<p>Yes you could use it, for example what i normally do in my project is to save all the request that has been made to a remote server, lets say i want to download 10 files,&nbsp;</p>
<p>When any file fails the download process due to no internet connection, i save them to an array of failed downloads,</p>
<p>When reachability informs me that the internet connection has been restored, i iterate through this array and start the download process again</p>
<p>What is the proper use of Reachability?</p>
<p>It depends, on your patterns and needs.</p>
<p>Is it common to use only one instance when app launch, and then listen to network changes?</p>
<p>Yes that is what i do, in my projects i only have 1 instance of a download manager class, and this class has the only alive instance of Reachability&nbsp;</p>
<p>Or should I check myself the reachability status before every network request?</p>
<p>You can do that without having multiple instance of Reachability classes, what i normally do, is to have a method inside my download manager that tells me using Reachability if there is connection or not.</p>
<p>Is it enough to use reachabilityWithHostName or do I need also reachabilityForLocalWiFi and reachabilityForInternetConnection?</p>
<p>Am not sure about this one, but what i normally do is to test connectivity on all the means, i dont differentiate between 3g or wifi, however there are some implementation that this info (wifi or 3g) could be useful</p>
<p><strong>Detecting Network Changes with Reachability</strong></p>
<p>Most mobile applications access the web for some reason or another. This implies that these applications will - or should - behave differently when no network connection is available.</p>
<p><strong>Solutions</strong></p>
<p>Even though Apple provides <a href="http://developer.apple.com/library/ios/#samplecode/Reachability/Introduction/Intro.html">sample code</a> for monitoring changes in network availability, Apple's Reachability class is a bit outdated and doesn't support ARC (Automatic Reference Counting). If you use <a href="https://github.com/AFNetworking/AFNetworking">AFNetworking</a>, then you may want to consider AFHTTPClient, which also lets you monitor network interface changes.</p>
<p>However, my preferred solution is the wonderful <a href="https://github.com/tonymillion/Reachability">Reachability class</a>. It supports ARC and leverages GCD (Grand Central Dispatch).<strong> Setting Up the Project</strong></p>
<p>Create a new project in Xcode by selecting the <strong>Single View Application</strong>. Name your application <strong>Reachability</strong>, enter a company identifier, set <strong>iPhone</strong> for the device family, and check <strong>Use Automatic Reference Counting</strong>.</p>
<p>&nbsp;</p>
<p>Figure 1: Choosing a Project Template</p>
<p>&nbsp;</p>
<p>Figure 2: Configuring the Project</p>
<p><strong>2.</strong><strong> Integrating Reachability</strong></p>
<p><strong>Step 1: Adding the Reachability Class</strong></p>
<p>Integrating Tony Million's Reachability class is trivial. Visit the <a href="https://github.com/tonymillion/Reachability">project's GitHub page</a>, download the latest version, and drag <strong>Reachability.h/.m</strong> into your Xcode project (figure 3). If you take this path, make sure to copy the class files into your Xcode project (figure 4). You can also use <a href="http://cocoapods.org/?q=Tony%20Million">CocoaPods</a> to to add Reachability to your project.&nbsp;</p>
<p><strong>Linking Against the System Configuration Framework</strong></p>
<p>The Reachability class depends on the <strong>System Configuration</strong> framework for some of its functionality. With your project selected in the <strong>Project Navigator</strong>, select the <strong>Reachability</strong> target in the list of targets, open the <strong>Build Phases</strong> tab, and expand the <strong>Link Binary with Libraries</strong> drawer. Click the plus button and search for <strong>SystemConfiguration.framework</strong>.</p>
<p><strong>Reachability Basics</strong></p>
<p>The Reachability class provides two ways to monitor changes in network availability: blocks and notifications. Let me show you how this works.</p>
<p><strong>Step 1: Importing Reachability.h</strong></p>
<p>To keep things simple, we will add the reachability logic to the application delegate. Start by adding an import statement for <strong>Reachability.h</strong> to <strong>MTAppDelegate.m</strong> as shown below.</p>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="baseline">
<p>1</p>
<p>2</p>
<p>3</p>
<p>4</p>
</td>
<td valign="baseline">
<p>#import "MTAppDelegate.h"</p>
<p>&nbsp;</p>
<p>#import "Reachability.h"</p>
<p>#import "MTViewController.h"</p>
</td>
</tr>
</tbody>
</table>
<p><strong>Step 2: Blocks</strong></p>
<p>We first need to create an instance of the Reachability class in application:didFinishLaunchingWithOptions: (<strong>MTAppDelegate.m</strong>) as shown below. We then set the reachableBlock and unreachableBlock on the Reachability instance. The reachableBlock is invoked when the network availability changes from unreachable to reachable. The reverse is true for the unreachableBlock. It is key to send the Reachability instance a message of startNotifier so that it knows that it should start monitoring for reachability changes.</p>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="baseline">
<p>01</p>
<p>02</p>
<p>03</p>
<p>04</p>
<p>05</p>
<p>06</p>
<p>07</p>
<p>08</p>
<p>09</p>
<p>10</p>
<p>11</p>
<p>12</p>
<p>13</p>
<p>14</p>
<p>15</p>
<p>16</p>
<p>17</p>
<p>18</p>
<p>19</p>
<p>20</p>
<p>21</p>
<p>22</p>
<p>23</p>
<p>24</p>
<p>25</p>
<p>26</p>
<p>27</p>
</td>
<td valign="baseline">
<p>- (BOOL)application:(UIApplication *)application didFinishLaunchingWithOptions:(NSDictionary *)launchOptions {</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;// Initialize Reachability</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;Reachability *reachability = [Reachability reachabilityWithHostname:@"www.google.com"];</p>
<p>&nbsp;</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;reachability.reachableBlock = ^(Reachability *reachability) {</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;NSLog(@"Network is reachable.");</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;};</p>
<p>&nbsp;</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;reachability.unreachableBlock = ^(Reachability *reachability) {</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;NSLog(@"Network is unreachable.");</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;};</p>
<p>&nbsp;</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;// Start Monitoring</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;[reachability startNotifier];</p>
<p>&nbsp;</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;// Initialize View Controller</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;self.viewController = [[MTViewController alloc] initWithNibName:@"MTViewController" bundle:nil];</p>
<p>&nbsp;</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;// Initialize Window</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;self.window = [[UIWindow alloc] initWithFrame:[[UIScreen mainScreen] bounds]];</p>
<p>&nbsp;</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;// Configure Window</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;[self.window setRootViewController:self.viewController];</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;[self.window makeKeyAndVisible];</p>
<p>&nbsp;</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;return YES;</p>
<p>}</p>
</td>
</tr>
</tbody>
</table>
<p>Before we take a look at notifications, I need to stress that the reachable and unreachable blocks are invoked on a background thread. Keep this in mind when you need to update your application's user interface when the network interface changes.</p>
<p><strong>Step 3: Notifications</strong></p>
<p>The advantage of using notifications for reachability changes is that any object in your application can register itself as an observer for these notifications. In contrast to the use of blocks, the reachability notifications are posted and delivered on the main thread. As you can see below, in application:didFinishLaunchingWithOptions:, we create an instance of the Reachability class and tell it to start monitoring for network changes.</p>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="baseline">
<p>01</p>
<p>02</p>
<p>03</p>
<p>04</p>
<p>05</p>
<p>06</p>
<p>07</p>
<p>08</p>
<p>09</p>
<p>10</p>
<p>11</p>
<p>12</p>
<p>13</p>
<p>14</p>
<p>15</p>
<p>16</p>
<p>17</p>
<p>18</p>
<p>19</p>
</td>
<td valign="baseline">
<p>- (BOOL)application:(UIApplication *)application didFinishLaunchingWithOptions:(NSDictionary *)launchOptions {</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;// Initialize Reachability</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;Reachability *reachability = [Reachability reachabilityWithHostname:@"www.google.com"];</p>
<p>&nbsp;</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;// Start Monitoring</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;[reachability startNotifier];</p>
<p>&nbsp;</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;// Initialize View Controller</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;self.viewController = [[MTViewController alloc] initWithNibName:@"MTViewController" bundle:nil];</p>
<p>&nbsp;</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;// Initialize Window</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;self.window = [[UIWindow alloc] initWithFrame:[[UIScreen mainScreen] bounds]];</p>
<p>&nbsp;</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;// Configure Window</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;[self.window setRootViewController:self.viewController];</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;[self.window makeKeyAndVisible];</p>
<p>&nbsp;</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;return YES;</p>
<p>}</p>
</td>
</tr>
</tbody>
</table>
<p>As an example, if the view controller needs to be informed of changes in network availability, then we need to add it as an observer of the notifications the Reachability instance posts. Open MTViewController.m, add an import statement for <strong>Reachability.h</strong>, and update initWithNibName:bundle: as shown below.</p>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="baseline">
<p>1</p>
<p>2</p>
<p>3</p>
</td>
<td valign="baseline">
<p>#import "MTViewController.h"</p>
<p>&nbsp;</p>
<p>#import "Reachability.h"</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="baseline">
<p>01</p>
<p>02</p>
<p>03</p>
<p>04</p>
<p>05</p>
<p>06</p>
<p>07</p>
<p>08</p>
<p>09</p>
<p>10</p>
</td>
<td valign="baseline">
<p>- (id)initWithNibName:(NSString *)nibNameOrNil bundle:(NSBundle *)nibBundleOrNil {</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;self = [super initWithNibName:nibNameOrNil bundle:nibBundleOrNil];</p>
<p>&nbsp;</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;if (self) {</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;// Add Observer</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[[NSNotificationCenter defaultCenter] addObserver:self selector:@selector(reachabilityDidChange:) name:kReachabilityChangedNotification object:nil];</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;}</p>
<p>&nbsp;</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;return self;</p>
<p>}</p>
</td>
</tr>
</tbody>
</table>
<p>Every time the network interface changes, reachabilityDidChange: is invoked and the view controller can respond appropriately. The object property of the notification is the Reachability instance that posted the notification. The Reachability class provides a number of useful instance methods, such as isReachable, isReachableViaWWAN, and isReachableViaWiFi. You can even tell the Reachability instance whether it should consider WWAN as unreachable by setting the reachableOnWWAN property accordingly.</p>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="baseline">
<p>1</p>
<p>2</p>
<p>3</p>
<p>4</p>
<p>5</p>
<p>6</p>
<p>7</p>
<p>8</p>
<p>9</p>
</td>
<td valign="baseline">
<p>- (void)reachabilityDidChange:(NSNotification *)notification {</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;Reachability *reachability = (Reachability *)[notification object];</p>
<p>&nbsp;</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;if ([reachability isReachable]) {</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;NSLog(@"Reachable");</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;} else {</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;NSLog(@"Unreachable");</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;}</p>
<p>}</p>
</td>
</tr>
</tbody>
</table>
<p><strong>Reachability Manager</strong></p>
<p>For applications that require a network connection, I usually use an alternative approach for managing reachability. I create a separate class named <strong>ReachabilityManager</strong> that adopts the singleton pattern. The singleton object manages a Reachability instance and provides a number of useful class methods. Let me walk you through the internals of this class.</p>
<p><strong>Step 1: Interface</strong></p>
<p>As I mentioned, the MTReachabilityManager class adopts the singleton pattern and it provides access to the singleton object through the sharedManager class method. This is useful if an object needs direct access to the reachability instance that the singleton object manages.</p>
<p>Through a number of class methods objects can ask the reachability manager about the current network interface. In addition, objects can still add themselves as observers for the kReachabilityChangedNotification notifications as we saw earlier.</p>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="baseline">
<p>01</p>
<p>02</p>
<p>03</p>
<p>04</p>
<p>05</p>
<p>06</p>
<p>07</p>
<p>08</p>
<p>09</p>
<p>10</p>
<p>11</p>
<p>12</p>
<p>13</p>
<p>14</p>
<p>15</p>
<p>16</p>
<p>17</p>
<p>18</p>
<p>19</p>
<p>20</p>
</td>
<td valign="baseline">
<p>#import &lt;Foundation/Foundation.h&gt;</p>
<p>&nbsp;</p>
<p>@class Reachability;</p>
<p>&nbsp;</p>
<p>@interface MTReachabilityManager : NSObject</p>
<p>&nbsp;</p>
<p>@property (strong, nonatomic) Reachability *reachability;</p>
<p>&nbsp;</p>
<p>#pragma mark -</p>
<p>#pragma mark Shared Manager</p>
<p>+ (MTReachabilityManager *)sharedManager;</p>
<p>&nbsp;</p>
<p>#pragma mark -</p>
<p>#pragma mark Class Methods</p>
<p>+ (BOOL)isReachable;</p>
<p>+ (BOOL)isUnreachable;</p>
<p>+ (BOOL)isReachableViaWWAN;</p>
<p>+ (BOOL)isReachableViaWiFi;</p>
<p>&nbsp;</p>
<p>@end</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="middle">
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="middle">
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="middle">&nbsp;</td>
<td valign="middle">
<ul>
<li><strong>Step 2: Implementation</strong></li>
</ul>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<p>The implementation of MTReachabilityManager isn't too surprising. If you are unfamiliar with the singleton pattern, then the implementation of sharedManager might seem a bit odd. Even though the MTReachabilityManager class makes use of the singleton pattern, it is technically possible to create instances of the class. We could prevent this by checking the value of _sharedManager in the init, but I assume that whoever uses the MTReachabilityManager class has taken a look at the class's interface file revealing that it adopts the singleton pattern.</p>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="baseline">
<p>01</p>
<p>02</p>
<p>03</p>
<p>04</p>
<p>05</p>
<p>06</p>
<p>07</p>
<p>08</p>
<p>09</p>
<p>10</p>
<p>11</p>
<p>12</p>
<p>13</p>
<p>14</p>
<p>15</p>
<p>16</p>
<p>17</p>
<p>18</p>
<p>19</p>
<p>20</p>
<p>21</p>
<p>22</p>
<p>23</p>
<p>24</p>
<p>25</p>
<p>26</p>
<p>27</p>
<p>28</p>
<p>29</p>
<p>30</p>
<p>31</p>
<p>32</p>
<p>33</p>
<p>34</p>
<p>35</p>
<p>36</p>
<p>37</p>
<p>38</p>
<p>39</p>
<p>40</p>
<p>41</p>
<p>42</p>
<p>43</p>
<p>44</p>
<p>45</p>
<p>46</p>
<p>47</p>
<p>48</p>
<p>49</p>
<p>50</p>
<p>51</p>
<p>52</p>
<p>53</p>
<p>54</p>
<p>55</p>
<p>56</p>
<p>57</p>
<p>58</p>
<p>59</p>
<p>60</p>
<p>61</p>
<p>62</p>
</td>
<td valign="baseline">
<p>#import "MTReachabilityManager.h"</p>
<p>&nbsp;</p>
<p>#import "Reachability.h"</p>
<p>&nbsp;</p>
<p>@implementation MTReachabilityManager</p>
<p>&nbsp;</p>
<p>#pragma mark -</p>
<p>#pragma mark Default Manager</p>
<p>+ (MTReachabilityManager *)sharedManager {</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;static MTReachabilityManager *_sharedManager = nil;</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;static dispatch_once_t onceToken;</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;dispatch_once(&amp;onceToken, ^{</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;_sharedManager = [[self alloc] init];</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;});</p>
<p>&nbsp;</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;return _sharedManager;</p>
<p>}</p>
<p>&nbsp;</p>
<p>#pragma mark -</p>
<p>#pragma mark Memory Management</p>
<p>- (void)dealloc {</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;// Stop Notifier</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;if (_reachability) {</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[_reachability stopNotifier];</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;}</p>
<p>}</p>
<p>&nbsp;</p>
<p>#pragma mark -</p>
<p>#pragma mark Class Methods</p>
<p>+ (BOOL)isReachable {</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;return [[[MTReachabilityManager sharedManager] reachability] isReachable];</p>
<p>}</p>
<p>&nbsp;</p>
<p>+ (BOOL)isUnreachable {</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;return ![[[MTReachabilityManager sharedManager] reachability] isReachable];</p>
<p>}</p>
<p>&nbsp;</p>
<p>+ (BOOL)isReachableViaWWAN {</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;return [[[MTReachabilityManager sharedManager] reachability] isReachableViaWWAN];</p>
<p>}</p>
<p>&nbsp;</p>
<p>+ (BOOL)isReachableViaWiFi {</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;return [[[MTReachabilityManager sharedManager] reachability] isReachableViaWiFi];</p>
<p>}</p>
<p>&nbsp;</p>
<p>#pragma mark -</p>
<p>#pragma mark Private Initialization</p>
<p>- (id)init {</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;self = [super init];</p>
<p>&nbsp;</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;if (self) {</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;// Initialize Reachability</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;self.reachability = [Reachability reachabilityWithHostname:@"www.google.com"];</p>
<p>&nbsp;</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;// Start Monitoring</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[self.reachability startNotifier];</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;}</p>
<p>&nbsp;</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;return self;</p>
<p>}</p>
<p>&nbsp;</p>
<p>@end</p>
</td>
</tr>
</tbody>
</table>
<p>If you decide to adopt this alternative approach and use a reachability manager that manages an instance of the Reachability class, then don't forget to instantiate the singleton object when your application launches. You can do so by calling sharedManager on the MTReachabilityManager class.</p>
<p>- (BOOL)application:(UIApplication *)application didFinishLaunchingWithOptions:(NSDictionary *)launchOptions {</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;// Instantiate Shared Manager</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;[MTReachabilityManager sharedManager];</p>
<p>&nbsp;</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;// Initialize View Controller</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;self.viewController = [[MTViewController alloc] initWithNibName:@"MTViewController" bundle:nil];</p>
<p>&nbsp;</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;// Initialize Window</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;self.window = [[UIWindow alloc] initWithFrame:[[UIScreen mainScreen] bounds]];</p>
<p>&nbsp;</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;// Configure Window</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;[self.window setRootViewController:self.viewController];</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;[self.window makeKeyAndVisible];</p>
<p>&nbsp;</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;return YES;</p>
<p>}</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>