<h2><span style="color: #008080;">Sending HTTP GET and POST Requests</span></h2>
<h2><span style="color: #008080;">HTTP GET</span></h2>
<p>Hey pals, today we talk about how to send HTTP GET and POST requests to a server from your iOS application. This post I am implementing server side also. Therefore we will use localhost as our server. Next speciality is, you will learn how to send custom HTTP headers in iOS in this tutorial. We are not going to use any kind of library such as AFNetworking, due to learning purpose. &nbsp;</p>
<p>Today we are not going to consider about the user interfaces. For simplicity of the post, I&rsquo;m writing all the stuff inside my ViewController class. But you &nbsp;can separate those in to your Modal class in your project.</p>
<p>HTTP GET</p>
<p>First we learn about sending HTTP GET requests. Simply this means, we are sending our data by appending to the server URL. Also I&rsquo;m going to show you two ways of sending data in iOS.</p>
<ol>
<li>Synchronous &ndash; happening at the same time</li>
<li>Asynchronous &ndash; Not happening at the same time. Waiting in a queue.</li>
</ol>
<p>So in the first block of code, you will learn how to send a HTTP GET request to your localhost in synchronous manner and gather the response data inside the same method.</p>
<p>- (void)sendHttpGet {</p>
<p>&nbsp;NSLog(@"%s - %d", __PRETTY_FUNCTION__, __LINE__);</p>
<p>&nbsp;</p>
<p>&nbsp;/*</p>
<p>&nbsp;* String literal that hardcode the localhost server URL which handles the HTTP GET request</p>
<p>&nbsp;*/</p>
<p>&nbsp;NSString *urlStr = @"http://127.0.0.1/restapi/index.php?name=Anuja";</p>
<p>&nbsp;</p>
<p>&nbsp;/*</p>
<p>&nbsp;* URLWithString - Returns an NSURL object initialized with URLString.</p>
<p>&nbsp;* If the URL string was malformed or nil, returns nil.</p>
<p>&nbsp;*/</p>
<p>&nbsp;NSURL *url = [NSURL URLWithString:urlStr];</p>
<p>&nbsp;</p>
<p>&nbsp;/*</p>
<p>&nbsp;* requestWithURL - Creates and returns a URL request for a specified URL with default cache policy (NSURLRequestUseProtocolCachePolicy) and timeout value (60 seconds).</p>
<p>&nbsp;*</p>
<p>&nbsp;*/</p>
<p>&nbsp;NSURLRequest *request = [NSURLRequest requestWithURL:url];</p>
<p>&nbsp;</p>
<p>&nbsp;NSURLResponse *response;</p>
<p>&nbsp;NSError *error;</p>
<p>&nbsp;</p>
<p>&nbsp;/*</p>
<p>&nbsp;* sendSynchronousRequest:returningResponse:error: - Performs a synchronous load of the specified URL request.</p>
<p>&nbsp;* Returns the downloaded data for the URL request.&nbsp;</p>
<p>&nbsp;* Returns nil if a connection could not be created or if the download fails.</p>
<p>&nbsp;*/</p>
<p>&nbsp;NSData *responseData = [NSURLConnection sendSynchronousRequest:request returningResponse:&amp;response error:&amp;error];</p>
<p>&nbsp;</p>
<p>&nbsp;NSString *responseStr = [[NSString alloc] initWithData:responseData encoding:NSUTF8StringEncoding];</p>
<p>&nbsp;NSLog(@"%s - %d # responseStr = %@", __PRETTY_FUNCTION__, __LINE__, responseStr);</p>
<p>}</p>
<p>I&rsquo;m not going to explain the code here, because it is explained using comments and you can download the full source code from the GitHub repository link that I&rsquo;m providing at the end of this post.</p>
<p>From the following block of code, you will be able to learn how to send HTTP GET request to your localhost as asynchronously. This time, you will gather response data inside the block of request class method.</p>
<p>- (void)sendHttpGetAsync {</p>
<p>&nbsp;NSLog(@"%s - %d", __PRETTY_FUNCTION__, __LINE__);</p>
<p>&nbsp;</p>
<p>&nbsp;NSString *urlStr = @"http://127.0.0.1/restapi/index.php?name=AnujA";</p>
<p>&nbsp;</p>
<p>&nbsp;NSURL *url = [NSURL URLWithString:urlStr];</p>
<p>&nbsp;</p>
<p>&nbsp;NSURLRequest *request = [NSURLRequest requestWithURL:url];</p>
<p>&nbsp;</p>
<p>&nbsp;NSOperationQueue *operationQueue = [[NSOperationQueue alloc] init];</p>
<p>&nbsp;</p>
<p>&nbsp;/*</p>
<p>&nbsp;* sendAsynchronousRequest:queue:completionHandler: - Loads the data for a URL request and executes a handler block on an operation queue when the request completes or fails.</p>
<p>&nbsp;*/</p>
<p>&nbsp;[NSURLConnection sendAsynchronousRequest:request queue:operationQueue completionHandler:^(NSURLResponse *response, NSData *data, NSError *connectionError) {</p>
<p>&nbsp;</p>
<p>&nbsp;NSString *responseStr = [[NSString alloc] initWithData:data encoding:NSUTF8StringEncoding];</p>
<p>&nbsp;NSLog(@"%s - %d # responseStr = %@", __PRETTY_FUNCTION__, __LINE__, responseStr);</p>
<p>&nbsp;}];</p>
<p>}</p>
<p>In above two examples, you have send requests using default HTTP headers. If your are not familiar about these header types please visit this <a href="http://en.wikipedia.org/wiki/List_of_HTTP_header_fields">WiKi link</a>.</p>
<p>In the next sample code we will see how to send custom header type. Most of the time these custom headers are using for security reasons. So in this example I&rsquo;m going to add my own header type to the HTTP GET request. So if the server side is not handle to accept this header, you will get an authentication error. You can get the server side code at the end of this post.</p>
<p>- (void)sendHttpGetMutable {</p>
<p>&nbsp;NSLog(@"%s - %d", __PRETTY_FUNCTION__, __LINE__);</p>
<p>&nbsp;</p>
<p>&nbsp;NSString *urlStr = @"http://127.0.0.1/restapi/index.php?name=anuja";</p>
<p>&nbsp;</p>
<p>&nbsp;NSMutableURLRequest *request = [[NSMutableURLRequest alloc] init];</p>
<p>&nbsp;</p>
<p>&nbsp;[request setURL:[NSURL URLWithString:urlStr]];</p>
<p>&nbsp;</p>
<p>&nbsp;[request setHTTPMethod:@"GET"];</p>
<p>&nbsp;</p>
<p>&nbsp;/*</p>
<p>&nbsp;* addValue:forHTTPHeaderField: - Adds an HTTP header to the receiver&rsquo;s HTTP header dictionary.</p>
<p>&nbsp;* This is the way we add custom headers to a HTTP request.</p>
<p>&nbsp;* Otherwise we use setValue:forHTTPHeaderField: method to set values to existing headers.</p>
<p>&nbsp;*/</p>
<p>&nbsp;[request addValue:@"apiuser" forHTTPHeaderField:@"X-USERNAME"];</p>
<p>&nbsp;</p>
<p>&nbsp;/*</p>
<p>&nbsp;* allHTTPHeaderFields - Listing all of the receiver&rsquo;s HTTP header fields. (read-only)</p>
<p>&nbsp;*/</p>
<p>&nbsp;NSLog(@"%s - %d # allHTTPHeaderFields = %@", __PRETTY_FUNCTION__, __LINE__, [request allHTTPHeaderFields]);</p>
<p>&nbsp;</p>
<p>&nbsp;NSURLResponse *response;</p>
<p>&nbsp;NSError *error;</p>
<p>&nbsp;</p>
<p>&nbsp;NSData *responseData = [NSURLConnection sendSynchronousRequest:request returningResponse:&amp;response error:&amp;error];</p>
<p>&nbsp;</p>
<p>&nbsp;NSString *responseStr = [[NSString alloc] initWithData:responseData encoding:NSUTF8StringEncoding];</p>
<p>&nbsp;NSLog(@"%s - %d # responseStr = %@", __PRETTY_FUNCTION__, __LINE__, responseStr);</p>
<p>}</p>
<p>Having said that, we will move to study our next HTTP method call, which is;</p>
<h2><span style="color: #008080;">POST Requests</span></h2>
<p>So here you will send your data in the body part of the HTTP request. For the first example of this, you will learn how to send HTTP POST request synchronously to your localhost with mutable header type. You will gather response inside the same method.</p>
<p>- (void)sendHttpPost {</p>
<p>&nbsp;NSLog(@"%s - %d", __PRETTY_FUNCTION__, __LINE__);</p>
<p>&nbsp;</p>
<p>&nbsp;NSString *postMsg = @"name=AnujAroshA";</p>
<p>&nbsp;NSString *urlStr = @"http://127.0.0.1/restapi/index.php";</p>
<p>&nbsp;</p>
<p>&nbsp;/*</p>
<p>&nbsp;* dataUsingEncoding:allowLossyConversion: - Returns nil if flag is NO and the receiver can&rsquo;t be converted without losing some information.</p>
<p>&nbsp;*/</p>
<p>&nbsp;NSData *postData = [postMsg dataUsingEncoding:NSASCIIStringEncoding allowLossyConversion:YES];</p>
<p>&nbsp;</p>
<p>&nbsp;NSString *postLength = [NSString stringWithFormat:@"%d",[postData length]];</p>
<p>&nbsp;</p>
<p>&nbsp;NSMutableURLRequest *request = [[NSMutableURLRequest alloc] init];</p>
<p>&nbsp;</p>
<p>&nbsp;[request setURL:[NSURL URLWithString:urlStr]];</p>
<p>&nbsp;</p>
<p>&nbsp;[request setHTTPMethod:@"POST"];</p>
<p>&nbsp;</p>
<p>&nbsp;[request setValue:postLength forHTTPHeaderField:@"Content-Length"];</p>
<p>&nbsp;</p>
<p>&nbsp;/*</p>
<p>&nbsp;* Sets value for default header field</p>
<p>&nbsp;*/</p>
<p>&nbsp;[request setValue:@"application/x-www-form-urlencoded" forHTTPHeaderField:@"Content-Type"];</p>
<p>&nbsp;</p>
<p>&nbsp;/*</p>
<p>&nbsp;* Add customer header field and value</p>
<p>&nbsp;*/</p>
<p>&nbsp;[request addValue:@"apiuser" forHTTPHeaderField:@"X-USERNAME"];</p>
<p>&nbsp;</p>
<p>&nbsp;[request setHTTPBody:postData];</p>
<p>&nbsp;</p>
<p>&nbsp;NSURLResponse *response;</p>
<p>&nbsp;NSError *error;</p>
<p>&nbsp;</p>
<p>&nbsp;NSData *responseData = [NSURLConnection sendSynchronousRequest:request returningResponse:&amp;response error:&amp;error];</p>
<p>&nbsp;</p>
<p>&nbsp;NSString *responseStr = [[NSString alloc] initWithData:responseData encoding:NSUTF8StringEncoding];</p>
<p>&nbsp;NSLog(@"%s - %d # responseStr = %@", __PRETTY_FUNCTION__, __LINE__, responseStr);</p>
<p>}</p>
<p>As the final, we will learn how to send same above data and get the response using delegate method. Here you have to use&nbsp;NSURLConnectionDataDelegate in your header file. One special thing you have to remember for this method calling is, do not call the following method using a background thread. You can call all above methods in back ground but not this one. The reason is, here you are calling delegate:self which means you are expecting the result to be shown in your main UI thread.</p>
<p>- (void)sendHttpPostDataDelegate {</p>
<p>&nbsp;NSLog(@"%s - %d", __PRETTY_FUNCTION__, __LINE__);</p>
<p>&nbsp;</p>
<p>&nbsp;NSString *postMsg = @"name=anujarosha";</p>
<p>&nbsp;NSString *urlStr = @"http://127.0.0.1/restapi/index.php";</p>
<p>&nbsp;</p>
<p>&nbsp;NSData *postData = [postMsg dataUsingEncoding:NSASCIIStringEncoding allowLossyConversion:YES];</p>
<p>&nbsp;</p>
<p>&nbsp;NSString *postLength = [NSString stringWithFormat:@"%d",[postData length]];</p>
<p>&nbsp;</p>
<p>&nbsp;NSMutableURLRequest *request = [[NSMutableURLRequest alloc] init];</p>
<p>&nbsp;</p>
<p>&nbsp;[request setURL:[NSURL URLWithString:urlStr]];</p>
<p>&nbsp;</p>
<p>&nbsp;[request setHTTPMethod:@"POST"];</p>
<p>&nbsp;</p>
<p>&nbsp;[request setValue:postLength forHTTPHeaderField:@"Content-Length"];</p>
<p>&nbsp;</p>
<p>&nbsp;[request setValue:@"application/x-www-form-urlencoded" forHTTPHeaderField:@"Content-Type"];</p>
<p>&nbsp;</p>
<p>&nbsp;[request addValue:@"apiuser" forHTTPHeaderField:@"X-USERNAME"];</p>
<p>&nbsp;</p>
<p>&nbsp;[request setHTTPBody:postData];</p>
<p>&nbsp;</p>
<p>&nbsp;/*</p>
<p>&nbsp;* Calling for the NSURLConnectionDataDelegate</p>
<p>&nbsp;*/</p>
<p>&nbsp;NSURLConnection *conn = [[NSURLConnection alloc]initWithRequest:request delegate:self];</p>
<p>&nbsp;</p>
<p>&nbsp;if(conn) {</p>
<p>&nbsp;NSLog(@"%s - %d # Connection Successful", __PRETTY_FUNCTION__, __LINE__);</p>
<p>&nbsp;} else {</p>
<p>&nbsp;NSLog(@"%s - %d # Connection could not be made", __PRETTY_FUNCTION__, __LINE__);</p>
<p>&nbsp;}</p>
<p>}</p>
<p>You can receive data using&nbsp;&ndash; connection: didReceiveData: method. I&rsquo;m not going to explain the server side PHP code inside this post because the post is lengthier than I expected. But you can read or download full source code from my <a href="https://github.com/AnujAroshA/iOS-HTTPRequests">GitHub repository</a> link.</p>
<p>While you are reading the PHP code from above mentioned repository you will find some HTTP status codes. If you are wondering where those come from, please visit this <a href="http://en.wikipedia.org/wiki/List_of_HTTP_status_codes">WiKi link</a> to study about HTTP status codes. This is all about for today lesson. Will meet with something new in next post. Till then, have a good coding time</p>