<h2><span style="color: #008080;">Synchronous Downloads</span></h2>
<p>Sometimes, in iOS applications there is a need to download a file from internet using its URL. There are different methods and APIs available to perform this task which we can use them as per our requirement. There are two methods <strong>synchronous and asynchronous method</strong>. Both methods have their benefits. Based on my experience usually prefer asynchronous method so that the application does not freeze.&nbsp;</p>
<p><strong>Synchronous Method</strong></p>
<p>Generally, when I want to <strong>download a small file</strong> then I use synchronous method. Below are the steps to download a file synchronously.</p>
<p>1) Get/copy the URL from where you want to download file.</p>
<p>2) Get the file in data format from that URL. There is a method to get file in data format which we can use to download the file.</p>
<p>3) Convert that data into the required object type like I have converted the data to image in below example.</p>
<p>&nbsp;</p>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>1</p>
<p>2</p>
<p>3</p>
</td>
<td valign="top">
<p>NSURL *myUrl = [NSURL URLWithString:@"http://www.weblineindia.com/my_image_file.png"];</p>
<p>NSData *myData = [NSData dataWithContentsOfURL:myUrl];</p>
<p>UIImage *img = [UIImage imageWithData:myData]</p>
</td>
</tr>
</tbody>
</table>
<p>Above code is used to download small files from the server like small images, some xml files etc&hellip;</p>
<p><strong>Asynchronous Method</strong></p>
<p>Synchronous download method is not preferable to use for larger files. So another way is to use asynchronous method to download a file in iOS application. We can use NSURLRequest, NSURLConnection et. to <strong>download large sized files</strong>. This is a better method as it downloads the file asynchronously and allows the user to work/interact with the application when the download is ongoing.</p>
<p>Below is the code to download large file asynchronously.</p>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>1</p>
<p>2</p>
<p>3</p>
<p>4</p>
</td>
<td valign="top">
<p>NSURL *myUrl = [NSURL URLWithString:@"http://www.weblineindia.com/my_large_soundfile.png"];</p>
<p>NSURLRequest *myRequest = [NSURLRequest requestWithURL:myUrl cachePolicy:NSURLRequestReloadIgnoringLocalCacheData timeoutInterval:60];</p>
<p>NSMutableData *myData = [[NSMutableData alloc] initWithLength:0];</p>
<p>NSURLConnection *myConnection = [[NSURLConnection alloc] initWithRequest:myRequest delegate:self startImmediately:YES];</p>
</td>
</tr>
</tbody>
</table>
<p><strong>Now we will have to implement NSURLConnection Delegate methods in iOS app.</strong></p>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>1</p>
<p>2</p>
<p>3</p>
<p>4</p>
<p>5</p>
<p>6</p>
<p>7</p>
<p>8</p>
<p>9</p>
<p>10</p>
<p>11</p>
<p>12</p>
<p>13</p>
<p>14</p>
<p>15</p>
<p>16</p>
<p>17</p>
<p>18</p>
<p>19</p>
<p>20</p>
</td>
<td valign="top">
<p>- (void) connection:(NSURLConnection *)connection didReceiveResponse:(NSURLResponse *)response {</p>
<p>[UIApplication sharedApplication].networkActivityIndicatorVisible = YES;</p>
<p>[myData setLength:0];</p>
<p>}</p>
<p>&nbsp;</p>
<p>- (void) connection:(NSURLConnection *)connection didReceiveData:(NSData *)data {</p>
<p>[myData appendData:data];</p>
<p>}</p>
<p>&nbsp;</p>
<p>- (void) connection:(NSURLConnection *)connection didFailWithError:(NSError *)error {</p>
<p>[UIApplication sharedApplication].networkActivityIndicatorVisible = NO;</p>
<p>[connection release];</p>
<p>}</p>
<p>&nbsp;</p>
<p>- (void) connectionDidFinishLoading:(NSURLConnection *)connection {</p>
<p>[UIApplication sharedApplication].networkActivityIndicatorVisible = NO;</p>
<p>[connection release];</p>
<p>&nbsp;</p>
<p>//download finished - data is available in myData.</p>
<p>}</p>
</td>
</tr>
</tbody>
</table>
<p>Above NSURLConnection delegate methods can be used to perform different tasks like appending downloaded data, review whether the download is completed or failed, etc.</p>
<p>&nbsp;</p>