<h3 style="color: #5e9ca0;">Compiling Objective-C from the Command Line</h3><p> <img src="XCode_7_AssistentEditorView.jpg" alt="Mountain View" style="width:960px;height:960px;"> </p>
<p>While Xcode provides a powerful environment that will prove invaluable for larger scale projects. It is also a fact that some developers feel that development environments like Xcode just get in the way and prefer to use a basic editor and command line tools to develop applications. After all, in the days before integrated development environments came into favor, this was how all applications were developed.</p>
<p>Before attempting to compile code from the command line, the first step is to ensure that the Xcode Command Line Tools are installed. To achieve this, select the&nbsp;<em>Xcode -&gt; Preferences</em>&nbsp;menu option and in the preferences dialog select the Downloads category. If the Command Line Tools are not yet installed, click on the Install button to begin the installation process.</p>
<p>Using your favorite text or programming editor, create a file named hello.m containing the following Objective-C code:</p>
<p>#import &lt;Foundation/Foundation.h&gt;</p>
<p>int main(int argc, const char * argv[])</p>
<p>{ @autoreleasepool</p>
<p>{ // insert code here... NSLog(@"Hello, World!");</p>
<p>} return 0;</p>
<p>}</p>
<p>Save the file and then open a Terminal window, change directory to the folder containing the source file and compile the application with the following command:</p>
<p>clang -framework Foundation hello.m -o hello</p>
<p>Assuming the code compiles without error it can be run as follows:</p>
<p>./hello 2012-04-18 13:27:11.621 hello[275:707] Hello, World!</p>
<p>Compared to using Xcode that seems much simpler.</p>
<p>&nbsp;</p>
