<h3 style="color: #5e9ca0;">Installing Xcode on Mac OS X</h3>
<p>Xcode may or may not be pre-installed on your Mac OS X system. To find out if you already have it, open the Finder and look for it in the Developer subfolder of the Applications folder. If the Developer folder does not exist, or does not contain Xcode then you will need to install it.</p>
<p>The best way to obtain Xcode is to download it from the Apple web site.</p>
<p>In order to download Xcode with the iOS SDK, you will either need to be a member of the iOS Developer programs or purchase a copy from the Mac App Store. The download is over 3.5GB in size and may take a number of hours to complete depending on the speed of your internet connection.</p>