<p><span style="color: #3366ff;"><strong>Demystifying The XCode Interface</strong></span></p>
<p>image</p>
<p>There are 4 major areas: the <strong>Navigator, Editor, Debug Area and Utility Area</strong>.Can adjust the size of each of those panes by hovering your cursor over the boundaries of each area and dragging.Can also show and hide the various areas as needed via the &ldquo;View&rdquo; buttons in the upper right hand corner:</p>
<p>image</p>
<p>When you&rsquo;re writing code and you don&rsquo;t need the debugger area or the utility area. Then you can use the View buttons to hide those 2 panes to give your editor more visible space.</p>
<p><span style="color: #0000ff;"><strong>The Navigator Area</strong></span></p>
<p>The three navigators that you will use a lot are the Project, Search and Issue navigators.</p>
<p><strong>Project Navigator</strong></p>
<p>This is where you&rsquo;ll see all the files associated with your project.</p>
<p>image</p>
<p>You can also right click on the project navigator and create new files or add existing files to your project. Or you can drag folders or files from your computer directly onto the project navigator and will popup a dialog asking how you want to add the files.</p>
<p>image</p>
<p><strong>Search Navigator</strong></p>
<p>With the search navigator tab, you can easily look for pieces of text in your project.</p>
<p>image</p>
<p>You&rsquo;ll find yourself using this a lot when you&rsquo;re looking for a specific property, method or variable and you can&rsquo;t remember exactly where it is.</p>
<p><strong>Issue Navigator</strong></p>
<p>The issue navigator shows you all the problems with your app.</p>
<p>image</p>
<p>When you build and compile your application to test, if there are some problems where Xcode can&rsquo;t build your app, it will halt and show you the red colored errors in the issue navigator. You can click on an error and it will show you in the editor area which file and line it&rsquo;s failing at.</p>
<p><span style="color: #0000ff;"><strong>The Editor Area</strong></span></p>
<p>The editor area is where we&rsquo;ll probably be spending most of our time! This is where all the coding happens.</p>
<p>image</p>
<p>As mentioned in the project navigator section, when you click a file there, it will open the contents in this editor area for you to edit the contents.&nbsp;</p>
<p><span style="color: #0000ff;"><strong>Navigation within the editor area</strong></span></p>
<p>There are these little back and forward arrows in the upper left corner of the editor area. Unfortunately these arrows aren&rsquo;t labeled in the trusty Xcode interface diagram at the beginning of this article so we will call them &ldquo;Xcode back and forward arrows&rdquo; and show you an image of them here:</p>
<p>image</p>
<p>These arraows&nbsp;are actually pretty useful. They act like the back and forward buttons on your browser and they let you navigate to previously viewed files.</p>
<p>Another way to quickly get to the file you need is to use the <em>Jump Bar</em>. The jump bar allows you to quickly drill down through your groups and find the file you need.&nbsp;</p>
<p>image</p>
<p>If you click the tail segment of the jump bar, it will open up a menu showing you all the methods in the file which is not only useful to jump to another area within the file, but it will show you at a glance what methods are available in this file.</p>
<p>image</p>
<p><span style="color: #0000ff;"><strong>Three types of editor views</strong></span></p>
<p>The editor area has three different views and you can toggle between them with the set of buttons in the upper right hand corner:</p>
<p>image</p>
<p>The left most button is for the single editor pane view which is good for the small laptop screen if I don&rsquo;t have an external monitor.</p>
<p>The middle button is the Assistant Editor view which will show you the accompanying file to the file you&rsquo;re currently looking at. It looks like a two pane view. the right pane will show you the linked class file for that ViewController.</p>
<p>image</p>
<p>The right most button is the Version Editor view where you can compare two files.&nbsp;</p>
<p><span style="color: #0000ff;"><strong>Interface Builder View</strong></span></p>
<p>Xcode has interface builder integrated in and when you&rsquo;re viewing the Storyboard or a XIB file, the editor area will turn into a visual designer.</p>
<p>image</p>
<p><span style="color: #0000ff;"><strong>Finding and replacing within the file</strong></span></p>
<p>Just hit Command-F to bring up a search popup in the upper right corner that will look for whatever you type in within the current file.</p>
<p><span style="color: #0000ff;"><strong>Jumping to definitions</strong></span></p>
<p>If you&rsquo;re looking at some code and you see a classname that you want to jump to the definition of, you can hold down Command and click the classname to quickly jump to that file.</p>
<p><span style="color: #0000ff;"><strong>The breakpoint gutter</strong></span></p>
<p>The <em>breakpoint gutter </em>&nbsp;is where you can click to set breakpoints at certain lines of code. When you set a breakpoint, you&rsquo;ll see a blue indicator appear. To turn off a breakpoint, just click the blue indicator again and it will dim out.</p>
<p>image</p>
<p>If you want to completely remove the breakpoint, you can click and drag the blue indicator off of the breakpoint gutter.</p>
<p>To view a list of all the breakpoints that are set in your project, there&rsquo;s a &ldquo;breakpoint navigator&rdquo; tab in the Navigator area.</p>
<p><span style="color: #0000ff;"><strong>The Utility Area</strong></span></p>
<p>The Xcode utility area is comprised of two panes: the <strong>inspector pane</strong> and the <strong>library pane</strong>.</p>
<p>image</p>
<p>The Inspector pane will give you details about the file you&rsquo;ve got highlighted in your project navigator. However, when you&rsquo;re looking at a XIB/StoryBoard file, the inspector pane will show you the different attributes that you can modify for a selected element.</p>
<p>image</p>
<p>The library pane won&rsquo;t be very useful either until you&rsquo;re looking at a XIB/StoryBoard file. When you&rsquo;re using the Interface Builder part of Xcode, you can drag UI elements from the library pane onto the editor area to add that element to your user interface.</p>
<p><span style="color: #0000ff;"><strong>The Debug Area</strong></span></p>
<p>The debug area will show you console output and the state of various variables when you run your application.</p>
<p>image</p>
<p>You&rsquo;ll be using this a lot while debugging your code and trying to figure out why things aren&rsquo;t working out the way you expect them to</p>
<p><span style="color: #0000ff;"><strong>The Toolbar</strong></span></p>
<p>We&rsquo;ve talked about some of the buttons on this tool bar already. Let&rsquo;s start from the left.</p>
<p>image</p>
<p>The left-most button is the run button. This will build and run your application and launch your app in the iOS Simulator.&nbsp;</p>
<p>If you click and hold down the Run button, you&rsquo;ll get more options to run your app:</p>
<p>image</p>
<p><span style="color: #0000ff;"><strong>Test</strong></span> to run your unit tests if you have them in your project.</p>
<p><span style="color: #0000ff;"><strong>Profile</strong></span> to measure various aspects of your application such as performance, memory usage and more.</p>
<p><span style="color: #0000ff;"><strong>Analyze</strong></span> to let Xcode analyze your code and check for potential leaks or bad practices.</p>
<p>The dropdown beside the Stop button indicates which build target you want to run (your can run an Apple Watch target too) and you can also choose if you want to run it under the iPhone or iPad simulators. The selection &ldquo;iOS device&rdquo; is to run your app on your device if you have it plugged in and properly provisioned.</p>
<p>image</p>
<p>The far right side of the toolbar, we have the editor view buttons, the buttons to toggle various Xcode panels on or off and the Organizer button.</p>
<p><span style="color: #0000ff;"><strong>The Xcode Organizer</strong></span></p>
<p>The Organizer is located in the menu entry Window -&gt; Organizer and it brings up a separate window called the Organizer. There are several different purposes highlighted them below.</p>
<p>image</p>
<p><span style="color: #0000ff;"><strong>Devices</strong></span></p>
<p>There are a lot of things you can do in the devices window (keyboard shortcut ⌘ ⇧ 2) that I can&rsquo;t list them all. However, the main uses are to manage your provisioning profiles on your system AND on various devices.</p>
<p><span style="color: #0000ff;"><strong>Crashes</strong></span></p>
<p>You can look at crash log from devices, enable development use for various connected devices and more.</p>
<p><span style="color: #0000ff;"><strong>Repositories</strong></span></p>
<p>In Xcode, you can find the different repos in the Source Control &gt;&gt; Check Out menu, in the repositories tab, you&rsquo;ll be able to manage local and remote repos (GitHub, etc) that you have set up for your projects.</p>
<p><span style="color: #0000ff;"><strong>Projects</strong></span></p>
<p>In the projects tab, you can see a list of projects you&rsquo;ve opened before so you can quickly open them again and you&rsquo;ll be able to manage derived data and snapshots of your projects as well.</p>
<p><span style="color: #0000ff;"><strong>Archives</strong></span></p>
<p>In the archives tab, you can manage your archives for various projects.</p>
<p><span style="color: #0000ff;"><strong>The iOS Simulator</strong></span></p>
<p>Xcode 7 comes bundled with a wonderful iOS Simulator for you to test your application on. In fact, you can use the iOS simulator for most of your development and then find a device to test on when you&rsquo;re nearly done.</p>
<p>image</p>