<h3 style="color: #5e9ca0;">Writing an Objective-C Application with Xcode</h3>
<p>Objective-C source files are identified by the .m filename extension. In the case of our example, Xcode has pre-created a main source file named main.m and populated it with some basic code ready for us to edit. To view the code, select main.m from the list of files so that the code appears in the editor area. The skeleton code reads as follows:</p>
<p>#import &lt;Foundation/Foundation.h&gt; int main(int argc, const char * argv[])</p>
<p>{ @autoreleasepool</p>
<p>{ // insert code here... NSLog(@"Hello, World!");</p>
<p>} return 0;</p>
<p>}</p>
<p>Modify the NSLog line so that it reads:</p>
<p>NSLog(@"This is my first Objective-C App!");</p>
<p>With the change made, the next step is to compile and run the application. Since the code is intended to display a message in the console, the first step is to make sure the Xcode console window is displayed by selecting the&nbsp;<em>View -&gt; Debug Area -&gt; Activate Console</em>&nbsp;menu option. Next, run the application by selecting the&nbsp;<em>Run</em>&nbsp;option located in the Xcode toolbar. Once this option has been selected, Xcode will compile the source code and run the application, displaying the message in the Xcode console panel:</p>
<p>image&nbsp;</p>