<h2><span style="color: #008080;">Detecting Device Capabilities</span></h2>
<p>The iPhone OS started off with a single device, the original iPhone, ala, iPhone 1,1. In the last three years, Apple has been innovating hard and introduced multiple devices running the same operating system with different capabilities. For example, the original iPod touch, iPod 1,1 wasn&rsquo;t able to record audio input, and till date iPod Touch cannot vibrate as a result of an alert. There are many such subtle differences between different iOS devices and it&rsquo;s the developer&rsquo;s effort to make sure that the code runs properly on all devices.</p>
<p>Problems using the device model</p>
<p>Most developers have resorted to reading the hw.machine parameter to check if the device is an iPhone or iPod touch. Another lousy way is to read the [UIDevice currentDevice].model. The problem with these methods are that, you are essentially comparing the device name with a hard-coded value. As such, code like</p>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>if(![[UIDevice currentDevice].model isEqualToString:@"iPhone"])</p>
<p>{</p>
<p>UIAlertView *alertView = [UIAlertView alloc] initWithTitle:@"Error"&nbsp;</p>
<p>message:@"Microphone not present"&nbsp;</p>
<p>delegate:self&nbsp;</p>
<p>cancelButtonTitle:@"Dismiss"&nbsp;</p>
<p>otherButtonTitles: nil];</p>
<p>[alertView show];</p>
<p>[alertView release];</p>
<p>}</p>
</td>
</tr>
</tbody>
</table>
<p>will fail miserably on iPad and on iPod Touch if an external microphone is connected. On similar lines, you cannot assert something like,</p>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>if(![[UIDevice currentDevice].model isEqualToString:@"iPhone 4,1"])</p>
<p>{</p>
<p><em>// lets start a video conferencing session here.</em></p>
<p>}</p>
</td>
</tr>
</tbody>
</table>
<p>Today, this code will work perfectly, but with next release of the iPod Touch or the iPad that might probably have a front facing camera, your app (or the video conferencing feature) will no longer work on the new device though it&rsquo;s (might be) capable of video conferencing.</p>
<p>There are Apple defined ways to check the hardware capabilities rather than assuming features based on the model string. In this tutorial, we will walk you through the various pitfalls that any iOS developer may encounter and provide solutions on how to combat them. Also provided is a complete source code and an elegant, drop dead simple to use device capabilities helper class.</p>
<p>Gonna Vibrate the device to alert the user? Read this first</p>
<p>Apple has documented two functions that would vibrate the iPhone. But vibration hardware is present only on iPhones (at least currently). So how will you alert your user who uses the app on iPad or iPod touches? Clearly, checking the model is not the way to go. Apple has provided an elegant solution to this. There are two seemingly similar functions that take a parameter kSystemSoundID_Vibrate</p>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>1) AudioServicesPlayAlertSound(kSystemSoundID_Vibrate);</p>
<p>2) AudioServicesPlaySystemSound(kSystemSoundID_Vibrate);</p>
</td>
</tr>
</tbody>
</table>
<p>Both the functions vibrate the iPhone. But when you use the first function on devices that don&rsquo;t support vibration, it plays a beep sound. The second function on the other hand does nothing on unsupported devices. So if you are going to vibrate the device continuously, as a alert, common sense says, use function 2.</p>
<p>Phone Call Capable?</p>
<p>Checking if a device is capable of making a phone call is as easy as making a function call to check if the device can handle URLs of type &ldquo;tel://&rdquo;</p>
<p>Again, in future if there is a 7&Prime; iProduct that sits somewhere in between the iPad and iPhone and has call capabilities, this method will work on that device as well.</p>
<p>As a side note on <a href="http://blog.mugunthkumar.com/tag/usability/">usability</a>, avoid showing an error like,</p>
<p><em>Sorry, you are not running on iPhone, This feature requires an iPhone.</em></p>
<p>if your app uses this feature to detect a phone from an iPod. In most cases, you show a telphone number and have a call button to make a phone call. On iPod Touch or other devices, just hide that button. That gives a better user experience than a error message. The user already knows that he doesn&rsquo;t have an iPhone and his device cannot make a phone call. You don&rsquo;t have to repeat that.</p>
<p>Email capability</p>
<p>Email is a bit tricky thing. You cannot always assume the all devices will support in-app email. If you read my previous <a href="http://blog.mugunthkumar.com/coding/iphone-tutorial-in-app-email/">tutorial on in-app email</a>, I would have mandated to check the email capability using</p>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>[MFMailComposeViewController canSendMail]</p>
</td>
</tr>
</tbody>
</table>
<p>This class is available from iOS 3.0. You might think that, because I always set the iPhone OS Deployment target to 3.0, I don&rsquo;t have to check this and can directly present the modal email sheet. &nbsp;But the code will crash when the user has no email configuration setup in the Mail app. As such, you should always check for this capability before you show the in-app email sheet.</p>
<p>SMS capability</p>
<p>For SMS support, you can either use [MFMessageComposeViewController canSendText] or better check if the device can handle URLs of type &ldquo;sms://&rdquo;</p>
<p>The reason I would suggest using the latter is, MFMessageComposeViewController isn&rsquo;t available on iPhone OS 3.2 and below. You app might crash if you try to send a non-existant message to a non-existant class.</p>
<p>Camera/Flash/Video support</p>
<p>Most of the camera related availability support is exposed through the UIImagePickerController. The UIImagePickerController has class methods that can be used to check if there is a camera hardware present in the device. Do note that, it&rsquo;s important to check even for the availability of the Photo Library before you ask the user to pick photos. For example, if the user&rsquo;s iPhone is new and he doesn&rsquo;t have any photos in his Photo Library, it&rsquo;s better to show an error rather than crash the application. As such, the method below returns NO when there is no photos in the user&rsquo;s library.</p>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>[UIImagePickerController isSourceTypeAvailable:UIImagePickerControllerSourceTypePhotoLibrary];</p>
</td>
</tr>
</tbody>
</table>
<p>A bit tricker thing is detection of Video Camera. You can detect the presence of a video camera in a iOS device using the following method.</p>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>- (BOOL) isVideoCameraAvailable</p>
<p>{</p>
<p>UIImagePickerController *picker =[[UIImagePickerController alloc] init];</p>
<p>NSArray*sourceTypes =[UIImagePickerController availableMediaTypesForSourceType:picker.sourceType];</p>
<p>[picker release];</p>
<p>&nbsp;</p>
<p>if(![sourceTypes containsObject:(NSString*)kUTTypeMovie ]){</p>
<p>&nbsp;</p>
<p>returnNO;</p>
<p>}</p>
<p>&nbsp;</p>
<p>returnYES;</p>
<p>}</p>
</td>
</tr>
</tbody>
</table>
<p>Gyroscope support</p>
<p>With iPhone 4, Apple added yet another hardware to the iPhone, namely the Gyroscope. Using Gyroscope. The Gyroscope related functions are grouped together under the CoreMotion framework. The CMMotionManager has a property called gyroAvailable to check if the device has gyroscope. Good news here is that, even if you make calls to CMMotionManager related to Gyroscope, the SDK converts them no-op on unsupported devices.</p>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>- (BOOL) isGyroscopeAvailable</p>
<p>{</p>
<p>#ifdef __IPHONE_4_0</p>
<p>CMMotionManager *motionManager =[[CMMotionManager alloc] init];</p>
<p>BOOL gyroAvailable = motionManager.gyroAvailable;</p>
<p>[motionManager release];</p>
<p>return gyroAvailable;</p>
<p>#else</p>
<p>returnNO;</p>
<p>#endif</p>
<p>&nbsp;</p>
<p>}</p>
</td>
</tr>
</tbody>
</table>
<p>Retina Display?</p>
<p>Use the [UIScreen mainScreen].scale to check if the display is retina capable. The scale property isn&rsquo;t available on all SDKs. Use respondsToSelector methods for checking the availability</p>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>+ (BOOL) isRetinaDisplay</p>
<p>{</p>
<p>int scale =1.0;</p>
<p>UIScreen *screen =[UIScreen mainScreen];</p>
<p>if([screen respondsToSelector:@selector(scale)])</p>
<p>scale = screen.scale;</p>
<p>&nbsp;</p>
<p>if(scale == 2.0f)returnYES;</p>
<p>elsereturnNO;</p>
<p>}</p>
</td>
</tr>
</tbody>
</table>
<p>Multitasking support</p>
<p>Not all devices support multitasking even on iOS 4. The iPhone 3G, and the iPod touch 2nd generation can be upgraded to iOS 4, but still will not get any of the multitasking or fast app switching benefits. I&rsquo;m just re-writing Apple&rsquo;s own code here</p>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>- (BOOL) isMultitaskingCapable</p>
<p>{</p>
<p>UIDevice* device =[UIDevice currentDevice];</p>
<p>BOOL backgroundSupported =NO;</p>
<p>if([device respondsToSelector:@selector(isMultitaskingSupported)])</p>
<p>backgroundSupported = device.multitaskingSupported;</p>
<p>&nbsp;</p>
<p>return backgroundSupported;</p>
<p>}</p>
</td>
</tr>
</tbody>
</table>
<p>Source Code</p>
<p>To make life easier, I&rsquo;ve put together a sample application and a helper class that demonstrates most of these capabilities. You can download it from here or go to <a href="http://github.com/MugunthKumar/DeviceHelper">github</a>. Again, it&rsquo;s a singleton class based on my<a href="http://blog.mugunthkumar.com/coding/xcode-tip-singleton-class-template"> previous xcode singleton template</a></p>
<p>MKDeviceHelper.zip</p>
<p>Using this Class</p>
<p>Just drag the two files MKDeviceHelper.h and it&rsquo;s counterpart. Add the frameworks, AVFoundation, MessageUI, AudioToolbox, CoreLocation, MobileCoreServices and CoreMotion frameworks. Build your app and you are good to go. If you can&rsquo;t find any of the XCode. The current version works fine on XCode 3.2.3</p>
<p>Note that these frameworks are dynamically linked. They will in no way bloat your app.</p>
<p>Licensing</p>
<p>My only request is don&rsquo;t pass of this code as your own. Fork it or do whatever you want, commercial/non-commercial but retain a reference to this blog post in the code and don&rsquo;t remove the URL in the source code files.</p>
