<div class="page" title="Page 4">
<div class="section">
<div class="layoutArea">
<div class="column">
<h2><span style="color: #008080;">iPhone vs. iPad</span></h2>
<p>When it comes down to "need", the hardest evaluation comes down to whether or not you need an iPad if you already have an iPhone. &nbsp;In many respects, the iPad is simply a really big iPhone that can't place traditional phone calls. &nbsp; It runs most of the same apps. &nbsp;And while the iPad has some specialized features like a <a href="https://www.lifewire.com/use-virtual-touchpad-ipad-1994282">virtual touchpad</a> and the ability to run two apps side-by-side, does anyone really want to run two apps at the same time on their phone's small screen? &nbsp;(The virtual touchpad, on the other hand, is actually a very nice iPad-only feature.) &nbsp;</p>
<p>But while it is fair to say the iPad is an iPhone with a bigger screen, it's also fair to say the iPhone is just a really, really small iPad. &nbsp;After all, we don't seek out and pay more for smaller television sets. &nbsp;We don't love a smaller monitor for our desktop PC, and the only reason we like a smaller screen on our laptop is to approach the portability we have with our tablet. &nbsp;</p>
<p>And what do we tend to do with our smartphones? &nbsp;Other than playing some pretty cool games, we mostly just check email, place text messages, browse Facebook and other fairly basic tasks. &nbsp; A few of us may venture into the world of Microsoft Excel and Word on our smartphone, but I don't think anyone would suggest the iPhone is actually better at any of those tasks. &nbsp;Other than placing phone calls, the iPad may be better at almost everything than the iPhone. &nbsp;</p>
<p>The real issue here is that we really do need a smartphone. &nbsp; You might be able to place phone calls with an iPad, and if you hook up a Bluetooth headset, its not even that hard to talk on it. &nbsp;But unless the person trying to call you is on an iPhone, you aren't going to receive many calls. &nbsp;</p>
<p>But the real question here is whether or not you need that $649 <a href="https://www.lifewire.com/iphone-6s-review-better-2000186">iPhone 6S</a>. &nbsp;Because that's what the entry-level latest-and-greatest from Apple will set you back. &nbsp;And that's not even the plus-sized screen, which will run you $749. &nbsp; To put that into perspective, the <a href="https://www.lifewire.com/9-7-inch-ipad-pro-vs-12-9-inch-4009373">9.7-inch iPad Pro</a> is faster than the iPhone 6S, includes twice the storage space, has a bigger screen, better speakers and at $599 it is actually $50 cheaper than the iPhone 6S. &nbsp;</p>
<p>Why is this important?</p>
<p>We used to buy our smartphones within a two-year contract that hid the actual price of the phone. &nbsp;Sure, we'd shell out $199 for the latest-and-greatest, but that was a much easier prospect than paying the full price. &nbsp;</p>
<p>This has changed in a subtle but powerful way. &nbsp;Now, we pay for the phone via monthly installments. We might shell out the same $199, but we are also also paying an extra $20 a month on our phone bill that we could be saving instead. &nbsp; So instead of getting a new phone every two years, it is more cost-efficient to keep it around for three years, four years or even longer. &nbsp;</p>
<p>In fact, if you mainly just use the iPhone as a phone, for text messages, to check email and Facebook and as a surrogate GPS, it may make much more sense in today's world to let your iPhone lag behind and upgrade to a new iPad every two years. &nbsp;You'll be getting a more powerful and more useful device for less cost.&nbsp;</p>
<p><strong>The Final Verdict</strong></p>
<p>Let's face it, none of us actually needs an iPad. &nbsp;Most of us would be able to survive -- albeit with quite a struggle -- even if we only had an iPhone 5. &nbsp;Yes, using 2012 technology would be a real drag. &nbsp;But it can still make phone calls, check email and look up that actor's name on <a href="https://itunes.apple.com/us/app/imdb-movies-tv/id342792525?mt=8">IMDB</a>. &nbsp;</p>
<p>Sure, it is easy to declare that we don't need our iPad because we have the iPhone 6S Plus and that phablet is all the tablet we need. &nbsp; But we also paid $749 to be able to say that. &nbsp;We could have added $50 and paid $799 for a 12.9-inch iPad Pro. &nbsp;And the <a href="https://www.lifewire.com/ipad-pro-review-1994198">12.9-inch Pro is totally awesome</a>. &nbsp;Do you like watching movies on a 55-inch TV? Because that's the perspective you get when you are streaming Netflix to your lap using the iPad Pro. &nbsp; Heck, you can do picture-in-a-picture on the 12.9-inch screen and the streaming video taking up less than a quarter of your iPad's screen is as big as the iPhone 6S Plus's display. &nbsp;&nbsp;</p>
<p>Do you need an iPad? &nbsp;If you don't need Windows, it is likely you don't need MacOS. &nbsp;So think about what you actually do on your phone. &nbsp;Do you ever really tax it? &nbsp;Are you getting your business done using Microsoft Office? &nbsp;Are you knocking productivity out of the park? &nbsp;Or are you just checking emails, texting people and occasionally&nbsp;<a href="https://www.lifewire.com/pokemon-go-guide-4062147">catching Pokemon</a>? &nbsp;&nbsp;</p>
<p>I get it. &nbsp;<a href="https://www.lifewire.com/iphone-live-photos-1999618">Live Photos</a> are cool. &nbsp;A great camera on your smartphone is cool. &nbsp;Paying your bill using <a href="https://www.lifewire.com/how-to-set-up-apple-pay-1999216">Apple Pay</a> is actually way better than the new chip readers that take forever to process our credit cards. &nbsp; But we pay the price for all that coolness. &nbsp;But given the price tag of that coolness, it actually makes more sense to keep your iPad updated and let your iPhone get long in the tooth. &nbsp; It costs less, the bigger screen equals more productivity, and if we need to use it on the go, we can always tether it to our iPhone to get online anywhere our smartphone has a connection.&nbsp;</p>
<p>&nbsp;</p>
<p>Personally, I find that the only real difference between the iPhone and the iPad is the UI and UX. Most of the code is the same for both applications. (In fact, you can even reuse a lot of code if you are doing a universal app!)</p>
<p>The main difference really is the screen size. The iPad is huge in comparison to the iPhone, and this difference gives you a lot more options to work with.</p>
<p>Another thing to note is that the iPad is usually done in landscape orientation, whereas the iPhone is done in portrait. This is not an absolute rule however, it's just the way I see it.</p>
<p>The graphics aren't too different between the devices, except that because of the large screen size, you can do a bit more detailed work with the iPad images then the iPhone images. (Even with the retina display, too fine detail on the iPhone is barely noticeable.)</p>
<p>The other thing I wanted to mention is the flow of the devices. Again, because of the screen size of the iPad, you can fit a lot more content on the screen, and therefore have to push to new views less frequently. I've worked on apps where we had 3 UIViewController's for the iPhone version, and only 1 for the iPad version.</p>
<p>In short, it depends really on your type of app. If you have a lot of content, and want to display it all at once, go for the iPad. If you want a streamlined, minimal approach to your app, go for the iPhone.</p>
<p>Again, this is all just my personal opinion. Hope that Helps!</p>