<div class="page" title="Page 4">
<div class="section">
<div class="layoutArea">
<div class="column">
<h2><span style="color: #008080;">iPhone vs. iPad</span></h2>
<p>When it comes down to "need", the hardest evaluation comes down to whether or not you need an iPad if you already have an iPhone. &nbsp;In many respects, the iPad is simply a really big iPhone that can't place traditional phone calls. &nbsp; It runs most of the same apps. &nbsp;And while the iPad has some specialized features like a <a href="https://www.lifewire.com/use-virtual-touchpad-ipad-1994282">virtual touchpad</a> and the ability to run two apps side-by-side, does anyone really want to run two apps at the same time on their phone's small screen? &nbsp;(The virtual touchpad, on the other hand, is actually a very nice iPad-only feature.) &nbsp;</p>
<p>But while it is fair to say the iPad is an iPhone with a bigger screen, it's also fair to say the iPhone is just a really, really small iPad. &nbsp;After all, we don't seek out and pay more for smaller television sets. &nbsp;We don't love a smaller monitor for our desktop PC, and the only reason we like a smaller screen on our laptop is to approach the portability we have with our tablet. &nbsp;</p>
<p>And what do we tend to do with our smartphones? &nbsp;Other than playing some pretty cool games, we mostly just check email, place text messages, browse Facebook and other fairly basic tasks. &nbsp; A few of us may venture into the world of Microsoft Excel and Word on our smartphone, but I don't think anyone would suggest the iPhone is actually better at any of those tasks. &nbsp;Other than placing phone calls, the iPad may be better at almost everything than the iPhone. &nbsp;</p>
<p>The real issue here is that we really do need a smartphone. &nbsp; You might be able to place phone calls with an iPad, and if you hook up a Bluetooth headset, its not even that hard to talk on it. &nbsp;But unless the person trying to call you is on an iPhone, you aren't going to receive many calls. &nbsp;</p>
<p>But the real question here is whether or not you need that $649 <a href="https://www.lifewire.com/iphone-6s-review-better-2000186">iPhone 6S</a>. &nbsp;Because that's what the entry-level latest-and-greatest from Apple will set you back. &nbsp;And that's not even the plus-sized screen, which will run you $749. &nbsp; To put that into perspective, the <a href="https://www.lifewire.com/9-7-inch-ipad-pro-vs-12-9-inch-4009373">9.7-inch iPad Pro</a> is faster than the iPhone 6S, includes twice the storage space, has a bigger screen, better speakers and at $599 it is actually $50 cheaper than the iPhone 6S. &nbsp;</p>
<p>Why is this important?</p>
<p>We used to buy our smartphones within a two-year contract that hid the actual price of the phone. &nbsp;Sure, we'd shell out $199 for the latest-and-greatest, but that was a much easier prospect than paying the full price. &nbsp;</p>
<p>This has changed in a subtle but powerful way. &nbsp;Now, we pay for the phone via monthly installments. We might shell out the same $199, but we are also also paying an extra $20 a month on our phone bill that we could be saving instead. &nbsp; So instead of getting a new phone every two years, it is more cost-efficient to keep it around for three years, four years or even longer. &nbsp;</p>
<p>In fact, if you mainly just use the iPhone as a phone, for text messages, to check email and Facebook and as a surrogate GPS, it may make much more sense in today's world to let your iPhone lag behind and upgrade to a new iPad every two years. &nbsp;You'll be getting a more powerful and more useful device for less cost.&nbsp;</p>
<p><strong>The Final Verdict</strong></p>
<p>Let's face it, none of us actually needs an iPad. &nbsp;Most of us would be able to survive -- albeit with quite a struggle -- even if we only had an iPhone 5. &nbsp;Yes, using 2012 technology would be a real drag. &nbsp;But it can still make phone calls, check email and look up that actor's name on <a href="https://itunes.apple.com/us/app/imdb-movies-tv/id342792525?mt=8">IMDB</a>. &nbsp;</p>
<p>Sure, it is easy to declare that we don't need our iPad because we have the iPhone 6S Plus and that phablet is all the tablet we need. &nbsp; But we also paid $749 to be able to say that. &nbsp;We could have added $50 and paid $799 for a 12.9-inch iPad Pro. &nbsp;And the <a href="https://www.lifewire.com/ipad-pro-review-1994198">12.9-inch Pro is totally awesome</a>. &nbsp;Do you like watching movies on a 55-inch TV? Because that's the perspective you get when you are streaming Netflix to your lap using the iPad Pro. &nbsp; Heck, you can do picture-in-a-picture on the 12.9-inch screen and the streaming video taking up less than a quarter of your iPad's screen is as big as the iPhone 6S Plus's display. &nbsp;&nbsp;</p>
<p>Do you need an iPad? &nbsp;If you don't need Windows, it is likely you don't need MacOS. &nbsp;So think about what you actually do on your phone. &nbsp;Do you ever really tax it? &nbsp;Are you getting your business done using Microsoft Office? &nbsp;Are you knocking productivity out of the park? &nbsp;Or are you just checking emails, texting people and occasionally&nbsp;<a href="https://www.lifewire.com/pokemon-go-guide-4062147">catching Pokemon</a>? &nbsp;&nbsp;</p>
<p>I get it. &nbsp;<a href="https://www.lifewire.com/iphone-live-photos-1999618">Live Photos</a> are cool. &nbsp;A great camera on your smartphone is cool. &nbsp;Paying your bill using <a href="https://www.lifewire.com/how-to-set-up-apple-pay-1999216">Apple Pay</a> is actually way better than the new chip readers that take forever to process our credit cards. &nbsp; But we pay the price for all that coolness. &nbsp;But given the price tag of that coolness, it actually makes more sense to keep your iPad updated and let your iPhone get long in the tooth. &nbsp; It costs less, the bigger screen equals more productivity, and if we need to use it on the go, we can always tether it to our iPhone to get online anywhere our smartphone has a connection.&nbsp;</p>
<p>&nbsp;</p>
<p>Personally, I find that the only real difference between the iPhone and the iPad is the UI and UX. Most of the code is the same for both applications. (In fact, you can even reuse a lot of code if you are doing a universal app!)</p>
<p>The main difference really is the screen size. The iPad is huge in comparison to the iPhone, and this difference gives you a lot more options to work with.</p>
<p>Another thing to note is that the iPad is usually done in landscape orientation, whereas the iPhone is done in portrait. This is not an absolute rule however, it's just the way I see it.</p>
<p>The graphics aren't too different between the devices, except that because of the large screen size, you can do a bit more detailed work with the iPad images then the iPhone images. (Even with the retina display, too fine detail on the iPhone is barely noticeable.)</p>
<p>The other thing I wanted to mention is the flow of the devices. Again, because of the screen size of the iPad, you can fit a lot more content on the screen, and therefore have to push to new views less frequently. I've worked on apps where we had 3 UIViewController's for the iPhone version, and only 1 for the iPad version.</p>
<p>In short, it depends really on your type of app. If you have a lot of content, and want to display it all at once, go for the iPad. If you want a streamlined, minimal approach to your app, go for the iPhone.</p>
<p>Again, this is all just my personal opinion. Hope that Helps!</p>
<h2><span style="color: #008080;">Universal Apps</span></h2>
<p>Have you ever heard of an iPhone or <a href="https://www.lifewire.com/what-can-ipad-do-1994409">iPad</a> app referred to as a "Universal" app? Have you ever wondered what that means?</p>
<p>A "universal app" is an app that runs on both the iPad and the iPhone. &nbsp;While the iPad has the ability to run most iPhone apps in "compatibility&nbsp;mode", universal apps are specifically designed to deal with the varying screen sizes between the iPhone and the iPad. &nbsp; When the iPad was originally released, many developers released "HD" versions of their iPhone apps to support the bigger screen on the iPad, but these days, most apps that are released on the app store are Universal apps that work on both the iPad and the iPhone.</p>
<p>Is there a benefit to downloading a universal app?</p>
<p>One of the great features of the <a href="https://www.lifewire.com/guided-tour-of-ipad-1994403">App Store</a> is the ability to re-download apps you have purchased without the need to purchase them again. If you've purchased the app once, you can install it as many times as you want. You can even delete them and then reinstall them later, which is great if you are crunched for storage space and need to free some up to install an update or download a movie. &nbsp;Once purchased, it is always purchased. &nbsp;</p>
<p>This goes double for Universal apps. &nbsp;You can purchase the app on your iPad and downloaded it to your iPad or vice-versa.&nbsp;</p>
<p><strong>Is There a Way to Tell an App is Universal in the App Store?</strong></p>
<p>Apple doesn't provide a clear label for Universal apps, but you find out if an app is universal by scrolling down the details until you see "Compatibility", which is just above "Languages". &nbsp;If the Compatibility&nbsp;lists the iPad, iPhone and iPod Touch, the app is universal.</p>
<p>&nbsp;</p>
<p>&nbsp;If it only lists the iPad or iPhone, it will only work on those devices. &nbsp; However, any iPhone app that pops up on the iPad's App Store can run on the iPad in iPhone Compatibility Mode. &nbsp;</p>
<p><strong>Do Universal Apps Also Work on Apple TV?</strong></p>
<p>Apple TV finally received its own app store with the latest version, but because of the major differences between Apple TV and the iPad/iPhone, not all Universal apps extend to Apple TV.</p>
<p>However, some Universal apps do support Apple TV. &nbsp;These will be noted just below the Compatibility entry in the app details page. &nbsp;Unfortunately, these apps are few and far between.</p>
<p><strong>I downloaded an app on my iPhone, but I can't find it in the App Store for the iPad!</strong></p>
<p>Most apps released today are universal apps, but there are still apps designed specifically for the iPhone or the iPad. &nbsp; However, you can still download an iPhone-only app on your iPad and run it in compatibility mode. &nbsp;When you search the app store, there are filters across the top of the screen. &nbsp;In the upper-left corner is an "iPad Only" filter. &nbsp; If you change this filter to "iPhone Only", you can search and download iPhone apps.</p>
<p><strong>I downloaded an app on my iPad, but I can't find it in the App Store for the iPhone...</strong></p>
<p>While the iPad can run iPhone-only apps in compatibility mode, the reverse is not true. &nbsp;The iPhone cannot run an app designed to only run on the iPad. &nbsp; It's one thing to blow the smaller screen of the iPhone up to the iPad's size, it's an entirely different thing to shrink down the iPad's screen. &nbsp;And while possible, this would not provide the best user experience.</p>
<h2><span style="color: #008080;">Multiple SDK Support</span></h2>
<p>&nbsp;</p>
<h2><span style="color: #008080;">Detecting Device Capabilities</span></h2>
<p>The iPhone OS started off with a single device, the original iPhone, ala, iPhone 1,1. In the last three years, Apple has been innovating hard and introduced multiple devices running the same operating system with different capabilities. For example, the original iPod touch, iPod 1,1 wasn&rsquo;t able to record audio input, and till date iPod Touch cannot vibrate as a result of an alert. There are many such subtle differences between different iOS devices and it&rsquo;s the developer&rsquo;s effort to make sure that the code runs properly on all devices.</p>
<p>Problems using the device model</p>
<p>Most developers have resorted to reading the hw.machine parameter to check if the device is an iPhone or iPod touch. Another lousy way is to read the [UIDevice currentDevice].model. The problem with these methods are that, you are essentially comparing the device name with a hard-coded value. As such, code like</p>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>if(![[UIDevice currentDevice].model isEqualToString:@"iPhone"])</p>
<p>{</p>
<p>UIAlertView *alertView = [UIAlertView alloc] initWithTitle:@"Error"&nbsp;</p>
<p>message:@"Microphone not present"&nbsp;</p>
<p>delegate:self&nbsp;</p>
<p>cancelButtonTitle:@"Dismiss"&nbsp;</p>
<p>otherButtonTitles: nil];</p>
<p>[alertView show];</p>
<p>[alertView release];</p>
<p>}</p>
</td>
</tr>
</tbody>
</table>
<p>will fail miserably on iPad and on iPod Touch if an external microphone is connected. On similar lines, you cannot assert something like,</p>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>if(![[UIDevice currentDevice].model isEqualToString:@"iPhone 4,1"])</p>
<p>{</p>
<p><em>// lets start a video conferencing session here.</em></p>
<p>}</p>
</td>
</tr>
</tbody>
</table>
<p>Today, this code will work perfectly, but with next release of the iPod Touch or the iPad that might probably have a front facing camera, your app (or the video conferencing feature) will no longer work on the new device though it&rsquo;s (might be) capable of video conferencing.</p>
<p>There are Apple defined ways to check the hardware capabilities rather than assuming features based on the model string. In this tutorial, we will walk you through the various pitfalls that any iOS developer may encounter and provide solutions on how to combat them. Also provided is a complete source code and an elegant, drop dead simple to use device capabilities helper class.</p>
<p>Gonna Vibrate the device to alert the user? Read this first</p>
<p>Apple has documented two functions that would vibrate the iPhone. But vibration hardware is present only on iPhones (at least currently). So how will you alert your user who uses the app on iPad or iPod touches? Clearly, checking the model is not the way to go. Apple has provided an elegant solution to this. There are two seemingly similar functions that take a parameter kSystemSoundID_Vibrate</p>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>1) AudioServicesPlayAlertSound(kSystemSoundID_Vibrate);</p>
<p>2) AudioServicesPlaySystemSound(kSystemSoundID_Vibrate);</p>
</td>
</tr>
</tbody>
</table>
<p>Both the functions vibrate the iPhone. But when you use the first function on devices that don&rsquo;t support vibration, it plays a beep sound. The second function on the other hand does nothing on unsupported devices. So if you are going to vibrate the device continuously, as a alert, common sense says, use function 2.</p>
<p>Phone Call Capable?</p>
<p>Checking if a device is capable of making a phone call is as easy as making a function call to check if the device can handle URLs of type &ldquo;tel://&rdquo;</p>
<p>Again, in future if there is a 7&Prime; iProduct that sits somewhere in between the iPad and iPhone and has call capabilities, this method will work on that device as well.</p>
<p>As a side note on <a href="http://blog.mugunthkumar.com/tag/usability/">usability</a>, avoid showing an error like,</p>
<p><em>Sorry, you are not running on iPhone, This feature requires an iPhone.</em></p>
<p>if your app uses this feature to detect a phone from an iPod. In most cases, you show a telphone number and have a call button to make a phone call. On iPod Touch or other devices, just hide that button. That gives a better user experience than a error message. The user already knows that he doesn&rsquo;t have an iPhone and his device cannot make a phone call. You don&rsquo;t have to repeat that.</p>
<p>Email capability</p>
<p>Email is a bit tricky thing. You cannot always assume the all devices will support in-app email. If you read my previous <a href="http://blog.mugunthkumar.com/coding/iphone-tutorial-in-app-email/">tutorial on in-app email</a>, I would have mandated to check the email capability using</p>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>[MFMailComposeViewController canSendMail]</p>
</td>
</tr>
</tbody>
</table>
<p>This class is available from iOS 3.0. You might think that, because I always set the iPhone OS Deployment target to 3.0, I don&rsquo;t have to check this and can directly present the modal email sheet. &nbsp;But the code will crash when the user has no email configuration setup in the Mail app. As such, you should always check for this capability before you show the in-app email sheet.</p>
<p>SMS capability</p>
<p>For SMS support, you can either use [MFMessageComposeViewController canSendText] or better check if the device can handle URLs of type &ldquo;sms://&rdquo;</p>
<p>The reason I would suggest using the latter is, MFMessageComposeViewController isn&rsquo;t available on iPhone OS 3.2 and below. You app might crash if you try to send a non-existant message to a non-existant class.</p>
<p>Camera/Flash/Video support</p>
<p>Most of the camera related availability support is exposed through the UIImagePickerController. The UIImagePickerController has class methods that can be used to check if there is a camera hardware present in the device. Do note that, it&rsquo;s important to check even for the availability of the Photo Library before you ask the user to pick photos. For example, if the user&rsquo;s iPhone is new and he doesn&rsquo;t have any photos in his Photo Library, it&rsquo;s better to show an error rather than crash the application. As such, the method below returns NO when there is no photos in the user&rsquo;s library.</p>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>[UIImagePickerController isSourceTypeAvailable:UIImagePickerControllerSourceTypePhotoLibrary];</p>
</td>
</tr>
</tbody>
</table>
<p>A bit tricker thing is detection of Video Camera. You can detect the presence of a video camera in a iOS device using the following method.</p>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>- (BOOL) isVideoCameraAvailable</p>
<p>{</p>
<p>UIImagePickerController *picker =[[UIImagePickerController alloc] init];</p>
<p>NSArray*sourceTypes =[UIImagePickerController availableMediaTypesForSourceType:picker.sourceType];</p>
<p>[picker release];</p>
<p>&nbsp;</p>
<p>if(![sourceTypes containsObject:(NSString*)kUTTypeMovie ]){</p>
<p>&nbsp;</p>
<p>returnNO;</p>
<p>}</p>
<p>&nbsp;</p>
<p>returnYES;</p>
<p>}</p>
</td>
</tr>
</tbody>
</table>
<p>Gyroscope support</p>
<p>With iPhone 4, Apple added yet another hardware to the iPhone, namely the Gyroscope. Using Gyroscope. The Gyroscope related functions are grouped together under the CoreMotion framework. The CMMotionManager has a property called gyroAvailable to check if the device has gyroscope. Good news here is that, even if you make calls to CMMotionManager related to Gyroscope, the SDK converts them no-op on unsupported devices.</p>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>- (BOOL) isGyroscopeAvailable</p>
<p>{</p>
<p>#ifdef __IPHONE_4_0</p>
<p>CMMotionManager *motionManager =[[CMMotionManager alloc] init];</p>
<p>BOOL gyroAvailable = motionManager.gyroAvailable;</p>
<p>[motionManager release];</p>
<p>return gyroAvailable;</p>
<p>#else</p>
<p>returnNO;</p>
<p>#endif</p>
<p>&nbsp;</p>
<p>}</p>
</td>
</tr>
</tbody>
</table>
<p>Retina Display?</p>
<p>Use the [UIScreen mainScreen].scale to check if the display is retina capable. The scale property isn&rsquo;t available on all SDKs. Use respondsToSelector methods for checking the availability</p>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>+ (BOOL) isRetinaDisplay</p>
<p>{</p>
<p>int scale =1.0;</p>
<p>UIScreen *screen =[UIScreen mainScreen];</p>
<p>if([screen respondsToSelector:@selector(scale)])</p>
<p>scale = screen.scale;</p>
<p>&nbsp;</p>
<p>if(scale == 2.0f)returnYES;</p>
<p>elsereturnNO;</p>
<p>}</p>
</td>
</tr>
</tbody>
</table>
<p>Multitasking support</p>
<p>Not all devices support multitasking even on iOS 4. The iPhone 3G, and the iPod touch 2nd generation can be upgraded to iOS 4, but still will not get any of the multitasking or fast app switching benefits. I&rsquo;m just re-writing Apple&rsquo;s own code here</p>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>- (BOOL) isMultitaskingCapable</p>
<p>{</p>
<p>UIDevice* device =[UIDevice currentDevice];</p>
<p>BOOL backgroundSupported =NO;</p>
<p>if([device respondsToSelector:@selector(isMultitaskingSupported)])</p>
<p>backgroundSupported = device.multitaskingSupported;</p>
<p>&nbsp;</p>
<p>return backgroundSupported;</p>
<p>}</p>
</td>
</tr>
</tbody>
</table>
<p>Source Code</p>
<p>To make life easier, I&rsquo;ve put together a sample application and a helper class that demonstrates most of these capabilities. You can download it from here or go to <a href="http://github.com/MugunthKumar/DeviceHelper">github</a>. Again, it&rsquo;s a singleton class based on my<a href="http://blog.mugunthkumar.com/coding/xcode-tip-singleton-class-template"> previous xcode singleton template</a></p>
<p>MKDeviceHelper.zip</p>
<p>Using this Class</p>
<p>Just drag the two files MKDeviceHelper.h and it&rsquo;s counterpart. Add the frameworks, AVFoundation, MessageUI, AudioToolbox, CoreLocation, MobileCoreServices and CoreMotion frameworks. Build your app and you are good to go. If you can&rsquo;t find any of the XCode. The current version works fine on XCode 3.2.3</p>
<p>Note that these frameworks are dynamically linked. They will in no way bloat your app.</p>
<p>Licensing</p>
<p>My only request is don&rsquo;t pass of this code as your own. Fork it or do whatever you want, commercial/non-commercial but retain a reference to this blog post in the code and don&rsquo;t remove the URL in the source code files.</p>
<h2><span style="color: #008080;">Supporting iOS 6 and iOS 7</span></h2>
<p>&nbsp;</p>
</div>
</div>
</div>
</div>