<h2><span style="color: #008080;">Universal Apps</span></h2>
<p>Have you ever heard of an iPhone or <a href="https://www.lifewire.com/what-can-ipad-do-1994409">iPad</a> app referred to as a "Universal" app? Have you ever wondered what that means?</p>
<p>A "universal app" is an app that runs on both the iPad and the iPhone. &nbsp;While the iPad has the ability to run most iPhone apps in "compatibility&nbsp;mode", universal apps are specifically designed to deal with the varying screen sizes between the iPhone and the iPad. &nbsp; When the iPad was originally released, many developers released "HD" versions of their iPhone apps to support the bigger screen on the iPad, but these days, most apps that are released on the app store are Universal apps that work on both the iPad and the iPhone.</p>
<p>Is there a benefit to downloading a universal app?</p>
<p>One of the great features of the <a href="https://www.lifewire.com/guided-tour-of-ipad-1994403">App Store</a> is the ability to re-download apps you have purchased without the need to purchase them again. If you've purchased the app once, you can install it as many times as you want. You can even delete them and then reinstall them later, which is great if you are crunched for storage space and need to free some up to install an update or download a movie. &nbsp;Once purchased, it is always purchased. &nbsp;</p>
<p>This goes double for Universal apps. &nbsp;You can purchase the app on your iPad and downloaded it to your iPad or vice-versa.&nbsp;</p>
<p><strong>Is There a Way to Tell an App is Universal in the App Store?</strong></p>
<p>Apple doesn't provide a clear label for Universal apps, but you find out if an app is universal by scrolling down the details until you see "Compatibility", which is just above "Languages". &nbsp;If the Compatibility&nbsp;lists the iPad, iPhone and iPod Touch, the app is universal.</p>
<p>&nbsp;</p>
<p>&nbsp;If it only lists the iPad or iPhone, it will only work on those devices. &nbsp; However, any iPhone app that pops up on the iPad's App Store can run on the iPad in iPhone Compatibility Mode. &nbsp;</p>
<p><strong>Do Universal Apps Also Work on Apple TV?</strong></p>
<p>Apple TV finally received its own app store with the latest version, but because of the major differences between Apple TV and the iPad/iPhone, not all Universal apps extend to Apple TV.</p>
<p>However, some Universal apps do support Apple TV. &nbsp;These will be noted just below the Compatibility entry in the app details page. &nbsp;Unfortunately, these apps are few and far between.</p>
<p><strong>I downloaded an app on my iPhone, but I can't find it in the App Store for the iPad!</strong></p>
<p>Most apps released today are universal apps, but there are still apps designed specifically for the iPhone or the iPad. &nbsp; However, you can still download an iPhone-only app on your iPad and run it in compatibility mode. &nbsp;When you search the app store, there are filters across the top of the screen. &nbsp;In the upper-left corner is an "iPad Only" filter. &nbsp; If you change this filter to "iPhone Only", you can search and download iPhone apps.</p>
<p><strong>I downloaded an app on my iPad, but I can't find it in the App Store for the iPhone...</strong></p>
<p>While the iPad can run iPhone-only apps in compatibility mode, the reverse is not true. &nbsp;The iPhone cannot run an app designed to only run on the iPad. &nbsp; It's one thing to blow the smaller screen of the iPhone up to the iPad's size, it's an entirely different thing to shrink down the iPad's screen. &nbsp;And while possible, this would not provide the best user experience.</p>