<h2><span style="color: #008080;">Calculating Distances</span></h2>
<p>The distance between two CLLocation points may be calculated by calling the distanceFromLocation method of the end location and passing through the start location as an argument. For example, the following code calculates the distance between the points specified by newLocation and oldLocation:</p>
<p>CLLocationDistance distance = [newLocation distanceFromLocation:oldLocation];</p>