<div class="page" title="Page 3">
<div class="layoutArea">
<div class="column">
<h2><span style="color: #008080;">Location Accuracy</span></h2>
<p>The level of accuracy to which location information is to be tracked is specified via the desiredAccuracy property of the CLLocationManager object. It is important to keep in mind when configuring this property that the greater the level of accuracy selected the greater the drain on the device battery. An application should, therefore, never request a greater level of accuracy than is actually needed.</p>
<p>A number of predefined constant values are available for use when configuring this property:</p>
<p>&bull; <strong>kCLLocationAccuracyBestForNavigation</strong> &ndash; Uses the highest possible level of accuracy augmented by additional sensor data. This accuracy level is intended solely for use when the device is connected to an external power supply.</p>
<p>&bull; <strong>kCLLocationAccuracyBest</strong> &ndash; The highest recommended level of accuracy for devices running on battery power.</p>
<p>&bull; <strong>kCLLocationAccuracyNearestTenMeters</strong> - Accurate to within 10 meters.</p>
<p>&bull; <strong>kCLLocationAccuracyHundredMeters</strong> &ndash; Accurate to within 100 meters.</p>
<p>&bull; <strong>kCLLocationAccuracyKilometer</strong> &ndash; Accurate to within one kilometer.</p>
<p>&bull; <strong>kCLLocationAccuracyThreeKilometers</strong> &ndash; Accurate to within three kilometers.</p>
<p>The following code, for example, sets the level of accuracy for a location manager instance to &ldquo;best accuracy&rdquo;:</p>
<p>locationManager.desiredAccuracy = kCLLocationAccuracyBest</p>