<h2><span style="color: #008080;">MapKit Framework and MKMapView</span></h2>
<p>The MapKit Framework is based on the Apple Maps data and APIs and provides iOS developers with a simple mechanism for integrating detailed and interactive mapping capabilities into any application.</p>
<p>The core element of the MapKit framework from the point of view of the app developer is the MKMapView class. This class is a subclass of UIView and provides a canvas onto which map and satellite information may be presented to the user. Information may be presented in map, satellite or hybrid (whereby the map is superimposed onto the satellite image) form. The displayed geographical region may be changed manually by the user via a process of pinching stretching and panning gestures, or programmatically from within the application code via method calls and property manipulation on the MkMapView instance. The current location of the device may also be displayed and tracked on the map view.</p>
<p>The MapKit framework also includes support for adding annotations to a map. This takes the form of a pin or custom image, title and subview that may be used to mark specific locations on a map.</p>
<p>Implementation of the MKMapViewDelegate protocol allows an application to receive notifications of events relating to the map view such as a change in either the location of the user or region of the map displayed or the failure of the device to identify the user&rsquo;s current location or to download map data.</p>
<p>&nbsp;</p>
<p>About the MapKit Framework</p>
<p>The MapKit Framework is based on the Apple Maps data and APIs and provides iOS developers with a simple mechanism for integrating detailed and interactive mapping capabilities into any application.</p>
<p>The core element of the MapKit framework from the point of view of the app developer is the MKMapView class. This class is a subclass of UIView and provides a canvas onto which map and satellite information may be presented to the user. Information may be presented in map, satellite or hybrid form. The displayed geographical region may be changed manually by the user via a process of pinching stretching and panning gestures, or programmatically from within the application code via method calls and property manipulation on the MkMapView instance.</p>
<p>The MapKit framework also includes support for adding annotations to a map. This takes the form of a pin or custom image, title and subview that may be used to mark specific locations on a map.</p>
<p>Implementation of the MKMapViewDelegate protocol allows an application to receive notifications of events relating to the map view such as a change in either the location of the user or region of the map displayed or the failure of the device to identify the user&rsquo;s current location or to download map data.</p>
<p>&nbsp;</p>
<p>About the MKMapView Tutorial</p>
<p>&nbsp;</p>
<p><strong>Concepts:&nbsp;</strong></p>
<p>&nbsp;</p>
<p>There are several concepts that we must learn first before diving into the code.&nbsp;</p>
<p>&nbsp;</p>
<p><strong>MKMapView</strong>: MKMapView is a UI control which is used to display map in iOS devices.&nbsp;</p>
<p>&nbsp;</p>
<p><strong>Annotation</strong>: Annotations is information related to a particular place on the map. These include grocery stores, gas stations, malls or even custom information inserted by the user.&nbsp;</p>
<p>&nbsp;</p>
<p><strong>AnnotationView</strong>: The visual appearance of Annotations are defined using the MKAnnotationView class. By default the annotations are displayed using the pin annotation view.&nbsp;</p>
<p>&nbsp;</p>
<p><strong>Referencing the Frameworks:&nbsp;</strong></p>
<p>&nbsp;</p>
<p>For this application we will be using the MapKit.framework and CoreLocation.framework. Add both the frameworks to your project using the Build Phases tab as shown below:</p>
<p>&nbsp;</p>
<p><strong>Displaying Map Using MKMapView Control:&nbsp;</strong></p>
<p>&nbsp;</p>
<p>After adding the reference to the MapKit.framework and CoreLocation.framework libraries we are ready to create our MapKit application. The first step in using the MapKit framework is to display the map on the iOS device. This can easily be performed by using the MKMapView control. Let's drag and drop the MapView control on the user interface with the help of the interface builder.&nbsp;</p>
<p>&nbsp;</p>
<p>Also, make sure to link the MKMapView control to the controller. The MapKitDemoAppDelegate.h implementation is shown below:&nbsp;</p>
<p>&nbsp;</p>
<p>view source</p>
<p>print</p>
<p>?</p>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>01</p>
</td>
<td valign="top">
<p>#import &lt;UIKit/UIKit.h&gt;</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>02</p>
</td>
<td valign="top">
<p>#import &lt;MapKit/MapKit.h&gt;</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>03</p>
</td>
<td valign="top">
<p>#import &lt;CoreLocation/CoreLocation.h&gt;</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>04</p>
</td>
<td valign="top">
<p>#import "MapPoint.h"</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>05</p>
</td>
<td valign="top">
<p>#import "LameAnnotationView.h"</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>06</p>
</td>
<td valign="top">
<p>&nbsp;</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>07</p>
</td>
<td valign="top">
<p>@<strong>interface</strong> MapKitDemoAppDelegate : NSObject &lt;UIApplicationDelegate,CLLocationManagerDelegate,MKMapViewDelegate,UITextFieldDelegate&gt; {</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>08</p>
</td>
<td valign="top">
<p>&nbsp;</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>09</p>
</td>
<td valign="top">
<p>&nbsp;&nbsp;&nbsp;&nbsp;CLLocationManager *locationManager;</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>10</p>
</td>
<td valign="top">
<p>&nbsp;&nbsp;&nbsp;&nbsp;IBOutlet MKMapView *mapView;</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>11</p>
</td>
<td valign="top">
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>12</p>
</td>
<td valign="top">
<p>}</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>13</p>
</td>
<td valign="top">
<p>&nbsp;</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>14</p>
</td>
<td valign="top">
<p>@property (nonatomic, retain) IBOutlet UIWindow *window;</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>15</p>
</td>
<td valign="top">
<p>@property (nonatomic,retain) IBOutlet MKMapView *mapView;</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>16</p>
</td>
<td valign="top">
<p>&nbsp;</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>17</p>
</td>
<td valign="top">
<p>@end</p>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>We can even focus on the current position of the user using the following code:&nbsp;</p>
<p>&nbsp;</p>
<p>view source</p>
<p>print</p>
<p>?</p>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>01</p>
</td>
<td valign="top">
<p>- (BOOL)application:(UIApplication *)application didFinishLaunchingWithOptions:(NSDictionary *)launchOptions</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>02</p>
</td>
<td valign="top">
<p>{</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>03</p>
</td>
<td valign="top">
<p>&nbsp;&nbsp;&nbsp;&nbsp;self.mapView.<strong>delegate</strong> = self;&nbsp;&nbsp;&nbsp; &nbsp;</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>04</p>
</td>
<td valign="top">
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>05</p>
</td>
<td valign="top">
<p>&nbsp;&nbsp;&nbsp;&nbsp;locationManager = [[CLLocationManager alloc] init];</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>06</p>
</td>
<td valign="top">
<p>&nbsp;&nbsp;&nbsp;&nbsp;[locationManager setDelegate:self];</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>07</p>
</td>
<td valign="top">
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>08</p>
</td>
<td valign="top">
<p>&nbsp;&nbsp;&nbsp;&nbsp;[locationManager setDistanceFilter:kCLDistanceFilterNone];</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>09</p>
</td>
<td valign="top">
<p>&nbsp;&nbsp;&nbsp;&nbsp;[locationManager setDesiredAccuracy:kCLLocationAccuracyBest];</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>10</p>
</td>
<td valign="top">
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>11</p>
</td>
<td valign="top">
<p>&nbsp;&nbsp;&nbsp;&nbsp;[self.mapView setShowsUserLocation:YES];</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>12</p>
</td>
<td valign="top">
<p>&nbsp;</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>13</p>
</td>
<td valign="top">
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>14</p>
</td>
<td valign="top">
<p>&nbsp;&nbsp;&nbsp;&nbsp;// Override point for customization after application launch.</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>15</p>
</td>
<td valign="top">
<p>&nbsp;&nbsp;&nbsp;&nbsp;[self.window makeKeyAndVisible];</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>16</p>
</td>
<td valign="top">
<p>&nbsp;&nbsp;&nbsp;&nbsp;<strong>return</strong> YES;</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>17</p>
</td>
<td valign="top">
<p>}</p>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>The CLLocationManager class is responsible for fetching information about the user's location. The following line enables the mapView to show the user's current location.&nbsp;</p>
<p>&nbsp;</p>
<p>view source</p>
<p>print</p>
<p>?</p>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>1</p>
</td>
<td valign="top">
<p>[self.mapView setShowsUserLocation:YES];</p>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>Although the user's location is focused in the map but currently is shows an eagle view of the location. We need to zoom into the location to get more details. This can be easily accomplished by using the following implementation:&nbsp;</p>
<p>&nbsp;</p>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>1</p>
</td>
<td valign="top">
<p>- (<strong>void</strong>)mapView:(MKMapView *)mv didAddAnnotationViews:(NSArray *)views</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>2</p>
</td>
<td valign="top">
<p>{&nbsp;&nbsp; &nbsp;</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>3</p>
</td>
<td valign="top">
<p>&nbsp;&nbsp;&nbsp;&nbsp;MKAnnotationView *annotationView = [views objectAtIndex:0];</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>4</p>
</td>
<td valign="top">
<p>&nbsp;&nbsp;&nbsp;&nbsp;id&lt;MKAnnotation&gt; mp = [annotationView annotation];</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>5</p>
</td>
<td valign="top">
<p>&nbsp;&nbsp;&nbsp;&nbsp;MKCoordinateRegion region = MKCoordinateRegionMakeWithDistance([mp coordinate] ,250,250);</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>6</p>
</td>
<td valign="top">
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>7</p>
</td>
<td valign="top">
<p>&nbsp;&nbsp;&nbsp;&nbsp;[mv setRegion:region animated:YES];</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>8</p>
</td>
<td valign="top">
<p>}</p>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>didAddAnnotationViews is one of the delegate methods of the MKMapViewDelegate which will send the events to the current controller as setup inside the didFinishLaunchingWithOptions method:&nbsp;</p>
<p>&nbsp;</p>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>1</p>
</td>
<td valign="top">
<p>self.mapView.<strong>delegate</strong> = self;&nbsp; &nbsp;</p>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>Since, there is currently only one annotation view added to the map we can access it using the [views objectAtIndex:0] method. MKCoordinateRegion creates a customized region on the map which can be zoomed in or out. The following screenshot shows the map zoomed in on the user's location.&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>One thing to notice is that the simulator shows the user's current location&nbsp; in California where the Apple's headquarter is located. In order to get the correct user location you must run the application on the device. In the next section we are going to add annotations to our map.&nbsp;</p>
<p>&nbsp;</p>
<p><strong>Adding Annotations to the Map:</strong>&nbsp;</p>
<p>&nbsp;</p>
<p>We are going to create our own custom annotation by inheriting from the MKAnnotation class as shown in the implementation below:&nbsp;</p>
<p>&nbsp;</p>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>01</p>
</td>
<td valign="top">
<p>#import &lt;Foundation/Foundation.h&gt;</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>02</p>
</td>
<td valign="top">
<p>#import &lt;CoreLocation/CoreLocation.h&gt;</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>03</p>
</td>
<td valign="top">
<p>#import &lt;MapKit/MapKit.h&gt;</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>04</p>
</td>
<td valign="top">
<p>&nbsp;</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>05</p>
</td>
<td valign="top">
<p>@<strong>interface</strong> MapPoint : NSObject&lt;MKAnnotation&gt; {</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>06</p>
</td>
<td valign="top">
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>07</p>
</td>
<td valign="top">
<p>&nbsp;&nbsp;&nbsp;&nbsp;NSString *title;</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>08</p>
</td>
<td valign="top">
<p>&nbsp;&nbsp;&nbsp;&nbsp;NSString *subTitle;</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>09</p>
</td>
<td valign="top">
<p>&nbsp;&nbsp;&nbsp;&nbsp;CLLocationCoordinate2D coordinate;</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>10</p>
</td>
<td valign="top">
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>11</p>
</td>
<td valign="top">
<p>}</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>12</p>
</td>
<td valign="top">
<p>&nbsp;</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>13</p>
</td>
<td valign="top">
<p>@property (nonatomic,<strong>readonly</strong>) CLLocationCoordinate2D coordinate;</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>14</p>
</td>
<td valign="top">
<p>@property (nonatomic,copy) NSString *title;</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>15</p>
</td>
<td valign="top">
<p>@property (nonatomic,copy) NSString *subTitle;</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>16</p>
</td>
<td valign="top">
<p>&nbsp;</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>17</p>
</td>
<td valign="top">
<p>-(id) initWithCoordinate:(CLLocationCoordinate2D) c title:(NSString *) t subTitle:(NSString *) st;</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>18</p>
</td>
<td valign="top">
<p>&nbsp;</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>19</p>
</td>
<td valign="top">
<p>@end</p>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>The didUpdateUserLocation method of the MKMapViewDelegate is called when a new location update is received by the map view. Inside this method we are going to create custom annotations and add them to the map.&nbsp;</p>
<p>&nbsp;</p>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>01</p>
</td>
<td valign="top">
<p>- (<strong>void</strong>)mapView:(MKMapView *)mv didUpdateUserLocation:(MKUserLocation *)userLocation</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>02</p>
</td>
<td valign="top">
<p>{</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>03</p>
</td>
<td valign="top">
<p>&nbsp;&nbsp;&nbsp;&nbsp;CLLocationCoordinate2D userCoordinate = userLocation.location.coordinate;</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>04</p>
</td>
<td valign="top">
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>05</p>
</td>
<td valign="top">
<p>&nbsp;&nbsp;&nbsp;&nbsp;<strong>for</strong>(<strong>int</strong> i = 1; i&lt;=5;i++)</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>06</p>
</td>
<td valign="top">
<p>&nbsp;&nbsp;&nbsp;&nbsp;{</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>07</p>
</td>
<td valign="top">
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CGFloat latDelta = rand()*.035/RAND_MAX -.02;</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>08</p>
</td>
<td valign="top">
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CGFloat longDelta = rand()*.03/RAND_MAX -.015;</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>09</p>
</td>
<td valign="top">
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>10</p>
</td>
<td valign="top">
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CLLocationCoordinate2D newCoord = { userCoordinate.latitude + latDelta, userCoordinate.longitude + longDelta };</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>11</p>
</td>
<td valign="top">
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;MapPoint *mp = [[MapPoint alloc] initWithCoordinate:newCoord title:[NSString stringWithFormat:@"Azam Home %d",i] subTitle:@"Home Sweet Home"];&nbsp;&nbsp; &nbsp;</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>12</p>
</td>
<td valign="top">
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[mv addAnnotation:mp];</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>13</p>
</td>
<td valign="top">
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[mp release];</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>14</p>
</td>
<td valign="top">
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>15</p>
</td>
<td valign="top">
<p>&nbsp;&nbsp;&nbsp;&nbsp;}</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>16</p>
</td>
<td valign="top">
<p>}</p>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>As shown in the above code we are creating annotations at random coordinates and then adding them to the map view control. The screenshot below shows the effect in action:&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>If you click on any of the annotations it will pop out a callout with custom text. We can make the callout more attractive by adding a small house on the left or right hand side of the callout. In the next section we are going to demonstrate how to create custom annotations to our map.&nbsp;</p>
<p>&nbsp;</p>
<p><strong>Implementing a Custom Annotation View:&nbsp;</strong></p>
<p>&nbsp;</p>
<p>Before implementing a custom annotation view we can make use of the built-in annotation views for our map. MKPinAnnotationView also allows the user to attach different controls to the annotations. The leftCalloutAccessoryView and rightCalloutAccessoryView can be used to show custom items in the annotation. The following implementation shows how a custom image can be shown in the annotation callout:&nbsp;</p>
<p>&nbsp;</p>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>01</p>
</td>
<td valign="top">
<p>- (MKAnnotationView *)mapView:(MKMapView *)mv viewForAnnotation:(id &lt;MKAnnotation&gt;)annotation</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>02</p>
</td>
<td valign="top">
<p>{</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>03</p>
</td>
<td valign="top">
<p>&nbsp;&nbsp;&nbsp;&nbsp;<strong>if</strong>([annotation isKindOfClass:[MKUserLocation <strong>class</strong>]])</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>04</p>
</td>
<td valign="top">
<p>&nbsp;&nbsp;&nbsp;&nbsp;<strong>return</strong> nil;</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>05</p>
</td>
<td valign="top">
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>06</p>
</td>
<td valign="top">
<p>&nbsp;&nbsp;&nbsp;&nbsp;NSString *annotationIdentifier = @"PinViewAnnotation";</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>07</p>
</td>
<td valign="top">
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>08</p>
</td>
<td valign="top">
<p>&nbsp;&nbsp;&nbsp;&nbsp;MKPinAnnotationView *pinView = (MKPinAnnotationView *) [mapView</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>09</p>
</td>
<td valign="top">
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;dequeueReusableAnnotationViewWithIdentifier:annotationIdentifier];</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>10</p>
</td>
<td valign="top">
<p>&nbsp;</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>11</p>
</td>
<td valign="top">
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>12</p>
</td>
<td valign="top">
<p>&nbsp;&nbsp;&nbsp;&nbsp;<strong>if</strong> (!pinView)</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>13</p>
</td>
<td valign="top">
<p>&nbsp;&nbsp;&nbsp;&nbsp;{</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>14</p>
</td>
<td valign="top">
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;pinView = [[[MKPinAnnotationView alloc]</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>15</p>
</td>
<td valign="top">
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;initWithAnnotation:annotation</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>16</p>
</td>
<td valign="top">
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;reuseIdentifier:annotationIdentifier] autorelease];</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>17</p>
</td>
<td valign="top">
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>18</p>
</td>
<td valign="top">
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[pinView setPinColor:MKPinAnnotationColorGreen];</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>19</p>
</td>
<td valign="top">
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;pinView.animatesDrop = YES;</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>20</p>
</td>
<td valign="top">
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;pinView.canShowCallout = YES;</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>21</p>
</td>
<td valign="top">
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>22</p>
</td>
<td valign="top">
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;UIImageView *houseIconView = [[UIImageView alloc] initWithImage:[UIImage imageNamed:@"house.png"]];</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>23</p>
</td>
<td valign="top">
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;pinView.leftCalloutAccessoryView = houseIconView;</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>24</p>
</td>
<td valign="top">
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[houseIconView release];&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>25</p>
</td>
<td valign="top">
<p>&nbsp;&nbsp;&nbsp;&nbsp;}</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>26</p>
</td>
<td valign="top">
<p>&nbsp;&nbsp;&nbsp;&nbsp;<strong>else</strong></p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>27</p>
</td>
<td valign="top">
<p>&nbsp;&nbsp;&nbsp;&nbsp;{</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>28</p>
</td>
<td valign="top">
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;pinView.annotation = annotation;</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>29</p>
</td>
<td valign="top">
<p>&nbsp;&nbsp;&nbsp;&nbsp;}</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>30</p>
</td>
<td valign="top">
<p>&nbsp;</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>31</p>
</td>
<td valign="top">
<p>&nbsp;&nbsp;&nbsp;&nbsp;<strong>return</strong> pinView;</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>32</p>
</td>
<td valign="top">
<p>&nbsp;</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>33</p>
</td>
<td valign="top">
<p>}</p>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>In order to improve the performance of the map view control we are storing the annotations type using an identifier. This means if the same annotation is used in different parts of the map then we reuse the same annotation without creating it from scratch. Run the code and click on any of the green pin and you will see a similar output:&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>Now, the annotations are displayed with an image but as you can see the image size is too big for the callout. We can easily adjust that using the following code:&nbsp;</p>
<p>&nbsp;</p>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>1</p>
</td>
<td valign="top">
<p>UIImageView *houseIconView = [[UIImageView alloc] initWithImage:[UIImage imageNamed:@"house.png"]];</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>2</p>
</td>
<td valign="top">
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[houseIconView setFrame:CGRectMake(0, 0, 30, 30)];</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>3</p>
</td>
<td valign="top">
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;pinView.leftCalloutAccessoryView = houseIconView;</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>4</p>
</td>
<td valign="top">
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[houseIconView release];&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;</p>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>Now, run the application again and notice how the house fits perfectly inside the callout.&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>Although we have customized the callout of the annotation we have not changed the appearance of the pin. The pin can easily be changed by creating a custom annotation view class and overriding the drawRect method. The implementation below creates a custom annotation view class called "LameAnnotationView" which inherits from MKAnnotationView.&nbsp;</p>
<p>&nbsp;</p>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>01</p>
</td>
<td valign="top">
<p>#import "LameAnnotationView.h"</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>02</p>
</td>
<td valign="top">
<p>&nbsp;</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>03</p>
</td>
<td valign="top">
<p>@implementation LameAnnotationView</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>04</p>
</td>
<td valign="top">
<p>&nbsp;</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>05</p>
</td>
<td valign="top">
<p>- (id)initWithAnnotation:(id &lt;MKAnnotation&gt;)annotation reuseIdentifier:(NSString *)reuseIdentifier</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>06</p>
</td>
<td valign="top">
<p>{</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>07</p>
</td>
<td valign="top">
<p>&nbsp;&nbsp;&nbsp;&nbsp;self = [super initWithAnnotation:annotation reuseIdentifier:reuseIdentifier];</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>08</p>
</td>
<td valign="top">
<p>&nbsp;&nbsp;&nbsp;&nbsp;<strong>if</strong> (self != nil)</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>09</p>
</td>
<td valign="top">
<p>&nbsp;&nbsp;&nbsp;&nbsp;{</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>10</p>
</td>
<td valign="top">
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CGRect frame = self.frame;</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>11</p>
</td>
<td valign="top">
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;frame.size = CGSizeMake(60.0, 85.0);</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>12</p>
</td>
<td valign="top">
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;self.frame = frame;</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>13</p>
</td>
<td valign="top">
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;self.backgroundColor = [UIColor clearColor];</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>14</p>
</td>
<td valign="top">
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;self.centerOffset = CGPointMake(-5, -5);</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>15</p>
</td>
<td valign="top">
<p>&nbsp;&nbsp;&nbsp;&nbsp;}</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>16</p>
</td>
<td valign="top">
<p>&nbsp;&nbsp;&nbsp;&nbsp;<strong>return</strong> self;</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>17</p>
</td>
<td valign="top">
<p>}</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>18</p>
</td>
<td valign="top">
<p>&nbsp;</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>19</p>
</td>
<td valign="top">
<p>-(<strong>void</strong>) drawRect:(CGRect)rect</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>20</p>
</td>
<td valign="top">
<p>{</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>21</p>
</td>
<td valign="top">
<p>&nbsp;&nbsp;&nbsp;&nbsp;[[UIImage imageNamed:@"house.png"] drawInRect:CGRectMake(30, 30.0, 30.0, 30.0)];</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>22</p>
</td>
<td valign="top">
<p>}</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>23</p>
</td>
<td valign="top">
<p>&nbsp;</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>24</p>
</td>
<td valign="top">
<p>@end</p>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>In order to use the our new LameAnnotationView we simply substitute the MKPinAnnotationView with LameAnnotationView as shown below:&nbsp;</p>
<p>&nbsp;</p>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>01</p>
</td>
<td valign="top">
<p>- (MKAnnotationView *)mapView:(MKMapView *)mv viewForAnnotation:(id &lt;MKAnnotation&gt;)annotation</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>02</p>
</td>
<td valign="top">
<p>{</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>03</p>
</td>
<td valign="top">
<p>&nbsp;&nbsp;&nbsp;&nbsp;<strong>if</strong>([annotation isKindOfClass:[MKUserLocation <strong>class</strong>]])</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>04</p>
</td>
<td valign="top">
<p>&nbsp;&nbsp;&nbsp;&nbsp;<strong>return</strong> nil;</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>05</p>
</td>
<td valign="top">
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>06</p>
</td>
<td valign="top">
<p>&nbsp;&nbsp;&nbsp;&nbsp;NSString *annotationIdentifier = @"PinViewAnnotation";</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>07</p>
</td>
<td valign="top">
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>08</p>
</td>
<td valign="top">
<p>&nbsp;&nbsp;&nbsp;&nbsp;LameAnnotationView *pinView = (LameAnnotationView *) [mapView</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>09</p>
</td>
<td valign="top">
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;dequeueReusableAnnotationViewWithIdentifier:annotationIdentifier];</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>10</p>
</td>
<td valign="top">
<p>&nbsp;</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>11</p>
</td>
<td valign="top">
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>12</p>
</td>
<td valign="top">
<p>&nbsp;&nbsp;&nbsp;&nbsp;<strong>if</strong> (!pinView)</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>13</p>
</td>
<td valign="top">
<p>&nbsp;&nbsp;&nbsp;&nbsp;{</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>14</p>
</td>
<td valign="top">
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;pinView = [[[LameAnnotationView alloc]</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>15</p>
</td>
<td valign="top">
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;initWithAnnotation:annotation</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>16</p>
</td>
<td valign="top">
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;reuseIdentifier:annotationIdentifier] autorelease];</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>17</p>
</td>
<td valign="top">
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>18</p>
</td>
<td valign="top">
<p>//[pinView setPinColor:MKPinAnnotationColorGreen];</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>19</p>
</td>
<td valign="top">
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;// pinView.animatesDrop = YES;</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>20</p>
</td>
<td valign="top">
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;pinView.canShowCallout = YES;</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>21</p>
</td>
<td valign="top">
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>22</p>
</td>
<td valign="top">
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;UIImageView *houseIconView = [[UIImageView alloc] initWithImage:[UIImage imageNamed:@"house.png"]];</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>23</p>
</td>
<td valign="top">
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[houseIconView setFrame:CGRectMake(0, 0, 30, 30)];</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>24</p>
</td>
<td valign="top">
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;pinView.leftCalloutAccessoryView = houseIconView;</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>25</p>
</td>
<td valign="top">
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[houseIconView release];&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>26</p>
</td>
<td valign="top">
<p>&nbsp;&nbsp;&nbsp;&nbsp;}</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>27</p>
</td>
<td valign="top">
<p>&nbsp;&nbsp;&nbsp;&nbsp;<strong>else</strong></p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>28</p>
</td>
<td valign="top">
<p>&nbsp;&nbsp;&nbsp;&nbsp;{</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>29</p>
</td>
<td valign="top">
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;pinView.annotation = annotation;</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>30</p>
</td>
<td valign="top">
<p>&nbsp;&nbsp;&nbsp;&nbsp;}</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>31</p>
</td>
<td valign="top">
<p>&nbsp;</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>32</p>
</td>
<td valign="top">
<p>&nbsp;&nbsp;&nbsp;&nbsp;<strong>return</strong> pinView;</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>33</p>
</td>
<td valign="top">
<p>&nbsp;</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>34</p>
</td>
<td valign="top">
<p>}</p>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>Run the application and you will notice that the default pin annotations views are now replaced with our custom LameAnnotationView.&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>In the process of customizing our annotation views we have lost the animation effects. But this can easily be added again by using core animation library. The following code shows how to add drop animations to our custom annotation views.&nbsp;</p>
<p>&nbsp;</p>
<p>view source</p>
<p>print</p>
<p>?</p>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>01</p>
</td>
<td valign="top">
<p>- (<strong>void</strong>)mapView:(MKMapView *)mv didAddAnnotationViews:(NSArray *)views</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>02</p>
</td>
<td valign="top">
<p>{</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>03</p>
</td>
<td valign="top">
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>04</p>
</td>
<td valign="top">
<p>&nbsp;&nbsp;&nbsp;&nbsp;// add the animation here</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>05</p>
</td>
<td valign="top">
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>06</p>
</td>
<td valign="top">
<p>&nbsp;&nbsp;&nbsp;&nbsp;CGRect visibleRect = [mapView annotationVisibleRect];</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>07</p>
</td>
<td valign="top">
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>08</p>
</td>
<td valign="top">
<p>&nbsp;&nbsp;&nbsp;&nbsp;<strong>for</strong>(MKAnnotationView *view <strong>in</strong> views)</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>09</p>
</td>
<td valign="top">
<p>&nbsp;&nbsp;&nbsp;&nbsp;{</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>10</p>
</td>
<td valign="top">
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>if</strong>([view isKindOfClass:[LameAnnotationView <strong>class</strong>]])</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>11</p>
</td>
<td valign="top">
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>12</p>
</td>
<td valign="top">
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CGRect endFrame = view.frame;</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>13</p>
</td>
<td valign="top">
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>14</p>
</td>
<td valign="top">
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CGRect startFrame = endFrame;</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>15</p>
</td>
<td valign="top">
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>16</p>
</td>
<td valign="top">
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;startFrame.origin.y = visibleRect.origin.y - startFrame.size.height;</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>17</p>
</td>
<td valign="top">
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;view.frame = startFrame;</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>18</p>
</td>
<td valign="top">
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>19</p>
</td>
<td valign="top">
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>20</p>
</td>
<td valign="top">
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[UIView beginAnimations:@"drop" context:NULL];</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>21</p>
</td>
<td valign="top">
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[UIView setAnimationDuration:2];</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>22</p>
</td>
<td valign="top">
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>23</p>
</td>
<td valign="top">
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>24</p>
</td>
<td valign="top">
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;view.frame = endFrame;</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>25</p>
</td>
<td valign="top">
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[UIView commitAnimations];</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>26</p>
</td>
<td valign="top">
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;}</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>27</p>
</td>
<td valign="top">
<p>&nbsp;&nbsp;&nbsp;&nbsp;}</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>28</p>
</td>
<td valign="top">
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>29</p>
</td>
<td valign="top">
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>30</p>
</td>
<td valign="top">
<p>&nbsp;&nbsp;&nbsp;&nbsp;MKAnnotationView *annotationView = [views objectAtIndex:0];</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>31</p>
</td>
<td valign="top">
<p>&nbsp;&nbsp;&nbsp;&nbsp;id&lt;MKAnnotation&gt; mp = [annotationView annotation];</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>32</p>
</td>
<td valign="top">
<p>&nbsp;&nbsp;&nbsp;&nbsp;MKCoordinateRegion region = MKCoordinateRegionMakeWithDistance([mp coordinate] ,5000,5000);</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>33</p>
</td>
<td valign="top">
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>34</p>
</td>
<td valign="top">
<p>&nbsp;&nbsp;&nbsp;&nbsp;[mv setRegion:region animated:YES];</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>35</p>
</td>
<td valign="top">
<p>}</p>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<p>Now run the application and you will notice that the houses animates using the drop animation that we implemented in the didAddAnnotationViews method.&nbsp;</p>
<p>&nbsp;</p>
</div>
</div>
</div>