<h2><span style="color: #008080;">Obtaining Location Information</span></h2>
<p>Location information is passed through to the didUpdateLocation delegate method in the form of CLLocation objects. A CLLocation object encapsulates the following data:</p>
<ul>
<li>Latitude</li>
<li>Longitude</li>
<li>Horizontal Accuracy</li>
<li>Altitude</li>
<li>Altitude Accuracy</li>
</ul>
<p><strong>Longitude and Latitude</strong></p>
<p>Longitude and latitude values are stored as type CLLocationDegrees and may be obtained from a CLLocation object as follows:</p>
<p>CLLocationDegrees currentLatitude = location.coordinate.latitude;</p>
<p>CLLocationDegrees currentLongitude = location.coordinates.longitude;</p>
<p><strong>Accuracy</strong></p>
<p>Horizontal and vertical accuracy are stored in meters as CLLocationAccuracy values and may be accessed as follows:</p>
<p>CLLocationAccuracy verticalAccuracy = location.verticalAccuracy;</p>
<p>CLLocationAccuracy horizontalAccurcy = location.horizontalAccuracy;</p>
<p><strong>Altitude</strong></p>
<p>The altitude value is stored in meters as a type CLLocationDistance value and may be accessed from a CLLocation object as follows:</p>
<p>CLLocationDistance altitude = location.altitude;</p>