<h2><span style="color: #008080;">Coding for the Date Picker</span></h2>
<p><strong>See how to UIDatePicker implement programmatically in the code and display &nbsp;date on the screen. So let see how it will worked.</strong></p>
<p><strong>Step 1: </strong>Open a Xcode, Create a View base application. Give the application name&nbsp;&rdquo;DatePickerWithDate&rdquo;.</p>
<p><strong>Step 2:</strong> Xcode automatically creates the directory structure and adds essential frameworks to it. You can explore the directory structure to check out the content of the directory.</p>
<p><strong>Step 3: </strong>We need to add one background image in the project. Give the image name &ldquo;1.png&rdquo;.</p>
<p><strong>Step 4: </strong>Open the DatePickerWithDate.h file and create an instance of UIDatePicker class and&nbsp;&nbsp;UILabel class. So make the following changes in the file.</p>
<p>#import &lt;uikit/UIKit.h&gt;</p>
<p>@interface DatePickerWithDateViewController : UIViewController {</p>
<p>IBOutlet UIDatePicker *datePicker;</p>
<p>IBOutlet UILabel *datelabel;</p>
<p>}</p>
<p>@property(nonatomic,retain) UIDatePicker *datePicker;</p>
<p>@property(nonatomic,retain) IBOutlet UILabel *datelabel;</p>
<p>@end</p>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>1</p>
<p>2</p>
<p>3</p>
<p>4</p>
<p>5</p>
<p>6</p>
<p>7</p>
<p>8</p>
<p>9</p>
<p>10</p>
<p>11</p>
<p>12</p>
<p>13</p>
</td>
<td valign="top">
<p>#import &lt;uikit/UIKit.h&gt;</p>
<p>&nbsp;</p>
<p>@interface DatePickerWithDateViewController : UIViewController {</p>
<p>&nbsp;</p>
<p>IBOutlet UIDatePicker *datePicker;</p>
<p>IBOutlet UILabel *datelabel;</p>
<p>&nbsp;</p>
<p>}</p>
<p>&nbsp;</p>
<p>@property(nonatomic,retain) UIDatePicker *datePicker;</p>
<p>@property(nonatomic,retain) IBOutlet UILabel *datelabel;</p>
<p>&nbsp;</p>
<p>@end</p>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<p>&nbsp;<strong>Step 5:</strong> Double click the DatePickerWithDate.xib file open it to the Interface Builder. First drag the imageview from the library and place it to the view window. Select the view and bring up Attribute inspector and select the 1.png. Now save the .xib file save it and go back to the Xcode.</p>
<p><strong>Step 6: </strong>In the DatePickerWithDate.m file make the following changes in the file:</p>
<p>&nbsp;</p>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>1</p>
<p>2</p>
<p>3</p>
<p>4</p>
<p>5</p>
<p>6</p>
<p>7</p>
<p>8</p>
<p>9</p>
<p>10</p>
<p>11</p>
<p>12</p>
<p>13</p>
<p>14</p>
<p>15</p>
<p>16</p>
<p>17</p>
<p>18</p>
<p>19</p>
<p>20</p>
<p>21</p>
<p>22</p>
<p>23</p>
<p>24</p>
<p>25</p>
<p>26</p>
<p>27</p>
<p>28</p>
<p>29</p>
<p>30</p>
<p>31</p>
<p>32</p>
<p>33</p>
<p>34</p>
<p>35</p>
<p>36</p>
<p>37</p>
<p>38</p>
<p>39</p>
<p>40</p>
<p>41</p>
<p>42</p>
<p>43</p>
<p>44</p>
<p>45</p>
<p>46</p>
<p>47</p>
<p>48</p>
<p>49</p>
<p>50</p>
<p>51</p>
<p>52</p>
<p>53</p>
<p>54</p>
<p>55</p>
<p>56</p>
<p>57</p>
<p>58</p>
<p>59</p>
<p>60</p>
<p>61</p>
<p>62</p>
<p>63</p>
<p>64</p>
<p>65</p>
<p>66</p>
<p>67</p>
<p>68</p>
<p>69</p>
<p>70</p>
<p>71</p>
<p>72</p>
<p>73</p>
<p>74</p>
<p>75</p>
<p>76</p>
<p>77</p>
<p>78</p>
<p>79</p>
<p>80</p>
<p>81</p>
</td>
<td valign="top">
<p>#import "DatePickerWithDateViewController.h"</p>
<p>&nbsp;</p>
<p>@implementation DatePickerWithDateViewController</p>
<p>&nbsp;</p>
<p>@synthesize datePicker;</p>
<p>&nbsp;</p>
<p>@synthesize datelabel;</p>
<p>&nbsp;</p>
<p>- (void)dealloc</p>
<p>{</p>
<p>[super dealloc];</p>
<p>[datelabel release];</p>
<p>[datePicker release];</p>
<p>&nbsp;</p>
<p>}</p>
<p>&nbsp;</p>
<p>- (void)didReceiveMemoryWarning</p>
<p>{</p>
<p>// Releases the view if it doesn't have a superview.</p>
<p>[super didReceiveMemoryWarning];</p>
<p>&nbsp;</p>
<p>// Release any cached data, images, etc that aren't in use.</p>
<p>}</p>
<p>&nbsp;</p>
<p>#pragma mark - View lifecycle</p>
<p>&nbsp;</p>
<p>// Implement viewDidLoad to do additional setup after loading the view, typically from a nib.</p>
<p>- (void)viewDidLoad</p>
<p>{</p>
<p>[super viewDidLoad];</p>
<p>&nbsp;</p>
<p>datelabel = [[UILabel alloc] init];</p>
<p>datelabel.frame = CGRectMake(10, 200, 300, 40);</p>
<p>datelabel.backgroundColor = [UIColor clearColor];</p>
<p>datelabel.textColor = [UIColor whiteColor];</p>
<p>datelabel.font = [UIFont fontWithName:@"Verdana-Bold" size: 20.0];</p>
<p>datelabel.textAlignment = UITextAlignmentCenter;</p>
<p>&nbsp;</p>
<p>NSDateFormatter *df = [[NSDateFormatter alloc] init];</p>
<p>df.dateStyle = NSDateFormatterMediumStyle;</p>
<p>datelabel.text = [NSString stringWithFormat:@"%@",</p>
<p>[df stringFromDate:[NSDate date]]];</p>
<p>[df release];</p>
<p>[self.view addSubview:datelabel];</p>
<p>[datelabel release];</p>
<p>&nbsp;</p>
<p>datePicker = [[UIDatePicker alloc] initWithFrame:CGRectMake(0, 250, 325, 300)];</p>
<p>datePicker.datePickerMode = UIDatePickerModeDate;</p>
<p>datePicker.hidden = NO;</p>
<p>datePicker.date = [NSDate date];</p>
<p>&nbsp;</p>
<p>[datePicker addTarget:self</p>
<p>action:@selector(LabelChange:)</p>
<p>forControlEvents:UIControlEventValueChanged];</p>
<p>[self.view addSubview:datePicker];</p>
<p>&nbsp;</p>
<p>[datePicker release];</p>
<p>&nbsp;</p>
<p>}</p>
<p>&nbsp;</p>
<p>- (void)LabelChange:(id)sender{</p>
<p>NSDateFormatter *df = [[NSDateFormatter alloc] init];</p>
<p>df.dateStyle = NSDateFormatterMediumStyle;</p>
<p>datelabel.text = [NSString stringWithFormat:@"%@",</p>
<p>[df stringFromDate:datePicker.date]];</p>
<p>}</p>
<p>&nbsp;</p>
<p>- (void)viewDidUnload</p>
<p>{</p>
<p>[super viewDidUnload];</p>
<p>// Release any retained subviews of the main view.</p>
<p>// e.g. self.myOutlet = nil;</p>
<p>}</p>
<p>&nbsp;</p>
<p>- (BOOL)shouldAutorotateToInterfaceOrientation:(UIInterfaceOrientation)interfaceOrientation</p>
<p>{</p>
<p>// Return YES for supported orientations</p>
<p>return (interfaceOrientation == UIInterfaceOrientationPortrait);</p>
<p>}</p>
<p>&nbsp;</p>
<p>@end</p>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<p><strong>Step 7: </strong>Compile and run the application in the simulator.</p>
