<div class="page" title="Page 2">
<div class="layoutArea">
<div class="column">
<h2><span style="color: #008080;">Designing the UI</span></h2>
<p>Both the UIPickerView and UIDatePicker provide a user friendly approach to allowing a user to review and make selections from a wide range of options.&nbsp;</p>
<p>The DatePicker and PickerView Components</p>
<p>If you have used the iPhone&rsquo;s built-in calendar application then the chances are very good that you have also used an instance of the UIDatePicker class. This class provides a user friendly and intuitive way for the user of an application to make date and time selections. Figure 29-1 illustrates the appearance of a typical DatePicker component implementation:</p>
<p>The picker is composed of multiple wheels referred to as components each of which spins independently of the others. Each item on a wheel represents an option and is referred to as a row. A row in a component is deemed to be selected when it is positioned beneath the highlighted strip.The UIDatePicker component is a pre-configured class designed specifically for the selection of dates and times.&nbsp;</p>
<p>A DatePicker Example</p>
<p>By way of introduction to the concept of using pickers in an iOS 7 application we will begin with a very simple example that utilises the UIDatePicker class. The application will consist of a DatePicker, a label and a button. When the button is pressed by the user the date and time selected in the picker will be displayed on the label component. Begin by creating a new iOS project using the Single View Application template with the Devices menu set to iPhone and DatePicker entered for both the product name and class prefix.</p>
<p>Designing the User Interface</p>
<p>Select the Main.storyboard file and drag and drop the Date Picker, Label and Button components from the Object Library panel (View -&gt; Utilities -&gt; Show Object Library) onto the view and modify and position the layout so that the view resembles.</p>
<p>Select the Date Picker object in the view canvas, display the Assistant Editor panel and verify that the editor is displaying the contents of the DatePickerViewController.h file. Ctrl-click on the Date Picker object and drag to a position just below the @interface line in the Assistant Editor. Release the line and in the resulting connection dialog establish an outlet connection named datePicker. Repeat this step to connect the Label object to an outlet property named dateLabel.</p>
<p>Finally, Ctrl-click on the Button object, drag the line to the Assistant Editor panel and configure an Action connection on the Touch Up Inside event to a method named getSelection.</p>
<p>Coding the Date Picker Example Functionality</p>
<p>Now that the outlets and user interface have been implemented it is time to write the functional code that will make the application work. In actual fact, the only method that needs to be implemented for this simple example is the getSelection action method that is called when the user touches the button. The following code fragment outlines the required changes to the DatePickerViewController.m file:</p>
<p>#import "DatePickerViewController.h"</p>
<p>@interface DatePickerViewController ()</p>
<p>@end</p>
<p>@implementation DatePickerViewController</p>
<p>-(void)getSelection:(id)sender</p>
<p>{</p>
<p>&nbsp;&nbsp; NSLocale *usLocale = [[NSLocale alloc]</p>
<p>&nbsp;&nbsp; &nbsp; &nbsp; initWithLocaleIdentifier:@"en_US"];</p>
<p>&nbsp;</p>
<p>&nbsp;&nbsp; NSDate *pickerDate = [_datePicker date];</p>
<p>&nbsp;&nbsp; NSString *selectionString = [[NSString alloc]&nbsp;</p>
<p>&nbsp;&nbsp; &nbsp; &nbsp; initWithFormat:@"%@",</p>
<p>&nbsp;&nbsp; &nbsp; &nbsp; [pickerDate descriptionWithLocale:usLocale]];</p>
<p>&nbsp;&nbsp; _dateLabel.text = selectionString;</p>
<p>}</p>
<p>@end</p>
<p>The first task performed by the getLocation method involves the creation of an NSLocale object that will be used to configure the format of the date and time values when they are prepared for display.</p>
<p>Building and Running the Date Picker Application</p>
<p>Once the application project work is complete, click on the Run button located in the toolbar of the Xcode main project window. Once the application appears inside the iOS Simulator, select a date and time using the picker and then touch the Get Selection button. The label will update to reflect the selected date and time as shown in Figure 29-3.</p>