<h2><span style="color: #008080;">Hiding the Keyboard</span></h2>
<p>When the user of an iOS 7 app is required to enter data the keyboard automatically appears on the screen.The keyboard does not automatically go away when the user has finished typing.</p>
<p>If you have experience of using other iPhone or iPad apps you will have noticed that pressing the Return key on the keyboard or tapping anywhere on the background of the user interface usually causes the keyboard to recede from view. In actual fact, the developers of these applications had to write some code specifically to implement this functionality.</p>
<p>Creating the Example App</p>
<p>Now that we have the user interface designed, we need to create an outlet so that we can reference our text field from our view controller code. Within the main Xcode window, display the Assistant Editor, make sure it is displaying the contents of the HideKeyboardViewController.h file and Ctrl-click and drag from the text field object to a point below the @interface line in the Assistant Editor panel. In the resulting connection dialog, name the outlet textField and click on Connect. Select the HideKeyboardViewController.h file and verify that the outlet has been established correctly:</p>
<p>#import &lt;UIKit/UIKit.h&gt;</p>
<p>@interface HideKeyboardViewController&nbsp;: UIViewController&nbsp;</p>
<p>@property (strong, nonatomic) IBOutlet UITextField *textField;</p>
<p>@end</p>
<p>Hiding the Keyboard when the User Touches the Return Key</p>
<p>To wire up application so that the keyboard is dismissed when the user touches the keyboard Return key. To do so, we need to write a method that will resign the first responder on the text field when the return key is pressed.</p>
<p>Begin by editing the HideKeyboardViewController.h interface file to declare the method which we will name textFieldReturn:</p>
<p>#import &lt;UIKit/UIKit.h&gt;</p>
<p>@interface HideKeyboardViewController&nbsp;: UIViewController&nbsp;</p>
<p>&nbsp;</p>
<p>@property (strong, nonatomic) IBOutlet UITextField *textField;</p>
<p>-(IBAction)textFieldReturn:(id)sender;</p>
<p>@end&nbsp;</p>
<p>Having declared the method we now need to implement it in the HideKeyboardViewController.m implementation file:</p>
<p>#import "HideKeyboardViewController.h"</p>
<p>@interface HideKeyboardViewController ()</p>
<p>@end</p>
<p>@implementation HideKeyboardViewController</p>
<p>-(IBAction)textFieldReturn:(id)sender</p>
<p>{</p>
<p>&nbsp; &nbsp; [sender resignFirstResponder];</p>
<p>}</p>
<p>@end</p>
<p>In the above method we are making a call to the resignFirstResponder method of the object that triggered the event. The first responder is the object with which the user is currently interacting.</p>
<p>Having written the code for our method we now need to wire up our user interface so that it gets called at the appropriate time. We will perform this task in Interface Builder, so select the Main.storyboard file once more.</p>
<p>Select the text field in the view and display the Connections Inspector in the right hand panel. Click on the circle to the right of the Did End on Exit event, drag the line to the view controller icon located in the panel immediately beneath the view canvas in the Interface Builder.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>Figure 12-1</p>
<p>&nbsp;</p>
<p>Release the line and select the textFieldReturn method from the list of available methods in the resulting panel.</p>
<p>Click on the Run button in the Xcode toolbar. When the application appears in the iOS Simulator, select the text field so that the keyboard appears and then touch the Return key. The keyboard should subsequently disappear from view.</p>
<p>Hiding the Keyboard when the User Taps the Background</p>
<p>The second mechanism for hiding the keyboard involves wiring up an event to be called when the user touches the background view of the screen. To achieve this, we will implement the touchesBegan event handler method on the view controller. This method will need to check that the object being touched by the user is not the textField itself. The method will then simply call the resignFirstResponder method of the textField to hide the keyboard:</p>
<p>- (void)touchesBegan:(NSSet *)touches withEvent:(UIEvent *)event {</p>
<p>&nbsp;</p>
<p>&nbsp; &nbsp; UITouch *touch = [[event allTouches] anyObject];</p>
<p>&nbsp; &nbsp; if ([_textField isFirstResponder] &amp;&amp; [touch view]&nbsp;!= _textField) {</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; [_textField resignFirstResponder];</p>
<p>&nbsp; &nbsp; }</p>
<p>&nbsp; &nbsp; [super touchesBegan:touches withEvent:event];</p>
<p>}</p>
<p>Save the code and then build and run the application. When the iOS Simulator starts up, select the text field so that the keyboard appears. Touching any area of the background should cause the keyboard to disappear.</p>
<h2>&nbsp;</h2>
</div>
</div>
</div>