<div class="page" title="Page 2">
<div class="layoutArea">
<div class="column">
<h2><span style="color: #008080;">Designing the UI</span></h2>
<p>Both the UIPickerView and UIDatePicker provide a user friendly approach to allowing a user to review and make selections from a wide range of options.&nbsp;</p>
<p>The DatePicker and PickerView Components</p>
<p>If you have used the iPhone&rsquo;s built-in calendar application then the chances are very good that you have also used an instance of the UIDatePicker class. This class provides a user friendly and intuitive way for the user of an application to make date and time selections. Figure 29-1 illustrates the appearance of a typical DatePicker component implementation:</p>
<p>The picker is composed of multiple wheels referred to as components each of which spins independently of the others. Each item on a wheel represents an option and is referred to as a row. A row in a component is deemed to be selected when it is positioned beneath the highlighted strip.The UIDatePicker component is a pre-configured class designed specifically for the selection of dates and times.&nbsp;</p>
<p>A DatePicker Example</p>
<p>By way of introduction to the concept of using pickers in an iOS 7 application we will begin with a very simple example that utilises the UIDatePicker class. The application will consist of a DatePicker, a label and a button. When the button is pressed by the user the date and time selected in the picker will be displayed on the label component. Begin by creating a new iOS project using the Single View Application template with the Devices menu set to iPhone and DatePicker entered for both the product name and class prefix.</p>
<p>Designing the User Interface</p>
<p>Select the Main.storyboard file and drag and drop the Date Picker, Label and Button components from the Object Library panel (View -&gt; Utilities -&gt; Show Object Library) onto the view and modify and position the layout so that the view resembles.</p>
<p>Select the Date Picker object in the view canvas, display the Assistant Editor panel and verify that the editor is displaying the contents of the DatePickerViewController.h file. Ctrl-click on the Date Picker object and drag to a position just below the @interface line in the Assistant Editor. Release the line and in the resulting connection dialog establish an outlet connection named datePicker. Repeat this step to connect the Label object to an outlet property named dateLabel.</p>
<p>Finally, Ctrl-click on the Button object, drag the line to the Assistant Editor panel and configure an Action connection on the Touch Up Inside event to a method named getSelection.</p>
<p>Coding the Date Picker Example Functionality</p>
<p>Now that the outlets and user interface have been implemented it is time to write the functional code that will make the application work. In actual fact, the only method that needs to be implemented for this simple example is the getSelection action method that is called when the user touches the button. The following code fragment outlines the required changes to the DatePickerViewController.m file:</p>
<p>#import "DatePickerViewController.h"</p>
<p>@interface DatePickerViewController ()</p>
<p>@end</p>
<p>@implementation DatePickerViewController</p>
<p>-(void)getSelection:(id)sender</p>
<p>{</p>
<p>&nbsp;&nbsp; NSLocale *usLocale = [[NSLocale alloc]</p>
<p>&nbsp;&nbsp; &nbsp; &nbsp; initWithLocaleIdentifier:@"en_US"];</p>
<p>&nbsp;</p>
<p>&nbsp;&nbsp; NSDate *pickerDate = [_datePicker date];</p>
<p>&nbsp;&nbsp; NSString *selectionString = [[NSString alloc]&nbsp;</p>
<p>&nbsp;&nbsp; &nbsp; &nbsp; initWithFormat:@"%@",</p>
<p>&nbsp;&nbsp; &nbsp; &nbsp; [pickerDate descriptionWithLocale:usLocale]];</p>
<p>&nbsp;&nbsp; _dateLabel.text = selectionString;</p>
<p>}</p>
<p>@end</p>
<p>The first task performed by the getLocation method involves the creation of an NSLocale object that will be used to configure the format of the date and time values when they are prepared for display.</p>
<p>Building and Running the Date Picker Application</p>
<p>Once the application project work is complete, click on the Run button located in the toolbar of the Xcode main project window. Once the application appears inside the iOS Simulator, select a date and time using the picker and then touch the Get Selection button. The label will update to reflect the selected date and time as shown in Figure 29-3.</p>
<h2><span style="color: #008080;">Coding for the Date Picker</span></h2>
<p><strong>See how to UIDatePicker implement programmatically in the code and display &nbsp;date on the screen. So let see how it will worked.</strong></p>
<p><strong>Step 1: </strong>Open a Xcode, Create a View base application. Give the application name&nbsp;&rdquo;DatePickerWithDate&rdquo;.</p>
<p><strong>Step 2:</strong> Xcode automatically creates the directory structure and adds essential frameworks to it. You can explore the directory structure to check out the content of the directory.</p>
<p><strong>Step 3: </strong>We need to add one background image in the project. Give the image name &ldquo;1.png&rdquo;.</p>
<p><strong>Step 4: </strong>Open the DatePickerWithDate.h file and create an instance of UIDatePicker class and&nbsp;&nbsp;UILabel class. So make the following changes in the file.</p>
<p>#import &lt;uikit/UIKit.h&gt;</p>
<p>@interface DatePickerWithDateViewController : UIViewController {</p>
<p>IBOutlet UIDatePicker *datePicker;</p>
<p>IBOutlet UILabel *datelabel;</p>
<p>}</p>
<p>@property(nonatomic,retain) UIDatePicker *datePicker;</p>
<p>@property(nonatomic,retain) IBOutlet UILabel *datelabel;</p>
<p>@end</p>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>1</p>
<p>2</p>
<p>3</p>
<p>4</p>
<p>5</p>
<p>6</p>
<p>7</p>
<p>8</p>
<p>9</p>
<p>10</p>
<p>11</p>
<p>12</p>
<p>13</p>
</td>
<td valign="top">
<p>#import &lt;uikit/UIKit.h&gt;</p>
<p>&nbsp;</p>
<p>@interface DatePickerWithDateViewController : UIViewController {</p>
<p>&nbsp;</p>
<p>IBOutlet UIDatePicker *datePicker;</p>
<p>IBOutlet UILabel *datelabel;</p>
<p>&nbsp;</p>
<p>}</p>
<p>&nbsp;</p>
<p>@property(nonatomic,retain) UIDatePicker *datePicker;</p>
<p>@property(nonatomic,retain) IBOutlet UILabel *datelabel;</p>
<p>&nbsp;</p>
<p>@end</p>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<p>&nbsp;<strong>Step 5:</strong> Double click the DatePickerWithDate.xib file open it to the Interface Builder. First drag the imageview from the library and place it to the view window. Select the view and bring up Attribute inspector and select the 1.png. Now save the .xib file save it and go back to the Xcode.</p>
<p><strong>Step 6: </strong>In the DatePickerWithDate.m file make the following changes in the file:</p>
<p>&nbsp;</p>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<p>1</p>
<p>2</p>
<p>3</p>
<p>4</p>
<p>5</p>
<p>6</p>
<p>7</p>
<p>8</p>
<p>9</p>
<p>10</p>
<p>11</p>
<p>12</p>
<p>13</p>
<p>14</p>
<p>15</p>
<p>16</p>
<p>17</p>
<p>18</p>
<p>19</p>
<p>20</p>
<p>21</p>
<p>22</p>
<p>23</p>
<p>24</p>
<p>25</p>
<p>26</p>
<p>27</p>
<p>28</p>
<p>29</p>
<p>30</p>
<p>31</p>
<p>32</p>
<p>33</p>
<p>34</p>
<p>35</p>
<p>36</p>
<p>37</p>
<p>38</p>
<p>39</p>
<p>40</p>
<p>41</p>
<p>42</p>
<p>43</p>
<p>44</p>
<p>45</p>
<p>46</p>
<p>47</p>
<p>48</p>
<p>49</p>
<p>50</p>
<p>51</p>
<p>52</p>
<p>53</p>
<p>54</p>
<p>55</p>
<p>56</p>
<p>57</p>
<p>58</p>
<p>59</p>
<p>60</p>
<p>61</p>
<p>62</p>
<p>63</p>
<p>64</p>
<p>65</p>
<p>66</p>
<p>67</p>
<p>68</p>
<p>69</p>
<p>70</p>
<p>71</p>
<p>72</p>
<p>73</p>
<p>74</p>
<p>75</p>
<p>76</p>
<p>77</p>
<p>78</p>
<p>79</p>
<p>80</p>
<p>81</p>
</td>
<td valign="top">
<p>#import "DatePickerWithDateViewController.h"</p>
<p>&nbsp;</p>
<p>@implementation DatePickerWithDateViewController</p>
<p>&nbsp;</p>
<p>@synthesize datePicker;</p>
<p>&nbsp;</p>
<p>@synthesize datelabel;</p>
<p>&nbsp;</p>
<p>- (void)dealloc</p>
<p>{</p>
<p>[super dealloc];</p>
<p>[datelabel release];</p>
<p>[datePicker release];</p>
<p>&nbsp;</p>
<p>}</p>
<p>&nbsp;</p>
<p>- (void)didReceiveMemoryWarning</p>
<p>{</p>
<p>// Releases the view if it doesn't have a superview.</p>
<p>[super didReceiveMemoryWarning];</p>
<p>&nbsp;</p>
<p>// Release any cached data, images, etc that aren't in use.</p>
<p>}</p>
<p>&nbsp;</p>
<p>#pragma mark - View lifecycle</p>
<p>&nbsp;</p>
<p>// Implement viewDidLoad to do additional setup after loading the view, typically from a nib.</p>
<p>- (void)viewDidLoad</p>
<p>{</p>
<p>[super viewDidLoad];</p>
<p>&nbsp;</p>
<p>datelabel = [[UILabel alloc] init];</p>
<p>datelabel.frame = CGRectMake(10, 200, 300, 40);</p>
<p>datelabel.backgroundColor = [UIColor clearColor];</p>
<p>datelabel.textColor = [UIColor whiteColor];</p>
<p>datelabel.font = [UIFont fontWithName:@"Verdana-Bold" size: 20.0];</p>
<p>datelabel.textAlignment = UITextAlignmentCenter;</p>
<p>&nbsp;</p>
<p>NSDateFormatter *df = [[NSDateFormatter alloc] init];</p>
<p>df.dateStyle = NSDateFormatterMediumStyle;</p>
<p>datelabel.text = [NSString stringWithFormat:@"%@",</p>
<p>[df stringFromDate:[NSDate date]]];</p>
<p>[df release];</p>
<p>[self.view addSubview:datelabel];</p>
<p>[datelabel release];</p>
<p>&nbsp;</p>
<p>datePicker = [[UIDatePicker alloc] initWithFrame:CGRectMake(0, 250, 325, 300)];</p>
<p>datePicker.datePickerMode = UIDatePickerModeDate;</p>
<p>datePicker.hidden = NO;</p>
<p>datePicker.date = [NSDate date];</p>
<p>&nbsp;</p>
<p>[datePicker addTarget:self</p>
<p>action:@selector(LabelChange:)</p>
<p>forControlEvents:UIControlEventValueChanged];</p>
<p>[self.view addSubview:datePicker];</p>
<p>&nbsp;</p>
<p>[datePicker release];</p>
<p>&nbsp;</p>
<p>}</p>
<p>&nbsp;</p>
<p>- (void)LabelChange:(id)sender{</p>
<p>NSDateFormatter *df = [[NSDateFormatter alloc] init];</p>
<p>df.dateStyle = NSDateFormatterMediumStyle;</p>
<p>datelabel.text = [NSString stringWithFormat:@"%@",</p>
<p>[df stringFromDate:datePicker.date]];</p>
<p>}</p>
<p>&nbsp;</p>
<p>- (void)viewDidUnload</p>
<p>{</p>
<p>[super viewDidUnload];</p>
<p>// Release any retained subviews of the main view.</p>
<p>// e.g. self.myOutlet = nil;</p>
<p>}</p>
<p>&nbsp;</p>
<p>- (BOOL)shouldAutorotateToInterfaceOrientation:(UIInterfaceOrientation)interfaceOrientation</p>
<p>{</p>
<p>// Return YES for supported orientations</p>
<p>return (interfaceOrientation == UIInterfaceOrientationPortrait);</p>
<p>}</p>
<p>&nbsp;</p>
<p>@end</p>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<p><strong>Step 7: </strong>Compile and run the application in the simulator.</p>
<h2><span style="color: #008080;">Hiding the Keyboard</span></h2>
<p>When the user of an iOS 7 app is required to enter data the keyboard automatically appears on the screen.The keyboard does not automatically go away when the user has finished typing.</p>
<p>If you have experience of using other iPhone or iPad apps you will have noticed that pressing the Return key on the keyboard or tapping anywhere on the background of the user interface usually causes the keyboard to recede from view. In actual fact, the developers of these applications had to write some code specifically to implement this functionality.</p>
<p>Creating the Example App</p>
<p>Now that we have the user interface designed, we need to create an outlet so that we can reference our text field from our view controller code. Within the main Xcode window, display the Assistant Editor, make sure it is displaying the contents of the HideKeyboardViewController.h file and Ctrl-click and drag from the text field object to a point below the @interface line in the Assistant Editor panel. In the resulting connection dialog, name the outlet textField and click on Connect. Select the HideKeyboardViewController.h file and verify that the outlet has been established correctly:</p>
<p>#import &lt;UIKit/UIKit.h&gt;</p>
<p>@interface HideKeyboardViewController&nbsp;: UIViewController&nbsp;</p>
<p>@property (strong, nonatomic) IBOutlet UITextField *textField;</p>
<p>@end</p>
<p>Hiding the Keyboard when the User Touches the Return Key</p>
<p>To wire up application so that the keyboard is dismissed when the user touches the keyboard Return key. To do so, we need to write a method that will resign the first responder on the text field when the return key is pressed.</p>
<p>Begin by editing the HideKeyboardViewController.h interface file to declare the method which we will name textFieldReturn:</p>
<p>#import &lt;UIKit/UIKit.h&gt;</p>
<p>@interface HideKeyboardViewController&nbsp;: UIViewController&nbsp;</p>
<p>&nbsp;</p>
<p>@property (strong, nonatomic) IBOutlet UITextField *textField;</p>
<p>-(IBAction)textFieldReturn:(id)sender;</p>
<p>@end&nbsp;</p>
<p>Having declared the method we now need to implement it in the HideKeyboardViewController.m implementation file:</p>
<p>#import "HideKeyboardViewController.h"</p>
<p>@interface HideKeyboardViewController ()</p>
<p>@end</p>
<p>@implementation HideKeyboardViewController</p>
<p>-(IBAction)textFieldReturn:(id)sender</p>
<p>{</p>
<p>&nbsp; &nbsp; [sender resignFirstResponder];</p>
<p>}</p>
<p>@end</p>
<p>In the above method we are making a call to the resignFirstResponder method of the object that triggered the event. The first responder is the object with which the user is currently interacting.</p>
<p>Having written the code for our method we now need to wire up our user interface so that it gets called at the appropriate time. We will perform this task in Interface Builder, so select the Main.storyboard file once more.</p>
<p>Select the text field in the view and display the Connections Inspector in the right hand panel. Click on the circle to the right of the Did End on Exit event, drag the line to the view controller icon located in the panel immediately beneath the view canvas in the Interface Builder.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>Figure 12-1</p>
<p>&nbsp;</p>
<p>Release the line and select the textFieldReturn method from the list of available methods in the resulting panel.</p>
<p>Click on the Run button in the Xcode toolbar. When the application appears in the iOS Simulator, select the text field so that the keyboard appears and then touch the Return key. The keyboard should subsequently disappear from view.</p>
<p>Hiding the Keyboard when the User Taps the Background</p>
<p>The second mechanism for hiding the keyboard involves wiring up an event to be called when the user touches the background view of the screen. To achieve this, we will implement the touchesBegan event handler method on the view controller. This method will need to check that the object being touched by the user is not the textField itself. The method will then simply call the resignFirstResponder method of the textField to hide the keyboard:</p>
<p>- (void)touchesBegan:(NSSet *)touches withEvent:(UIEvent *)event {</p>
<p>&nbsp;</p>
<p>&nbsp; &nbsp; UITouch *touch = [[event allTouches] anyObject];</p>
<p>&nbsp; &nbsp; if ([_textField isFirstResponder] &amp;&amp; [touch view]&nbsp;!= _textField) {</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; [_textField resignFirstResponder];</p>
<p>&nbsp; &nbsp; }</p>
<p>&nbsp; &nbsp; [super touchesBegan:touches withEvent:event];</p>
<p>}</p>
<p>Save the code and then build and run the application. When the iOS Simulator starts up, select the text field so that the keyboard appears. Touching any area of the background should cause the keyboard to disappear.</p>
<h2>&nbsp;</h2>
</div>
</div>
</div>