<h2><span style="color: #008080;">Animation Curves</span></h2>
<p>In addition to specifying the duration of an animation sequence, the linearity of the animation timeline may also be defined by specifying an animation curve setting for the options argument of the animateWithDuration class method. This setting controls whether the animation is performed at a constant speed, whether it starts out slow and speeds up and so on. There are currently four possible animation curve settings:</p>
<ul>
<li><strong>UIViewAnimationCurveLinear</strong> &ndash; The animation is performed at constant speed for the specified duration and is the option declared in the above code example.</li>
<li><strong>UIViewAnimationCurveEaseOut</strong> &ndash; The animation starts out fast and slows as the end of the sequence approaches</li>
<li><strong>UIViewAnimationCurveEaseIn</strong> &ndash; The animation sequence starts out slow and speeds up as the end approaches.</li>
<li><strong>UIViewAnimationCurveEaseInOut</strong> &ndash; The animation starts slow, speeds up and then slows down again.</li>
</ul>
<p><strong>Receiving Notification of Animation Completion</strong></p>
<p>Once an animation sequence has been committed and is underway it may be necessary to receive notification when the animation is completed so that the application code can, for example, trigger another animation sequence. This can be achieved by adding a code block to the completion: argument of the animateWithDuration class method call.&nbsp;</p>
<p>[UIView animateWithDuration:3.0</p>
<p>&nbsp;&nbsp; &nbsp; &nbsp; delay: 5.0</p>
<p>&nbsp;&nbsp; &nbsp; &nbsp; options: UIViewAnimationOptionCurveLinear</p>
<p>&nbsp;&nbsp; &nbsp; &nbsp; animations:^{</p>
<p>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; _theButton.alpha = 0.0;</p>
<p>&nbsp;&nbsp; &nbsp; &nbsp; }</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; completion:^(BOOL finished){</p>
<p>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; [UIView animateWithDuration:3.0 animations:^{</p>
<p>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; _theButton.alpha = 1.0;</p>
<p>&nbsp;&nbsp; &nbsp; &nbsp; }];</p>
<p>&nbsp;&nbsp; }];</p>