<div class="page" title="Page 3">
<div class="layoutArea">
<div class="column">
<div class="page" title="Page 3">
<div class="layoutArea">
<div class="column">
<h2><span style="color: #008080;">Core Animation Blocks</span></h2>
<p>The majority of the visual effects used throughout the iOS 7 user interface are performed using Core Animation. Core Animation provides a simple mechanism for implementing basic animation within an iOS application. If you need a user interface element to gently fade in or out of view, slide smoothly across the screen or gracefully resize or rotate before the user&rsquo;s eyes, these effects can be achieved using Core Animation in just a few lines of code.</p>
<p>--Animation block methods are used to mark the beginning and end of a sequence of changes to the appearance of a UIView and its corresponding subviews. Once the end of the block is reached, the animation is performed over a specified duration.&nbsp;</p>
<p>theButton.alpha = 0;</p>
<p>Simply setting the alpha property to 0, however, causes the button to immediately become transparent. In order to make it fade out of sight gradually we need to place this line of code in a call to the animateWithDuration: animation block method as follows:</p>
<p>[UIView animateWithDuration:3.0 animations:^{</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; _theButton.alpha = 0.0;</p>
<p>}];</p>
<p>A variety of properties may also be defined within the animation block. For example, the start of the animation can be delayed using the delay argument of the animateWithDuration:delay:options:animations:completion method call. The following example delays the start of the 3 second fade out animation sequence by 5 seconds:</p>
<p>[UIView animateWithDuration:3.0</p>
<p>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; delay: 5.0</p>
<p>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; options: UIViewAnimationOptionCurveLinear</p>
<p>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; animations:^{</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; _theButton.alpha = 0.0;</p>
<p>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; }</p>
<p>&nbsp; completion:nil];</p>