h2><span style="color: #008080;">Transformations</span></h2>
<p><strong>Performing Affine Transformations</strong></p>
<p>Transformations allow changes to be made to the coordinate system of a screen area. This essentially allows the programmer to rotate, resize and translate a UIView object. A call is made to one of a number of transformation functions and the result assigned to the transform property of the UIView object.</p>
<p>For example, to change the scale of a UIView object named myView by a factor of 2 in both height and width:</p>
<p>myView.transform = CGAffineTransformMakeScale(2, 2);</p>
<p>Similarly, the UIView object may be rotated using the CGAffineTransformMakeRotation() function which takes as an argument the angle (in radians) by which the view is to be rotated. The following code, for example, rotates a view by 90 degrees:</p>
<p>myView.transform = CGAffineTransformMakeRotation( 90 * M_PI&nbsp; / 180);</p>
<p><strong>Combining Transformations</strong></p>
<p>Two transformations may be combined to create a single transformation effect via a call to the CGAffineTransformConcat() function. This function takes as arguments the two transformation objects that are to be combined:</p>
<p>CGAffineTransform scaleTrans =&nbsp;</p>
<p>&nbsp; &nbsp; &nbsp; CGAffineTransformMakeScale(2, 2);</p>
<p>CGAffineTransform rotateTrans =&nbsp;</p>
<p>&nbsp; &nbsp; &nbsp; CGAffineTransformMakeRotation(angle * M_PI / 180);</p>
<p>myView.transform = CGAffineTransformConcat(scaleTrans, rotateTrans);</p>
<p>Creating the Animation Example Application</p>
<p><strong>Implementing the Interface File</strong></p>
<p>For the purposes of this application we will need a UIView to represent the blue square and variables to contain the rotation angle and scale factor by which the square will be transformed. These need to be declared in the AnimateViewController.h file as follows:</p>
<p>#import &lt;UIKit/UIKit.h&gt;</p>
<p>@interface AnimateViewController&nbsp;: UIViewController</p>
<p>@property (nonatomic) float scaleFactor;</p>
<p>@property (nonatomic) float angle;</p>
<p>@property (strong, nonatomic) UIView *boxView;</p>
<p>@end</p>
<p><strong>Drawing in the UIView</strong></p>
<p>Having declared the UIView reference, we now need to initialize an instance object and draw a blue square located at a specific location on the screen. We also need to initialize our scaleFactor and angle variables and add boxView as a subview of the application&rsquo;s main view object. These tasks only need to be performed once when the application first starts up so a good option is use the viewDidLoad method in the AnimateViewController.m file:</p>
<p>- (void)viewDidLoad</p>
<p>{</p>
<p>&nbsp; &nbsp; [super viewDidLoad];</p>
<p>&nbsp; &nbsp; _scaleFactor = 2;</p>
<p>&nbsp; &nbsp; _angle = 180;</p>
<p>&nbsp; &nbsp; CGRect frameRect = CGRectMake(10, 10, 45, 45);</p>
<p>&nbsp; &nbsp; _boxView = [[UIView alloc] initWithFrame:frameRect];</p>
<p>&nbsp; &nbsp; _boxView.backgroundColor = [UIColor blueColor];</p>
<p>&nbsp; &nbsp; [self.view addSubview:_boxView];</p>
<p>}</p>
<p><strong>Detecting Screen Touches and Performing the Animation</strong></p>
<p>When the user touches the screen the blue box needs to move from its current location to the location of the touch. During this motion, the box will rotate 180 degrees and change in size. The detection of screen touches was covered in detail in An Overview of iOS 7 Multitouch, Taps and Gestures. For the purposes of this example we want to initiate the animation at the point that the user&rsquo;s finger is lifted from the screen so we need to implement the touchesEnded method in the animateViewController.m file:</p>
<p>-(void)touchesEnded:(NSSet *)touches withEvent:(UIEvent *)event</p>
<p>{</p>
<p>&nbsp;&nbsp; UITouch *touch = [touches anyObject];</p>
<p>&nbsp;&nbsp; CGPoint location = [touch locationInView:self.view];</p>
<p>&nbsp; &nbsp;[UIView animateWithDuration:2.0</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; delay:0.0</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; options:UIViewAnimationOptionCurveEaseInOut</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; animations:^{</p>
<p>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; CGAffineTransform scaleTrans =</p>
<p>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; CGAffineTransformMakeScale(_scaleFactor, _scaleFactor);</p>
<p>&nbsp;</p>
<p>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; CGAffineTransform rotateTrans =</p>
<p>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; CGAffineTransformMakeRotation(_angle * M_PI / 180);</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; _boxView.transform = CGAffineTransformConcat(scaleTrans,&nbsp;</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; rotateTrans);</p>
<p>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; _angle = (_angle == 180&nbsp;? 360&nbsp;: 180);</p>
<p>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; _scaleFactor = (_scaleFactor == 2&nbsp;? 1&nbsp;: 2);</p>
<p>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; _boxView.center = location;</p>
<p>&nbsp; &nbsp; } completion:nil];</p>
<p>}</p>
<p>Before compiling and running the application we need to take some time to describe the actions performed in the above method. First, the method gets the UITouch object from the touches argument and the locationInView method of this object is called to identify the location on the screen where the touch took place:</p>
<p>UITouch *touch = [touches anyObject];</p>
<p>CGPoint location = [touch locationInView:self.view];</p>
<p>The animation block class method is then called with an animation duration of 2 seconds and the curve set to ease in/ease out:</p>
<p>[UIView animateWithDuration:2.0</p>
<p>&nbsp;&nbsp; &nbsp; delay:0.0</p>
<p>&nbsp;&nbsp; &nbsp; options:UIViewAnimationOptionCurveEaseInOut</p>
<p>&nbsp;&nbsp; &nbsp; animations:^{</p>
<p>Two transformations are then generated for the view, one to scale the size of the view and one to rotate it 180 degrees. These transformations are then combined into a single transformation and applied to the UIView object:</p>
<p>CGAffineTransform scaleTrans =</p>
<p>&nbsp; CGAffineTransformMakeScale(_scaleFactor, _scaleFactor);</p>
<p>CGAffineTransform rotateTrans =&nbsp;</p>
<p>&nbsp; CGAffineTransformMakeRotation(_angle * M_PI / 180);</p>
<p>_boxView.transform = CGAffineTransformConcat(scaleTrans, rotateTrans);</p>
<p>Ternary operators are then used to switch the scale and rotation angle variables ready for the next touch. In other words, after rotating 180 degrees on the first touch the view will need to be rotated to 360 degrees on the next animation. Similarly, once the box has been scaled by a factor of 2 it needs to scale back to its original size on the next animation:</p>
<p>_angle = (_angle == 180&nbsp;? 360&nbsp;: 180);</p>
<p>_scaleFactor = (_scaleFactor == 2&nbsp;? 1&nbsp;: 2);</p>
<p>Finally, the location of the view is moved to the point on the screen where the touch occurred:</p>
<p>_boxView.center = location;</p>
<p>Once the touchesEnded method has been implemented it is time to try out the application.</p>
<p><strong>Building and Running the Animation Application</strong></p>
<p>Once all the code changes have been made and saved, click on the Run button in the Xcode toolbar. Once the application has compiled it will load into the iOS Simulator (refer to Testing Apps on iOS 7 Devices with Xcode 5 for steps on how to run the application on a physical iOS device).</p>
<p>When the application loads the blue square should appear near the top left hand corner of the screen. Click (or touch if running on a device) the screen and watch the box glide and rotate to the new location, the size of the box changing as it moves:</p>
</div>
</div>
</div>
</div>
</div>
</div>