<h2><span style="color: #008080;">Adding Scenes</span></h2>
<p>To add a second scene to the storyboard, simply drag a view controller object from the Object library panel onto the canvas.</p>
<p>Drag and drop a label and a button into the second scene and configure the objects so that the view appears as follows:</p>
<p>As many scenes as necessary may be added to the storyboard, but for the purposes of this exercise will we use just two scenes. Having implemented the scenes the next step is to configure segues between the scenes.</p>