<h2><span style="color: #008080;">Associating a View Controller with a Scene</span></h2>
<p>At this point in the example we have two scenes but only one view controller (the one created by Xcode when we selected Single View Application). Clearly in order to be able to add any functionality behind scene 2 it too will need a view controller. The first step, therefore, is to add the files for a view controller to the project. Ctrl-click on the Storyboard target at the top of the project navigator panel and select New File&hellip; from the resulting menu. In the new file panel select Objective-C class and click Next to proceed. On the options screen verify that the Subclass of menu is set to UIViewController and that the Targeted for iPad and With XIB for user interface options are both deselected (since the view already exists in the storyboard there is no need for an NIB user interface file) and name the class Scene2ViewContoller.</p>
<p>Select the MainStoryboard.storyboard file in the project navigator panel and select the View Controller button located in the panel beneath the Scene 2 view as shown in Figure 21-7:</p>
<p>With the view controller for scene 2 selected within the storyboard canvas, display the Identity Inspector (<em>View -&gt; Utilities -&gt; Identity Inspector</em>) and change the Class from UIViewController to Scene2ViewController:</p>
<p>Scene 2 now has a view controller and corresponding source files where code may be written to implement any required functionality.</p>
<p>Select the label object in scene 2 and display the Assistant Editor. Make sure that the Scene2ViewController.h file is displayed in the editor and then establish an outlet for the label named scene2Label.</p>