<h2><span style="color: #008080;">Configuring Storyboard Transitions</span></h2>
<p><span style="color: #008080;">Xcode provides the option to change the visual appearance of the transition that takes place during a segue. By default a Cover Vertical transition is performed whereby the new scene slides vertically upwards from the bottom of the view to cover the currently displayed scene. To change the transition, select the corresponding segue line, display the attributes inspector (<em>View -&gt; Utilities -&gt; Show Attributes Inspector</em>) and modify the Transition setting. In Figure 21-6 the transition has been changed to Cross Dissolve.</span></p>
<p>If animation is not required during the transition, turn off the Animates option. To delete a segue from a storyboard simply select the arrow and press the keyboard delete key.</p>
<p>Compile and run the application. Note that touching the &ldquo;Go to Scene 1&rdquo; button causes Scene 2 to appear.</p>