<h2><span style="color: #008080;">Passing Data Between Scenes</span></h2>
<p>One of the most common requirements when working with storyboards involves the transfer of data from one scene to another during a segue transition. This is achieved using the prepareForSegue: method.</p>
<p>Before a segue is performed by the storyboard runtime environment, a call is made to the prepareForSegue: method of the current view controller. If any tasks need to be performed prior to the segue taking place simply implement this method in the current view controller and add code to perform any necessary tasks. Passed as an argument to this method is a segue object from which a reference to the destination view controller may be obtained and subsequently used to transfer data.</p>
<p>To see this in action, begin by selecting Scene2ViewController.h and adding a new data property:</p>
<pre>#import &lt;UIKit/UIKit.h&gt;

@interface Scene2ViewController&nbsp;: UIViewController
@property (strong, nonatomic) IBOutlet UILabel *scene2Label;
@property (strong, nonatomic) NSString *labelText;
@end
</pre>
<p>This property will hold the text to be displayed on the label when the storyboard transitions to this scene. As such, some code needs to be added to the viewDidLoad: method located in the Scene2ViewController.m file:</p>
<pre>- (void)viewDidLoad
{
    [super viewDidLoad];
    _scene2Label.text = _labelText;
}
</pre>
<p>Next, select the StoryboardViewController.h file and import the header file for the Scene2ViewController class:</p>
<pre>#import &lt;UIKit/UIKit.h&gt;
#import "Scene2ViewController.h"

@interface StoryboardViewController&nbsp;: UIViewController
@property (strong, nonatomic) IBOutlet UIButton *scene1Label;

@end
</pre>
<p>Finally, select the StoryboardViewController.m file and implement the segue methods as follows:</p>
<pre>-(void)prepareForSegue:(UIStoryboardSegue *)segue sender:(id)sender
{
    Scene2ViewController *destination = 
                  [segue destinationViewController];

    destination.labelText = @"Arrived from Scene 1";
}
</pre>
<p>All this method does is obtain a reference to the destination view controller and then assigns a string to the labelText property of the object so that it appears on the label.</p>
<p>Compile and run the application once again and note that when scene 2 is displayed the new label text appears. We have, albeit using a very simple example, transferred data from one scene to the next.</p>