<h2><span style="color: #008080;">Unwinding Storyboard Segues</span></h2>
<p>ntroduced in 2012 with iOS 6, Unwind Segues give you a way to &ldquo;unwind&rdquo; the navigation stack and specify a destination to go back to. The first time you use them, they can be confusing. In fact&nbsp;there&rsquo;s no other UI feature of iOS development that has caused more discussion in our office than Unwind Segues. In this post, I&rsquo;ll help you understand the fundamentals.</p>
<p>&nbsp;</p>
<p>Ever since I noticed the strange &ldquo;Exit&rdquo; outlet show up in Xcode, I&rsquo;ve wondered what it did. Most people probably did what I did the first time they saw it. I Ctrl-draged from a button to the &ldquo;Exit&rdquo; outlet and nothing happened. This is the beginning of the confusion for new developers. How do I get the &ldquo;Exit&rdquo; outlet to do anything?</p>
<p>I&rsquo;m going to setup a simple example of three UIViewControllers in a UINavigationController.</p>
<p>&nbsp;</p>
<p>I put a &ldquo;Next&rdquo; button on each view controller that goes from 1 to 3 in order. To do this I used &ldquo;Show&rdquo; or &ldquo;Push&rdquo; Segues as you normally would to go from one view controller to the next. I want to create an Unwind Segue that goes from 3 all the way to 1.&nbsp;I placed a &ldquo;Home&rdquo; button on UIViewController #3. When pressed, I want it to unwind all the way to #1.</p>
<p><strong>Enable Unwind Segues&nbsp;</strong></p>
<p>To enable the Unwind Segue you need to add some code first. There are two things confusing about this:</p>
<ul>
<li>It&rsquo;s backwards. Normally when you create an action outlet for a button, Interface Builder will create the code for you. &nbsp;In this case Ctrl-dragging from the &ldquo;Home&rdquo; button to the &ldquo;Exit&rdquo; outlet is expecting code to already be in your project.</li>
<li>Normally when you create an action outlet for a button, it puts the code in the same class that owns the button. For Unwind Segues, you need to put the code in the destination view controller. In my simple example the code needs to go in view controller #1 even though the button that is executing the segue is in #3.</li>
</ul>
<p>So let&rsquo;s look at what code we need to write for our Unwind Segue. I assigned a custom class for UIViewController #1 and added the following function:</p>
<p><strong>OBJECTIVE-C</strong></p>
<p>-(IBAction)prepareForUnwind:(UIStoryboardSegue *)segue {</p>
<p>}</p>
<p>The signature of this function is key to Interface Builder recognizing it. It must have a return value of IBAction and take one parameter of UIStoryboardSegue*. The name of the function does not matter. In fact, the function does not even have to do anything. It&rsquo;s just there as a marker of which UIViewController is the destination of the Unwind Segue. Of course, you could put code in this function if you wanted to. You can inspect the identifier of the segue or access the source view controller and get at any properties you may need. The source view controller in my case would be #3.</p>
<p>Now that I have the code in place, I can return to Interface Builder and add our Unwind Segue.</p>
<p><strong>Adding the Unwind Segue in Interface Builder</strong></p>
<p>&nbsp;</p>
<p>This time when you Ctrl-drag from the &ldquo;Home&rdquo; button to the &ldquo;Exit&rdquo; outlet, you will see a modal popup.</p>
<p>Interface Builder will search every UIViewController class in your project for functions with that particular signature and list them all in the pop-up. Select the function that we just added in the previous step.&nbsp;</p>
<p>Now you will see the unwind segue added to the #3 view controller:</p>
<p>&nbsp;</p>
<p>And that&rsquo;s all that it takes to get a simple Unwind Segue working. When you press the &ldquo;Home&rdquo; button, the runtime will walk the navigation stack backwards until it finds a UIViewController that implements the function I selected as my Unwind Segue Action (prepareForUnwind) and it will transition to that view controller.</p>
<p>&nbsp;</p>
<h2><span id="Triggering_a_Storyboard_Segue_Programmatically" class="mw-headline">Triggering a Storyboard Segue Programmatically</span></h2>
<p>In addition to wiring up controls in scenes to trigger a segue, it is also possible to initiate a preconfigured segue from within the application code. This can be achieved by assigning an identifier to the segue and then making a call to the performSegueWithIdentifier: method of the view controller from which the segue is to be triggered.</p>
<p>To set the identifier of a segue, select it in the storyboard canvas, display the Attribute Inspector (<em>View -&gt; Utilities -&gt; Show Attribute Inspector</em>) and set the value in the Identifier field.</p>
<p>Assuming a segue with the identifier of SegueToScene1, this could be triggered from within code as follows:</p>
<pre>[self performSegueWithIdentifier: @"SegueToScene1" 
             sender: self];</pre>