<h2><span style="color: #008080;">Completion Blocks</span></h2>
<p><strong>1) Define your own completion block,</strong></p>
<pre class="lang-c prettyprint prettyprinted"><code><span class="kwd">typedef</span> <span class="kwd">void</span><span class="pun">(^</span><span class="pln">myCompletion</span><span class="pun">)(</span><span class="pln">BOOL</span><span class="pun">);</span></code></pre>
<p><strong>2) Create a method which takes your completion block as a parameter,</strong></p>
<pre class="lang-c prettyprint prettyprinted"><code><span class="pun">-(</span><span class="kwd">void</span><span class="pun">)</span><span class="pln"> myMethod</span><span class="pun">:(</span><span class="pln">myCompletion</span><span class="pun">)</span><span class="pln"> compblock</span><span class="pun">{</span>
    <span class="com">//do stuff</span><span class="pln">
    compblock</span><span class="pun">(</span><span class="pln">YES</span><span class="pun">);</span>
<span class="pun">}</span></code></pre>
<p><strong>3)This is how you use it,</strong></p>
<pre class="lang-c prettyprint prettyprinted"><code><span class="pun">[</span><span class="pln">self myMethod</span><span class="pun">:^(</span><span class="pln">BOOL finished</span><span class="pun">)</span> <span class="pun">{</span>
    <span class="kwd">if</span><span class="pun">(</span><span class="pln">finished</span><span class="pun">){</span>
        <span class="typ">NSLog</span><span class="pun">(@</span><span class="str">"success"</span><span class="pun">);</span>
    <span class="pun">}</span>
<span class="pun">}];</span></code></pre>
<p><code><span class="pun">&nbsp;</span></code></p>
