<div class="page" title="Page 3">
<div class="layoutArea">
<div class="column">
<h2><span style="color: #008080;">Grand Central Dispatch (GCD)</span></h2>
<p><strong>Grand Central Dispatch</strong> (<strong>GCD</strong>) is a technology developed by <a href="https://en.wikipedia.org/wiki/Apple_Inc.">Apple Inc.</a> to optimize application support for systems with <a href="https://en.wikipedia.org/wiki/Multi-core_(computing)">multi-core</a> processors and other <a href="https://en.wikipedia.org/wiki/Symmetric_multiprocessing">symmetric multiprocessing</a> systems.<sup>[2]</sup> It is an implementation of <a href="https://en.wikipedia.org/wiki/Task_parallelism">task parallelism</a> based on the <a href="https://en.wikipedia.org/wiki/Thread_pool_pattern">thread pool pattern</a>. The fundamental idea is to move the management of the thread pool out of the hands of the developer, and closer to the operating system. The developer injects "work packages" into the pool oblivious of the pool's architecture. This model improves simplicity, portability and performance.</p>
<p><strong>Services Integration&nbsp;</strong></p>
<p>At some point in your iOS development career, you will have the need to interact with a web service from within your app. You may need to access remote data, parse a social network feed, or even download some assets into your application. This quick tip will teach you to do so without using third party libraries!</p>
<p>more</p>
<p>There are some incredible third party libraries out there to help facilitate web service interactions, including ASIHTTPRequest, AFNetworking, and RESTKit. While these libraries are incredibly useful, sometimes they are a little bit overkill. They add quite a bit of unneeded code bloat to an app via extra variables in memory, and also modify your workflow to adjust to the workflow of each library.</p>
<p><strong>Fetching Remote Data</strong></p>
<p>In iOS versions prior to 4, it was quite a pain to fetch data asynchronously. You usually had to create a full blown class dedicated to making requests and then another to parse and use the responses. With Grand Central Dispatch (GCD), you can now do this inline and keep your code short and clean. Here you will see some code that fetches a remote JSON document from the web:</p>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="baseline">
<p>01</p>
<p>02</p>
<p>03</p>
<p>04</p>
<p>05</p>
<p>06</p>
<p>07</p>
<p>08</p>
<p>09</p>
<p>10</p>
</td>
<td valign="baseline">
<p>dispatch_queue_t queue = dispatch_get_global_queue(DISPATCH_QUEUE_PRIORITY_DEFAULT, 0);</p>
<p>&nbsp;</p>
<p>dispatch_async(queue, ^{</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;NSError *error = nil;</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;NSURL *url = [NSURL URLWithString:@"<a href="http://brandontreb.com/apps/pocket-mud-pro/promo.json">http://brandontreb.com/apps/pocket-mud-pro/promo.json</a>"];</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;NSString *json = [NSString stringWithContentsOfURL:url</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; encoding:NSASCIIStringEncoding</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; error:&amp;error];</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;NSLog(@"\nJSON: %@ \n Error: %@", json, error);</p>
<p>});</p>
</td>
</tr>
</tbody>
</table>
<p>This code starts by fetching one of Apple's three dispatch queues that you are able to use for asynchronous execution and runs a block on the queue with default priority. You could just as easily have created your own queue. Either way, this allows our code to run in a separate thread from the main thread through the power of Grand Central Dispatch (GCD).</p>
<p>We then build the URL and stick it into the stringWithContentsOfURL:encoding:error: method of NSString to fetch the JSON data. Finally, the return string gets printed out along with the error (if there is one).</p>
<p>This approach is very rapid, but doesn't give you a ton of control. Although you know what an error might be, it doesn't allow you to specify a timeout in the event of an error. The default timeout is somewhere around 30 seconds. If you want some additional control over timeout and such, replace the string method with an NSURLConnection.</p>
<h2><span style="color: #008080;">Serial and Concurrent Queues</span></h2>
<p>A simple example: you have a block that takes a minute to execute. You add it to a queue from the main thread. Let's look at the four cases.</p>
<ul>
<li>async - concurrent: the code runs on a background thread. Control returns immediately to the main thread (and UI). The block can't assume that it's the only block running on that queue</li>
<li>async - serial: the code runs on a background thread. Control returns immediately to the main thread. The block&nbsp;<em>can</em>&nbsp;assume that it's the only block running on that queue</li>
<li>sync - concurrent: the code runs on a background thread but the main thread waits for it to finish, blocking any updates to the UI. The block can't assume that it's the only block running on that queue (I could have added another block using async a few seconds previously)</li>
<li>sync - serial: the code runs on a background thread but the main thread waits for it to finish, blocking any updates to the UI. The block&nbsp;<em>can</em>&nbsp;assume that it's the only block running on that queue</li>
</ul>
<p>Obviously you wouldn't use either of the last two for long running processes. You normally see it when you're trying to update the UI (always on the main thread) from something that may be running on another thread.</p>
<h2><span style="color: #008080;">Main Dispatch Queue</span></h2>
<p>Dispatching a block to the main queue is usually done from a background queue to signal that some background processing has finished e.g.</p>
<pre class="default prettyprint prettyprinted"><code><span class="pun">-</span> <span class="pun">(</span><span class="kwd">void</span><span class="pun">)</span><span class="pln">doCalculation
</span><span class="pun">{</span>
    <span class="com">//you can use any string instead "com.mycompany.myqueue"</span>
    <span class="typ">dispatch_queue_t</span><span class="pln"> backgroundQueue </span><span class="pun">=</span><span class="pln"> dispatch_queue_create</span><span class="pun">(</span><span class="str">"com.mycompany.myqueue"</span><span class="pun">,</span> <span class="lit">0</span><span class="pun">);</span><span class="pln">

    dispatch_async</span><span class="pun">(</span><span class="pln">backgroundQueue</span><span class="pun">,</span> <span class="pun">^{</span>
        <span class="kwd">int</span><span class="pln"> result </span><span class="pun">=</span> <span class="pun">&lt;</span><span class="pln">some really </span><span class="kwd">long</span><span class="pln"> calculation that takes seconds to complete</span><span class="pun">&gt;;</span><span class="pln">

        dispatch_async</span><span class="pun">(</span><span class="pln">dispatch_get_main_queue</span><span class="pun">(),</span> <span class="pun">^{</span>
            <span class="pun">[</span><span class="kwd">self</span><span class="pln"> updateMyUIWithResult</span><span class="pun">:</span><span class="pln">result</span><span class="pun">];</span>
        <span class="pun">});</span>    
    <span class="pun">});</span>
<span class="pun">}</span></code></pre>
<p>In this case, we are doing a lengthy calculation on a background queue and need to update our UI when the calculation is complete. Updating UI normally has to be done from the main queue so we 'signal' back to the main queue using a second nested dispatch_async.</p>
<p>There are probably other examples where you might want to dispatch back to the main queue but it is generally done in this way i.e. nested from within a block dispatched to a background queue.</p>
<ul>
<li>background processing finished -&gt; update UI</li>
<li>chunk of data processed on background queue -&gt; signal main queue to start next chunk</li>
<li>incoming network data on background queue -&gt; signal main queue that message has arrived</li>
<li>etc etc</li>
</ul>
<p>As to why you might want to dispatch to the main queue&nbsp;<em>from</em>&nbsp;the main queue... Well, you generally wouldn't although conceivably you might do it to schedule some work to do the next time around the run loop.</p>