<h2><span style="color: #008080;">Operation Queues</span></h2>
<h1><a class="question-hyperlink" href="http://stackoverflow.com/questions/19569244/nsoperation-and-nsoperationqueue-working-thread-vs-main-thread">NSOperation and NSOperationQueue working thread vs main thread</a></h1>
<blockquote>
<p>My question is whether the database write operation occur in main thread or in a background thread?</p>
</blockquote>
<p>If you create an&nbsp;<code>NSOperationQueue</code>&nbsp;from scratch as in:</p>
<pre class="lang-c prettyprint prettyprinted"><code><span class="typ">NSOperationQueue</span> <span class="pun">*</span><span class="pln">myQueue </span><span class="pun">=</span> <span class="pun">[[</span><span class="typ">NSOperationQueue</span><span class="pln"> alloc</span><span class="pun">]</span><span class="pln"> init</span><span class="pun">];</span></code></pre>
<p>It will be in a background thread:</p>
<blockquote>
<p>Operation queues usually provide the threads used to run their operations. In OS X v10.6 and later, operation queues use the libdispatch library (also known as Grand Central Dispatch) to initiate the execution of their operations.&nbsp;<strong>As a result, operations are always executed on a separate thread</strong>, regardless of whether they are designated as concurrent or non-concurrent operations</p>
</blockquote>
<p>Unless you are using the&nbsp;<code>mainQueue</code>:</p>
<pre class="lang-c prettyprint prettyprinted"><code><span class="typ">NSOperationQueue</span> <span class="pun">*</span><span class="pln">mainQueue </span><span class="pun">=</span> <span class="pun">[</span><span class="typ">NSOperationQueue</span><span class="pln"> mainQueue</span><span class="pun">];</span></code></pre>
<p>You can also see code like this:</p>
<pre class="lang-c prettyprint prettyprinted"><code><span class="typ">NSOperationQueue</span> <span class="pun">*</span><span class="pln">myQueue </span><span class="pun">=</span> <span class="pun">[[</span><span class="typ">NSOperationQueue</span><span class="pln"> alloc</span><span class="pun">]</span><span class="pln"> init</span><span class="pun">];</span>
<span class="pun">[</span><span class="pln">myQueue addOperationWithBlock</span><span class="pun">:^{</span>

   <span class="com">// Background work</span>

    <span class="pun">[[</span><span class="typ">NSOperationQueue</span><span class="pln"> mainQueue</span><span class="pun">]</span><span class="pln"> addOperationWithBlock</span><span class="pun">:^{</span>
        <span class="com">// Main thread work (UI usually)</span>
    <span class="pun">}];</span>
<span class="pun">}];</span></code></pre>
<p>And the GCD version:</p>
<pre class="lang-c prettyprint prettyprinted"><code><span class="pln">dispatch_async</span><span class="pun">(</span><span class="pln">dispatch_get_global_queue</span><span class="pun">(</span><span class="pln"> DISPATCH_QUEUE_PRIORITY_DEFAULT</span><span class="pun">,</span> <span class="lit">0</span><span class="pun">),</span> <span class="pun">^(</span><span class="kwd">void</span><span class="pun">)</span>
             <span class="pun">{</span>
              <span class="com">// Background work            </span><span class="pln">
             dispatch_async</span><span class="pun">(</span><span class="pln">dispatch_get_main_queue</span><span class="pun">(),</span> <span class="pun">^(</span><span class="kwd">void</span><span class="pun">)</span>
              <span class="pun">{</span>
                   <span class="com">// Main thread work (UI usually)                          </span>
              <span class="pun">});</span>
<span class="pun">});</span></code></pre>
<p><code>NSOperationQueue</code>&nbsp;gives finer control with what you want to do. You can create dependencies between the two operations (download and save to database). To pass the data between one block and the other, you can assume for example, that a&nbsp;<code>NSData</code>&nbsp;will be coming from the server so:</p>
<pre class="lang-c prettyprint prettyprinted"><code><span class="pln">__block </span><span class="typ">NSData</span> <span class="pun">*</span><span class="pln">dataFromServer </span><span class="pun">=</span><span class="pln"> nil</span><span class="pun">;</span>
<span class="typ">NSBlockOperation</span> <span class="pun">*</span><span class="pln">downloadOperation </span><span class="pun">=</span> <span class="pun">[[</span><span class="typ">NSBlockOperation</span><span class="pln"> alloc</span><span class="pun">]</span><span class="pln"> init</span><span class="pun">];</span><span class="pln">
__weak </span><span class="typ">NSBlockOperation</span> <span class="pun">*</span><span class="pln">weakDownloadOperation </span><span class="pun">=</span><span class="pln"> downloadOperation</span><span class="pun">;</span>

<span class="pun">[</span><span class="pln">weakDownloadOperation addExecutionBlock</span><span class="pun">:^{</span>
 <span class="com">// Download your stuff  </span>
 <span class="com">// Finally put it on the right place: </span><span class="pln">
 dataFromServer </span><span class="pun">=</span> <span class="pun">....</span>
 <span class="pun">}];</span>

<span class="typ">NSBlockOperation</span> <span class="pun">*</span><span class="pln">saveToDataBaseOperation </span><span class="pun">=</span> <span class="pun">[[</span><span class="typ">NSBlockOperation</span><span class="pln"> alloc</span><span class="pun">]</span><span class="pln"> init</span><span class="pun">];</span><span class="pln">
__weak </span><span class="typ">NSBlockOperation</span> <span class="pun">*</span><span class="pln">weakSaveToDataBaseOperation </span><span class="pun">=</span><span class="pln"> saveToDataBaseOperation</span><span class="pun">;</span>

 <span class="pun">[</span><span class="pln">weakSaveToDataBaseOperation addExecutionBlock</span><span class="pun">:^{</span>
 <span class="com">// Work with your NSData instance</span>
 <span class="com">// Save your stuff</span>
 <span class="pun">}];</span>

<span class="pun">[</span><span class="pln">saveToDataBaseOperation addDependency</span><span class="pun">:</span><span class="pln">downloadOperation</span><span class="pun">];</span>

<span class="pun">[</span><span class="pln">myQueue addOperation</span><span class="pun">:</span><span class="pln">saveToDataBaseOperation</span><span class="pun">];</span>
<span class="pun">[</span><span class="pln">myQueue addOperation</span><span class="pun">:</span><span class="pln">downloadOperation</span><span class="pun">];</span></code></pre>
<p><strong>Edit:</strong>&nbsp;Why I am using&nbsp;<code>__weak</code>&nbsp;reference for the Operations, can be found&nbsp;<a href="http://conradstoll.com/blog/2013/1/19/blocks-operations-and-retain-cycles.html">here</a>. But in a nutshell is to avoid retain cycles.</p>
<p>&nbsp;</p>
<h1><a class="question-hyperlink" href="http://stackoverflow.com/questions/10373331/nsoperation-vs-grand-central-dispatch">NSOperation vs Grand Central Dispatch</a></h1>
<p><code>GCD</code>&nbsp;is a low-level C-based API that enables very simple use of a task-based concurrency model.&nbsp;<code>NSOperation</code>&nbsp;and&nbsp;<code>NSOperationQueue</code>&nbsp;are Objective-C classes that do a similar thing.&nbsp;<code>NSOperation</code>&nbsp;was introduced first, but as of 10.6 and iOS 4,&nbsp;<code>NSOperationQueue</code>&nbsp;and friends are internally implemented using&nbsp;<code>GCD</code>.</p>
<p>In general, you should use the highest level of abstraction that suits your needs. This means that you should usually use&nbsp;<code>NSOperationQueue</code>&nbsp;instead of&nbsp;<code>GCD</code>, unless you need to do something that&nbsp;<code>NSOperationQueue</code>&nbsp;doesn't support.</p>
<p>Note that&nbsp;<code>NSOperationQueue</code>&nbsp;isn't a "dumbed-down" version of GCD; in fact, there are many things that you can do very simply with&nbsp;<code>NSOperationQueue</code>&nbsp;that take a lot of work with pure&nbsp;<code>GCD</code>. (Examples: bandwidth-constrained queues that only run N operations at a time; establishing dependencies between operations. Both very simple with&nbsp;<code>NSOperation</code>, very difficult with&nbsp;<code>GCD</code>.) Apple's done the hard work of leveraging GCD to create a very nice object-friendly API with&nbsp;<code>NSOperation</code>. Take advantage of their work unless you have a reason not to.</p>
<p><strong>Caveat</strong>: On the other hand, if you really just need to send off a block, and don't need any of the additional functionality that&nbsp;<code>NSOperationQueue</code>&nbsp;provides, there's nothing wrong with using GCD. Just be sure it's the right tool for the job.</p>
<p>&nbsp;</p>
<p>&nbsp;alternate</p>
<p>Threading is hard in any language. And what is worse, when it goes wrong, it usually goes wrong in a very bad way. Because of this, programmers either avoid threading completely (and refer to it as the spawn of the devil) or spend a LOT of time making sure that everything is perfect.</p>
<p>Fortunately, Apple has made a lot of progress in OS X 10.5 Leopard. NSThread itself has received a number of very useful new methods that make threading easier. In addition, they have introduced two new objects: NSOperation and NSOperationQueue.<br /><span id="more-4"></span><br />In this Tutorial I will walk through a basic example that shows how to use these new Objects and how they make multi-threading your application nearly trivial.</p>
<blockquote>
<p>You can get the example project here:&nbsp;<a title="Async Downloader Example Project" href="http://www.cimgf.com/wp-content/uploads/2008/02/asyncdownloader.zip">Async Downloader Example Project</a></p>
</blockquote>
<p>In this tutorial, I will demonstrate one way in which to use NSOperation and NSOperationQueue to handle tasks that are best performed on background threads. The intent of this tutorial is to demonstrate a basic use of these classes and is not intentioned to be the&nbsp;<em>only</em>&nbsp;way to use them.</p>
<p>If you are familiar with Java, or one of its variants, the NSOperation object is very similar to the java.lang.Runnable interface. Like, in Java&rsquo;s Runnable interface, the NSOperation object is designed to be extended. Also like Java&rsquo;s Runnable, there is a minimum of one method to override. For NSOperation that method is -(void)main. One of the easiest ways to use an NSOperation is to load it into an NSOperationQueue. As soon as the operation is loaded into the queue, the queue will kick it off and begin processing. As soon as the operation is complete the queue will release it.</p>
<h2>NSOperation Example</h2>
<p>In this example, I have written an NSOperation that fetches a webpage as a string, parses it into an NSXMLDocument and then passes that NSXMLDocument back to the main thread in the application before completing.</p>
<p><strong>PageLoadOperation.h</strong></p>
<div id="crayon-586620c4677f2655164082" class="crayon-syntax crayon-theme-classic crayon-font-monaco crayon-os-mac print-yes notranslate" data-settings=" minimize scroll-mouseover">
<div class="crayon-plain-wrap">&nbsp;</div>
<div class="crayon-main">
<table class="crayon-table">
<tbody>
<tr class="crayon-row">
<td class="crayon-nums " data-settings="show">
<div class="crayon-nums-content">
<div class="crayon-num" data-line="crayon-586620c4677f2655164082-1">1</div>
<div class="crayon-num crayon-striped-num" data-line="crayon-586620c4677f2655164082-2">2</div>
<div class="crayon-num" data-line="crayon-586620c4677f2655164082-3">3</div>
<div class="crayon-num crayon-striped-num" data-line="crayon-586620c4677f2655164082-4">4</div>
<div class="crayon-num" data-line="crayon-586620c4677f2655164082-5">5</div>
<div class="crayon-num crayon-striped-num" data-line="crayon-586620c4677f2655164082-6">6</div>
<div class="crayon-num" data-line="crayon-586620c4677f2655164082-7">7</div>
<div class="crayon-num crayon-striped-num" data-line="crayon-586620c4677f2655164082-8">8</div>
<div class="crayon-num" data-line="crayon-586620c4677f2655164082-9">9</div>
<div class="crayon-num crayon-striped-num" data-line="crayon-586620c4677f2655164082-10">10</div>
<div class="crayon-num" data-line="crayon-586620c4677f2655164082-11">11</div>
<div class="crayon-num crayon-striped-num" data-line="crayon-586620c4677f2655164082-12">12</div>
</div>
</td>
<td class="crayon-code">
<div class="crayon-pre">
<div id="crayon-586620c4677f2655164082-1" class="crayon-line"><span class="crayon-p">#import &lt;Cocoa/Cocoa.h&gt;</span></div>
<div id="crayon-586620c4677f2655164082-2" class="crayon-line crayon-striped-line">&nbsp;</div>
<div id="crayon-586620c4677f2655164082-3" class="crayon-line">&nbsp;</div>
<div id="crayon-586620c4677f2655164082-4" class="crayon-line crayon-striped-line"><span class="crayon-st">@interface</span><span class="crayon-e "> PageLoadOperation </span><span class="crayon-v">: NSOperation</span> <span class="crayon-sy">{</span></div>
<div id="crayon-586620c4677f2655164082-5" class="crayon-line"><span class="crayon-h">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="crayon-t">NSURL</span> <span class="crayon-v">*targetURL</span><span class="crayon-sy">;</span></div>
<div id="crayon-586620c4677f2655164082-6" class="crayon-line crayon-striped-line"><span class="crayon-sy">}</span></div>
<div id="crayon-586620c4677f2655164082-7" class="crayon-line">&nbsp;</div>
<div id="crayon-586620c4677f2655164082-8" class="crayon-line crayon-striped-line"><span class="crayon-st">@property</span><span class="crayon-sy">(</span><span class="crayon-r">retain</span><span class="crayon-sy">)</span> <span class="crayon-t">NSURL</span> <span class="crayon-v">*targetURL</span><span class="crayon-sy">;</span></div>
<div id="crayon-586620c4677f2655164082-9" class="crayon-line">&nbsp;</div>
<div id="crayon-586620c4677f2655164082-10" class="crayon-line crayon-striped-line"><span class="crayon-o">-</span> <span class="crayon-sy">(</span><span class="crayon-t">id</span><span class="crayon-sy">)</span><span class="crayon-e ">initWithURL</span><span class="crayon-o">:</span><span class="crayon-sy">(</span><span class="crayon-t">NSURL</span><span class="crayon-t ">*</span><span class="crayon-sy">)</span><span class="crayon-v">url</span><span class="crayon-sy">;</span></div>
<div id="crayon-586620c4677f2655164082-11" class="crayon-line">&nbsp;</div>
<div id="crayon-586620c4677f2655164082-12" class="crayon-line crayon-striped-line"><span class="crayon-st">@end</span></div>
</div>
</td>
</tr>
</tbody>
</table>
</div>
</div>
<p>&nbsp;</p>
<p><strong>PageLoadOperation.m</strong></p>
<div id="crayon-586620c467800353007562" class="crayon-syntax crayon-theme-classic crayon-font-monaco crayon-os-mac print-yes notranslate" data-settings=" minimize scroll-mouseover">
<div class="crayon-plain-wrap">&nbsp;</div>
<div class="crayon-main">
<table class="crayon-table">
<tbody>
<tr class="crayon-row">
<td class="crayon-nums " data-settings="show">
<div class="crayon-nums-content">
<div class="crayon-num" data-line="crayon-586620c467800353007562-1">1</div>
<div class="crayon-num crayon-striped-num" data-line="crayon-586620c467800353007562-2">2</div>
<div class="crayon-num" data-line="crayon-586620c467800353007562-3">3</div>
<div class="crayon-num crayon-striped-num" data-line="crayon-586620c467800353007562-4">4</div>
<div class="crayon-num" data-line="crayon-586620c467800353007562-5">5</div>
<div class="crayon-num crayon-striped-num" data-line="crayon-586620c467800353007562-6">6</div>
<div class="crayon-num" data-line="crayon-586620c467800353007562-7">7</div>
<div class="crayon-num crayon-striped-num" data-line="crayon-586620c467800353007562-8">8</div>
<div class="crayon-num" data-line="crayon-586620c467800353007562-9">9</div>
<div class="crayon-num crayon-striped-num" data-line="crayon-586620c467800353007562-10">10</div>
<div class="crayon-num" data-line="crayon-586620c467800353007562-11">11</div>
<div class="crayon-num crayon-striped-num" data-line="crayon-586620c467800353007562-12">12</div>
<div class="crayon-num" data-line="crayon-586620c467800353007562-13">13</div>
<div class="crayon-num crayon-striped-num" data-line="crayon-586620c467800353007562-14">14</div>
<div class="crayon-num" data-line="crayon-586620c467800353007562-15">15</div>
<div class="crayon-num crayon-striped-num" data-line="crayon-586620c467800353007562-16">16</div>
<div class="crayon-num" data-line="crayon-586620c467800353007562-17">17</div>
<div class="crayon-num crayon-striped-num" data-line="crayon-586620c467800353007562-18">18</div>
<div class="crayon-num" data-line="crayon-586620c467800353007562-19">19</div>
<div class="crayon-num crayon-striped-num" data-line="crayon-586620c467800353007562-20">20</div>
<div class="crayon-num" data-line="crayon-586620c467800353007562-21">21</div>
<div class="crayon-num crayon-striped-num" data-line="crayon-586620c467800353007562-22">22</div>
<div class="crayon-num" data-line="crayon-586620c467800353007562-23">23</div>
<div class="crayon-num crayon-striped-num" data-line="crayon-586620c467800353007562-24">24</div>
<div class="crayon-num" data-line="crayon-586620c467800353007562-25">25</div>
<div class="crayon-num crayon-striped-num" data-line="crayon-586620c467800353007562-26">26</div>
<div class="crayon-num" data-line="crayon-586620c467800353007562-27">27</div>
<div class="crayon-num crayon-striped-num" data-line="crayon-586620c467800353007562-28">28</div>
<div class="crayon-num" data-line="crayon-586620c467800353007562-29">29</div>
<div class="crayon-num crayon-striped-num" data-line="crayon-586620c467800353007562-30">30</div>
<div class="crayon-num" data-line="crayon-586620c467800353007562-31">31</div>
<div class="crayon-num crayon-striped-num" data-line="crayon-586620c467800353007562-32">32</div>
<div class="crayon-num" data-line="crayon-586620c467800353007562-33">33</div>
<div class="crayon-num crayon-striped-num" data-line="crayon-586620c467800353007562-34">34</div>
<div class="crayon-num" data-line="crayon-586620c467800353007562-35">35</div>
<div class="crayon-num crayon-striped-num" data-line="crayon-586620c467800353007562-36">36</div>
<div class="crayon-num" data-line="crayon-586620c467800353007562-37">37</div>
<div class="crayon-num crayon-striped-num" data-line="crayon-586620c467800353007562-38">38</div>
</div>
</td>
<td class="crayon-code">
<div class="crayon-pre">
<div id="crayon-586620c467800353007562-1" class="crayon-line"><span class="crayon-p">#import "PageLoadOperation.h"</span></div>
<div id="crayon-586620c467800353007562-2" class="crayon-line crayon-striped-line"><span class="crayon-p">#import "AppDelegate.h"</span></div>
<div id="crayon-586620c467800353007562-3" class="crayon-line">&nbsp;</div>
<div id="crayon-586620c467800353007562-4" class="crayon-line crayon-striped-line"><span class="crayon-st">@implementation</span> <span class="crayon-t">PageLoadOperation</span></div>
<div id="crayon-586620c467800353007562-5" class="crayon-line">&nbsp;</div>
<div id="crayon-586620c467800353007562-6" class="crayon-line crayon-striped-line"><span class="crayon-st">@synthesize</span> <span class="crayon-v">targetURL</span><span class="crayon-sy">;</span></div>
<div id="crayon-586620c467800353007562-7" class="crayon-line">&nbsp;</div>
<div id="crayon-586620c467800353007562-8" class="crayon-line crayon-striped-line"><span class="crayon-o">-</span> <span class="crayon-sy">(</span><span class="crayon-t">id</span><span class="crayon-sy">)</span><span class="crayon-e ">initWithURL</span><span class="crayon-o">:</span><span class="crayon-sy">(</span><span class="crayon-t">NSURL</span><span class="crayon-t ">*</span><span class="crayon-sy">)</span><span class="crayon-v">url</span><span class="crayon-sy">;</span></div>
<div id="crayon-586620c467800353007562-9" class="crayon-line"><span class="crayon-sy">{</span></div>
<div id="crayon-586620c467800353007562-10" class="crayon-line crayon-striped-line"><span class="crayon-h">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="crayon-st">if</span> <span class="crayon-sy">(</span><span class="crayon-o">!</span><span class="crayon-sy">[</span><span class="crayon-r">super</span> <span class="crayon-v">init</span><span class="crayon-sy">]</span><span class="crayon-sy">)</span> <span class="crayon-st">return</span> <span class="crayon-t">nil</span><span class="crayon-sy">;</span></div>
<div id="crayon-586620c467800353007562-11" class="crayon-line"><span class="crayon-h">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="crayon-sy">[</span><span class="crayon-r">self</span><span class="crayon-e "> setTargetURL</span><span class="crayon-v">:url</span><span class="crayon-sy">]</span><span class="crayon-sy">;</span></div>
<div id="crayon-586620c467800353007562-12" class="crayon-line crayon-striped-line"><span class="crayon-h">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="crayon-st">return</span> <span class="crayon-r">self</span><span class="crayon-sy">;</span></div>
<div id="crayon-586620c467800353007562-13" class="crayon-line"><span class="crayon-sy">}</span></div>
<div id="crayon-586620c467800353007562-14" class="crayon-line crayon-striped-line">&nbsp;</div>
<div id="crayon-586620c467800353007562-15" class="crayon-line"><span class="crayon-o">-</span> <span class="crayon-sy">(</span><span class="crayon-t">void</span><span class="crayon-sy">)</span><span class="crayon-v">dealloc</span> <span class="crayon-sy">{</span></div>
<div id="crayon-586620c467800353007562-16" class="crayon-line crayon-striped-line"><span class="crayon-h">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="crayon-sy">[</span><span class="crayon-e">targetURL </span><span class="crayon-r">release</span><span class="crayon-sy">]</span><span class="crayon-sy">,</span> <span class="crayon-v">targetURL</span> <span class="crayon-o">=</span> <span class="crayon-t">nil</span><span class="crayon-sy">;</span></div>
<div id="crayon-586620c467800353007562-17" class="crayon-line"><span class="crayon-h">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="crayon-sy">[</span><span class="crayon-r">super</span> <span class="crayon-v">dealloc</span><span class="crayon-sy">]</span><span class="crayon-sy">;</span></div>
<div id="crayon-586620c467800353007562-18" class="crayon-line crayon-striped-line"><span class="crayon-sy">}</span></div>
<div id="crayon-586620c467800353007562-19" class="crayon-line">&nbsp;</div>
<div id="crayon-586620c467800353007562-20" class="crayon-line crayon-striped-line"><span class="crayon-o">-</span> <span class="crayon-sy">(</span><span class="crayon-t">void</span><span class="crayon-sy">)</span><span class="crayon-v">main</span> <span class="crayon-sy">{</span></div>
<div id="crayon-586620c467800353007562-21" class="crayon-line"><span class="crayon-h">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="crayon-t">NSString</span> <span class="crayon-v">*webpageString</span> <span class="crayon-o">=</span> <span class="crayon-sy">[</span><span class="crayon-sy">[</span><span class="crayon-sy">[</span><span class="crayon-t">NSString</span> <span class="crayon-r">alloc</span><span class="crayon-sy">]</span><span class="crayon-e "> initWithContentsOfURL</span><span class="crayon-o">:</span><span class="crayon-sy">[</span><span class="crayon-r">self</span> <span class="crayon-v">targetURL</span><span class="crayon-sy">]</span><span class="crayon-sy">]</span><span class="crayon-e "> autorelease</span><span class="crayon-sy">]</span><span class="crayon-sy">;</span></div>
<div id="crayon-586620c467800353007562-22" class="crayon-line crayon-striped-line">&nbsp;</div>
<div id="crayon-586620c467800353007562-23" class="crayon-line"><span class="crayon-h">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="crayon-t">NSError</span> <span class="crayon-v">*error</span> <span class="crayon-o">=</span> <span class="crayon-t">nil</span><span class="crayon-sy">;</span></div>
<div id="crayon-586620c467800353007562-24" class="crayon-line crayon-striped-line"><span class="crayon-h">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="crayon-t">NSXMLDocument</span> <span class="crayon-v">*document</span> <span class="crayon-o">=</span> <span class="crayon-sy">[</span><span class="crayon-sy">[</span><span class="crayon-t">NSXMLDocument</span> <span class="crayon-r">alloc</span><span class="crayon-sy">]</span><span class="crayon-e "> initWithXMLString</span><span class="crayon-v">:webpageString</span></div>
<div id="crayon-586620c467800353007562-25" class="crayon-line"><span class="crayon-e ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;options</span><span class="crayon-v">:NSXMLDocumentTidyHTML</span></div>
<div id="crayon-586620c467800353007562-26" class="crayon-line crayon-striped-line"><span class="crayon-e ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;error</span><span class="crayon-o">:</span><span class="crayon-o">&amp;</span><span class="crayon-v">error</span><span class="crayon-sy">]</span><span class="crayon-sy">;</span></div>
<div id="crayon-586620c467800353007562-27" class="crayon-line"><span class="crayon-h">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="crayon-st">if</span> <span class="crayon-sy">(</span><span class="crayon-o">!</span><span class="crayon-v">document</span><span class="crayon-sy">)</span> <span class="crayon-sy">{</span></div>
<div id="crayon-586620c467800353007562-28" class="crayon-line crayon-striped-line"><span class="crayon-h">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="crayon-t">NSLog</span><span class="crayon-sy">(</span><span class="crayon-s">@"%s Error loading document (%@): %@"</span><span class="crayon-sy">,</span> <span class="crayon-v">_cmd</span><span class="crayon-sy">,</span> <span class="crayon-sy">[</span><span class="crayon-sy">[</span><span class="crayon-r">self</span> <span class="crayon-v">targetURL</span><span class="crayon-sy">]</span><span class="crayon-e "> absoluteString</span><span class="crayon-sy">]</span><span class="crayon-sy">,</span> <span class="crayon-v">error</span><span class="crayon-sy">)</span><span class="crayon-sy">;</span></div>
<div id="crayon-586620c467800353007562-29" class="crayon-line"><span class="crayon-h">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="crayon-st">return</span><span class="crayon-sy">;</span></div>
<div id="crayon-586620c467800353007562-30" class="crayon-line crayon-striped-line"><span class="crayon-h">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="crayon-sy">}</span></div>
<div id="crayon-586620c467800353007562-31" class="crayon-line">&nbsp;</div>
<div id="crayon-586620c467800353007562-32" class="crayon-line crayon-striped-line"><span class="crayon-h">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="crayon-sy">[</span><span class="crayon-sy">[</span><span class="crayon-t">AppDelegate</span> <span class="crayon-v">shared</span><span class="crayon-sy">]</span><span class="crayon-e "> performSelectorOnMainThread</span><span class="crayon-o">:</span><span class="crayon-st">@selector</span><span class="crayon-sy">(</span><span class="crayon-e ">pageLoaded</span><span class="crayon-o">:</span><span class="crayon-sy">)</span></div>
<div id="crayon-586620c467800353007562-33" class="crayon-line"><span class="crayon-e ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; withObject</span><span class="crayon-v">:document</span></div>
<div id="crayon-586620c467800353007562-34" class="crayon-line crayon-striped-line"><span class="crayon-e ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;waitUntilDone</span><span class="crayon-v">:YES</span><span class="crayon-sy">]</span><span class="crayon-sy">;</span></div>
<div id="crayon-586620c467800353007562-35" class="crayon-line"><span class="crayon-h">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="crayon-sy">[</span><span class="crayon-e">document </span><span class="crayon-r">release</span><span class="crayon-sy">]</span><span class="crayon-sy">;</span></div>
<div id="crayon-586620c467800353007562-36" class="crayon-line crayon-striped-line"><span class="crayon-sy">}</span></div>
<div id="crayon-586620c467800353007562-37" class="crayon-line">&nbsp;</div>
<div id="crayon-586620c467800353007562-38" class="crayon-line crayon-striped-line"><span class="crayon-st">@end</span></div>
</div>
</td>
</tr>
</tbody>
</table>
</div>
</div>
<p>&nbsp;</p>
<p>As you can see, this class is very simple. It accepts a URL in the init and stores it. When the main method is called it constructs a string from the URL and then passes that string into the init of an NSXMLDocument. If there is no error with the loading of the xml document, it is then passed back to the AppDelegate, on the main thread, and the task is complete. When the main method of the NSOperation ends the queue will automatically release the object.</p>
<p><strong>AppDelegate.h</strong></p>
<div id="crayon-586620c467808646361180" class="crayon-syntax crayon-theme-classic crayon-font-monaco crayon-os-mac print-yes notranslate" data-settings=" minimize scroll-mouseover">
<div class="crayon-plain-wrap">&nbsp;</div>
<div class="crayon-main">
<table class="crayon-table">
<tbody>
<tr class="crayon-row">
<td class="crayon-nums " data-settings="show">
<div class="crayon-nums-content">
<div class="crayon-num" data-line="crayon-586620c467808646361180-1">1</div>
<div class="crayon-num crayon-striped-num" data-line="crayon-586620c467808646361180-2">2</div>
<div class="crayon-num" data-line="crayon-586620c467808646361180-3">3</div>
<div class="crayon-num crayon-striped-num" data-line="crayon-586620c467808646361180-4">4</div>
<div class="crayon-num" data-line="crayon-586620c467808646361180-5">5</div>
<div class="crayon-num crayon-striped-num" data-line="crayon-586620c467808646361180-6">6</div>
<div class="crayon-num" data-line="crayon-586620c467808646361180-7">7</div>
<div class="crayon-num crayon-striped-num" data-line="crayon-586620c467808646361180-8">8</div>
<div class="crayon-num" data-line="crayon-586620c467808646361180-9">9</div>
<div class="crayon-num crayon-striped-num" data-line="crayon-586620c467808646361180-10">10</div>
</div>
</td>
<td class="crayon-code">
<div class="crayon-pre">
<div id="crayon-586620c467808646361180-1" class="crayon-line"><span class="crayon-p">#import &lt;Cocoa/Cocoa.h&gt;</span></div>
<div id="crayon-586620c467808646361180-2" class="crayon-line crayon-striped-line">&nbsp;</div>
<div id="crayon-586620c467808646361180-3" class="crayon-line"><span class="crayon-st">@interface</span><span class="crayon-e "> AppDelegate </span><span class="crayon-v">: NSObject</span> <span class="crayon-sy">{</span></div>
<div id="crayon-586620c467808646361180-4" class="crayon-line crayon-striped-line"><span class="crayon-t">NSOperationQueue</span> <span class="crayon-v">*queue</span><span class="crayon-sy">;</span></div>
<div id="crayon-586620c467808646361180-5" class="crayon-line"><span class="crayon-sy">}</span></div>
<div id="crayon-586620c467808646361180-6" class="crayon-line crayon-striped-line">&nbsp;</div>
<div id="crayon-586620c467808646361180-7" class="crayon-line"><span class="crayon-o">+</span> <span class="crayon-sy">(</span><span class="crayon-t">id</span><span class="crayon-sy">)</span><span class="crayon-v">shared</span><span class="crayon-sy">;</span></div>
<div id="crayon-586620c467808646361180-8" class="crayon-line crayon-striped-line"><span class="crayon-o">-</span> <span class="crayon-sy">(</span><span class="crayon-t">void</span><span class="crayon-sy">)</span><span class="crayon-e ">pageLoaded</span><span class="crayon-o">:</span><span class="crayon-sy">(</span><span class="crayon-t">NSXMLDocument</span><span class="crayon-t ">*</span><span class="crayon-sy">)</span><span class="crayon-v">document</span><span class="crayon-sy">;</span></div>
<div id="crayon-586620c467808646361180-9" class="crayon-line">&nbsp;</div>
<div id="crayon-586620c467808646361180-10" class="crayon-line crayon-striped-line"><span class="crayon-st">@end</span></div>
</div>
</td>
</tr>
</tbody>
</table>
</div>
</div>
<p>&nbsp;</p>
<p><strong>AppDelegate.m</strong></p>
<p>&nbsp;</p>
<div id="crayon-586620c46780e215018960" class="crayon-syntax crayon-theme-classic crayon-font-monaco crayon-os-mac print-yes notranslate" data-settings=" minimize scroll-mouseover">
<div class="crayon-plain-wrap">&nbsp;</div>
<div class="crayon-main">
<table class="crayon-table">
<tbody>
<tr class="crayon-row">
<td class="crayon-nums " data-settings="show">
<div class="crayon-nums-content">
<div class="crayon-num" data-line="crayon-586620c46780e215018960-1">1</div>
<div class="crayon-num crayon-striped-num" data-line="crayon-586620c46780e215018960-2">2</div>
<div class="crayon-num" data-line="crayon-586620c46780e215018960-3">3</div>
<div class="crayon-num crayon-striped-num" data-line="crayon-586620c46780e215018960-4">4</div>
<div class="crayon-num" data-line="crayon-586620c46780e215018960-5">5</div>
<div class="crayon-num crayon-striped-num" data-line="crayon-586620c46780e215018960-6">6</div>
<div class="crayon-num" data-line="crayon-586620c46780e215018960-7">7</div>
<div class="crayon-num crayon-striped-num" data-line="crayon-586620c46780e215018960-8">8</div>
<div class="crayon-num" data-line="crayon-586620c46780e215018960-9">9</div>
<div class="crayon-num crayon-striped-num" data-line="crayon-586620c46780e215018960-10">10</div>
<div class="crayon-num" data-line="crayon-586620c46780e215018960-11">11</div>
<div class="crayon-num crayon-striped-num" data-line="crayon-586620c46780e215018960-12">12</div>
<div class="crayon-num" data-line="crayon-586620c46780e215018960-13">13</div>
<div class="crayon-num crayon-striped-num" data-line="crayon-586620c46780e215018960-14">14</div>
<div class="crayon-num" data-line="crayon-586620c46780e215018960-15">15</div>
<div class="crayon-num crayon-striped-num" data-line="crayon-586620c46780e215018960-16">16</div>
<div class="crayon-num" data-line="crayon-586620c46780e215018960-17">17</div>
<div class="crayon-num crayon-striped-num" data-line="crayon-586620c46780e215018960-18">18</div>
<div class="crayon-num" data-line="crayon-586620c46780e215018960-19">19</div>
<div class="crayon-num crayon-striped-num" data-line="crayon-586620c46780e215018960-20">20</div>
<div class="crayon-num" data-line="crayon-586620c46780e215018960-21">21</div>
<div class="crayon-num crayon-striped-num" data-line="crayon-586620c46780e215018960-22">22</div>
<div class="crayon-num" data-line="crayon-586620c46780e215018960-23">23</div>
<div class="crayon-num crayon-striped-num" data-line="crayon-586620c46780e215018960-24">24</div>
<div class="crayon-num" data-line="crayon-586620c46780e215018960-25">25</div>
<div class="crayon-num crayon-striped-num" data-line="crayon-586620c46780e215018960-26">26</div>
<div class="crayon-num" data-line="crayon-586620c46780e215018960-27">27</div>
<div class="crayon-num crayon-striped-num" data-line="crayon-586620c46780e215018960-28">28</div>
<div class="crayon-num" data-line="crayon-586620c46780e215018960-29">29</div>
<div class="crayon-num crayon-striped-num" data-line="crayon-586620c46780e215018960-30">30</div>
<div class="crayon-num" data-line="crayon-586620c46780e215018960-31">31</div>
<div class="crayon-num crayon-striped-num" data-line="crayon-586620c46780e215018960-32">32</div>
<div class="crayon-num" data-line="crayon-586620c46780e215018960-33">33</div>
<div class="crayon-num crayon-striped-num" data-line="crayon-586620c46780e215018960-34">34</div>
<div class="crayon-num" data-line="crayon-586620c46780e215018960-35">35</div>
<div class="crayon-num crayon-striped-num" data-line="crayon-586620c46780e215018960-36">36</div>
<div class="crayon-num" data-line="crayon-586620c46780e215018960-37">37</div>
<div class="crayon-num crayon-striped-num" data-line="crayon-586620c46780e215018960-38">38</div>
<div class="crayon-num" data-line="crayon-586620c46780e215018960-39">39</div>
<div class="crayon-num crayon-striped-num" data-line="crayon-586620c46780e215018960-40">40</div>
<div class="crayon-num" data-line="crayon-586620c46780e215018960-41">41</div>
<div class="crayon-num crayon-striped-num" data-line="crayon-586620c46780e215018960-42">42</div>
<div class="crayon-num" data-line="crayon-586620c46780e215018960-43">43</div>
<div class="crayon-num crayon-striped-num" data-line="crayon-586620c46780e215018960-44">44</div>
<div class="crayon-num" data-line="crayon-586620c46780e215018960-45">45</div>
<div class="crayon-num crayon-striped-num" data-line="crayon-586620c46780e215018960-46">46</div>
<div class="crayon-num" data-line="crayon-586620c46780e215018960-47">47</div>
<div class="crayon-num crayon-striped-num" data-line="crayon-586620c46780e215018960-48">48</div>
<div class="crayon-num" data-line="crayon-586620c46780e215018960-49">49</div>
<div class="crayon-num crayon-striped-num" data-line="crayon-586620c46780e215018960-50">50</div>
<div class="crayon-num" data-line="crayon-586620c46780e215018960-51">51</div>
<div class="crayon-num crayon-striped-num" data-line="crayon-586620c46780e215018960-52">52</div>
<div class="crayon-num" data-line="crayon-586620c46780e215018960-53">53</div>
<div class="crayon-num crayon-striped-num" data-line="crayon-586620c46780e215018960-54">54</div>
<div class="crayon-num" data-line="crayon-586620c46780e215018960-55">55</div>
<div class="crayon-num crayon-striped-num" data-line="crayon-586620c46780e215018960-56">56</div>
<div class="crayon-num" data-line="crayon-586620c46780e215018960-57">57</div>
<div class="crayon-num crayon-striped-num" data-line="crayon-586620c46780e215018960-58">58</div>
</div>
</td>
<td class="crayon-code">
<div class="crayon-pre">
<div id="crayon-586620c46780e215018960-1" class="crayon-line"><span class="crayon-p">#import "AppDelegate.h"</span></div>
<div id="crayon-586620c46780e215018960-2" class="crayon-line crayon-striped-line"><span class="crayon-p">#import "PageLoadOperation.h"</span></div>
<div id="crayon-586620c46780e215018960-3" class="crayon-line">&nbsp;</div>
<div id="crayon-586620c46780e215018960-4" class="crayon-line crayon-striped-line"><span class="crayon-st">@implementation</span> <span class="crayon-t">AppDelegate</span></div>
<div id="crayon-586620c46780e215018960-5" class="crayon-line"><span class="crayon-m">static</span> <span class="crayon-t">AppDelegate</span> <span class="crayon-v">*shared</span><span class="crayon-sy">;</span></div>
<div id="crayon-586620c46780e215018960-6" class="crayon-line crayon-striped-line"><span class="crayon-m">static</span> <span class="crayon-t">NSArray</span> <span class="crayon-v">*urlArray</span><span class="crayon-sy">;</span></div>
<div id="crayon-586620c46780e215018960-7" class="crayon-line">&nbsp;</div>
<div id="crayon-586620c46780e215018960-8" class="crayon-line crayon-striped-line"><span class="crayon-o">-</span> <span class="crayon-sy">(</span><span class="crayon-t">id</span><span class="crayon-sy">)</span><span class="crayon-v">init</span></div>
<div id="crayon-586620c46780e215018960-9" class="crayon-line"><span class="crayon-sy">{</span></div>
<div id="crayon-586620c46780e215018960-10" class="crayon-line crayon-striped-line"><span class="crayon-h">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="crayon-st">if</span> <span class="crayon-sy">(</span><span class="crayon-v">shared</span><span class="crayon-sy">)</span> <span class="crayon-sy">{</span></div>
<div id="crayon-586620c46780e215018960-11" class="crayon-line"><span class="crayon-h">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="crayon-sy">[</span><span class="crayon-r">self</span> <span class="crayon-r">autorelease</span><span class="crayon-sy">]</span><span class="crayon-sy">;</span></div>
<div id="crayon-586620c46780e215018960-12" class="crayon-line crayon-striped-line"><span class="crayon-h">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="crayon-st">return</span> <span class="crayon-v">shared</span><span class="crayon-sy">;</span></div>
<div id="crayon-586620c46780e215018960-13" class="crayon-line"><span class="crayon-h">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="crayon-sy">}</span></div>
<div id="crayon-586620c46780e215018960-14" class="crayon-line crayon-striped-line"><span class="crayon-h">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="crayon-st">if</span> <span class="crayon-sy">(</span><span class="crayon-o">!</span><span class="crayon-sy">[</span><span class="crayon-r">super</span> <span class="crayon-v">init</span><span class="crayon-sy">]</span><span class="crayon-sy">)</span> <span class="crayon-st">return</span> <span class="crayon-t">nil</span><span class="crayon-sy">;</span></div>
<div id="crayon-586620c46780e215018960-15" class="crayon-line">&nbsp;</div>
<div id="crayon-586620c46780e215018960-16" class="crayon-line crayon-striped-line"><span class="crayon-h">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="crayon-t">NSMutableArray</span> <span class="crayon-v">*array</span> <span class="crayon-o">=</span> <span class="crayon-sy">[</span><span class="crayon-sy">[</span><span class="crayon-t">NSMutableArray</span> <span class="crayon-r">alloc</span><span class="crayon-sy">]</span><span class="crayon-e "> init</span><span class="crayon-sy">]</span><span class="crayon-sy">;</span></div>
<div id="crayon-586620c46780e215018960-17" class="crayon-line"><span class="crayon-h">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="crayon-sy">[</span><span class="crayon-v">array</span><span class="crayon-e "> addObject</span><span class="crayon-o">:</span><span class="crayon-s">@"http://www.google.com"</span><span class="crayon-sy">]</span><span class="crayon-sy">;</span></div>
<div id="crayon-586620c46780e215018960-18" class="crayon-line crayon-striped-line"><span class="crayon-h">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="crayon-sy">[</span><span class="crayon-v">array</span><span class="crayon-e "> addObject</span><span class="crayon-o">:</span><span class="crayon-s">@"http://www.apple.com"</span><span class="crayon-sy">]</span><span class="crayon-sy">;</span></div>
<div id="crayon-586620c46780e215018960-19" class="crayon-line"><span class="crayon-h">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="crayon-sy">[</span><span class="crayon-v">array</span><span class="crayon-e "> addObject</span><span class="crayon-o">:</span><span class="crayon-s">@"http://www.yahoo.com"</span><span class="crayon-sy">]</span><span class="crayon-sy">;</span></div>
<div id="crayon-586620c46780e215018960-20" class="crayon-line crayon-striped-line"><span class="crayon-h">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="crayon-sy">[</span><span class="crayon-v">array</span><span class="crayon-e "> addObject</span><span class="crayon-o">:</span><span class="crayon-s">@"http://www.zarrastudios.com"</span><span class="crayon-sy">]</span><span class="crayon-sy">;</span></div>
<div id="crayon-586620c46780e215018960-21" class="crayon-line"><span class="crayon-h">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="crayon-sy">[</span><span class="crayon-v">array</span><span class="crayon-e "> addObject</span><span class="crayon-o">:</span><span class="crayon-s">@"http://www.macosxhints.com"</span><span class="crayon-sy">]</span><span class="crayon-sy">;</span></div>
<div id="crayon-586620c46780e215018960-22" class="crayon-line crayon-striped-line"><span class="crayon-h">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="crayon-v">urlArray</span> <span class="crayon-o">=</span> <span class="crayon-v">array</span><span class="crayon-sy">;</span></div>
<div id="crayon-586620c46780e215018960-23" class="crayon-line">&nbsp;</div>
<div id="crayon-586620c46780e215018960-24" class="crayon-line crayon-striped-line"><span class="crayon-h">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="crayon-v">queue</span> <span class="crayon-o">=</span> <span class="crayon-sy">[</span><span class="crayon-sy">[</span><span class="crayon-t">NSOperationQueue</span> <span class="crayon-r">alloc</span><span class="crayon-sy">]</span><span class="crayon-e "> init</span><span class="crayon-sy">]</span><span class="crayon-sy">;</span></div>
<div id="crayon-586620c46780e215018960-25" class="crayon-line"><span class="crayon-h">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="crayon-v">shared</span> <span class="crayon-o">=</span> <span class="crayon-r">self</span><span class="crayon-sy">;</span></div>
<div id="crayon-586620c46780e215018960-26" class="crayon-line crayon-striped-line"><span class="crayon-h">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="crayon-st">return</span> <span class="crayon-r">self</span><span class="crayon-sy">;</span></div>
<div id="crayon-586620c46780e215018960-27" class="crayon-line"><span class="crayon-sy">}</span></div>
<div id="crayon-586620c46780e215018960-28" class="crayon-line crayon-striped-line">&nbsp;</div>
<div id="crayon-586620c46780e215018960-29" class="crayon-line"><span class="crayon-o">-</span> <span class="crayon-sy">(</span><span class="crayon-t">void</span><span class="crayon-sy">)</span><span class="crayon-e ">applicationDidFinishLaunching</span><span class="crayon-o">:</span><span class="crayon-sy">(</span><span class="crayon-t">NSNotification</span> <span class="crayon-t ">*</span><span class="crayon-sy">)</span><span class="crayon-v">aNotification</span></div>
<div id="crayon-586620c46780e215018960-30" class="crayon-line crayon-striped-line"><span class="crayon-sy">{</span></div>
<div id="crayon-586620c46780e215018960-31" class="crayon-line"><span class="crayon-h">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="crayon-e">for</span> <span class="crayon-sy">(</span><span class="crayon-t">NSString</span> <span class="crayon-v">*urlString</span> <span class="crayon-m">in</span> <span class="crayon-v">urlArray</span><span class="crayon-sy">)</span> <span class="crayon-sy">{</span></div>
<div id="crayon-586620c46780e215018960-32" class="crayon-line crayon-striped-line"><span class="crayon-h">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="crayon-t">NSURL</span> <span class="crayon-v">*url</span> <span class="crayon-o">=</span> <span class="crayon-sy">[</span><span class="crayon-t">NSURL</span><span class="crayon-e "> URLWithString</span><span class="crayon-v">:urlString</span><span class="crayon-sy">]</span><span class="crayon-sy">;</span></div>
<div id="crayon-586620c46780e215018960-33" class="crayon-line"><span class="crayon-h">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="crayon-t">PageLoadOperation</span> <span class="crayon-v">*plo</span> <span class="crayon-o">=</span> <span class="crayon-sy">[</span><span class="crayon-sy">[</span><span class="crayon-t">PageLoadOperation</span> <span class="crayon-r">alloc</span><span class="crayon-sy">]</span><span class="crayon-e "> initWithURL</span><span class="crayon-v">:url</span><span class="crayon-sy">]</span><span class="crayon-sy">;</span></div>
<div id="crayon-586620c46780e215018960-34" class="crayon-line crayon-striped-line"><span class="crayon-h">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="crayon-sy">[</span><span class="crayon-v">queue</span><span class="crayon-e "> addOperation</span><span class="crayon-v">:plo</span><span class="crayon-sy">]</span><span class="crayon-sy">;</span></div>
<div id="crayon-586620c46780e215018960-35" class="crayon-line"><span class="crayon-h">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="crayon-sy">[</span><span class="crayon-e">plo </span><span class="crayon-r">release</span><span class="crayon-sy">]</span><span class="crayon-sy">;</span></div>
<div id="crayon-586620c46780e215018960-36" class="crayon-line crayon-striped-line"><span class="crayon-h">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="crayon-sy">}</span></div>
<div id="crayon-586620c46780e215018960-37" class="crayon-line"><span class="crayon-sy">}</span></div>
<div id="crayon-586620c46780e215018960-38" class="crayon-line crayon-striped-line">&nbsp;</div>
<div id="crayon-586620c46780e215018960-39" class="crayon-line"><span class="crayon-o">-</span> <span class="crayon-sy">(</span><span class="crayon-t">void</span><span class="crayon-sy">)</span><span class="crayon-v">dealloc</span></div>
<div id="crayon-586620c46780e215018960-40" class="crayon-line crayon-striped-line"><span class="crayon-sy">{</span></div>
<div id="crayon-586620c46780e215018960-41" class="crayon-line"><span class="crayon-h">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="crayon-sy">[</span><span class="crayon-e">queue </span><span class="crayon-r">release</span><span class="crayon-sy">]</span><span class="crayon-sy">,</span> <span class="crayon-v">queue</span> <span class="crayon-o">=</span> <span class="crayon-t">nil</span><span class="crayon-sy">;</span></div>
<div id="crayon-586620c46780e215018960-42" class="crayon-line crayon-striped-line"><span class="crayon-h">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="crayon-sy">[</span><span class="crayon-r">super</span> <span class="crayon-v">dealloc</span><span class="crayon-sy">]</span><span class="crayon-sy">;</span></div>
<div id="crayon-586620c46780e215018960-43" class="crayon-line"><span class="crayon-sy">}</span></div>
<div id="crayon-586620c46780e215018960-44" class="crayon-line crayon-striped-line">&nbsp;</div>
<div id="crayon-586620c46780e215018960-45" class="crayon-line"><span class="crayon-o">+</span> <span class="crayon-sy">(</span><span class="crayon-t">id</span><span class="crayon-sy">)</span><span class="crayon-v">shared</span><span class="crayon-sy">;</span></div>
<div id="crayon-586620c46780e215018960-46" class="crayon-line crayon-striped-line"><span class="crayon-sy">{</span></div>
<div id="crayon-586620c46780e215018960-47" class="crayon-line"><span class="crayon-h">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="crayon-st">if</span> <span class="crayon-sy">(</span><span class="crayon-o">!</span><span class="crayon-v">shared</span><span class="crayon-sy">)</span> <span class="crayon-sy">{</span></div>
<div id="crayon-586620c46780e215018960-48" class="crayon-line crayon-striped-line"><span class="crayon-h">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="crayon-sy">[</span><span class="crayon-sy">[</span><span class="crayon-t">AppDelegate</span> <span class="crayon-r">alloc</span><span class="crayon-sy">]</span><span class="crayon-e "> init</span><span class="crayon-sy">]</span><span class="crayon-sy">;</span></div>
<div id="crayon-586620c46780e215018960-49" class="crayon-line"><span class="crayon-h">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="crayon-sy">}</span></div>
<div id="crayon-586620c46780e215018960-50" class="crayon-line crayon-striped-line"><span class="crayon-h">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="crayon-st">return</span> <span class="crayon-v">shared</span><span class="crayon-sy">;</span></div>
<div id="crayon-586620c46780e215018960-51" class="crayon-line"><span class="crayon-sy">}</span></div>
<div id="crayon-586620c46780e215018960-52" class="crayon-line crayon-striped-line">&nbsp;</div>
<div id="crayon-586620c46780e215018960-53" class="crayon-line"><span class="crayon-o">-</span> <span class="crayon-sy">(</span><span class="crayon-t">void</span><span class="crayon-sy">)</span><span class="crayon-e ">pageLoaded</span><span class="crayon-o">:</span><span class="crayon-sy">(</span><span class="crayon-t">NSXMLDocument</span><span class="crayon-t ">*</span><span class="crayon-sy">)</span><span class="crayon-v">document</span><span class="crayon-sy">;</span></div>
<div id="crayon-586620c46780e215018960-54" class="crayon-line crayon-striped-line"><span class="crayon-sy">{</span></div>
<div id="crayon-586620c46780e215018960-55" class="crayon-line"><span class="crayon-h">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="crayon-t">NSLog</span><span class="crayon-sy">(</span><span class="crayon-s">@"%s Do something with the XMLDocument: %@"</span><span class="crayon-sy">,</span> <span class="crayon-v">_cmd</span><span class="crayon-sy">,</span> <span class="crayon-v">document</span><span class="crayon-sy">)</span><span class="crayon-sy">;</span></div>
<div id="crayon-586620c46780e215018960-56" class="crayon-line crayon-striped-line"><span class="crayon-sy">}</span></div>
<div id="crayon-586620c46780e215018960-57" class="crayon-line">&nbsp;</div>
<div id="crayon-586620c46780e215018960-58" class="crayon-line crayon-striped-line"><span class="crayon-st">@end</span></div>
</div>
</td>
</tr>
</tbody>
</table>
</div>
</div>
<p>&nbsp;</p>
<p>In this example AppDelegate, two things are occurring. First, in the init method, the NSOperationQueue is being initialized and an array of urls is being loaded. Then when the application has completed its load, the applicationDidFinishLaunching: method is called by the NSApplication instance and the AppDelegate loops over the urls, creating a task for each one and loading those tasks into the NSOperationQueue. As soon as each item is loaded into the queue the queue will kick it off by assigning it to a NSThread and the thread will then run the main method of the operation. Once the operation is complete the thread will report back to the queue and the queue will release the operation.</p>
<h2>NSOperationQueue Concurrency</h2>
<p>In this very simple example, it is quite difficult to load up the queue with enough objects to actually see it running them in parallel. However, if you run tasks that take more time than these, you will see that the queue will run all of the tasks at the same time. Fortunately, if you want to limit how many tasks are running in parallel you can alter the init method in the App Delegate as follows:</p>
<div id="crayon-586620c467818949668171" class="crayon-syntax crayon-theme-classic crayon-font-monaco crayon-os-mac print-yes notranslate" data-settings=" minimize scroll-mouseover">
<div class="crayon-plain-wrap">&nbsp;</div>
<div class="crayon-main">
<table class="crayon-table">
<tbody>
<tr class="crayon-row">
<td class="crayon-nums " data-settings="show">
<div class="crayon-nums-content">
<div class="crayon-num" data-line="crayon-586620c467818949668171-1">1</div>
<div class="crayon-num crayon-striped-num" data-line="crayon-586620c467818949668171-2">2</div>
<div class="crayon-num" data-line="crayon-586620c467818949668171-3">3</div>
<div class="crayon-num crayon-striped-num" data-line="crayon-586620c467818949668171-4">4</div>
<div class="crayon-num" data-line="crayon-586620c467818949668171-5">5</div>
<div class="crayon-num crayon-striped-num" data-line="crayon-586620c467818949668171-6">6</div>
<div class="crayon-num" data-line="crayon-586620c467818949668171-7">7</div>
<div class="crayon-num crayon-striped-num" data-line="crayon-586620c467818949668171-8">8</div>
<div class="crayon-num" data-line="crayon-586620c467818949668171-9">9</div>
<div class="crayon-num crayon-striped-num" data-line="crayon-586620c467818949668171-10">10</div>
<div class="crayon-num" data-line="crayon-586620c467818949668171-11">11</div>
<div class="crayon-num crayon-striped-num" data-line="crayon-586620c467818949668171-12">12</div>
<div class="crayon-num" data-line="crayon-586620c467818949668171-13">13</div>
<div class="crayon-num crayon-striped-num" data-line="crayon-586620c467818949668171-14">14</div>
<div class="crayon-num" data-line="crayon-586620c467818949668171-15">15</div>
<div class="crayon-num crayon-striped-num" data-line="crayon-586620c467818949668171-16">16</div>
<div class="crayon-num" data-line="crayon-586620c467818949668171-17">17</div>
<div class="crayon-num crayon-striped-num" data-line="crayon-586620c467818949668171-18">18</div>
<div class="crayon-num" data-line="crayon-586620c467818949668171-19">19</div>
<div class="crayon-num crayon-striped-num" data-line="crayon-586620c467818949668171-20">20</div>
</div>
</td>
<td class="crayon-code">
<div class="crayon-pre">
<div id="crayon-586620c467818949668171-1" class="crayon-line"><span class="crayon-o">-</span> <span class="crayon-sy">(</span><span class="crayon-t">id</span><span class="crayon-sy">)</span><span class="crayon-v">init</span></div>
<div id="crayon-586620c467818949668171-2" class="crayon-line crayon-striped-line"><span class="crayon-sy">{</span></div>
<div id="crayon-586620c467818949668171-3" class="crayon-line"><span class="crayon-h">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="crayon-st">if</span> <span class="crayon-sy">(</span><span class="crayon-v">shared</span><span class="crayon-sy">)</span> <span class="crayon-sy">{</span></div>
<div id="crayon-586620c467818949668171-4" class="crayon-line crayon-striped-line"><span class="crayon-h">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="crayon-sy">[</span><span class="crayon-r">self</span> <span class="crayon-r">autorelease</span><span class="crayon-sy">]</span><span class="crayon-sy">;</span></div>
<div id="crayon-586620c467818949668171-5" class="crayon-line"><span class="crayon-h">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="crayon-st">return</span> <span class="crayon-v">shared</span><span class="crayon-sy">;</span></div>
<div id="crayon-586620c467818949668171-6" class="crayon-line crayon-striped-line"><span class="crayon-h">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="crayon-sy">}</span></div>
<div id="crayon-586620c467818949668171-7" class="crayon-line"><span class="crayon-h">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="crayon-st">if</span> <span class="crayon-sy">(</span><span class="crayon-o">!</span><span class="crayon-sy">[</span><span class="crayon-r">super</span> <span class="crayon-v">init</span><span class="crayon-sy">]</span><span class="crayon-sy">)</span> <span class="crayon-st">return</span> <span class="crayon-t">nil</span><span class="crayon-sy">;</span></div>
<div id="crayon-586620c467818949668171-8" class="crayon-line crayon-striped-line">&nbsp;</div>
<div id="crayon-586620c467818949668171-9" class="crayon-line"><span class="crayon-h">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="crayon-t">NSMutableArray</span> <span class="crayon-v">*array</span> <span class="crayon-o">=</span> <span class="crayon-sy">[</span><span class="crayon-sy">[</span><span class="crayon-t">NSMutableArray</span> <span class="crayon-r">alloc</span><span class="crayon-sy">]</span><span class="crayon-e "> init</span><span class="crayon-sy">]</span><span class="crayon-sy">;</span></div>
<div id="crayon-586620c467818949668171-10" class="crayon-line crayon-striped-line"><span class="crayon-h">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="crayon-sy">[</span><span class="crayon-v">array</span><span class="crayon-e "> addObject</span><span class="crayon-o">:</span><span class="crayon-s">@"http://www.google.com"</span><span class="crayon-sy">]</span><span class="crayon-sy">;</span></div>
<div id="crayon-586620c467818949668171-11" class="crayon-line"><span class="crayon-h">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="crayon-sy">[</span><span class="crayon-v">array</span><span class="crayon-e "> addObject</span><span class="crayon-o">:</span><span class="crayon-s">@"http://www.apple.com"</span><span class="crayon-sy">]</span><span class="crayon-sy">;</span></div>
<div id="crayon-586620c467818949668171-12" class="crayon-line crayon-striped-line"><span class="crayon-h">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="crayon-sy">[</span><span class="crayon-v">array</span><span class="crayon-e "> addObject</span><span class="crayon-o">:</span><span class="crayon-s">@"http://www.yahoo.com"</span><span class="crayon-sy">]</span><span class="crayon-sy">;</span></div>
<div id="crayon-586620c467818949668171-13" class="crayon-line"><span class="crayon-h">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="crayon-sy">[</span><span class="crayon-v">array</span><span class="crayon-e "> addObject</span><span class="crayon-o">:</span><span class="crayon-s">@"http://www.zarrastudios.com"</span><span class="crayon-sy">]</span><span class="crayon-sy">;</span></div>
<div id="crayon-586620c467818949668171-14" class="crayon-line crayon-striped-line"><span class="crayon-h">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="crayon-sy">[</span><span class="crayon-v">array</span><span class="crayon-e "> addObject</span><span class="crayon-o">:</span><span class="crayon-s">@"http://www.macosxhints.com"</span><span class="crayon-sy">]</span><span class="crayon-sy">;</span></div>
<div id="crayon-586620c467818949668171-15" class="crayon-line"><span class="crayon-h">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="crayon-v">urlArray</span> <span class="crayon-o">=</span> <span class="crayon-v">array</span><span class="crayon-sy">;</span></div>
<div id="crayon-586620c467818949668171-16" class="crayon-line crayon-striped-line"><span class="crayon-h">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="crayon-v">queue</span> <span class="crayon-o">=</span> <span class="crayon-sy">[</span><span class="crayon-sy">[</span><span class="crayon-t">NSOperationQueue</span> <span class="crayon-r">alloc</span><span class="crayon-sy">]</span><span class="crayon-e "> init</span><span class="crayon-sy">]</span><span class="crayon-sy">;</span></div>
<div id="crayon-586620c467818949668171-17" class="crayon-line"><span class="crayon-h">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="crayon-sy">[</span><span class="crayon-v">queue</span><span class="crayon-e "> setMaxConcurrentOperationCount</span><span class="crayon-o">:</span><span class="crayon-cn">2</span><span class="crayon-sy">]</span><span class="crayon-sy">;</span></div>
<div id="crayon-586620c467818949668171-18" class="crayon-line crayon-striped-line"><span class="crayon-h">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="crayon-v">shared</span> <span class="crayon-o">=</span> <span class="crayon-r">self</span><span class="crayon-sy">;</span></div>
<div id="crayon-586620c467818949668171-19" class="crayon-line"><span class="crayon-h">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="crayon-st">return</span> <span class="crayon-r">self</span><span class="crayon-sy">;</span></div>
<div id="crayon-586620c467818949668171-20" class="crayon-line crayon-striped-line"><span class="crayon-sy">}</span></div>
</div>
</td>
</tr>
</tbody>
</table>
</div>
</div>
<p>&nbsp;</p>
<p>In this updated init method, the queue is throttled down to 2 operations running at the same time. The rest of the operations will wait until one of the first two is completed and then they will get an opportunity to run until the queue is empty.</p>
<h2>Conclusion</h2>
<p>That is the NSOperation and NSOperationQueue in its most basic form. You will note that most of the code in this example has nothing to do with the building up or using of the NSOperation or the NSOperationQueue. The actual code required to use the NSOperation is amazingly small. Yet with this small amount of code you can easily start using multiple threads in your application and provide a better experience for the user and be able to fine tune those complicated tasks.</p>
</div>
</div>
</div>