<h2><span style="color: #008080;">Managed Objects</span></h2>
<p><span style="color: #008080;">Managed objects are the objects that are created by your application code to store data. A managed object may be thought of as a row or a record in a relational database table. For each new record to be added, a new managed object must be created to store the data. Similarly, retrieved data will be returned in the form of managed objects, one for each record matching the defined retrieval criteria. Managed objects are actually instances of the NSManagedObject class, or a subclass thereof. These objects are contained and maintained by the managed object context.</span></p>
<h2><span id="Managed_Object_Model" class="mw-headline">