<span id="Managed_Object_Model" class="mw-headline">Managed Object Model</span></h2>
<p>So far we have focused on the management of data objects but have not yet looked at how the data models are defined. This is the task of the Managed Object Model which defines a concept referred to as entities.<span id="ezoic-pub-ad-placeholder-143" class="ezoic-adpicker-ad" data-ezadpicker="143" data-ez-position-type="long_content"></span></p>
<p>Much as a class description defines a blueprint for an object instance, entities define the data model for managed objects. In essence, an entity is analogous to the schema that defines a table in a relational database. As such, each entity has a set of attributes associated with it that define the data to be stored in managed objects derived from that entity. For example, a Contacts entity might contain name, address and phone number attributes.</p>
<p>In addition to attributes, entities can also contain relationships, fetched properties and fetch requests:</p>
<ul>
<li><strong>Relationships</strong>&nbsp;&ndash; In the context of Core Data, relationships are the same as those in other relational database systems in that they refer to how one data object relates to another. Core Data relationships can be one-to-one, one-to-many or many-to-many.</li>
<li><strong>Fetched property</strong>&nbsp;&ndash; This provides an alternative to defining relationships. Fetched properties allow properties of one data object to be accessed from another data object as though a relationship had been defined between those entities. Fetched properties lack the flexibility of relationships and are referred to by Apple&rsquo;s Core Data documentation as &ldquo;weak, one way relationships&rdquo; best suited to &ldquo;loosely coupled relationships&rdquo;.</li>
<li><strong>Fetch request</strong>&nbsp;&ndash; A predefined query that can be referenced to retrieve data objects based on defined predicates. For example, a fetch request can be configured into an entity to retrieve all contact objects where the name field matches &ldquo;John Smith&rdquo;.</li>
</ul>
<p>&nbsp;</p>