<h2><span style="color: #008080;">Overview of Core Data</span></h2>
<p><span style="color: #008080;">Core Data is probably one of the most misunderstood Frameworks on OS X and iOS. To help with that, we&rsquo;ll quickly go through Core Data to give you an overview of what it is all about, as understanding Core Data concepts is essential to using Core Data the right way. Just about all frustrations with Core Data originate in misunderstanding what it does and how it works. Let&rsquo;s dive in&hellip;</span></p>
<h2 id="what-is-core-data">What is Core Data?</h2>
<p>More than eight years ago, in April 2005, Apple released OS X version 10.4, which was the first to sport the Core Data framework. That was back when YouTube launched.</p>
<p>Core Data is a model layer technology. Core Data helps you build the model layer that represents the state of your app. Core Data is also a persistent technology, in that it can persist the state of the model objects to disk. But the important takeaway is that Core Data is much more than just a framework to load and save data. It&rsquo;s also about working with the data while it&rsquo;s in memory.</p>
<p>If you&rsquo;ve worked with&nbsp;<a href="https://en.wikipedia.org/wiki/Object-relational_mapping">Object-relational mapping (O/RM)</a>&nbsp;before: Core Data is&nbsp;<strong>not</strong>&nbsp;an O/RM. It&rsquo;s much more. If you&rsquo;ve been working with&nbsp;<a href="https://en.wikipedia.org/wiki/Sql">SQL</a>&nbsp;wrappers before: Core Data is&nbsp;<strong>not</strong>&nbsp;an SQL wrapper. It does by default use SQL, but again, it&rsquo;s a way higher level of abstraction. If you want an O/RM or SQL wrapper, Core Data is not for you.</p>
<p>One of the very powerful things that Core Data provides is its object graph management. This is one of the pieces of Core Data you need to understand and learn in order to bring the powers of Core Data into play.</p>
<p>On a side note: Core Data is entirely independent from any UI-level frameworks. It&rsquo;s, by design, purely a model layer framework. And on OS X it may make a lot of sense to use it even in background daemons and the like.</p>
</div>
</div>
</div>
<div class="page" title="Page 3">
<div class="layoutArea">
<div class="column">