<p>&nbsp;</p>
<h2><span style="color: #008080;">Persistent Store Coordinator</span></h2>
<p><span style="color: #008080;">The persistent store coordinator is responsible for coordinating access to multiple persistent object stores. As an iOS developer you will never directly interact with the persistence store coordinator and, in fact, will very rarely need to develop an application that requires more than one persistent object store. When multiple stores are required, the coordinator presents these stores to the upper layers of the Core Data stack as a single store.</span></p>