<h2><span style="color: #008080;">Retrieving and Modifying Data (http://www.techotopia.com/index.php/Working_with_iOS_9_Databases_using_Core_Data#Retrieving_Managed_Objects_based_on_Criteria)</span></h2>
<h2><span id="Retrieving_Managed_Objects_based_on_Criteria" class="mw-headline">Retrieving Managed Objects based on Criteria</span></h2>
<p>The preceding example retrieved all of the managed objects from the persistent object store for a specified entity. More often than not only managed objects that match specified criteria are required during a retrieval operation. This is performed by defining a predicate that dictates criteria that a managed object must meet in order to be eligible for retrieval. For example, the following code implements a predicate in order to extract only those managed objects where the name attribute matches &ldquo;John Smith&rdquo;:</p>
<pre>let request = NSFetchRequest()
request.entity = entityDescription

let pred = NSPredicate(format: "(name =&nbsp;%@)", "John Smith")
request.predicate = pred

var error: NSError?
var results = managedObjectContext?.executeFetchRequest(request, 
						error: &amp;error)
</pre>
<h2><span id="Accessing_the_Data_in_a_Retrieved_Managed_Object" class="mw-headline">Accessing the Data in a Retrieved Managed Object</span></h2>
<p>Once results have been returned from a fetch request, the data within the returned objects may be accessed using keys to reference the stored values. The following code, for example, accesses the first result from a fetch operation results array and extracts the values for the name, address and phone keys from that managed object:</p>
<pre>var results = managedObjectContext?.executeFetchRequest(request, 
						error: &amp;error)
let match = results[0] as! NSManagedObject

let nameString = match.valueForKey("name") as! String
let addressString = match.valueForKey("address") as! String
let phoneString = match.valueForKey("phone") as! String</pre>
</div>
</div>
</div>
</div>
</div>
</div>