<div class="page" title="Page 2">
<div class="layoutArea">
<div class="column">
<div class="page" title="Page 2">
<div class="layoutArea">
<div class="column">
<h2><span style="color: #008080;">SQLite Integration</span></h2>
<p><strong>SQLite</strong> is a relational database management system contained in a C programming library. In contrast to many other database management systems, SQLite is not a client&ndash;server database engine. Rather, it is embedded into the end program.</p>
<p>SQLite is ACID-compliant and implements most of the SQL standard, using a dynamically and weakly typed SQL syntax that does not guarantee the domain integrity.</p>
<p>SQLite is a popular choice as embedded database software for local/client storage in application software such as web browsers. It is arguably the most widely deployed database engine, as it is used today by several widespread browsers, operating systems, and embedded systems (such as mobile phones), among others.<sup>[6]</sup> SQLite has bindings to many programming languages.</p>
<p>SQLite can be used in iOS for handling data. It uses sqlite queries, which makes it easier for those who know SQL.</p>
<p>&nbsp;</p>
<p>Steps Involved</p>
<p>Step 1. Create a simple View based application.</p>
<p>Step 2. Select your project file, then select targets and then add libsqlite3.dylib library in choose frameworks.</p>
<p>Step 3. Create a new file by selecting File-&gt; New -&gt; File... -&gt; select Objective C class and click next.</p>
<p>Step 4. Name the class as DBManager with "sub class of" as NSObject.</p>
<p>Step 5. Select create.</p>
<p>Step 6. Update DBManager.h as follows &minus;</p>
<p>#import &lt;Foundation/Foundation.h&gt;</p>
<p>#import &lt;sqlite3.h&gt;</p>
<p>&nbsp;</p>
<p>@interface DBManager : NSObject</p>
<p>{</p>
<p>&nbsp; &nbsp; NSString *databasePath;</p>
<p>}</p>
<p>&nbsp;</p>
<p>+(DBManager*)getSharedInstance;</p>
<p>-(BOOL)createDB;</p>
<p>-(BOOL) saveData:(NSString*)registerNumber name:(NSString*)name&nbsp;</p>
<p>&nbsp; department:(NSString*)department year:(NSString*)year;</p>
<p>-(NSArray*) findByRegisterNumber:(NSString*)registerNumber;</p>
<p>&nbsp;</p>
<p>@end</p>
<p>Step 7. Update DBManager.m as follows &minus;</p>
<p>#import "DBManager.h"</p>
<p>static DBManager *sharedInstance = nil;</p>
<p>static sqlite3 *database = nil;</p>
<p>static sqlite3_stmt *statement = nil;</p>
<p>&nbsp;</p>
<p>@implementation DBManager</p>
<p>&nbsp;</p>
<p>+(DBManager*)getSharedInstance{</p>
<p>&nbsp; &nbsp; if (!sharedInstance) {</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; sharedInstance = [[super allocWithZone:NULL]init];</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; [sharedInstance createDB];</p>
<p>&nbsp; &nbsp; }</p>
<p>&nbsp; &nbsp; return sharedInstance;</p>
<p>}</p>
<p>&nbsp;</p>
<p>-(BOOL)createDB{</p>
<p>&nbsp; &nbsp; NSString *docsDir;</p>
<p>&nbsp; &nbsp; NSArray *dirPaths; &nbsp; &nbsp;</p>
<p>&nbsp; &nbsp; // Get the documents directory</p>
<p>&nbsp; &nbsp; dirPaths = NSSearchPathForDirectoriesInDomains</p>
<p>&nbsp; &nbsp; (NSDocumentDirectory, NSUserDomainMask, YES); &nbsp; &nbsp;</p>
<p>&nbsp; &nbsp; docsDir = dirPaths[0];</p>
<p>&nbsp; &nbsp; // Build the path to the database file</p>
<p>&nbsp; &nbsp; databasePath = [[NSString alloc] initWithString:&nbsp;</p>
<p>&nbsp; &nbsp; [docsDir stringByAppendingPathComponent: @"student.db"]];</p>
<p>&nbsp; &nbsp; BOOL isSuccess = YES;</p>
<p>&nbsp; &nbsp; NSFileManager *filemgr = [NSFileManager defaultManager]; &nbsp; &nbsp;</p>
<p>&nbsp; &nbsp; if ([filemgr fileExistsAtPath: databasePath ] == NO)</p>
<p>&nbsp; &nbsp; {</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; const char *dbpath = [databasePath UTF8String]; &nbsp; &nbsp; &nbsp; &nbsp;</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; if (sqlite3_open(dbpath, &amp;database) == SQLITE_OK)</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; {</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; char *errMsg;</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; const char *sql_stmt =</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; "create table if not exists studentsDetail (regno integer&nbsp;</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; primary key, name text, department text, year text)"; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; if (sqlite3_exec(database, sql_stmt, NULL, NULL, &amp;errMsg)&nbsp;</p>
<p>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; != SQLITE_OK)</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; isSuccess = NO;</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; NSLog(@"Failed to create table");</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; }</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; sqlite3_close(database);</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; return&nbsp; isSuccess;</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; }</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; else {</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; isSuccess = NO;</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; NSLog(@"Failed to open/create database");</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; }</p>
<p>&nbsp; &nbsp; } &nbsp; &nbsp;</p>
<p>&nbsp; &nbsp; return isSuccess;</p>
<p>}</p>
<p>&nbsp;</p>
<p>- (BOOL) saveData:(NSString*)registerNumber name:(NSString*)name&nbsp;</p>
<p>&nbsp; department:(NSString*)department year:(NSString*)year;</p>
<p>{</p>
<p>&nbsp; &nbsp; const char *dbpath = [databasePath UTF8String]; &nbsp; &nbsp;</p>
<p>&nbsp; &nbsp; if (sqlite3_open(dbpath, &amp;database) == SQLITE_OK)</p>
<p>&nbsp; &nbsp; { &nbsp; &nbsp; &nbsp; &nbsp;</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; NSString *insertSQL = [NSString stringWithFormat:@"insert into</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; studentsDetail (regno,name, department, year) values</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; (\"%d\",\"%@\", \"%@\", \"%@\")",[registerNumber integerValue],</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; name, department, year]; &nbsp; &nbsp; &nbsp; &nbsp;</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; const char *insert_stmt = [insertSQL UTF8String];</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; sqlite3_prepare_v2(database, insert_stmt,-1, &amp;statement, NULL);</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; if (sqlite3_step(statement) == SQLITE_DONE)</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; {</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; return YES;</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; }&nbsp;</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; else {</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; return NO;</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; }</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; sqlite3_reset(statement);</p>
<p>&nbsp; &nbsp; }</p>
<p>&nbsp; &nbsp; return NO;</p>
<p>}</p>
<p>&nbsp;</p>
<p>- (NSArray*) findByRegisterNumber:(NSString*)registerNumber</p>
<p>{</p>
<p>&nbsp; &nbsp; const char *dbpath = [databasePath UTF8String]; &nbsp; &nbsp;</p>
<p>&nbsp; &nbsp; if (sqlite3_open(dbpath, &amp;database) == SQLITE_OK)</p>
<p>&nbsp; &nbsp; {</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; NSString *querySQL = [NSString stringWithFormat:</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; @"select name, department, year from studentsDetail where&nbsp;</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; regno=\"%@\"",registerNumber]; &nbsp; &nbsp; &nbsp; &nbsp;</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; const char *query_stmt = [querySQL UTF8String];</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; NSMutableArray *resultArray = [[NSMutableArray alloc]init];</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; if (sqlite3_prepare_v2(database,</p>
<p>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; query_stmt, -1, &amp;statement, NULL) == SQLITE_OK)</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; {</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; if (sqlite3_step(statement) == SQLITE_ROW)</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; { &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; NSString *name = [[NSString alloc] initWithUTF8String:</p>
<p>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; (const char *) sqlite3_column_text(statement, 0)];</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; [resultArray addObject:name];</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; NSString *department = [[NSString alloc] initWithUTF8String:</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; (const char *) sqlite3_column_text(statement, 1)];</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; [resultArray addObject:department];</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; NSString *year = [[NSString alloc]initWithUTF8String:</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; (const char *) sqlite3_column_text(statement, 2)];</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; [resultArray addObject:year];</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; return resultArray;</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; }</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; else{</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; NSLog(@"Not found");</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; return nil;</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; }</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; sqlite3_reset(statement);</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; }</p>
<p>&nbsp; &nbsp; }</p>
<p>&nbsp; &nbsp; return nil;</p>
<p>}</p>
<p>Step 8. Update ViewController.xib file as follows &minus;</p>
<p>&nbsp;</p>
<p><strong>S</strong>tep 9. Create IBOutlets for the above text fields.</p>
<p>Step 10. Create IBAction for the above buttons.</p>
<p>Step 11. Update ViewController.h as follows &minus;</p>
<p>#import &lt;UIKit/UIKit.h&gt;</p>
<p>#import "DBManager.h"</p>
<p>&nbsp;</p>
<p>@interface ViewController : UIViewController&lt;UITextFieldDelegate&gt;</p>
<p>{</p>
<p>&nbsp; &nbsp; IBOutlet UITextField *regNoTextField;</p>
<p>&nbsp; &nbsp; IBOutlet UITextField *nameTextField;</p>
<p>&nbsp; &nbsp; IBOutlet UITextField *departmentTextField;</p>
<p>&nbsp; &nbsp; IBOutlet UITextField *yearTextField;</p>
<p>&nbsp; &nbsp; IBOutlet UITextField *findByRegisterNumberTextField;</p>
<p>&nbsp; &nbsp; IBOutlet UIScrollView *myScrollView;</p>
<p>}</p>
<p>&nbsp;</p>
<p>-(IBAction)saveData:(id)sender;</p>
<p>-(IBAction)findData:(id)sender;</p>
<p>&nbsp;</p>
<p>@end</p>
<p>Step 12. Update ViewController.m as follows &minus;</p>
<p>#import "ViewController.h"</p>
<p>&nbsp;</p>
<p>@interface ViewController ()</p>
<p>&nbsp;</p>
<p>@end</p>
<p>&nbsp;</p>
<p>@implementation ViewController</p>
<p>&nbsp;</p>
<p>- (id)initWithNibName:(NSString *)nibNameOrNil bundle:(NSBundle *)</p>
<p>&nbsp; nibBundleOrNil</p>
<p>{</p>
<p>&nbsp; &nbsp; self = [super initWithNibName:nibNameOrNil bundle:nibBundleOrNil];</p>
<p>&nbsp; &nbsp; if (self) {</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; // Custom initialization</p>
<p>&nbsp; &nbsp; }</p>
<p>&nbsp; &nbsp; return self;</p>
<p>}</p>
<p>&nbsp;</p>
<p>- (void)viewDidLoad</p>
<p>{</p>
<p>&nbsp; &nbsp; [super viewDidLoad];</p>
<p>&nbsp; &nbsp; // Do any additional setup after loading the view from its nib.</p>
<p>}</p>
<p>&nbsp;</p>
<p>- (void)didReceiveMemoryWarning</p>
<p>{</p>
<p>&nbsp; &nbsp; [super didReceiveMemoryWarning];</p>
<p>&nbsp; &nbsp; // Dispose of any resources that can be recreated.</p>
<p>}</p>
<p>&nbsp;</p>
<p>-(IBAction)saveData:(id)sender{</p>
<p>&nbsp; &nbsp; BOOL success = NO;</p>
<p>&nbsp; &nbsp; NSString *alertString = @"Data Insertion failed";</p>
<p>&nbsp; &nbsp; if (regNoTextField.text.length&gt;0 &amp;&amp;nameTextField.text.length&gt;0 &amp;&amp;</p>
<p>&nbsp; &nbsp; departmentTextField.text.length&gt;0 &amp;&amp;yearTextField.text.length&gt;0 )</p>
<p>&nbsp; &nbsp; {</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; success = [[DBManager getSharedInstance]saveData:</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; regNoTextField.text name:nameTextField.text department:</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; departmentTextField.text year:yearTextField.text];</p>
<p>&nbsp; &nbsp; }</p>
<p>&nbsp; &nbsp; else{</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; alertString = @"Enter all fields";</p>
<p>&nbsp; &nbsp; }&nbsp; &nbsp; &nbsp;</p>
<p>&nbsp; &nbsp; if (success == NO) {</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; UIAlertView *alert = [[UIAlertView alloc]initWithTitle:</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; alertString message:nil</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; delegate:nil cancelButtonTitle:@"OK" otherButtonTitles:nil];</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; [alert show];</p>
<p>&nbsp; &nbsp; }</p>
<p>}</p>
<p>&nbsp;</p>
<p>-(IBAction)findData:(id)sender{</p>
<p>&nbsp; &nbsp; NSArray *data = [[DBManager getSharedInstance]findByRegisterNumber:</p>
<p>&nbsp; &nbsp; findByRegisterNumberTextField.text];</p>
<p>&nbsp; &nbsp; if (data == nil) {</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; UIAlertView *alert = [[UIAlertView alloc]initWithTitle:</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; @"Data not found" message:nil delegate:nil cancelButtonTitle:</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; @"OK" otherButtonTitles:nil];</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; [alert show];</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; regNoTextField.text = @"";</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; nameTextField.text =@"";</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; departmentTextField.text = @"";</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; yearTextField.text =@"";</p>
<p>&nbsp; &nbsp; }</p>
<p>&nbsp; &nbsp; else{</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; regNoTextField.text = findByRegisterNumberTextField.text;</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; nameTextField.text =[data objectAtIndex:0];</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; departmentTextField.text = [data objectAtIndex:1];</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; yearTextField.text =[data objectAtIndex:2];</p>
<p>&nbsp; &nbsp; }</p>
<p>}</p>
<p>&nbsp;</p>
<p>#pragma mark - Text field delegate</p>
<p>-(void)textFieldDidBeginEditing:(UITextField *)textField{</p>
<p>&nbsp; &nbsp; [myScrollView setFrame:CGRectMake(10, 50, 300, 200)];</p>
<p>&nbsp; &nbsp; [myScrollView setContentSize:CGSizeMake(300, 350)];</p>
<p>}</p>
<p>-(void)textFieldDidEndEditing:(UITextField *)textField{</p>
<p>&nbsp; &nbsp; [myScrollView setFrame:CGRectMake(10, 50, 300, 350)];</p>
<p>&nbsp;</p>
<p>}</p>
<p>-(BOOL) textFieldShouldReturn:(UITextField *)textField{</p>
<p>&nbsp;&nbsp; &nbsp;</p>
<p>&nbsp; &nbsp; [textField resignFirstResponder];</p>
<p>&nbsp; &nbsp; return YES;</p>
<p>}</p>
<p>@end</p>
<p>Output</p>
<p>When we run the application, we'll get the following output where we can add and find the student details &minus;</p>