<div class="page" title="Page 2">
<div class="layoutArea">
<div class="column">
<div class="page" title="Page 2">
<div class="layoutArea">
<div class="column">
<h2><span style="color: #008080;">SQLite Integration</span></h2>
<p><strong>SQLite</strong> is a relational database management system contained in a C programming library. In contrast to many other database management systems, SQLite is not a client&ndash;server database engine. Rather, it is embedded into the end program.</p>
<p>SQLite is ACID-compliant and implements most of the SQL standard, using a dynamically and weakly typed SQL syntax that does not guarantee the domain integrity.</p>
<p>SQLite is a popular choice as embedded database software for local/client storage in application software such as web browsers. It is arguably the most widely deployed database engine, as it is used today by several widespread browsers, operating systems, and embedded systems (such as mobile phones), among others.<sup>[6]</sup> SQLite has bindings to many programming languages.</p>
<p>SQLite can be used in iOS for handling data. It uses sqlite queries, which makes it easier for those who know SQL.</p>
<p>&nbsp;</p>
<p>Steps Involved</p>
<p>Step 1. Create a simple View based application.</p>
<p>Step 2. Select your project file, then select targets and then add libsqlite3.dylib library in choose frameworks.</p>
<p>Step 3. Create a new file by selecting File-&gt; New -&gt; File... -&gt; select Objective C class and click next.</p>
<p>Step 4. Name the class as DBManager with "sub class of" as NSObject.</p>
<p>Step 5. Select create.</p>
<p>Step 6. Update DBManager.h as follows &minus;</p>
<p>#import &lt;Foundation/Foundation.h&gt;</p>
<p>#import &lt;sqlite3.h&gt;</p>
<p>&nbsp;</p>
<p>@interface DBManager : NSObject</p>
<p>{</p>
<p>&nbsp; &nbsp; NSString *databasePath;</p>
<p>}</p>
<p>&nbsp;</p>
<p>+(DBManager*)getSharedInstance;</p>
<p>-(BOOL)createDB;</p>
<p>-(BOOL) saveData:(NSString*)registerNumber name:(NSString*)name&nbsp;</p>
<p>&nbsp; department:(NSString*)department year:(NSString*)year;</p>
<p>-(NSArray*) findByRegisterNumber:(NSString*)registerNumber;</p>
<p>&nbsp;</p>
<p>@end</p>
<p>Step 7. Update DBManager.m as follows &minus;</p>
<p>#import "DBManager.h"</p>
<p>static DBManager *sharedInstance = nil;</p>
<p>static sqlite3 *database = nil;</p>
<p>static sqlite3_stmt *statement = nil;</p>
<p>&nbsp;</p>
<p>@implementation DBManager</p>
<p>&nbsp;</p>
<p>+(DBManager*)getSharedInstance{</p>
<p>&nbsp; &nbsp; if (!sharedInstance) {</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; sharedInstance = [[super allocWithZone:NULL]init];</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; [sharedInstance createDB];</p>
<p>&nbsp; &nbsp; }</p>
<p>&nbsp; &nbsp; return sharedInstance;</p>
<p>}</p>
<p>&nbsp;</p>
<p>-(BOOL)createDB{</p>
<p>&nbsp; &nbsp; NSString *docsDir;</p>
<p>&nbsp; &nbsp; NSArray *dirPaths; &nbsp; &nbsp;</p>
<p>&nbsp; &nbsp; // Get the documents directory</p>
<p>&nbsp; &nbsp; dirPaths = NSSearchPathForDirectoriesInDomains</p>
<p>&nbsp; &nbsp; (NSDocumentDirectory, NSUserDomainMask, YES); &nbsp; &nbsp;</p>
<p>&nbsp; &nbsp; docsDir = dirPaths[0];</p>
<p>&nbsp; &nbsp; // Build the path to the database file</p>
<p>&nbsp; &nbsp; databasePath = [[NSString alloc] initWithString:&nbsp;</p>
<p>&nbsp; &nbsp; [docsDir stringByAppendingPathComponent: @"student.db"]];</p>
<p>&nbsp; &nbsp; BOOL isSuccess = YES;</p>
<p>&nbsp; &nbsp; NSFileManager *filemgr = [NSFileManager defaultManager]; &nbsp; &nbsp;</p>
<p>&nbsp; &nbsp; if ([filemgr fileExistsAtPath: databasePath ] == NO)</p>
<p>&nbsp; &nbsp; {</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; const char *dbpath = [databasePath UTF8String]; &nbsp; &nbsp; &nbsp; &nbsp;</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; if (sqlite3_open(dbpath, &amp;database) == SQLITE_OK)</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; {</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; char *errMsg;</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; const char *sql_stmt =</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; "create table if not exists studentsDetail (regno integer&nbsp;</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; primary key, name text, department text, year text)"; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; if (sqlite3_exec(database, sql_stmt, NULL, NULL, &amp;errMsg)&nbsp;</p>
<p>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; != SQLITE_OK)</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; isSuccess = NO;</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; NSLog(@"Failed to create table");</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; }</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; sqlite3_close(database);</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; return&nbsp; isSuccess;</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; }</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; else {</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; isSuccess = NO;</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; NSLog(@"Failed to open/create database");</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; }</p>
<p>&nbsp; &nbsp; } &nbsp; &nbsp;</p>
<p>&nbsp; &nbsp; return isSuccess;</p>
<p>}</p>
<p>&nbsp;</p>
<p>- (BOOL) saveData:(NSString*)registerNumber name:(NSString*)name&nbsp;</p>
<p>&nbsp; department:(NSString*)department year:(NSString*)year;</p>
<p>{</p>
<p>&nbsp; &nbsp; const char *dbpath = [databasePath UTF8String]; &nbsp; &nbsp;</p>
<p>&nbsp; &nbsp; if (sqlite3_open(dbpath, &amp;database) == SQLITE_OK)</p>
<p>&nbsp; &nbsp; { &nbsp; &nbsp; &nbsp; &nbsp;</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; NSString *insertSQL = [NSString stringWithFormat:@"insert into</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; studentsDetail (regno,name, department, year) values</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; (\"%d\",\"%@\", \"%@\", \"%@\")",[registerNumber integerValue],</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; name, department, year]; &nbsp; &nbsp; &nbsp; &nbsp;</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; const char *insert_stmt = [insertSQL UTF8String];</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; sqlite3_prepare_v2(database, insert_stmt,-1, &amp;statement, NULL);</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; if (sqlite3_step(statement) == SQLITE_DONE)</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; {</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; return YES;</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; }&nbsp;</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; else {</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; return NO;</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; }</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; sqlite3_reset(statement);</p>
<p>&nbsp; &nbsp; }</p>
<p>&nbsp; &nbsp; return NO;</p>
<p>}</p>
<p>&nbsp;</p>
<p>- (NSArray*) findByRegisterNumber:(NSString*)registerNumber</p>
<p>{</p>
<p>&nbsp; &nbsp; const char *dbpath = [databasePath UTF8String]; &nbsp; &nbsp;</p>
<p>&nbsp; &nbsp; if (sqlite3_open(dbpath, &amp;database) == SQLITE_OK)</p>
<p>&nbsp; &nbsp; {</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; NSString *querySQL = [NSString stringWithFormat:</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; @"select name, department, year from studentsDetail where&nbsp;</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; regno=\"%@\"",registerNumber]; &nbsp; &nbsp; &nbsp; &nbsp;</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; const char *query_stmt = [querySQL UTF8String];</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; NSMutableArray *resultArray = [[NSMutableArray alloc]init];</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; if (sqlite3_prepare_v2(database,</p>
<p>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; query_stmt, -1, &amp;statement, NULL) == SQLITE_OK)</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; {</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; if (sqlite3_step(statement) == SQLITE_ROW)</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; { &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; NSString *name = [[NSString alloc] initWithUTF8String:</p>
<p>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; (const char *) sqlite3_column_text(statement, 0)];</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; [resultArray addObject:name];</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; NSString *department = [[NSString alloc] initWithUTF8String:</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; (const char *) sqlite3_column_text(statement, 1)];</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; [resultArray addObject:department];</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; NSString *year = [[NSString alloc]initWithUTF8String:</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; (const char *) sqlite3_column_text(statement, 2)];</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; [resultArray addObject:year];</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; return resultArray;</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; }</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; else{</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; NSLog(@"Not found");</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; return nil;</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; }</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; sqlite3_reset(statement);</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; }</p>
<p>&nbsp; &nbsp; }</p>
<p>&nbsp; &nbsp; return nil;</p>
<p>}</p>
<p>Step 8. Update ViewController.xib file as follows &minus;</p>
<p>&nbsp;</p>
<p><strong>S</strong>tep 9. Create IBOutlets for the above text fields.</p>
<p>Step 10. Create IBAction for the above buttons.</p>
<p>Step 11. Update ViewController.h as follows &minus;</p>
<p>#import &lt;UIKit/UIKit.h&gt;</p>
<p>#import "DBManager.h"</p>
<p>&nbsp;</p>
<p>@interface ViewController : UIViewController&lt;UITextFieldDelegate&gt;</p>
<p>{</p>
<p>&nbsp; &nbsp; IBOutlet UITextField *regNoTextField;</p>
<p>&nbsp; &nbsp; IBOutlet UITextField *nameTextField;</p>
<p>&nbsp; &nbsp; IBOutlet UITextField *departmentTextField;</p>
<p>&nbsp; &nbsp; IBOutlet UITextField *yearTextField;</p>
<p>&nbsp; &nbsp; IBOutlet UITextField *findByRegisterNumberTextField;</p>
<p>&nbsp; &nbsp; IBOutlet UIScrollView *myScrollView;</p>
<p>}</p>
<p>&nbsp;</p>
<p>-(IBAction)saveData:(id)sender;</p>
<p>-(IBAction)findData:(id)sender;</p>
<p>&nbsp;</p>
<p>@end</p>
<p>Step 12. Update ViewController.m as follows &minus;</p>
<p>#import "ViewController.h"</p>
<p>&nbsp;</p>
<p>@interface ViewController ()</p>
<p>&nbsp;</p>
<p>@end</p>
<p>&nbsp;</p>
<p>@implementation ViewController</p>
<p>&nbsp;</p>
<p>- (id)initWithNibName:(NSString *)nibNameOrNil bundle:(NSBundle *)</p>
<p>&nbsp; nibBundleOrNil</p>
<p>{</p>
<p>&nbsp; &nbsp; self = [super initWithNibName:nibNameOrNil bundle:nibBundleOrNil];</p>
<p>&nbsp; &nbsp; if (self) {</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; // Custom initialization</p>
<p>&nbsp; &nbsp; }</p>
<p>&nbsp; &nbsp; return self;</p>
<p>}</p>
<p>&nbsp;</p>
<p>- (void)viewDidLoad</p>
<p>{</p>
<p>&nbsp; &nbsp; [super viewDidLoad];</p>
<p>&nbsp; &nbsp; // Do any additional setup after loading the view from its nib.</p>
<p>}</p>
<p>&nbsp;</p>
<p>- (void)didReceiveMemoryWarning</p>
<p>{</p>
<p>&nbsp; &nbsp; [super didReceiveMemoryWarning];</p>
<p>&nbsp; &nbsp; // Dispose of any resources that can be recreated.</p>
<p>}</p>
<p>&nbsp;</p>
<p>-(IBAction)saveData:(id)sender{</p>
<p>&nbsp; &nbsp; BOOL success = NO;</p>
<p>&nbsp; &nbsp; NSString *alertString = @"Data Insertion failed";</p>
<p>&nbsp; &nbsp; if (regNoTextField.text.length&gt;0 &amp;&amp;nameTextField.text.length&gt;0 &amp;&amp;</p>
<p>&nbsp; &nbsp; departmentTextField.text.length&gt;0 &amp;&amp;yearTextField.text.length&gt;0 )</p>
<p>&nbsp; &nbsp; {</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; success = [[DBManager getSharedInstance]saveData:</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; regNoTextField.text name:nameTextField.text department:</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; departmentTextField.text year:yearTextField.text];</p>
<p>&nbsp; &nbsp; }</p>
<p>&nbsp; &nbsp; else{</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; alertString = @"Enter all fields";</p>
<p>&nbsp; &nbsp; }&nbsp; &nbsp; &nbsp;</p>
<p>&nbsp; &nbsp; if (success == NO) {</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; UIAlertView *alert = [[UIAlertView alloc]initWithTitle:</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; alertString message:nil</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; delegate:nil cancelButtonTitle:@"OK" otherButtonTitles:nil];</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; [alert show];</p>
<p>&nbsp; &nbsp; }</p>
<p>}</p>
<p>&nbsp;</p>
<p>-(IBAction)findData:(id)sender{</p>
<p>&nbsp; &nbsp; NSArray *data = [[DBManager getSharedInstance]findByRegisterNumber:</p>
<p>&nbsp; &nbsp; findByRegisterNumberTextField.text];</p>
<p>&nbsp; &nbsp; if (data == nil) {</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; UIAlertView *alert = [[UIAlertView alloc]initWithTitle:</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; @"Data not found" message:nil delegate:nil cancelButtonTitle:</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; @"OK" otherButtonTitles:nil];</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; [alert show];</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; regNoTextField.text = @"";</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; nameTextField.text =@"";</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; departmentTextField.text = @"";</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; yearTextField.text =@"";</p>
<p>&nbsp; &nbsp; }</p>
<p>&nbsp; &nbsp; else{</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; regNoTextField.text = findByRegisterNumberTextField.text;</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; nameTextField.text =[data objectAtIndex:0];</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; departmentTextField.text = [data objectAtIndex:1];</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; yearTextField.text =[data objectAtIndex:2];</p>
<p>&nbsp; &nbsp; }</p>
<p>}</p>
<p>&nbsp;</p>
<p>#pragma mark - Text field delegate</p>
<p>-(void)textFieldDidBeginEditing:(UITextField *)textField{</p>
<p>&nbsp; &nbsp; [myScrollView setFrame:CGRectMake(10, 50, 300, 200)];</p>
<p>&nbsp; &nbsp; [myScrollView setContentSize:CGSizeMake(300, 350)];</p>
<p>}</p>
<p>-(void)textFieldDidEndEditing:(UITextField *)textField{</p>
<p>&nbsp; &nbsp; [myScrollView setFrame:CGRectMake(10, 50, 300, 350)];</p>
<p>&nbsp;</p>
<p>}</p>
<p>-(BOOL) textFieldShouldReturn:(UITextField *)textField{</p>
<p>&nbsp;&nbsp; &nbsp;</p>
<p>&nbsp; &nbsp; [textField resignFirstResponder];</p>
<p>&nbsp; &nbsp; return YES;</p>
<p>}</p>
<p>@end</p>
<p>Output</p>
<p>When we run the application, we'll get the following output where we can add and find the student details &minus;</p>
<h2><span style="color: #008080;">Using SQLite Directly</span></h2>
<h2><span style="color: #008080;">Overview of Core Data</span></h2>
<p><span style="color: #008080;">Core Data is probably one of the most misunderstood Frameworks on OS X and iOS. To help with that, we&rsquo;ll quickly go through Core Data to give you an overview of what it is all about, as understanding Core Data concepts is essential to using Core Data the right way. Just about all frustrations with Core Data originate in misunderstanding what it does and how it works. Let&rsquo;s dive in&hellip;</span></p>
<h2 id="what-is-core-data">What is Core Data?</h2>
<p>More than eight years ago, in April 2005, Apple released OS X version 10.4, which was the first to sport the Core Data framework. That was back when YouTube launched.</p>
<p>Core Data is a model layer technology. Core Data helps you build the model layer that represents the state of your app. Core Data is also a persistent technology, in that it can persist the state of the model objects to disk. But the important takeaway is that Core Data is much more than just a framework to load and save data. It&rsquo;s also about working with the data while it&rsquo;s in memory.</p>
<p>If you&rsquo;ve worked with&nbsp;<a href="https://en.wikipedia.org/wiki/Object-relational_mapping">Object-relational mapping (O/RM)</a>&nbsp;before: Core Data is&nbsp;<strong>not</strong>&nbsp;an O/RM. It&rsquo;s much more. If you&rsquo;ve been working with&nbsp;<a href="https://en.wikipedia.org/wiki/Sql">SQL</a>&nbsp;wrappers before: Core Data is&nbsp;<strong>not</strong>&nbsp;an SQL wrapper. It does by default use SQL, but again, it&rsquo;s a way higher level of abstraction. If you want an O/RM or SQL wrapper, Core Data is not for you.</p>
<p>One of the very powerful things that Core Data provides is its object graph management. This is one of the pieces of Core Data you need to understand and learn in order to bring the powers of Core Data into play.</p>
<p>On a side note: Core Data is entirely independent from any UI-level frameworks. It&rsquo;s, by design, purely a model layer framework. And on OS X it may make a lot of sense to use it even in background daemons and the like.</p>
</div>
</div>
</div>
<div class="page" title="Page 3">
<div class="layoutArea">
<div class="column">
<h2><span style="color: #008080;">Managed Objects</span></h2>
<p><span style="color: #008080;">Managed objects are the objects that are created by your application code to store data. A managed object may be thought of as a row or a record in a relational database table. For each new record to be added, a new managed object must be created to store the data. Similarly, retrieved data will be returned in the form of managed objects, one for each record matching the defined retrieval criteria. Managed objects are actually instances of the NSManagedObject class, or a subclass thereof. These objects are contained and maintained by the managed object context.</span></p>
<h2><span id="Managed_Object_Model" class="mw-headline">Managed Object Model</span></h2>
<p>So far we have focused on the management of data objects but have not yet looked at how the data models are defined. This is the task of the Managed Object Model which defines a concept referred to as entities.<span id="ezoic-pub-ad-placeholder-143" class="ezoic-adpicker-ad" data-ezadpicker="143" data-ez-position-type="long_content"></span></p>
<p>Much as a class description defines a blueprint for an object instance, entities define the data model for managed objects. In essence, an entity is analogous to the schema that defines a table in a relational database. As such, each entity has a set of attributes associated with it that define the data to be stored in managed objects derived from that entity. For example, a Contacts entity might contain name, address and phone number attributes.</p>
<p>In addition to attributes, entities can also contain relationships, fetched properties and fetch requests:</p>
<ul>
<li><strong>Relationships</strong>&nbsp;&ndash; In the context of Core Data, relationships are the same as those in other relational database systems in that they refer to how one data object relates to another. Core Data relationships can be one-to-one, one-to-many or many-to-many.</li>
<li><strong>Fetched property</strong>&nbsp;&ndash; This provides an alternative to defining relationships. Fetched properties allow properties of one data object to be accessed from another data object as though a relationship had been defined between those entities. Fetched properties lack the flexibility of relationships and are referred to by Apple&rsquo;s Core Data documentation as &ldquo;weak, one way relationships&rdquo; best suited to &ldquo;loosely coupled relationships&rdquo;.</li>
<li><strong>Fetch request</strong>&nbsp;&ndash; A predefined query that can be referenced to retrieve data objects based on defined predicates. For example, a fetch request can be configured into an entity to retrieve all contact objects where the name field matches &ldquo;John Smith&rdquo;.</li>
</ul>
<p>&nbsp;</p>
<h2><span style="color: #008080;">Persistent Store Coordinator</span></h2>
<p><span style="color: #008080;">The persistent store coordinator is responsible for coordinating access to multiple persistent object stores. As an iOS developer you will never directly interact with the persistence store coordinator and, in fact, will very rarely need to develop an application that requires more than one persistent object store. When multiple stores are required, the coordinator presents these stores to the upper layers of the Core Data stack as a single store.</span></p>
<h2><span style="color: #008080;">Entity Descriptions</span></h2>
<p><span style="color: #008080;">Entity descriptions may be defined from within the Xcode environment. When a new project is created with the option to include Core Data, a template file will be created named &lt;projectname&gt;.xcdatamodeld. Selecting this file in the Xcode project navigator panel will load the model into the entity editing environment as illustrated in Figure 47-2:</span></p>
<p>Create a new entity by clicking on the Add Entity button located in the bottom panel. The new entity will appear as a text box in the Entities list. By default this will be named Entity. Double click on this name to change it.</p>
<p>To add attributes to the entity, click on the Add Attribute button located in the bottom panel, or use the + button located beneath the Attributes section. In the Attributes panel, name the attribute and specify the type and any other options that are required.</p>
<p>Repeat the above steps to add more attributes and additional entities.</p>
<p>The Xcode entity environment also allows relationships to be established between entities. Assume, for example, two entities named Contacts and Sales. In order to establish a relationship between the two tables select the Contacts entity and click on the + button beneath the Relationships panel. In the detail panel, name the relationship, specify the destination as the Sales entity and any other options that are required for the relationship. Once the relationship has been established it is, perhaps, best viewed graphically by selecting the Table, Graph option in the Editor Style control located in the bottom panel:</p>
<p>As demonstrated, Xcode makes the process of entity description creation fairly straightforward. Whilst a detailed overview of the process is beyond the scope of this book there are many other resources available that are dedicated to the subject.</p>
<h2><span style="color: #008080;">Retrieving and Modifying Data (http://www.techotopia.com/index.php/Working_with_iOS_9_Databases_using_Core_Data#Retrieving_Managed_Objects_based_on_Criteria)</span></h2>
<h2><span id="Retrieving_Managed_Objects_based_on_Criteria" class="mw-headline">Retrieving Managed Objects based on Criteria</span></h2>
<p>The preceding example retrieved all of the managed objects from the persistent object store for a specified entity. More often than not only managed objects that match specified criteria are required during a retrieval operation. This is performed by defining a predicate that dictates criteria that a managed object must meet in order to be eligible for retrieval. For example, the following code implements a predicate in order to extract only those managed objects where the name attribute matches &ldquo;John Smith&rdquo;:</p>
<pre>let request = NSFetchRequest()
request.entity = entityDescription

let pred = NSPredicate(format: "(name =&nbsp;%@)", "John Smith")
request.predicate = pred

var error: NSError?
var results = managedObjectContext?.executeFetchRequest(request, 
						error: &amp;error)
</pre>
<h2><span id="Accessing_the_Data_in_a_Retrieved_Managed_Object" class="mw-headline">Accessing the Data in a Retrieved Managed Object</span></h2>
<p>Once results have been returned from a fetch request, the data within the returned objects may be accessed using keys to reference the stored values. The following code, for example, accesses the first result from a fetch operation results array and extracts the values for the name, address and phone keys from that managed object:</p>
<pre>var results = managedObjectContext?.executeFetchRequest(request, 
						error: &amp;error)
let match = results[0] as! NSManagedObject

let nameString = match.valueForKey("name") as! String
let addressString = match.valueForKey("address") as! String
let phoneString = match.valueForKey("phone") as! String</pre>
</div>
</div>
</div>
</div>
</div>
</div>