<h2><span style="color: #008080;"><strong>IBOutlets, IBActions and&nbsp;IBOutletCollection</strong></span></h2>
<p>IBOutlet and IBAction were used as keywords, to denote what parts of the code should be visible to Interface Builder.</p>
<p>#define IBAction void</p>
<p>#define IBOutlet</p>
<p>#define IBOutlet __attribute__((iboutlet))</p>
<p>#define IBAction __attribute__((ibaction))</p>
<h3><strong>IBAction</strong></h3>
<p>Any method with the signature -(void){name}:(id)sender would be visible in the outlets pane.</p>
<p>Nevertheless, many developers find it useful to still use the IBAction return type in method declarations to denote that a particular method is connected to by an action.</p>
<p><strong>Naming IBAction Methods</strong></p>
<ul>
<li><strong>Return type of </strong><strong>IBAction</strong><strong>.</strong></li>
<li><strong>Method name of an active verb, describing the specific action performed.</strong> Method names like didTapButton: or didPerformAction: sound more like things a delegate might be sent.</li>
<li><strong>Required </strong><strong>sender</strong><strong> parameter of type </strong><strong>id</strong><strong>.</strong> All target / action methods will pass the sender of the action (usually the responder) to methods that take a parameter. If omitted in the method signature, things will still work.</li>
</ul>
<p>For example:</p>
<p>// YES</p>
<p>- (<strong>IBAction</strong>)refresh:(<strong>id</strong>)sender;</p>
<p>- (<strong>IBAction</strong>)toggleVisibility:(<strong>id</strong>)sender</p>
<p>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; withEvent:(UIEvent *)event;</p>
<p>// NO</p>
<p>- (<strong>IBAction</strong>)peformSomeAction;</p>
<p>- (<strong>IBAction</strong>)didTapButton:(<strong>id</strong>)sender;</p>
<h3><strong>IBOutlet</strong></h3>
<p>Unlike IBAction, IBOutlet is still required for hooking up properties in code with objects in a Storyboard or XIB.</p>
<p>An IBOutlet connection is usually established between a view or control and its managing view controller (this is often done in addition to any IBActions that a view controller might be targeted to perform by a responder). However, an IBOutlet can also be used to expose a top-level property, like another controller or a property that could then be accessed by a referencing view controller.</p>
<p>// YES</p>
<p>@interface GallantViewController : UIViewController</p>
<p>@property (nonatomic, weak) <strong>IBOutlet</strong> UISwitch *switch;</p>
<p>@end</p>
<p>&nbsp;</p>
<p>// NO</p>
<p>@interface GoofusViewController : UIViewController {</p>
<p>&nbsp; &nbsp; <strong>IBOutlet</strong> UISwitch *_switch</p>
<p>}</p>
<p>@end</p>
<p><strong>When to use </strong><strong>weak</strong><strong> or </strong><strong>strong</strong></p>
<p><strong>Always declare </strong><strong>IBOutlet</strong><strong> properties as </strong><strong>weak</strong><strong>, except when they need to be </strong><strong>strong</strong></p>
<p>Outlets should be changed to strong when the outlet should be considered to own the referenced object:</p>
<p>The reason why most IBOutlet views can get away with weak ownership is that they are already owned within their respective view hierarchy, by their superview. This chain of ownership eventually works its way up to the view owned by the view controller itself. Spurious use of strong ownership on a view outlet has the potential to create a retain cycle.</p>
<h3><strong>IBOutletCollection</strong></h3>
<p>IBOutlets to be defined in Interface Builder, by dragging connections to its collection members.</p>
<p>IBOutletCollection is #define&rsquo;d in UINibDeclarations.h as:</p>
<p>#define IBOutletCollection(ClassName)</p>
<p>&hellip;which is defined in a much more satisfying way, again, <a href="http://opensource.apple.com/source/clang/clang-318.0.45/src/tools/clang/test/SemaObjC/iboutletcollection-attr.m">in the Clang source code</a>:</p>
<p>#define IBOutletCollection(ClassName) __attribute__((iboutletcollection(ClassName)))</p>
<p>Unlike IBAction or IBOutlet, IBOutletCollection takes a class name as an argument, which is, incidentally, as close to Apple-sanctioned <a href="http://en.wikipedia.org/wiki/Generic_programming">generics</a> as one gets in Objective-C.</p>
<p>As a top-level object, an IBOutletCollection @property should be declared strong, with an NSArray * type:</p>
<p>@property (nonatomic, strong) IBOutletCollection(UIButton) NSArray *buttons;</p>
<p>With the advent of Objective-C <a href="http://nshipster.com/at-compiler-directives/">object literals</a>, IBOutletCollection has fallen slightly out of favor&mdash;at least for the common use case of convenience accessors, as in:</p>
<p>for (UILabel *label in labels) {</p>
<p>&nbsp; &nbsp; label.font = [UIFont systemFontOfSize:<strong>14</strong>];</p>
<p>}</p>
<p>Since declaring a collection of outlets is now as easy as comma-delimiting them within @[], it may make just as much sense to do that as create a distinct collection.</p>
<p>Where IBOutletCollection really shines is how it allows you to define a unique collection of outlets under a shared identifier.&nbsp;</p>
<p>IBAction, IBOutlet, and IBOutletCollection play important roles in development, on both the compiler level and human level.</p>
