<div class="page" title="Page 2">
<div class="layoutArea">
<div class="column">
<h2><span style="color: #008080;"><strong>Model View Controller (MVC)</strong></span></h2>
<p>As implied with the name, the MVC software design pattern refers to three separate roles: the model, the view and the controller.</p>
<p>The idea is that the objects in your application will take on these roles and work together to create and manage the user interface. Not all objects will assume one of these 3 roles; For example you might have a class that contains a bunch of helper methods however, the model, view and controller roles are the central actors to making your app function.</p>
<p>The goal of the MVC design pattern is to divorce the logic and data handling code of an application from the presentation code. In this concept, the Model encapsulates the data for the application, the View presents and manages the user interface and the Controller provides the basic logic for the application and acts as the go-between, providing instructions to the Model based on user interactions with the View and updating the View to reflect responses from the Model. The true value of this approach is that the Model knows absolutely nothing about the presentation of the application. It just knows how to store and handle data and perform certain tasks when called upon by the Controller. Similarly, the View knows nothing about the data and logic model of the application.</p>
<p><strong>The Model</strong></p>
<p>The model represents the data in your application. It&rsquo;s responsible for sorting, validating and organizing your data.</p>
<p><strong>The View</strong></p>
<p>The view is the user interface or what the user sees and interacts with.</p>
<p>You can create views programmatically through code using Apple classes such as UIView or you can create a XIB file to represent the view.</p>
<p><strong>The Controller</strong></p>
<p>The controller manages the communication between the view and the model. It takes the data from the model and communicates it to the view for display.</p>
<p>In the same vein, the controller also takes the changed data and communicates it back to the model.</p>
<p><strong>The Model And View Never Talk To Each Other</strong></p>
<p>They shouldn&rsquo;t even know about each other in the ideal case.</p>
<p>The beauty of this modular architecture is that the separation of roles allow us to make modifications easily with less bugs.</p>
<p>Here&rsquo;s a diagram illustrating what we&rsquo;ve talked about:</p>
<p>image</p>
<h3><span id="Delegation" class="mw-headline">Delegation</span></h3>
<p>Delegation allows an object to pass the responsibility for performing one or more tasks on to another object. This allows the behavior of an object to be modified without having to go through the process of subclassing it.</p>
<p>A prime example of delegation can be seen in the case of the UIApplication class. The UIApplication class, of which every iOS iPhone application must have one (and only one) instance, is responsible for the control and operation of the application within the iOS environment. Much of what the UIApplication object does happens in the background. There are, however, instances where it gives us the opportunity to include our own functionality into the mix. UIApplication allows us to do this by delegating some methods to us. As an example, UIApplication delegates the didFinishLaunchingWithOptions: method to us so that we can write code to perform specific tasks when the app first loads (for example taking the user back to the point they were at when they last exited). If you still have a copy of the Hello World project created earlier in this book you will see the template for this method in the HelloWorldAppDelegate.m file.</p>